[2017-07-07 23:40] pixelzoom commented on #102
I did seasons while running some memory leak tests for another sim. "Some intern" will thank me.

[2017-07-07 23:42] mbarlow12 commented on #102
Molecules and Light is converted. See https://github.com/phetsims/molecules-and-light/issues/144.

[2017-07-10 19:37] jbphet commented on #102
Balancing Act is convert, see https://github.com/phetsims/balancing-act/issues/81.

[2017-07-12 17:14] Denz1994 commented on #102
Remaining issues in Neuron were addressed. Reference https://github.com/phetsims/neuron/commit/2045f481459b06904ca75fbe861cfc72ed996605

[2017-07-13 17:50] samreid commented on #102
@ariel-phet said @samreid should get CCK out for testing before @samreid works on this much more.

[2017-07-17 22:56] jbphet commented on #102
Arithmetic is now done.

[2017-07-19 21:10] pixelzoom opened #129 "Property: numerous problems with registering/deregistering observers"
`link` and `unlink` are currently no-ops if `observer` is already registered or not registered respectively.  Likely to silently ignore bugs in client code.

`linkWithDisposal` calls `link`, but then adds a listener, regardless of whether `observer` was already registered.

`lazyLink` doesn't check, and registers `observer`.

`once` has the same problems as `lazyLink`.

`linkAttribute` and `onValu

[2017-07-20 01:39] jonathanolson commented on #129
Noticed a potential similar issue with Node's addInputListener today with @samreid. Added assertion in https://github.com/phetsims/scenery/issues/651.

[2017-07-20 16:18] Denz1994 commented on #102
Faraday's Law is converted. Reference https://github.com/phetsims/faradays-law/issues/77

[2017-07-21 22:54] zepumph commented on #102
@ariel-phet if I end up taking over fliud-pressure-and-flow, I could help in converting it from propertySet if that would be helpful.

[2017-07-26 00:25] samreid commented on #117
Today @jonathanolson and I noted that _.forEach, Array.forEach and ObservableArray.forEach all exhibit different behavior under concurrent modification.  Fun!

[2017-07-26 00:35] samreid commented on #129
I removed `linkWithDisposal`.

[2017-07-26 03:41] samreid opened #130 "Remove Property.once"
Discovered in https://github.com/phetsims/axon/issues/129 it looks like `property.once` only appears in 3 sites (all in Area Builder).  Perhaps we should eliminate this feature of Property.

[2017-07-26 03:44] samreid commented on #129
In my opinion, Emitter (instead of Property) should define the semantics for what should happen when trying to add duplicate listeners or remove non-existent listeners.  Property should leverage Emitter as much as possible, and hence provide the same semantics.

[2017-07-26 03:45] samreid commented on #129
Hence there is no need to check, since the listener is a new one?

[2017-07-26 03:46] samreid commented on #129
Let's decide how this should behave and implement it like that.

[2017-07-26 03:48] samreid opened #131 "Rename property "observer" to "listener""
Since it leverages Emitter, it should use the Emitter terminology.

[2017-07-26 03:55] samreid commented on #129
It looks like about half of the simulations are affected by the "duplicate add" or "tried to remove nonexistent" problems:
![image](https://user-images.githubusercontent.com/679486/28603837-da2e51ae-7183-11e7-8e04-fd94d21fd0c3.png)
I recommend to investigate solving all of these.

[2017-07-26 16:04] samreid commented on #102
Fraction matcher is all set.

[2017-07-26 16:10] samreid commented on #102
Fluid Pressure and Flow has 75 Properties, so it will take quite a long time to convert. Before starting on it, I'd like @ariel-phet to comment on @zepumph's note:

@ariel-phet who should work on FPAF?  Or should we split it up?

[2017-07-26 17:27] pixelzoom commented on #117
Specifics or (better) example?

[2017-07-26 17:35] samreid commented on #117
[code]

0
undefined
undefined
undefined

[code]

0
undefined

[code]

0
1
2
3

[2017-07-26 17:53] pixelzoom commented on #129
I ran acid-base-solutions with `?ea&fuzzMouse` and I see no problem.  How did you generate the above "problems"?

[2017-07-26 17:54] samreid commented on #129
I added assertions in Emitter to prevent multiple registrations of the same listener or removing non-existent listeners.

[2017-07-26 18:05] pixelzoom commented on #129
I said:

@samreid said:

The problem with linkAttribute and onValue  is that they wrap the observer that's provided, and return a new function that you then need to use to "unlink".   So you can redundantly add the same observer.  And when de-registering, there's nothing that prevents you from calling `unlinkLinkAtttribute` with an observer that wasn't created via `linkAttribute`.   The "link attr

[2017-07-26 21:27] jonathanolson commented on #129
So is the ideal behavior desired?:

- Only one of a particular listener can be added (or else assertion failure)
- Adding/removing listeners shouldn't no-op (assertion failure if trying to remove a listener that isn't a listener, etc.)

I've generally been operating under those assumptions when adding/removing listeners (sounds good to me), but I don't want to repeat the "I add assertions, everyon

[2017-07-26 21:42] pixelzoom commented on #129
Any consistent approach would be better than what we have now.  But my preference would be what @jonathanolson described in https://github.com/phetsims/axon/issues/129#issuecomment-318187907t, because I believed that (a) function calls that silently do nothing are generally a bad idea, and (b) registering/deregistering something twice is either sloppy programming or a programming error.  And yes,

[2017-07-26 21:46] samreid commented on #129
I agree with your reasoning--the only counterexample I can think of is that we decided on a "sloppy" approach for dispose (I don't recall the issue though).

[2017-07-26 21:53] pixelzoom commented on #129
Calling `dispose` twice causes an assertion failure.

[2017-07-26 21:55] pixelzoom commented on #129
We compromised on "use after disposal", because scuttling an object was causing problems when callbacks that used that object had been scheduled prior to the dispose call.

[2017-07-27 15:52] pixelzoom commented on #129
@samreid said:

I added these assertions to Emitter `addListener` and `removeListener` respectively:

[code]

I tested acid-base-solutions and beers-law-lab with `?ea&fuzzMouse`.  I see no problems.  What am I doing wrong?

[2017-07-27 15:53] samreid commented on #129
You probably also need to remove the guards in Property.

[2017-07-27 16:48] pixelzoom commented on #129
In https://github.com/phetsims/axon/issues/129#issuecomment-318191403, I said:

For example, I investigated the failure in acid-base-solutions.  Indeed, it was a programming error, see https://github.com/phetsims/acid-base-solutions/issues/152.   Not something that would impact the user, but it did put the sim in an invalid intermediate state.

[2017-07-27 18:54] samreid commented on #102
@ariel-phet asked if @zepumph could work on Fluid Pressure and Flow, I'll reassign him in the checkbox comment.

[2017-08-01 03:18] samreid commented on #131
Fixed, closing.

[2017-08-01 03:18] #131 closed

[2017-08-01 04:54] samreid commented on #130
Is this as simple as adding a line like:

[code]

to each of the invocations?  In that case it may make sense to take Property.once out of its API to keep it mean and lean.

@jbphet can you please take a look?

[2017-08-02 20:58] jbphet commented on #130
These usages can be refactored if necessary.  However, I found the `once` method to be convenient and clear in these locations.  I just took a look at #129, and all it said about this method was:

If that's truly the case, why not apply the same fix to both and keep them?

[2017-08-02 21:02] samreid commented on #130
I'm not sure what's best.  Let's ping @jonathanolson and @jessegreenberg

[2017-08-02 21:04] jonathanolson commented on #130
`once` seems convenient potentially, I'd like to know more about the reason for removal.

Is it that the change may never happen, so we need to keep a reference to the listener (and thus on our disposal, conditionally remove the listener)?

[2017-08-02 21:16] samreid commented on #130
Here are my main reasons for wanting to remove `Property.once`:

(1) It doesn't provide much value.  It currently adds 22 lines of code to Property.js to cut down on 3 lines of code elsewhere.  Yes, this could change if we start using Property.once more, but I'm reporting on the current state.  It also increases the Property.js API, which is not clearly warranted.

(2) It has unusual semantics.  F

[2017-08-03 17:45] samreid commented on #102
@ariel-phet says current priority is "no rush, would be good to be done in a couple of months"

[2017-08-03 18:37] samreid commented on #129
Meeting consensus: it would be nice to prevent duplicates and require a listener to be present when added.  This will be done in Emitter.

@jonathanolson suggested adding maps when assertions are enabled.
@samreid will investigate.
@jessegreenberg wants to tag along.

We will see how it goes it after a couple of hours.

[2017-08-03 18:41] samreid commented on #130
@jbphet says it is nice and readable at the usage site, and lots of JS emitter libraries provide "once"

[2017-08-03 18:43] samreid commented on #130
@jonathanolson says even though it is not in the primary `link` and `unlink` api, it is still a valuable 2ndary API, like `linkAttribute`.

Perhaps @jessegreenberg and I can find a way to overcome the unusual semantics in #129

[2017-08-03 20:05] #130 closed

[2017-08-03 20:22] samreid commented on #129
@jessegreenberg and I looked at this and it seems it would be possible to add something like this to `once`:

[code]

Then we can use reference equality combined with `equals` to check for existence of listeners.

[code]

[2017-08-04 03:08] jonathanolson commented on #129
What is the preferred method of handling this pattern (comes up in https://github.com/phetsims/scenery/issues/660):

[code]

This will fail out when it tries to link the second copy of `a` to the same listener.

Ideal prerequisites for a solution would:

1. Not create temporary objects (GC is an issue here, thus the for-loop and persistent listener)
2. Not be horrible for performance (naive dedupl

[2017-08-04 04:03] jonathanolson commented on #129
Current best solution:
[code]

[2017-08-04 16:04] samreid commented on #129
@jonathanolson and I discussed an issue around link and duplicates, would be good to discuss with @pixelzoom before we proceed: https://github.com/phetsims/scenery/issues/660

[2017-08-05 04:28] samreid commented on #120
Thanks, looks great @zepumph, closing.

[2017-08-05 04:28] #120 closed

[2017-08-06 20:52] samreid commented on #117
In the preceding commit, I added ObservableArray.find which forwards to lodash.find and it seems to be working nicely.  I think it is good to keep `count` since filter().length creates unnecessary garbage.  I'm not ready to change other implementations over to lodash implementation--not certain that's best.

[2017-08-07 03:44] samreid commented on #115
Checking reference equality will always be faster than calling `equals()` implementations.

[2017-08-07 14:31] samreid commented on #115
I saw several cases like this:

[code]

that we will be able to convert.

[2017-08-07 14:41] samreid commented on #115
We couldn't find a superior solution--it seems like axon is the right place to address this.

I added a check that constructors are equal

I consolidated the logic

I made them private and eliminated usages of them.

@pixelzoom would you like to discuss this further

[2017-08-07 14:49] samreid commented on #115
I ran into this problem in Balloons and Static Electricity:
![image](https://user-images.githubusercontent.com/679486/29032048-58958030-7b4d-11e7-88da-86e8d79d8331.png)

These vectors should be treated as equal in this context.  I'll look into it.

[2017-08-07 14:52] samreid commented on #115
I'm unfamiliar with ImmutableVector2, but it looks like it is intended to be used for assertion checking.

[2017-08-09 19:35] pixelzoom commented on #129
I looked at phetsims/scenery#660 and asked questions. Reassigning to @samreid.

[2017-08-09 20:40] pixelzoom commented on #115
This will cause problems, as you've discovered in https://github.com/phetsims/axon/issues/115#issuecomment-320685286.

Not really.  I'm going to avoid this using this feature in my code

[2017-08-09 20:42] samreid commented on #115
Sounds good, if you think of a better solution, let me know!

[2017-08-09 20:54] samreid commented on #129
On hold until https://github.com/phetsims/scenery/issues/660 discussion is further along

[2017-08-09 23:16] pixelzoom commented on #102
Does the preceding comment refer to FPAF, or all remaining sims?

[2017-08-12 18:02] samreid commented on #129
@jonathanolson modified scenery so we could add this line to Emitter.addListener now:

[code]

[2017-08-12 18:09] samreid commented on #129
Enough aqua is passing that it seems safe enough to add this emitter check now:

![image](https://user-images.githubusercontent.com/679486/29243203-1daa6090-7f57-11e7-86eb-aeba066d263e.png)

If any issues crop up, we should try to address them.

[2017-08-12 18:23] samreid commented on #129
It may be best to proceed in phases.

Phase 1: remove the guard from Property.unlink and update all sims to make sure it is OK
Phase 2: remove the guard from Property.link and update all sims to make it OK
Phase 3: for higher-order Property methods, use a strategy like the one @jessegreenberg and I described in https://github.com/phetsims/axon/issues/129#issuecomment-320079445 and update all sims.

[2017-08-12 21:41] samreid opened #132 "Phase 1: remove the guard from Property.unlink"
From https://github.com/phetsims/axon/issues/129 we would like Property.unlink to throw an error you try to unlink something that wasn't linked.  Emitter supports this but we need to remove the guard in Property.unlink.  When I do so in my working copy, I see these errors:

**balancing-act**
Uncaught Error: Assertion failed: tried to removeListener on something that wasnt a listener
Error: Asserti

[2017-08-12 21:46] samreid commented on #129
After we investigate Phase 1 we can decide if we want to follow through with it, and proceed with the following phases.  This issue is on hold until we have more intel on Phase 1.

[2017-08-12 22:28] samreid commented on #132
Maybe it would be best to chat about this strategy in developer meeting before "going for it".

[2017-08-13 18:50] zepumph opened #133 "Delete TEvents?"
I see no usages of this outside of the file itself. I think it should be deleted. @samreid please confirm.

[2017-08-13 20:56] samreid commented on #133
I was surprised to see no usage of this in Events.js, perhaps it was used once.  I found a paper trail here https://github.com/phetsims/axon/issues/100 that said TEvents was only used in Beaker.  So I think it's safe to delete.  I'll do so now.

[2017-08-13 20:56] samreid commented on #133
Please add me as an assignee to issues where my feedback is requested.

[2017-08-13 20:58] samreid commented on #133
Removed in the preceding commit.  Reassigned to @zepumph to see if there's anything else and to confirm to add me as assignee in future issues that need my feedback.

[2017-08-13 21:04] zepumph commented on #133
I'll assign for here on, sorry about that! All looks good for this. I remember a while ago that we changed all toEventOnStatic to use toEventOnEmit. I bet that got rid of a few usages of this?

Closing.

[2017-08-13 21:04] #133 closed

[2017-08-17 17:40] pixelzoom commented on #102
8/17/17 dev meeting: Recollection is that @ariel-phet meant "no rush" on all remaining sims, not FPAF specifically.

[2017-08-17 18:13] samreid commented on #132
@jonathanolson recommends an axon branch that removes the guard, then we can start chipping away at these and see how it goes.

[2017-08-17 18:15] samreid commented on #132
I'll create a branch and put a chip-away tag.

[2017-08-17 18:16] oliver-phet commented on #129
We'll leave this marked for next week to see how things are going.

[2017-08-18 16:46] samreid commented on #132
Here's a more checklist friendly list.  Note that not all of these failures were due to axon issues (some sims were failing for other reasons, but should still be fixed):

- [ ] balancing-act
- [ ] build-a-molecule
- [ ] build-an-atom
- [ ] charges-and-fields
- [ ] circuit-construction-kit-black-box-study
- [ ] circuit-construction-kit-dc
- [ ] circuit-construction-kit-dc-virtual-lab
- [ ] curve-f

[2017-08-18 16:49] samreid commented on #132
I put names next to the checkboxes above based on recent commits, please change it if I've got something wrong.

[2017-08-18 16:49] samreid commented on #132
I assigned people with checkboxes, please unassign yourself after you are checked off.

[2017-08-18 17:18] pixelzoom commented on #132
@samreid said:

Please clarify how we're supposed to proceed with fixing things. I thought the idea was to remove the unlink guard in a branch, then use that branch.  I see no such branch.

[2017-08-18 17:19] pixelzoom commented on #132
Btw... Even if this is just:

[code]

I think that we should still have a branch so that (1) we're all fixing based on the same changes, and (2) we can add additional changes to the branch as we address additional phases.

[2017-08-18 17:33] samreid commented on #132
Right, I still need to create a branch.

[2017-08-18 20:31] mbarlow12 commented on #102
PropertySet removed from [Gravity and Orbits](https://github.com/phetsims/gravity-and-orbits/issues/263).

[2017-08-19 14:08] samreid opened #134 "branch: listeners"
To support https://github.com/phetsims/axon/issues/132

[2017-08-19 14:11] samreid commented on #132
I created the branch "unlink-noguard"

[2017-08-19 14:12] samreid commented on #132
Oops, I named the branch just for phase 1.  Perhaps another branch for phase 2.

[2017-08-19 14:46] samreid commented on #132
I didn't understand the logic in Optics Lab, so I used quick hackish workaround for now until this sim gets some attention (possibly from @veillette) in the future.

[2017-08-21 22:48] samreid commented on #132
After 15 minutes looking into Charges and Fields, and seeing how the dispose method is called twice and trying to unlink listeners from a disposed property, I decided to unassign myself and @zepumph until we can have a group discussion about who will become the responsible dev for that sim.  This will not be a quick fix and it would be good to choose a developer who will become more familiar with

[2017-08-22 04:09] samreid commented on #123
I added docs in the preceding commit, @pixelzoom will you please review it and see if it is clear?

[2017-08-23 16:21] pixelzoom commented on #132
@samreid said:

Rename the branch. We should use the same branch for all phases, and progressively make changes in the branch.

[2017-08-23 16:26] #123 closed

[2017-08-24 17:19] jessegreenberg commented on #102
PropertySet was removed from forces-and-motion-basics.  That was all the sims assigned to @jessegreenberg and @mbarlow12 so removing our assignments.

[2017-08-24 22:04] samreid commented on #132
I renamed the branch to "listeners.

[2017-08-28 18:53] jessegreenberg opened #135 "Instrument ObservableArray's lengthProperty"
lengthProperty of ObservableArray needs to be instrumented.

[2017-08-28 21:01] jessegreenberg commented on #135
I instrumented  ```lengthProperty``` and the Property seems to behave well, but in the state wrapper (https://github.com/phetsims/forces-and-motion-basics/issues/240) I noticed that in the state simulation ```myObservableArray.length !== myObservableArray.lengthProperty.get()```.

Im not sure why this is, @zepumph or @samreid would you be able to help take a look?  It might be due to my instrument

[2017-08-29 18:14] zepumph opened #136 "Instrument NumberProperty"
From https://github.com/phetsims/beers-law-lab/issues/206#issuecomment-325746591

@pixelzoom tried to use the 'range' option of NumberProperty to fix a problem in Instance Proxies. Currently the only fix is to explicitly give TNumber the range. It would be nice if we handled that in NumberProperty. If there is a range, then automatically add that to the `TNumber()` parametric call. Tagging @samrei

[2017-08-29 18:30] pixelzoom opened #137 "PhET-iO is not aware of Property options that determine valid values"
Moved here from https://github.com/phetsims/phet-io/issues/1210.

In https://github.com/phetsims/beers-law-lab/issues/206, `wavelengthProperty` was defaulting to Range(0,1), and needed to be changed to Range(VisibleColor.MIN_WAVELENGTH, VisibleColor.MAX_WAVELENGTH).

So I tried changing this:

[code]

to this:

[code]

So apparently PhET-iO is ignoring the range associated to NumberProperty, and r

[2017-08-29 18:31] pixelzoom commented on #136
@zepumph This involves more than NumberProperty.  I created the general issue in phet-io (https://github.com/phetsims/phet-io/issues/1210), but then realized that it should be in axon, so moved it to  https://github.com/phetsims/axon/issues/137.   So... I'm closing this issue, since it's a subset of    https://github.com/phetsims/axon/issues/137.

[2017-08-29 18:31] #136 closed

[2017-08-29 18:34] pixelzoom commented on #137
In light of #136, it's worth repeating that this is not just about NumberProperty `range`.  This has to do with all validation-related options related to Property and its subtypes.

[2017-08-29 20:10] zepumph opened #138 "link doesn't provide old value in callback"
Copied from https://github.com/phetsims/phet-io/issues/1125

In the axon library, the callback for 'Property.link` provides the old value of the property as a second parameter in the callback function call.  I'm doing some work on wrappers, and have a situation where that would be useful, but the old value doesn't appear to be provided.

Below is a code example.  In this case, `oldUserControlled`

[2017-08-29 20:10] zepumph commented on #138
@zepumph said

I worked on this today, and it actually ended up being a real pain in the butt. I thought it would be as simple as just adding that extra argument to pass through, and then using it, but it revealed a flaw in TTypes where most of the complex `toStateObject` functions don't support nulls being passed through. This was revealed because the link function is first called with the second

[2017-08-29 20:10] zepumph commented on #138
Then I said:
A list of TTypes that would need the addition of null checks if we go with option 2 above:

* TBounds2.js
* TBounds3.js
* TVector2.js
* TVector3.js
* TBeersLawSolution.js
* BLL/TSolute.js
* Molarity/TSolute.js
* TColor.js

[2017-08-29 20:10] zepumph commented on #138
Then @jbphet said:
@zepumph said:

Thanks for letting me know, and I'll make sure to assign them to you in the future.  Glad you found it.

[2017-08-29 20:11] zepumph commented on #138
I said:
The extra check in SimIFrameAPI also needs to protect against undefineds as well. The reason I don't just protect against falsey is because I want empty strings to pass through alright.

[2017-08-30 23:29] jessegreenberg commented on #129
Removing assignment until we come back to this issue after Phase 1.

[2017-08-31 00:18] jessegreenberg commented on #132
Not seeing this for gravity-force-lab and gravity-force-lab-basics, those were probably in the category of "some sims were failing for other reasons, but should still be fixed".

[2017-08-31 00:25] jonathanolson commented on #5
Also noted from CCK review that there's a common pattern needed to avoid the defensive copy, e.g.:
[code]
where:

1. We have to add getArray() to prevent copying the array
2. We have no safety, as concurrent modification fails silently.

I'd like to see support for this type of operation, and it should (when assertions are enabled) fail out if concurrent modification happens. Maybe we'd need to mo

[2017-09-01 19:34] zepumph opened #139 "Save & Load Arrays and ObservableArrays by saving references to elements"
carried from https://github.com/phetsims/phet-io/issues/855

@samreid said:

From https://github.com/phetsims/phet-io/issues/319#issuecomment-260048103

For ObservableArray, we could save/load the list of tandems, and use that for object identity (so objects don't get deserialized twice).

This may just be necessary for redundant arrays, primary arrays should already be handled by the default save

[2017-09-02 18:27] jonathanolson commented on #132
I think https://github.com/phetsims/phetcommon/commit/57d297ada8eab6afb99fa7acc73836f6e0211dda broke some built sims, seeing fuzz failures in BAM/BAA/IAAM (or something around that similar time).

[2017-09-05 16:59] pixelzoom commented on #132
@jonathanolson said:

Perhaps it was tested with the branch, but not with master? @jbphet

[2017-09-05 17:01] pixelzoom commented on #132
https://github.com/phetsims/axon/issues/132#issuecomment-323404090 shows:

Does anyone know why this is pending the "responsible dev" issue?  charges-and-fields has a responsible developer.

[2017-09-05 18:34] jbphet commented on #132
I fixed the issue caused by https://github.com/phetsims/phetcommon/commit/57d297a - I'd added a bad assert statement.  I just tested Build an Atom and Isotopes and Atomic Mass with the branch (targeted and fuzz testing) and I believe those are new fixed with respect to this issue, so they've been checked off this list in https://github.com/phetsims/axon/issues/132#issuecomment-323404090.

[2017-09-05 18:46] samreid commented on #132
Probably a mistake on my part, I reassigned that checkbox to @jonathanolson

[2017-09-05 19:52] samreid commented on #135
Having the `lengthProperty` save and restore its state independently of `ObservableArray` means there can now be points in the code where the lengths mismatch.  I think `lengthProperty` should be treated conceptually as a derived property (derived from the ObservableArray object) and not something that saves and restores itself independently.  @jessegreenberg can you talk more about why you instru

[2017-09-05 20:57] jessegreenberg commented on #135
Sure, I instrumented ```lengthProperty``` for https://github.com/phetsims/forces-and-motion-basics/issues/240.

forces-and-motion-basics adds a listener to ```lengthProperty``` to update images.  Since ```lengthProperty``` was not instrumented, this listener was never being called in the state wrapper and the state sim was getting out of sync.

[2017-09-07 17:11] pixelzoom opened #140 "Phase 2: remove the guard from Property.link"
Phase 2 of https://github.com/phetsims/axon/issues/129#issuecomment-321997713.

Here's the change that will be made:

[code]

Since we're not done with Phase 1 (https://github.com/phetsims/axon/issues/132), I won't modify the "listeners" branch yet.

[2017-09-07 17:39] pixelzoom commented on #140
Testing with `?ea&fuzzMouse`, I discovered and fixed 1 issue in joist (phetsims/joist#441) and beers-law-lab.   All of the sims that I'm responsible for are error-free for Phase 2.

[2017-09-07 23:18] jessegreenberg commented on #140
Running test-server without the guard in ```link```, I am not seeing any issues related to this phase. All I see is:
[code]

[2017-09-08 16:19] samreid opened #141 "DerivedProperty and Multilink send out intermediate messages"
From https://github.com/phetsims/beers-law-lab/issues/154.

Imagine there is a multilink that depends on a,b,c.  Then in the model step, a,b and c change.  This will cause the multilink to fire 3 times with potentially inconsistent values for a,b,c.

How should we deal with this, if at all?  This pertains to phet-io as well as normal sim development.  Leaving unassigned for now.

[2017-09-09 01:36] samreid commented on #135
I noticed this code in TObservableArray:

[code]

@jessegreenberg can you please change this to:

[code]

It should update the lengthProperty correctly.  After making this change, please uninstrument `lengthProperty` and check whether phetsims/forces-and-motion-basics#240 will work properly.  The idea is that this new `setValue` will update the `lengthProperty` itself at the appropriate time inste

[2017-09-10 13:14] samreid opened #142 "Replace usages of Events with Emitter"
Events.js is deprecated and Emitter should be used instead, we should chip away at this.  This is somewhat related to https://github.com/phetsims/axon/issues/102 because PropertySet extended Events.

[2017-09-10 14:08] samreid commented on #142
Scheduled for developer meeting to do the following:
1. Make sure this is a desirable task to complete
2. Determine what to do with usages in Node.js.  Should this file become Node-specific, or integrated into Node?  Should Node use emitters?  How many emitters would each Node need to evade Events?
3. Schedule/plan for working on this

[2017-09-10 19:26] samreid commented on #137
@zepumph and I discussed getting rid of TNumber options and trying to make parametric types like TProperty concrete by putting their metadata as instance properties.  It may be possible to do so here: track ranges, units and metadata on Property and eliminate it from TNumber.

[2017-09-10 19:28] samreid commented on #137
I'm seeing 180+ places with code like this:

[code]

So we would want to think carefully about whether everything will work properly if we make this large refactor.

[2017-09-10 19:45] samreid commented on #137
`DerivedProperty` will need a way to support units.

[2017-09-10 22:23] samreid commented on #137
To check:
1. Do units come through the data stream?
2. Do states save and load?
3. Do instance proxies ranges still work?

[2017-09-10 22:51] samreid commented on #137
I've ported the 180+ usages sites to use NumberProperty and eliminated type parameter from TNumber.  Things are going well so far, but I need to confirm the above 3 points and fix some ranges and null issues in sim code.  I'll try to get a bit further on my working copy before committing everything.

[2017-09-10 22:52] samreid commented on #137
There are the failed tests in non-phet-io sims:

![image](https://user-images.githubusercontent.com/679486/30253729-68cc3604-9648-11e7-81e6-13c0965e8d21.png)

[code]

[2017-09-10 23:09] samreid commented on #137
I addressed several issues in my working copy.  I skipped 2 issues for sims I am unfamiliar with, and they are noted in the above 2 issues.

[2017-09-10 23:13] samreid commented on #137
Remaining issues in aqua fuzz phet-io are not related to this problem:

![image](https://user-images.githubusercontent.com/679486/30253876-496dc3e2-964b-11e7-82da-385895a0ab23.png)

[2017-09-10 23:23] samreid commented on #137
To check:
1. Do units come through the data stream?

2. Do states save and load?

3. Do instance proxies ranges still work?

[2017-09-11 13:15] samreid commented on #137
iframe API tests are all passing:
![image](https://user-images.githubusercontent.com/679486/30276096-ed9ddc5c-96c0-11e7-8c6b-25c8622c1bc2.png)

I'm inclined to commit these changes and address instance proxies ranges as a separate step.  If there is no way to pass this data over the instanceAdded API, it can still be done as an asynchronous callback.

[2017-09-11 13:27] samreid commented on #137
Even better to change:
[code]

to
[code]

But I think this should be done as a separate step.  I'll commit shortly.

[2017-09-11 14:42] samreid commented on #137
Maybe safer to commit but not push, so I can get instance proxies somewhat working before pushing.

[2017-09-11 15:09] samreid commented on #137
- [ ] PhET-iO could leverage Property.validValues as well.

[2017-09-11 15:59] samreid commented on #137
Instance proxies is working again with `phetioInstanceMetadata`.  Builds with phet and phet-io brand are working.  Aqua seems OK.  Iframe API test is OK.  I'll see if any other developer wants to review before I push these commits.

[2017-09-11 20:25] zepumph commented on #137
@samreid and I dove into looking at a way to centralize all of the metadata needed for Properties (including NumberProperty and DerivedProperty) in TProperty. We chose to look at accomplishing this with toStateObject, but didn't get to a commit point yet, here are the static methods for TProperty. NOTE: this would be a huge api change for the data stream and state.

[code]

[2017-09-11 21:03] jessegreenberg commented on #135
It's working great @samreid, thanks! I replaced implementation in ```setValaue``` and removed instrumentation in ```lengthProperty```. I think this issue can be closed.

[2017-09-11 21:03] #135 closed

[2017-09-12 00:22] samreid commented on #137
Trying to enumerate what's left to do here:

- [ ] Use toStateObject to get a snapshot of each object on `instanceAdded`
- [ ] Use the snapshots throughout instance proxies
- [ ] Use the code above to add state for `Property`
- [ ] Possibly segregate TNumberProperty
- [ ] Find a way to get TNumberProperty features like these into TDerivedProperty
- [ ] PhET-iO could leverage Property.validValues
-

[2017-09-12 18:08] pixelzoom commented on #142
Searching for "var Events", I see the following number of usages by repository:

2 dot (Transform3, Transform4)
3 fluid-pressure-and-flow
3 kite (Shape, Segments, Subpath)
1 molecule-shapes
6 scenery (Node, Display, Drawable, Instance, AccessibleInstance, AccessiblePeer)

Thoughts:

(1) Replace usages of "var Events" with "var Emitter" in sim repos first.

(2) Property and Node both extend Events.

[2017-09-12 18:16] samreid commented on #142
Did you mean PropertySet?  That currently extends Events and will be deleted once it is no longer used.

[2017-09-12 18:20] samreid commented on #102
I tackled a few spots in Fluid Pressure and Flow this week.

[2017-09-12 18:21] pixelzoom opened #143 "preventGetSet in sims that no longer use PropertySet"
Related to https://github.com/phetsims/axon/issues/102 (Deprecate PropertySet), this function was added to `Property`:

[code]

Note the `@deprecated` annotation:  "this is for debugging only - do not leave calls to this function in production code".

The following sims (some production code) contain calls to `preventGetSet`:

- [x] bending-light
- [x] energy-skate-park-basics
- [x] fraction-match

[2017-09-12 18:22] samreid commented on #143
Planning to remove these occurrences after PropertySet is gone.

[2017-09-12 18:23] samreid commented on #143
Also, when PropertySet is gone, we'll also delete `Property.preventGetSet`.

[2017-09-12 18:24] pixelzoom opened #144 "delete Property.preventGetSet"
Related to #102 and #143...  Let's not forget to delete Property.preventGetSet when PropertySet is gone.

[2017-09-12 18:24] pixelzoom commented on #143
Deletion of `preventGetSet` is tracked in https://github.com/phetsims/axon/issues/144.

[2017-09-12 18:26] pixelzoom commented on #143
@samreid said:

Your call, but not advised to wait.  This function was intended to be used during the conversion process, then removed immediately -- i.e. "do not leave calls to this function in production code".

[2017-09-12 18:29] pixelzoom commented on #142
Yes, I meant PropertySet.  Looks like you didn't see the EDIT to my comment above.

[2017-09-12 18:30] zepumph commented on #143
Just so we know, fluid-pressure-and-flow has not yet been converted from `PropertySet`, so please don't delete usages of `preventGetSet` there quite yet.

[2017-09-12 18:31] pixelzoom commented on #143
@zepumph said:

My bad. Removed from the checklist in https://github.com/phetsims/axon/issues/143#issue-257137181.

[2017-09-12 18:37] samreid commented on #143
I removed usages in completed sims, reassigned to @pixelzoom for feedback/review.

[2017-09-12 19:32] pixelzoom commented on #143
Verified that the only remaining usages are in sims that haven't still use PropertySet (i.e., fluid-pressure-and-flow).  Closing.

[2017-09-12 19:32] #143 closed

[2017-09-12 20:04] pixelzoom commented on #132
I fixed friction.

[2017-09-12 20:04] Denz1994 commented on #102
PropertySet() was converted for Molecules-Shapes. I don't have any more sims to convert so I am removing my assignment.

[2017-09-12 20:05] pixelzoom commented on #132
I fixed friction. @jbphet feel free to review the above commit.

[2017-09-12 20:33] pixelzoom commented on #132
I fixed energy-forms-and-changes. @jbphet should review, looks like the `unlink` errors might be symptomatic of other faulty logic.

[2017-09-13 04:32] jonathanolson commented on #102
Removed PropertySet from Build a Molecule. Past self apparently used `new PropertySet( {} )` and `trigger`/`on` for what we now use Emitter for.

Removed my assignment.

[2017-09-13 05:00] jonathanolson commented on #132
First case I'm looking into looks like the assertion pattern prevents the pattern:
[code]
since the unlink fails (the dispose removed the listener).

It's not super trivial to reverse the ordering of the calls, due to having to worry about listener order now. It seems super hacky/unclean to just add `hasListener` checks everywhere (particularly disconcerting since it just gets linked and unlinked

[2017-09-13 05:02] jonathanolson commented on #132
For the above situation, I'd presumably need to add an "about-to-be-disposed" emitter to a model element, so that views could then dispose themselves first. Seems a bit unfortunate.

[2017-09-13 14:34] pixelzoom commented on #132
Could you just remove the `someProperty.unlink`, since it's handled by `someProperty.dispose`?

[2017-09-13 15:32] jbphet commented on #132
@pixelzoom said,

energy-forms-and-changes is apparently going to be turned over to me after I finish gene-expression-essentials, and I'll review all of the logic in the sim at that time.

[2017-09-13 15:35] jonathanolson commented on #132
In general, it wouldn't be safe since you wouldn't be able to dispose the view without disposing the model. In practice, it would work for this particular case. Should I do that?

[2017-09-13 20:45] zepumph opened #145 "Should Property have a `phetioReadonly` property?"
From https://github.com/phetsims/scenery-phet/issues/327.

Sometimes in phet-io we want to instrument a Property without giving clients the ability to set it and get themselves in trouble.

As discussed in the aforementioned issue, I think it would be better to put it directly on the Property, rather than on the TType, even though it would be used just for PhET-iO. Maybe we should discuss with a b

[2017-09-14 04:18] samreid commented on #102
I finished removing usages of PropertySet then I deleted PropertySet.  I'm going to let Bayes use `preventGetSet` for a few days in Fluid Pressure and Flow before deleting that.  Also leaving this issue open in case there is anything else to discuss about it.  Is the next step to "eliminate" Events? #83 Eliminate is in quotes because we may keep it or a variant of it for scenery node.

[2017-09-14 04:19] samreid commented on #144
I'd like Bayes to test preventGetSet in Fluid Pressure and Flow for a couple of days before removing it.

[2017-09-14 12:23] samreid commented on #144
Bayes says we are good to go:
![image](https://user-images.githubusercontent.com/679486/30429531-1b099ebe-9915-11e7-95f9-1f4aef9f3f44.png)

I'll delete Property.preventGetSet now.

[2017-09-14 12:27] samreid commented on #144
I removed it, closing.

[2017-09-14 12:27] #144 closed

[2017-09-14 17:08] pixelzoom commented on #102
Agreed, #142 is the reference for converting Events to Emitter.

Looks like our work here is done?

[2017-09-14 17:11] pixelzoom commented on #132
@jonathanolson said:

I'm not clear on what's model vs view in your `someProperty` example.  Can you provide an example of where it wouldn't be safe (in general) to simply omit the `unlink` call?

[2017-09-14 18:45] #102 closed

[2017-09-14 18:49] jessegreenberg commented on #140
Sorry, https://github.com/phetsims/axon/issues/140#issuecomment-327953320 was likely applied to master and doesn't apply.

[2017-09-14 18:56] pixelzoom commented on #142
9/14/17 dev meeting:

Start by removing `var Events` from sims.
Then remove from dot and kite.
Then address scenery (where some of the usage is internal).

All of the above except FAPF is in @jonathanolson's wheelhouse, so he self assigned.

[2017-09-14 18:58] pixelzoom commented on #140
9/14/17 dev meeting:

Let's add change in https://github.com/phetsims/axon/issues/140#issue-256008718 to the 'listeners' branch.  Remaining Phase 1 (#132) issues are for @jonathanolson, so he'll address Phase 1 (#132) and Phase 2 at the same time.   Someone needs to run test-sever with the 'listeners' branch to identify which sims have the Phase 2 problem.

[2017-09-14 19:03] pixelzoom commented on #140
I removed the guard in `link`, see above commit.

Does someone want to volunteer to identify which sims fail with the `link` guard removed?

[2017-09-14 19:04] pixelzoom commented on #132
9/14/17 dev meeting notes:

@jonathanolson will refactor to address situations like https://github.com/phetsims/axon/issues/132#issuecomment-329059521.

Remaining 3 sims are responsibility of @jonathanolson.  Phase 2 patch has now been applied to 'listeners' branch (see #140) so he'll address Phase 1 and Phase 2 at the same time for the remaining sims.

[2017-09-14 19:05] jessegreenberg commented on #140
Ill take a look.

[2017-09-14 21:31] zepumph commented on #102
Good work everyone, that was a biggy!

[2017-09-15 15:10] samreid commented on #142
Co-assigning to @zepumph to work on the FPAF occurrences.  It looks like all of the occurrences trigger `update` or `updated`, so these should all change to `updatedEmitter.emit`.

[2017-09-15 20:38] zepumph commented on #138
This issue is ready to close. @jbphet you should be able to get oldValue from a link call over the frame on master. Let me know if there are any problems. Closing

[2017-09-15 20:38] #138 closed

[2017-09-18 18:40] jessegreenberg commented on #140
Running through test-server on the ```listeners``` branch, here is  a checklist with sims where I am seeing errors:

- [ ] area-builder (@jbphet)
- [ ] build-a-molecule (@jonathanolson)
- [ ] charges-and-fields (@jonathanolson)
- [ ] circuit-construction-kit-black-box-study (@samreid)
- [ ] circuit-construction-kit-dc (@samreid)
- [ ] circuit-construction-kit-dc-virtual-lab (@samreid)
- [ ] expres

[2017-09-18 19:41] zepumph commented on #142
FPAF was completed in https://github.com/phetsims/fluid-pressure-and-flow/issues/297. Unassigning.

[2017-09-19 15:21] samreid commented on #140
The `listenters` branch in axon is out of date and causing CCK to fail.  I'll merge master to `listeners`.

[2017-09-19 15:22] samreid commented on #140
Merge complete

[2017-09-19 15:29] samreid commented on #140
Thanks @jessegreenberg, this revealed an issue in a CCK dispose function.  Fixed in the preceding commit.

[2017-09-19 15:36] samreid commented on #140
I'm tracking CCK in the aforementioned issue, so unassigning myself from this one.

[2017-09-20 17:44] pixelzoom commented on #140
Since @jbphet is on vacation, I took at look at area-builder and expression-exchanged.

area-builder is failing in Property.once, not obvious (to me) why, so I punted.

expression-exchange was fixed in https://github.com/phetsims/expression-exchange/issues/130.

[2017-09-26 15:57] jbphet commented on #138
Thanks @zepumph.  I probably won't test it right away, but will do so when needed for the sonification work.

[2017-09-29 19:51] Denz1994 commented on #132
Charges-and-fields has been updated to handle the removal of the guard. Thanks, JO for the help.

[2017-10-03 17:57] jbphet commented on #140
I have fixed the issue in Area Builder.  The problem was due to a race condition where a composite shape that was animating to a destination on the shape placement board.  If, when the shape arrived, other shapes had been removed and the animating shape had to return to its origin, the animation would first finish, then be started again (to go back to the creator box), which would result in the `o

[2017-10-03 17:59] jbphet commented on #140
I've reviewed the expression-exchange commits and the look good (see https://github.com/phetsims/expression-exchange/issues/130#issuecomment-333206019).  Unassigning myself.

[2017-10-04 21:27] jonathanolson commented on #132
build-a-molecule and fractions-intro are now fuzzing nicely with the axon listeners branch. All sims above are checked off.

[2017-10-05 03:32] samreid commented on #140
The last unchecked box is CCK black box study which exhibits the problem in https://github.com/phetsims/sun/issues/322, I could use help deciding how to address it.

[2017-10-05 03:37] samreid commented on #129
Phase 1 is complete and Phase 2 is nearly complete.  Let's wait until Phase 2 is complete then merge the axon branch to master.

Summarizing status from original post, assuming Phase 1 and Phase 2 complete:

- [ ] `link` and `unlink` are currently no-ops if `observer` is already registered or not registered respectively.  Likely to silently ignore bugs in client code.

- [ ] `linkWithDisposal` cal

[2017-10-05 03:41] samreid commented on #129
Regarding the unchecked boxes:

We can use the proposed strategy for dealing with higher-order functions (including once/linkAttribute/onValue/etc), but it should be confirmed by a quorum of @jonathanolson @jbphet @pixelzoom @zepumph before we invest in it (I left off me and @jessegreenberg because we already discussed it).

`listen*` occurs 84 times in Property.js whereas `observ*` occurs twice,

[2017-10-05 03:46] samreid commented on #132
Since this is complete, I think we can close it and continue in #140 and #129, closing.

[2017-10-05 03:46] #132 closed

[2017-10-05 03:49] samreid commented on #129
Another option to deal with the wrapper-style functions would be to eliminate them and require clients to use link/unlink/lazyLink

[2017-10-05 03:56] samreid commented on #140
@jonathanolson and I worked on https://github.com/phetsims/sun/issues/322 and got CCK Black Box checked off.  Hence we are at a good point where we can merge the axon listener branch to master.  Note: CCK DC is close to getting RC shas.  If we merge before SHAs then we will have the opportunity to reveal latent bugs during testing, but it may require another QA cycle (if problems come up).

[2017-10-05 14:05] pixelzoom commented on #129
Observer does seem more appropriate for Property.

 If you mean `once`, `toggle`, `onValue`, etc. ... I don't think I ever used these.  Not sure if that's a comment on their value or my general tendency to avoid API features that I find questionable.

[2017-10-05 17:56] jbphet commented on #129
No strong preference - I'm fine with either, but agree that they should be consistent.

Unlike @pixelzoom, I **have** used features of axon like `once`, `linkAttribute`, and `onValue`, and would find it a bit frustrating if I had to rework previous sims because those API calls were suddenly rescinded because we didn't want to maintain them.  If there are unused APIs, I'd be fine with eliminating t

[2017-10-05 17:58] samreid commented on #140
We decided to merge axon listeners branch to master.

[2017-10-05 17:59] samreid commented on #140
OK merge complete!

[2017-10-05 18:00] samreid commented on #140
Let's close and reopen if Bayes finds problems.

[2017-10-05 18:00] #140 closed

[2017-10-05 18:05] samreid commented on #129
Maybe something like this?

[code]

[2017-10-05 18:06] samreid commented on #129
[code]

[2017-10-05 18:16] samreid commented on #129
It seems we use `linkAttribute` mainly in places where it doesn't need to be unlinked.

[2017-10-05 18:17] jonathanolson commented on #129
I have no strong preferences, the current way of doing things (linkAttribute/once/etc.) and the proposed way (creation patterns for listeners, removal) would both be fine with me.

[2017-10-05 18:18] jessegreenberg commented on #129
I slightly prefer second option in https://github.com/phetsims/axon/issues/129#issuecomment-334545950, ```linkAttribute``` is meant to make things more readable, and something like ```Property.attributeListener``` negates that benefit.

I don't feel strongly about creating symmetry for ```link``` and ```unlink``` for this

[2017-10-05 18:22] samreid commented on #129
I'm somewhat concerned with the cost of iterating over hundreds of uses of the legacy API to convert to an API that doesn't seem to be significantly better.

We will wait for @pixelzoom to discuss this further.

[2017-10-05 18:25] samreid commented on #129
That seems reasonable to me, though anecdotally I noticed that during developer meeting another developer used the phrase "add a property listener" instead of "add a property observer".

[2017-10-12 03:01] pixelzoom opened #146 "DerivedProperty calls derivation function with stale values"
This problem was identified while working on https://github.com/phetsims/beers-law-lab/issues/210.

In some scenarios, DerivedProperty will call its derivation function with stale values.  This can happens when one (or more) of its dependencies is a DerivedProperty.

Consider this example:

[code]

This console output demonstrates that `cProperty`'s derivation function is first called with the old

[2017-10-12 03:03] pixelzoom commented on #146
@samreid @jonathanolson thoughts on how to address this?

[2017-10-12 04:40] samreid commented on #146
I tried eliminating `dependencyValues` and instead using `dependencies.map( function( property ) {return property.get();} );` in its place (2 occurrences).  When I ran the example above I saw

[code]

The values are corrected because they are lazily grabbed from the property instead of cached.  We still call the derivation multiple times even though it is no longer necessary, but I don't know if a

[2017-10-12 17:46] samreid commented on #146
@jonathanolson and @samreid think the dynamic version proposed in https://github.com/phetsims/axon/issues/146#issuecomment-336018863 seems promising, but we would like to discuss it with @pixelzoom before proceeding.

[2017-10-13 01:45] pixelzoom commented on #146
The "dynamic version" proposed in https://github.com/phetsims/axon/issues/146#issuecomment-336018863 is actually what I had in mind.   Up to you whether you want to proceed or wait until I return from vacation to discuss.

[2017-10-13 13:05] pixelzoom commented on #146
... though I'm not clear on why you would need "2 occurrences" of `dependencies.map( function( property ) {return property.get();} );`

[2017-10-13 14:18] samreid commented on #146
We still need a way to get the initial value, around line 50.

[2017-10-13 14:31] samreid opened #147 "Property.js creates needless closures"
During the code review of Circuit Construction Kit: DC, @jonathanolson pointed out that it can be better for memory and performance to eliminate closures and we moved to a closure-less dispose pattern for several object types.  I noticed Property.js is creating disposal closures and I added

[code]
to count how many Property.dispose closures are created on startup, I saw:

CCK-DC: 1008
Function Bu

[2017-10-13 16:09] samreid commented on #147
Fixed in the preceding commit, @jonathanolson @pixelzoom or @jbphet can you please review?

[2017-10-14 20:44] pixelzoom commented on #147
👍 Commit looks good to me.

[2017-10-14 20:45] pixelzoom commented on #147
Back to @samreid. If there's nothing else to do here, or you don't need an additional review, feel free to close.

[2017-10-14 22:33] #147 closed

[2017-10-17 03:03] samreid opened #148 "Issues in DerivedProperty.dispose"
DerivedProperty.dispose seems to call tandem.removeInstance a 2nd time, and doesn't have super.dispose last.  We should remedy this.  Discovered in https://github.com/phetsims/build-an-atom/issues/176

[2017-10-17 03:03] samreid commented on #148
Proposed fix is above, @pixelzoom can you please take a look?

[2017-10-18 16:46] zepumph opened #149 "lengthProperty can be improved in ObservableArray"
As part of https://github.com/phetsims/build-an-atom/issues/156 @jbphet and @samreid and I found that the lengthProperty in ObservableArray isn't implemented in the best way. It is basically a DerivedProperty, but implemented as a NumberProperty. It also isn't instrumented for phet-io, which led to a proliferation of DerivedProperties in shred/ParticleAtom to keep track of the lengths in an instru

[2017-10-18 18:04] pixelzoom commented on #148
Property calls `addInstance` like this:

[code]

DerivedPropery calls `addInstance` like this:

[code]

Why are they both calling `addInstance`?
Why are the calls different?

[2017-10-18 18:06] pixelzoom commented on #146
Thanks for clarifying.  @samreid feel free to proceed.   This is blocking https://github.com/phetsims/beers-law-lab/issues/210, which is blocking https://github.com/phetsims/beers-law-lab/issues/209.

[2017-10-18 21:22] pixelzoom commented on #129
What part of this are we going to address at 10/19/2017 developer meeting?

[2017-10-19 05:38] samreid commented on #129
https://github.com/phetsims/axon/issues/129#issuecomment-334475313 through https://github.com/phetsims/axon/issues/129#issuecomment-334550201

[2017-10-19 18:40] samreid commented on #129
We are going to remove Property.once ( @jbphet ) and Property.onValue (@samreid).  If I need help on onValue, I'll create a chip-away issue.

[2017-10-19 18:47] pixelzoom commented on #129
Also... Keeping `linkAttribute`.  Keeping "listener" terminology.

[2017-10-21 20:07] samreid commented on #146
Committed above, @pixelzoom can you please double check it?  If all is well, you can close this issue and proceed on the beer's law lab issues.

[2017-10-21 20:19] samreid opened #150 "Remove Property.onValue"
In https://github.com/phetsims/axon/issues/129 we decided we want to remove Property.onValue and just use Property.link instead for simplicity.  I'll take a look through cases and determine whether I can tackle it or should promote it to a chip-away issue for the team.

[2017-10-21 20:20] samreid commented on #129
Issues were created for removing Property.once and Property.onValue, closing.

[2017-10-21 20:20] #129 closed

[2017-10-21 20:36] samreid commented on #150
5 down 7 to go, it's been straightforward so far

[2017-10-22 00:14] samreid commented on #150
I converted all usages and removed Property.onValue.  While it would be possible to reassign each commit to the responsible developer, I think it would be more efficient to just assign one developer to review all of the 12 conversions.  @jonathanolson @jbphet @pixelzoom can one of you volunteer to review and verify the changes.

[2017-10-22 00:39] samreid opened #151 "DerivedProperty.tandem overwrites Property.tandem with wrong tandem"
We discovered this on Thursday.

[2017-10-22 00:41] samreid commented on #151
We also discussed another Node-like strategy for setting tandems with phetioType, but I'm not sure where that issue is, and it will be good to have this fixed until we switch to another pattern (if we do).  @zepumph can you double check my commit and make sure I didn't miss anything?  Also do you know where we tracked discussion of the Node-like strategy for model tandems?

[2017-10-22 00:52] samreid commented on #148
We discussed this Thursday and I jotted down notes here https://github.com/phetsims/tandem/issues/31.  To summarize answers to the above questions:

Child class and parent class call tandem.addInstance so that the instance is only registered once with the correct type and after it is fully initialized.  The parent class gets a `tandem.createSupertypeTandem` which turns `tandem.addInstance` into a

[2017-10-23 16:23] pixelzoom commented on #150
I've never used `onValue`, and I don't have time, so unassigning.

[2017-10-23 16:39] jonathanolson commented on #150
Review looks good, with the exception of https://github.com/phetsims/seasons/commit/2f68b8dbba675eb34588f12b33707e0df170f20b introducing a formatting issue by removing spaces in parenthesis.

[2017-10-23 17:09] pixelzoom commented on #146
I reviewed the commit, and it looks OK to me.  And I don't see any issues in bayes.  So closing.

[2017-10-23 17:09] #146 closed

[2017-10-23 17:34] jonathanolson opened #152 "Review DynamicProperty"
Can you review AXON/DynamicProperty? I believe it's ready for general usage.

[2017-10-23 17:50] pixelzoom commented on #148
I don't understand much of the response in https://github.com/phetsims/axon/issues/148#issuecomment-338442668. But...

@samreid said:

Why is this the case for DerivedProperty but not for other subtypes of Property?
What happens if I want to create a subtype of DerivedProperty that necessitates a different TType?

Other issues:

(1) The comment after this (modified) line in DerivedProperty is now

[2017-10-23 20:54] zepumph commented on #151
That looks good. I went ahead and did the same thing to property just to be safe. Is https://github.com/phetsims/tandem/issues/31 the tracked discussion you were looking for? Closing.

[2017-10-23 20:54] #151 closed

[2017-10-23 23:41] zepumph opened #153 "NumberProperty: add support for validValues and isValidValue"
as part of https://github.com/phetsims/phet-io/issues/1236 @samreid and I found that for `Sim.screenIndexProperty` we were forced into a using a `Range` of possible screen indices rather than value values, which seemed a bit better for the instance proxies UI to interpret. We saw that @pixelzoom added in these asserts back when he authored the file. @pixelzoom do you have an objection to supportin

[2017-10-23 23:51] pixelzoom commented on #153
`NumberProperty` needs validators for both `Range` and an array of values.

[2017-10-24 02:38] samreid commented on #148
e.g., StringProperty doesn't define any new methods, nor does it need a different implementation of `toStateObject` for serialization, hence it does not require its own TType.

Then you subclass DerivedProperty as MyDerivedPropertySubclass, create a TType TMyDerivedPropertySubclass then in the MyDerivedPropertySubclass constructor, pass tandem.createSuperTypeTandem() to the parent then use tandem.

[2017-10-24 04:57] pixelzoom commented on #148
Thanks for clarifying.  This all seems quite complicated, and I'm not confident that I could correctly instrument a type hierarchy.  But that's not what we're trying to resolve in this issue, so closing.

[2017-10-24 04:57] #148 closed

[2017-10-24 12:47] samreid commented on #153
Implemented in the preceding commit, @zepumph can you please review?

[2017-10-24 15:40] pixelzoom commented on #153
Problem with the above commit - you didn't verify that validValues is an array of numbers.

[2017-10-24 15:44] pixelzoom commented on #153
E.g. this is currently allowed:

[code]

[2017-10-24 15:48] pixelzoom commented on #153
Something like this (untested) is needed:

[code]

[2017-10-24 16:09] pixelzoom commented on #153
In retrospect, perhaps this change wasn't really needed. When `validValues` is provided, all it's doing is verifying that they are numbers, then all other responsibility is delegated to Property.  And when you know the set of valid values, do you really need a `NumberProperty` (or any type-specific Property for that matter)?   E.g. you could have used a plain old `Property` for Sim `screenIndexPro

[2017-10-24 16:20] zepumph commented on #153
NumberProperty has extra metadata provided over the phet-io api which helps in the wrapper.

[2017-10-24 17:00] pixelzoom commented on #153
While we're at it...  It seems like being able to provide `isValidValue` is also important.  For example, in equality-explorer, I need a NumberProperty whose values is an integer >= 0.  There's no way that I can do that with the current interface, so I can either (a) use a NumberProperty and blow off validation, (b) use a NumberProperty and add a separate listener to validate, or (c) use a Propert

[2017-10-24 17:05] pixelzoom commented on #153
I also see this problem:

[code]

Duplicate assignment to `this.valueType`, no documentation that it's used by TNumberProperty, and there's nothing that verifies that the value actually matches valueType.

[2017-10-24 17:27] pixelzoom commented on #115
Reopening.

@samreid Why is `this.useDeepEquality` public?  I see no reason for it to be public, and it's not currently used outside of Property.

[2017-10-24 17:29] pixelzoom opened #154 "visibility of phetioValueType"
Property:

[code]

Shouldn't this be `@public (read-only, phet-io)` ?

[2017-10-24 17:35] pixelzoom opened #155 "rename fields related to PhET-iO to prevent overwriting/shadowing"
An object whose instantiation involves a type hierarchy currently has 1 tandem for each type in the hierarchy.

In 10/19/17 dev meeting, we established that `this.tandem =` should be avoided due to the potential to overwrite/shadow.  Instead we should use `this.tandem{{TYPE_NAME}} =`, e.g. `this.tandemProperty` for type `Property`.   There are currently 23 occurrences of "this.tandem =" that need

[2017-10-24 17:36] pixelzoom commented on #155
Moved this issue to https://github.com/phetsims/phet-io/issues/1239.

[2017-10-24 17:36] #155 closed

[2017-10-24 18:11] zepumph commented on #153
Duplication and documentation fixed in https://github.com/phetsims/axon/commit/03294044fe624e03be296eab5842a3e5921d1d65

[2017-10-24 18:56] samreid commented on #115
Confirmed and converted to private, anything else for this issue @pixelzoom?

[2017-10-24 19:08] #115 closed

[2017-10-24 21:07] pixelzoom opened #156 "StringProperty: add support for validValues"
Similar to https://github.com/phetsims/axon/issues/153 for NumberProperty...

StringProperty currently does not support validValues:

[code]

This is needed in equality-explorer.  And I suspect that it's generally useful, since sets of string values are often used as a sort of enumeration.

[2017-10-24 21:21] pixelzoom opened #157 "BooleanProperty: clean up"
Options are being verified/set in an odd manner.  IS_BOOLEAN function name is odd.

[2017-10-24 21:32] pixelzoom commented on #157
Cleanup completed in above commit. @samreid please review.

[2017-10-24 21:32] pixelzoom commented on #156
I'm also going to do some cleanup similar to https://github.com/phetsims/axon/issues/157.

[2017-10-24 22:03] pixelzoom commented on #156
Cleanup and support for `validValues` in the above commit.

Console tests:

[code]

I was going to add the above to unit tests, but (a) wasn't confident that axon unit tests are using the correct pattern for failing cases, the `window.assert && throws` stuff looks odd to me; and (b)  didn't get a timely reply on Slack developer channel.

@samreid please review.

[2017-10-24 22:10] pixelzoom commented on #153
I'm going to jump in and add support for `isValidValue`, since I need it in equality-explorer. I notified @zepumph via Slack.

[2017-10-24 22:41] pixelzoom commented on #153
Support for `isValidValue` added in the above commit, along with some other cleanup. Note that I did _not_ address the issue of using `valueType` in the validation.

Console tests:

[code]

 The above tests should be added to axon units tests but (like https://github.com/phetsims/axon/issues/156#issuecomment-339147946) I was unsure on how to add them.

@zepumph please review.

[2017-10-24 22:43] pixelzoom commented on #153
Re this TODO in NumberProperty:

[code]

I think they are fine as strings. This is how we typically handle options that has a set of valid string values.

[2017-10-24 22:44] pixelzoom opened #158 "NumberProperty VALID_UNITS"
Re this TODO in `NumberProperty`:

[code]

I think they are fine as strings. This is how we typically handle options that has a set of valid string values.

[2017-10-24 23:43] zepumph commented on #158
Sounds good. Closing

[2017-10-24 23:43] #158 closed

[2017-10-26 19:17] samreid opened #159 "Move TNumberProperty validValues to TProperty"

[2017-10-27 21:05] pixelzoom opened #160 ""TODO: fix" in DerivedProperty"
DerivedProperty:

[code]

This effectively makes `and` unusable - no idea what's broken or what needs to be fixed.  Looks like this was added by @jonathanolson and noted by @samreid in https://github.com/phetsims/axon/issues/88#issuecomment-176996165.

[2017-10-29 18:10] samreid commented on #159
Also, I noticed that `units` and `range` are incorrectly in `TProperty`.  I'll take a look, but tagging @zepumph so he's aware I'm working on it.

[2017-10-29 18:28] samreid commented on #159
I wrote a rough draft of this and to test it I went to add qunit tests, but ran into trouble because we cannot currently include TNumber in axon unit tests.  Not sure if I should change axon unit tests to require phet-io (would make it difficult for non-phetio users to test axon) or move the unit tests to an inferior location.

[2017-10-29 18:38] samreid commented on #159
Adding a dependency from axon unit => phet-io would also introduce a dependency from scenery unit tests on phet-io.  @jonathanolson is this acceptable or should it be avoided?

[2017-10-29 22:30] samreid commented on #159
I thought I could add shims and what not to get things working (by overriding tandem.addInstance and creating a fake TType), but ifphetio requires `window.phet.chipper.brand = 'phet-io';` and that requires phet-io-query-parameters.js.

Anyways, here is a unit test I decided not to commit that exercises and tests TProperty.toStateObject:

[code]

[2017-10-29 22:31] samreid commented on #159
@zepumph can you look at the preceding commit? https://github.com/phetsims/axon/commit/32ede1d7e19296810be08723a3ee4f9b40c661d2

[2017-10-29 22:43] samreid commented on #157
I reviewed the 2 commits and they seem correct, closing.

[2017-10-29 22:43] #157 closed

[2017-10-29 23:29] samreid commented on #154
It is for phet-io, but read by non-phet-io types such as `RectangularToggleButton`, `ComboBox`, etc.  So should we mark it as `@public (read-only) - used to indicate the TType of the element` ?

[2017-10-30 03:27] samreid commented on #150
Thanks, closing.

[2017-10-30 03:27] #150 closed

[2017-10-30 03:29] samreid commented on #153
@zepumph as part of your review can you please convert https://github.com/phetsims/axon/issues/153#issuecomment-339158399 to unit tests as was done in https://github.com/phetsims/axon/commit/c6602e547d9a609f4b706416293c29a0477e04c6

[2017-10-30 15:30] pixelzoom commented on #154
Changed to:

[code]

 I didn't see a need to be more verbose, since `options.phetioState` is already documented, and its documentation is different than "used to indicate the TType of the element".  If you disagree, feel free to change, but make doc identical for `this.phetioState` and `options.phetioState`.

[2017-10-30 15:30] #154 closed

[2017-10-30 15:49] pixelzoom commented on #156
Reviewed, change looks good.  It was also instructional for me to look at how unit tests were added.

[2017-10-30 15:49] #156 closed

[2017-10-30 15:50] samreid commented on #156
Thanks, I should point out that axon is using a bit older version of qunit.  We opted for the new one in query-string-machine and the test apis are a bit different (newer one is preferable).

[2017-10-30 15:56] pixelzoom commented on #156
Thanks - I think that's what concerned me when I started looking at axon unit tests.  I did add tests to query-string-machine, and axon didn't match what I was expecting.

[2017-10-30 16:49] phet-steele opened #161 "'p' is assigned a value but never used"
[code]

[2017-10-30 17:15] phet-steele commented on #161
@samreid it worked, thanks!

[2017-10-30 17:15] #161 closed

[2017-10-30 17:32] zepumph commented on #159
@samreid that commit looks very good. How should we proceed about phet-io in unit tests?

[2017-10-30 18:13] phet-steele opened #162 "Axon: Simple Tests: Test StringProperty failed, ReferenceError: phet is not defined"
Scenery, Kite, and Dot are failing unit tests with:

[code]

[2017-10-30 18:44] jonathanolson commented on #162
I pushed a fix, @samreid can you verify?

[2017-10-30 19:20] pixelzoom commented on #162
I pushed a fix that's a bit cleaner, @samreid please verify.

[2017-10-30 19:21] pixelzoom commented on #162
Problem was introduced in #156, fixed once in #161, apparently still not dead.

[2017-10-30 19:30] jonathanolson commented on #162
Seems like that fix is for https://github.com/phetsims/axon/issues/161?

[2017-10-30 19:34] jonathanolson commented on #162
Typically this would be solved by removing the assignment to p (and adding the code comment to ignore the "no-new" lint rule).

[2017-10-30 19:38] pixelzoom commented on #162
@jonathanolson said:

Indeed, that hack was added for #161 - an issue I discovered after the fact by looking through commit history.

Agreed.  But since `p` is used throughout all the tests above the one that was failing lint, I chose to make the failing one follow the same pattern.

[2017-10-30 20:03] pixelzoom commented on #149
My 2 cents...

According to its doc, "A DerivedProperty is computed based on other Properties".  So while `lengthProperty` is indeed derived from the length of the internal array (`this._array`), I would not expect it to be a `DerivedProperty`, because it has no dependencies on other `Property` instances.

Since `lengthProperty` is `@public (read-only)`, yes, it should be instrumented for PhET-iO.

[2017-10-30 20:21] zepumph commented on #159
There was one problem addressed in https://github.com/phetsims/phet-io/issues/1246

[2017-10-30 20:25] pixelzoom opened #163 "problems with DerivedProperty 'and', 'or'"
Ran into this in equality-explorer. Static functions `and` and `or` have problems.

(1) They don't verify that their arguments are actually `{Array.<Property.<boolean>>}`. E.g. this succeeds without error:

[code]

(2) If their arguments aren't `{Array.<Property.<boolean>>}`, they don't return `{boolean}`, they return truthy or falsy.  E.g.:

[code]

I'd be OK with updating the documentation to in

[2017-10-30 20:26] pixelzoom commented on #163
Looks like these were added by @jonathanolson in https://github.com/phetsims/axon/issues/88.

[2017-10-30 20:29] pixelzoom commented on #163
Revising what I said above...  I'd be OK with updating the documentation to indicate that the inputs may be Properties of any type.  But I'd like to make the return values `{boolean}` by putting a `!!` in front of the return values in private functions `andFunction` and `orFunction`.

[2017-10-30 20:32] pixelzoom commented on #163
Also related to https://github.com/phetsims/axon/issues/160.  There's a TODO that indicates that `or` needs to be fixed, but no info about what's wrong.

[2017-10-30 20:50] pixelzoom commented on #163
In Slack discussion, @jonathanolson suggested adding this assertion to `andFunction` and `orFunction`:

[code]

... which I will do.

This is likely to break something, but we'll deal with it when it pops up in automated testing. @phet-steele, heads up.

[2017-10-30 21:07] jonathanolson commented on #163
I'm running aqua tests on my side to see if I can proactively fix anything.

[2017-10-30 21:08] jonathanolson commented on #160
I don't recall why this was there, and things seem fine. Any objections to removing the TODO?

[2017-10-30 21:12] pixelzoom commented on #163
I revised the unit tests for DerivedProperty.and/or, all tests passing.

[2017-10-30 21:13] pixelzoom commented on #160
I revised the unit tests for DerivedProperty.and/or in https://github.com/phetsims/axon/commit/7fc7862cfda97eac7a7ac0ddbe264be912777a73, and I see no problems.  This was probably vestigial, so I've deleted the TODO.

[2017-10-30 21:13] #160 closed

[2017-10-30 21:30] zepumph commented on #153
Unit tests added and all are passing. Closing

[2017-10-30 21:31] pixelzoom commented on #163
@jonathanolson please review.  Unit tests have been updated.

[2017-10-30 21:32] pixelzoom commented on #163
@jonathanolson please review. Unit tests have been updated. (Note that axon is using old-style unit testing. I've proposed updating in https://github.com/phetsims/tasks/issues/900.)

[2017-10-30 21:37] pixelzoom commented on #153
https://github.com/phetsims/axon/issues/153#issuecomment-339158399:

So we're not done yet. Reopening.

[2017-10-30 21:39] pixelzoom opened #164 "Should we require tandems for all ObservableArrays?"
ObservableArray:

[code]

All TODOs in common code should refer to associated GitHub issues.

[2017-10-30 21:41] pixelzoom commented on #164
I see this in `options`:

[code]

... and that's similar to what I see in Property, DerivedProperty, etc. So I'm wondering... Is this TODO vestigial?

[2017-10-30 22:26] zepumph commented on #153
Right! I'll do that part, thanks.

[2017-10-30 22:52] jonathanolson commented on #163
Unit tests look great. Not sure if it's ready to close (but seems ready to me), assigning back.

[2017-10-30 23:01] pixelzoom commented on #153
Looking at the [continuous testing report](https://bayes.colorado.edu/continuous-testing/aqua/html/continuous-report.html), it looks like axon unit tests for NumberProperty might be causing problems in kite and scenery.  At 10/30/2107 4:22:49pm:

kite:
[code]

scenery:
[code]

[2017-10-30 23:03] pixelzoom commented on #153
Similar NumberProperty test failure for dot at 10/30/2017 4:42:08

[2017-10-30 23:12] pixelzoom commented on #153
Looks like unit tests were failing because they use `phet.axon.NumberProperty`. In https://github.com/phetsims/axon/commit/abbfd3073e4b5d3ada214fef8c085ee51a4ba30f, @jonathanolson recently removed the `phet.` prefix for other axon types, e.g. `axon.Property`.

[2017-10-31 03:47] samreid commented on #149
Just because something is public in our code no longer implies that it should be instrumented for PhET-iO (as opposed to when we subscribed to the instrument-everything philosophy), but in this case it seems suitable that instrumented ObservableArrays should always have instrumented lengthProperty values.

@zepumph do we just use tandem.createTandem() and the optional part will pass through proper

[2017-10-31 04:20] samreid commented on #162
phet.axon => axon fix and `p = ...` fixes both look good, closing.

[2017-10-31 04:20] #162 closed

[2017-10-31 15:58] phet-steele opened #165 "Expected at least one assertion, but none were run"
Dot and kite are still having trouble:

[code]

[2017-10-31 16:48] #163 closed

[2017-10-31 17:02] samreid commented on #165
Proposed fix is above, I tested by building kite and launching compiled unit tests, closing.

[2017-10-31 17:02] #165 closed

[2017-10-31 19:32] zepumph commented on #149
That's right! Children will also be `tandem.optional && !tandem.supplied`

[2017-11-03 04:39] samreid commented on #159
It seems like a question for the development team about how to run phet-io specific tests for common code repos like axon/dot/kite/scenery.  Should we have two test harnesses for each repo, one with phet-io and one without?  Or since our team is the only one running unit tests at the moment, just require phet-io for the unit tests?  The latter would be simple, but unit tests would crash for anyone

[2017-11-04 01:21] samreid commented on #149
I instrumented `lengthProperty` and added `phetioSettable=false` so there won't be controls for it in instance proxies.  I tested in Forces and Motion Basics + instance proxies and 3 occurrences of lengthProperty seemed good.  I tested Faraday's Law which only has an ObservableArray with optional tandem and I confirmed that lengthProperty does not appear in instance proxies.

@zepumph can you plea

[2017-11-04 14:19] samreid commented on #149
Bayes reported

[code]

This suggests we need to dispose the `lengthProperty`

[2017-11-04 14:24] samreid commented on #149
The two commits should resolve the problem, leaving assigned to @zepumph for review.

[2017-11-06 20:53] samreid opened #166 "Eliminate closure in Emitter dispose"
Spurred by discussion in https://github.com/phetsims/scenery/issues/706#issuecomment-342281757

[2017-11-06 20:54] samreid commented on #166
I eliminated the closure in Emitter dispose, @zepumph or @pixelzoom or @jonathanolson can you please review?

[2017-11-06 21:00] pixelzoom commented on #166
Looks correct to me, closing.

[2017-11-06 21:00] #166 closed

[2017-11-06 22:32] zepumph commented on #149
That looks good. Thanks for going through with this. Also congrats to all on emit4!! Is it possible that we could combine the "options" with the stateobject? Both are keys that are dependent on the instance, and I don't think that any keys from the state object should conflict with the addInstance options. (we could check with assertions too)

[2017-11-06 23:18] pixelzoom commented on #149
@zepumph asked:

Could you clarify this, I don't understand what you're asking.

[2017-11-07 01:05] zepumph commented on #149
Indeed!

On phetio.js:563 we have this line:
`      options.phetioMethods && instanceAddedEmitter.emit4( phetioID, typeAPI, WrapperType.toStateObject ? WrapperType.toStateObject( instance ) : {}, options );`

Which in the above commits was adapted to emit a 4th arg. I posit if we can't combine these options (4th arg) with the third arg, which is a version of the toStateObject. Although they hold d

[2017-11-07 04:07] samreid commented on #149
I think it will be simpler to keep them separate, since they will be used very differently.

[2017-11-07 20:07] samreid opened #167 "DerivedProperties must be disposed before their dependencies"
From https://github.com/phetsims/build-an-atom/issues/176#issuecomment-337687271 and https://github.com/phetsims/build-an-atom/issues/156 @zepumph and @jbphet and @samreid determined that DerivedProperties must be disposed before the dependencies.  Consider this example:

[code]

This will throw an assertion error when `y` tries to remove its listener--it will not be able to remove the listener be

[2017-11-07 20:41] samreid commented on #167
Also I have some deja-vu about this, so please let me know if we already discussed it.

[2017-11-07 20:43] zepumph commented on #149
Sounds good. Thanks for tackling this @samreid.

[2017-11-07 23:08] pixelzoom commented on #167
I believe that we discussed this in 10/19/2017 developer meeting as a tangent to this agenda item:

... and concluded that (a) adding dispose methods is an unavoidable cost of PhET-iO, and (b) this behavior in DerivedProperty is expected.

[2017-11-08 14:25] samreid commented on #167
Sounds good, thanks @pixelzoom.  Closing.

[2017-11-08 14:25] #167 closed

[2017-11-08 17:05] pixelzoom commented on #159
@samreid said:

The question is more general, applies to unit tests for _all_ repositories.

All unit tests (phet-io and others) should be run automatically on bayes.  Unit tests should be runnable from build tools, so that we can easily perform relevant unit tests before commits/builds/etc.  And unit tests should be run as part of an RC or production build.

I don't have a preference as to whethe

[2017-11-09 02:17] samreid commented on #149
@zepumph anything else before closing?

[2017-11-09 18:42] pixelzoom commented on #159
[PhET Development Overview](https://docs.google.com/document/d/1Ys1EiwnqQGYuzGOcQSr4uXDes35mF1v1XhMZIl10nk8/edit#bookmark=id.3oyrv8tslkyy) contains instructions about how to build sims, and there have been related inquires on Google Group.  So third parties have been using build tools.

[2017-11-09 18:51] pixelzoom commented on #159
11/9/17 dev meeting notes:
• make build tools usable by 3rd parties
• conditionally execute phet-io qunit tests if required dependencies are available
• investigate what to do on bayes

[2017-11-09 18:52] zepumph commented on #159
Overall developers in today's meeting don't feel like many people use our build tools/ support libraries outside of phet.

That being said it is a big step to force phet-io into all of those repos. For now we are going to try to conditionally add phet-io tests to the same qunit test for a repo like axon. If you try to load the phet-io script but get a 404 (since our private repos aren't checked ou

[2017-11-09 20:58] zepumph commented on #149
Looks good.

[2017-11-09 20:58] #149 closed

[2017-11-10 02:35] samreid commented on #159
I refined the unit test to this point:

[code]
But it's still not working because the `ifphetio!` plugin is disabled.

[2017-11-10 02:38] samreid commented on #159
Still hesitant to include `initialize-globals.js` as a dependency for axon unit tests....

[2017-11-10 17:08] zepumph commented on #159
Rather than adding `initialize-globals` to unit tests, could we include a unit test workaround in the `ifphetio` plugin?

I see
[code]
But what if we added to the condition like `window.phet.isUnitTest`? Or something more robust so that we could use it where ever we needed access to the phet-io code without the full stack of the sim.

[2017-11-11 01:10] zepumph commented on #153
@pixelzoom does everything else look good for this one?

[2017-11-11 04:40] pixelzoom commented on #159
@zepumph wrote:
` if ( brand === 'phet-io' ) {`

Testing brand to determine whether to do something related to PhET-iO is an anti-pattern.  The 'phet-io' brand is currently the only brand that has PhET-iO features.  That will not necessarily be true in the future; other brands may have phet-io feature and should run phet-io unit tests.

[2017-11-11 14:43] samreid commented on #159
I created a new issue in the PhET-iO repo focused on how to test common code repo PhET-iO things.  This issue will remain focused on "Move TNumberProperty validValues to TProperty" and on hold until we can add tests for it.

[2017-11-15 19:00] zepumph commented on #153
I added validation for the valueType option as well as unit tests for them. Could you review the changes @pixelzoom?

[2017-11-16 19:33] pixelzoom commented on #153
Issues:

(1) `isNumber` is private, used only in 1 place, and trivial, so I've inlined it.

(2) NumberProperty is using `Number.isInteger`, which was introduced in ES6, and is not supported in IE, [specification here])US/docs/Web/JavaScript/Reference/Global_Objects/Number/isInteger). I tried changing to DOT.Util.isInteger, but that causes unit tests to fail -- axon can't depend on dot, because dot

[2017-11-16 19:43] pixelzoom opened #168 "buggy subtype tandems"
Bug introduced in NumberProperty in commit https://github.com/phetsims/axon/commit/b5bd8e1db3e79a632216948d300f6f08928834bd for https://github.com/phetsims/tandem/issues/31.

(1) The call to `this.numberPropertyTandem.addInstance` was removed from the constructor, but `this.numberPropertyTandem.removeInstance` still appears in `dispose`.

(2) After fixing (1), `this.numberPropertyTandem` is privat

[2017-11-16 19:46] pixelzoom commented on #168
I see the same problem in DerivedProperty -- `derivedPropertyTandem` is created, no call to `addInstance`, call to `removeInstance` in dispose.  Looks like this bug may have been introduced in multiple places by the commits for  phetsims/tandem#31 done on 11/15/17.

[2017-11-16 20:24] zepumph commented on #153
I just implemented it inline because it is simple enough. Back to you @pixelzoom. Let me know if you think there is a better way. All axon unit tests are passing for me.

[2017-11-16 20:33] #153 closed

[2017-11-16 23:52] samreid commented on #168
- [ ] phetio.js may be guarding against multiple removals.  I think we can eliminate that guard now.

[2017-11-17 02:17] zepumph commented on #164
Marking for phet-io meeting.

[2017-11-17 02:26] zepumph commented on #168
Looks like it
[code]

We can probably remove that guard since there aren't any more superTypeTandems around

[2017-11-17 02:35] zepumph commented on #168
@samreid please review

[2017-11-17 03:07] samreid commented on #168
I looked though 40 occurrences of `tandem.removeInstance` and cleaned them up.  Thanks for catching these @pixelzoom. I tested lint and requirejs on a few sims.  I still need to check @zepumph changes regarding the guard, leaving self-assigned.

[2017-11-17 03:09] samreid commented on #164
Not all ObservableArrays should be instrumented.  We are moving toward a more sparse/stable instrumentation strategy.  They will remain optional to avoid leaking implementation details.

[2017-11-17 03:10] samreid commented on #164
TODO removed, closing.

[2017-11-17 03:10] #164 closed

[2017-11-17 03:39] samreid commented on #168
Looks great @zepumph.  Bayes reported this for Charges and Fields, I wonder if it is related:

charges-and-fields : phet-io-fuzz : require.js : run
Uncaught Error: Assertion failed: instance id did not match phetioID
Error: Assertion failed: instance id did not match phetioID
    at window.assertions.assertFunction (https://bayes.colorado.edu/continuous-testing/snapshot-1510886316546/assert/js/ass

[2017-11-17 03:42] samreid commented on #168
I moved that to a new issue, closing.

[2017-11-17 03:42] #168 closed

[2017-11-23 21:53] samreid commented on #134
Merged according to https://github.com/phetsims/axon/issues/140#issuecomment-334544114 and confirmed in master.  Deleting branch and closing.

[2017-11-23 21:59] samreid commented on #127
We decided to keep the IO types, deleting branch and closing.

[2017-11-23 22:01] samreid commented on #128
Closing as duplicate of #152

[2017-11-23 22:01] #128 closed

[2017-11-24 00:31] samreid commented on #145
`phetioReadOnly` is working well, we may move it from all types just to Property as part of https://github.com/phetsims/scenery/issues/711, closing.

[2017-11-24 00:31] #145 closed

[2017-11-24 04:09] samreid commented on #159
Added unit test in preceding commit, closing.

[2017-11-24 04:09] #159 closed

[2017-12-11 18:56] jbphet commented on #152
I spent a little time looking at this, and I have some preliminary thoughts and questions.  When this was first described to the group during a dev meeting, I understood the basic idea to be a property the essentially "wrapped" another so that the resultant property could have its underlying property swapped.  This would allow other code to stay linked to the resultant property.  I believe I said

[2017-12-11 21:41] jonathanolson commented on #152
Nope, see the `derive` option. It is of type `{Property.<Scene>}` in the example for `derive`.

I guess I designed it this way because I honestly haven't yet run into a case where I didn't already have a Property of the object. I definitely wouldn't want to have to create a dynamic property AND every time have a link afterwards.

That said, doesn't `new DynamicProperty( new Property( null ) )` (an

[2018-01-15 22:27] pixelzoom opened #169 "NumberProperty has no default for options.units"
Noted while looking at https://github.com/phetsims/phet-io/issues/1292.

NumberProperty apparently takes `options.units`.  But there's no default (and hence no documentation) present in the constructor:

[code]

Need to add:

[code]

[2018-01-15 22:30] pixelzoom opened #170 "DerivedProperty duplicates logic used to derive value"
Noted while working on https://github.com/phetsims/phet-io/issues/1292.

This logic is duplicated in DerivedProperty:

`derivation.apply( null, dependencies.map( function( property ) {return property.get();} ) )`

Since this is how the value is derived, it should definitely not be duplicated.

[2018-01-15 22:38] pixelzoom opened #171 "DerivedProperty override of 'get value' should be removed"
Noted while working on phetsims/phet-io#1292.

This function override in DerivedProperty:

[code]

... is confusing and unnecessary.  If I remove it, there is no complaint from the linter.

[2018-01-16 04:19] samreid commented on #171
Removed, ready for review.

[2018-01-16 04:28] samreid commented on #171
I've noticed that with the `DerivedProperty.get` removed, the sims are crashing with this error:

I'm not sure what this has to do with `get` being overriden in DerivedProperty though.  I'll revert for now and we can investigate.

[2018-01-16 04:33] samreid commented on #169
Fixed as proposed, thanks for the fix, back to you for review.

[2018-01-16 04:33] samreid commented on #171
Without the override, DerivedProperty.value is coming up as undefined.  Perhaps ES5 get/set don't attach to the prototype in the same way ordinary methods do?

[2018-01-16 18:06] #169 closed

[2018-01-17 03:58] samreid commented on #171
@jonathanolson can you look into this?  You can replicate the problem by commenting out DerivedProperty.get (which is a trivial override that just calls Property.get) and running any sim.

[2018-01-17 18:24] jonathanolson commented on #171
This looks like an issue with how inherit/extend works with ES5 getters/setters. Basically the get/set pair (or just a single get or set) defines a property, and the properties get overridden as a whole unit.

So if a complete pair (get/set) gets overridden by just a setter (with no getter), it "removes" the getter (the setter+nothing is put in its place).

It seems like they behavior I'd want is

[2018-01-17 19:30] jonathanolson commented on #171
Implementation should be fine.

The larger question should be what happens here:
[code]
Additionally, similar things happen if you override a normal value with a setter (with no getter).

[2018-01-17 19:32] jonathanolson commented on #171
For reference (I'll be afk for a bit), the implementation fix would presumably to check the result of `Object.getOwnPropertyDescriptor( source, prop )` (in extend.js), see if it is a getter/setter with one or the other undefined. If so, it will try to fill it in with the corresponding function in `Object.getOwnPropertyDescriptor( obj, prop )` if available.

[2018-01-18 20:36] pixelzoom commented on #171
@samreid @jonathanolson and I discussed this issue briefly after 1/18/18 dev meeting.  I think the consensus was that we should restore the override of `get value()` in DerivedProperty, but change the documentation to indicate the reason why it's necessary.  That is, not related to linting, but that `set value` and `get value` must be overridden in pairs.

[2018-01-23 19:48] jonathanolson commented on #171
Looked into patching so this would be possible. With inheritance, it actually gets really complicated finding the correct property descriptor of what is being changed (since it is on the prototype).

Recommend deferring or closing, and leaving in the "do-nothing" getter.

[2018-01-23 19:53] pixelzoom commented on #171
I'm fine with closing as "do nothing".  But this documentation should be changed, since it's what started this issue:

[code]

What's a more accurate description of why this override is needed?

[2018-01-23 20:11] samreid commented on #171
Unassigning myself; @jonathanolson is best equipped to answer this question.

[2018-01-23 21:48] jonathanolson commented on #171
Updated documentation to:

[code]

Is that sufficient? If so, let's close the issue.

[2018-01-23 22:23] #171 closed

[2018-02-20 22:41] pixelzoom opened #172 "add option for type validation to Property"
I'm currently doing type validation for homogenous Properties using `options.isValidValue`, like this:

[code]

So anywhere I want to type-specific Property, I have boilerplate code that looks like the above. It would be nice to just specify the type, and let Property handle the `instanceof` check.  Something like this:

[code]

... and optionally combine with `options.isValidValue` like this:

[c

[2018-02-20 22:45] pixelzoom opened #173 "NumberProperty: rename options.valueType to numberType"
While adding `valueType` option to `Property` (see https://github.com/phetsims/axon/issues/172), I discovered that `NumberProperty` already has a `valueType` option, which is propagated to (by not used by) Property.

In `NumberProperty`:

[code]

After Slack discussion, we decided that it would be more appropriate to name this `numberType`.  There are many (75?) client usages, instance-proxies, Ph

[2018-02-20 22:46] pixelzoom commented on #172
Oops. The `NumberProperty` subtype of `Property` already has `valueType` option, incompatible with our needs here.  See https://github.com/phetsims/axon/issues/173.  On hold until the NumberProperty option is renamed to `numberType`.

[2018-02-20 22:51] pixelzoom commented on #172
I had already implemented this feature and unit tests when I ran in the NumberProperty issue. Here's a patch file to be applied to Property.js and PropertyTests.js.

[2018-02-21 00:38] pixelzoom commented on #173
Also consider renaming the valid values.  Skype discussion:

Chris Malley [5:31 PM]
While you’re at it… Consider `[ 'float', 'integer' ]` as the values. `[ 'FloatingPoint', 'Integer' ]` look like type names to me, and just kinda weird.

Sam Reid [5:32 PM]
Sounds good, thanks!

Jonathan Olson [5:32 PM]
wouldn't 'float' usually indicate 32bit, while JS uses "double" (64bit) floating point numbers?

[2018-02-21 04:18] samreid commented on #173
I renamed valueType=>numberType and aqua is coming up green for PhET brand.

[2018-02-21 04:36] samreid commented on #173
PhET-iO aqua came up green too.

[2018-02-21 04:39] samreid commented on #173
I tested BAA instance proxies and saw several `numberType: 'Integer'` and it seemed OK.  I'll move the renaming of floating point/integer to a new issue and reassign this one to @pixelzoom to review as it pertains to https://github.com/phetsims/axon/issues/172

[2018-02-21 04:42] samreid opened #174 "Consider renaming NumberProperty.numberType values"
See https://github.com/phetsims/axon/issues/173#issuecomment-367172667 for discussion.

The current values are:
[code]

@pixelzoom said he would prefer lowercase.  Here is the slack discussion:

Also consider renaming the valid values.  Skype discussion:

Chris Malley [5:31 PM]
While you’re at it… Consider `[ 'float', 'integer' ]` as the values. `[ 'FloatingPoint', 'Integer' ]` look like type name

[2018-02-21 04:49] samreid commented on #174
`floatingPoint` seems kind of odd to me, perhaps because it seems more like a variable name than a value name.  I noticed in several of our *Enum.js classes the values are all uppercase.

Here's a context picture for instance proxies, one place where this will appear in the documentation:

![image](https://user-images.githubusercontent.com/679486/36463494-85f53888-1687-11e8-98e3-e6067b5a8c48.png)

[2018-02-21 17:44] pixelzoom commented on #173
@samreid FYI this commit looks unrelated: https://github.com/phetsims/phet-io-wrapper-visualizing-engagement/commit/ebf46abe7b9ef322accc614d8c829644d23402f9.

[2018-02-21 17:48] pixelzoom commented on #174
Maybe just forget I mentioned this. I can live with the current values.

[2018-02-21 18:30] samreid commented on #173
Sorry, wrong issue reference.  All else seems ok, closing.

[2018-02-21 18:30] #173 closed

[2018-02-21 18:46] pixelzoom commented on #172
Option `valueType` has been added to Property.

Unit test for `valueType` alone, and `valueType` and `isValidValue` combined, have been added to PropertyTest.js.

Equality Explorer has been converted to use `valueType`.

@samreid please review.

[2018-02-21 18:52] pixelzoom commented on #172
Btw... This expression does appear twice in the code that was added to Property

`return ( value instanceof options.valueType );`

This could be factored out like this:

[code]

... but I didn't see the point in this case.

[2018-02-21 18:54] pixelzoom commented on #172
Btw... This expression does appear twice in the code that was added to Property

`return ( value instanceof options.valueType );`

This could be factored out like this:

[code]

Lines 73-75 become:

[code]

Lines 80-82 become:

[code]

... but I didn't see the point in this case.  Inlining the `instanceof` tests seems clearer.

[2018-02-21 19:08] jonathanolson commented on #174
I have no strong preferences.

[2018-02-21 19:10] samreid commented on #172
[code]

Shall we specify that a null value is OK in the type doc?

[2018-02-21 19:12] pixelzoom commented on #172
Doc for `valueType` improved in the above commit.

[2018-02-21 19:15] samreid commented on #172
I removed `axon.` prefix from the unit tests, it was a bad holdover from a previous pattern.

[2018-02-21 23:37] samreid commented on #172
When I tried `new Property(new TestType(1),{valueType:Number});`, the assertion error message was

It would be be better if the assertion message was something more like

[2018-02-21 23:42] samreid commented on #172
My review comments are in my preceding 3 comments and commit.  Everything has been discussed/addressed except https://github.com/phetsims/axon/issues/172#issuecomment-367515719

Reassigning to @pixelzoom

[2018-02-21 23:44] samreid commented on #172
Also did you want to discuss the code smell associated with specifying the phetioType and the valueType like this example:

[code]

[2018-02-21 23:53] pixelzoom opened #175 "issues with valueType and phetioType options"
PhetioObject has `phetioType` option for specifying the IO type.  We recently added a `valueType` option to Property (a subtype of PhetioObject), to support type validation for Properties with homogeneous value.

---
In 2/20/18 2:30 PM Slack developer channel, I said (edited):

Specifying both `valueType` and `phetioType` also has a bit of a smell. E.g. in the example below, `Vector2` and `Vector2

[2018-02-21 23:55] pixelzoom commented on #172
Moved the `valueType` / `phetioType` issue to https://github.com/phetsims/axon/issues/175.

[2018-02-22 00:06] pixelzoom commented on #172
In https://github.com/phetsims/axon/issues/172#issuecomment-367515719, @samreid said:

I agree that more specific assertion messages are generally better.   But the implementation currently coalesces 3 options (valueType, isValidValues, validValues) into one internal validation method.  And it uses that validation method for both the initial value and subsequent values.

To create the assertion me

[2018-02-22 00:28] pixelzoom commented on #172
Here's another idea... Forget about mutual exclusivity of `valueType`, `isValidValue` and `validValues`.   Test whichever ones are provided, test them individually, each with their own specific assertion messages.  If incompatible validators are provided, the client is going to find out very fast.

[2018-02-22 00:35] pixelzoom commented on #172
Replace lines 63-85 in constructor with:

[code]

Replace line 151 in `set` with:

[code]

[2018-02-22 00:38] pixelzoom commented on #172
This message above is incorrect:

`'value has incorrect type, expected ' + options.valueType + ' but received ' + ( typeof value )`

How do we print the type of the value received? Constructor names are mangled in builds.

[2018-02-22 00:39] pixelzoom commented on #172
This message above is incorrect:

`'value has incorrect type, expected ' + options.valueType + ' but received ' + ( typeof value )`

How do we print the type of the value received? Constructor names are mangled in builds.

And how do we print the value of `options.valueType`?

[code]

Perhaps it's sufficient for the message to be 'value type does not match valueType` ?

[2018-02-22 00:42] pixelzoom commented on #172
OK... Here's my revised proposal:

Replace lines 63-85 in constructor with:

[code]

Replace line 151 in `set` with:

[code]

[2018-02-22 01:00] pixelzoom commented on #172
Advantages of the above proposal:

- Less complicated implementation, easier to understand.
- More specific assertion messages that indicate which validation test failed.

Disadvantages:

- Client might specify redundant validation, e.g. by using both `valueType` and `validValues`. No harm done, since validation is only performed when assertions are enabled.
- Client might specify incompatible val

[2018-02-22 01:01] jessegreenberg commented on #174
I have no strong preference, but might recommend adding

as documentation for `NumberProperty.numberType`.

[2018-02-22 01:04] pixelzoom commented on #172
Advantages of the above proposal:

- Less complicated implementation, easier to understand.
- More specific assertion messages that indicate which validation test failed.
- Removes the "mutual exclusivity" of some options, which is presumptuous. For example, specifying both `validValues` and `isValidValue` is currently not allowed, but might be useful, so that I don't add an incompatible member to

[2018-02-22 01:12] pixelzoom commented on #175
I have no suggestions for how (or whether) to address this.  Labeling for developer meeting.

[2018-02-22 16:59] samreid commented on #172
The proposal in https://github.com/phetsims/axon/issues/172#issuecomment-367528328 looks good and the disadvantages in the preceding comment are not sufficient to push us in another direction.  I recommend changing the error messages to make it clear what the value is (otherwise it is too confusing seeing `'valueType: '+ value`

[code]

[2018-02-22 17:14] zepumph commented on #175
Wouldn't the usage of `Property`'s  `phetioType` be more like:

[code]

In which case, it may be harder to combine those two lines.

[2018-02-22 17:17] jonathanolson commented on #175
If every type had its associated phet-io type tagged (e.g. `Vector2.phetioType` was `Vector2IO`), then we could get the `phetioType` from the `valueType` for most cases, correct? Is that something we'd want to do?

[2018-02-22 17:24] zepumph commented on #175
It may be a bit more complicated because there isn't always a 1 to 1 correspondence. `RichText`, `Text`, `MultilineText` and others all use `TextIO`. Would that be a hindrance?

[2018-02-22 17:30] jonathanolson commented on #175
That case may work, since they could all use `TextIO`. Is there ever a case where one type (not including subtypes) can have multiple acceptable IO types? (e.g. if RichText used like `TextIO` or `SomethingElseIO` based on how it was used in a sim).

[2018-02-22 17:34] samreid commented on #175
Yes, you are correct @zepumph about it being `Property(Vector2IO)`

[2018-02-22 17:36] jbphet commented on #174
No strong preferences here.

[2018-02-22 17:48] samreid commented on #175
I'm inclined to advocate the strategy in https://github.com/phetsims/axon/issues/175#issuecomment-367752500 because it will be most consistent with usage of `phetioType` elsewhere, and most flexible (even though a bit redundant).

[2018-02-22 18:00] pixelzoom commented on #175
2/22/18 dev meeting: Consensus is that it's OK to have to specify both `valueType` and `phetioType`. @zepumph pointed out that we could attempt to do something clever to get (e.g.) Vector2 from Vector2IO, but that would likely get us into trouble.

[2018-02-22 18:00] #175 closed

[2018-02-22 18:07] samreid commented on #172
Here's a proposal for supporting `instanceof` and `typeof`

[code]

[2018-02-23 23:09] samreid commented on #174
I added docs.  It seems there is a bit of an argument for going for uppercase, since that will match values from other enums.

[2018-02-23 23:36] pixelzoom commented on #172
That looks OK to me I guess.  There will need to be asserts to verify that the values of `options.type` and `options.instanceOf` are `{string|null}` and `{function|null}` respectively. And I have a suspicion that using `{ instanceof: Blah }` or `{ typeof: "string" }` will be common errors, JavaScript developers are used to typing `instanceof` and `typeof`, and the proposed option names are (necess

[2018-02-24 02:20] samreid commented on #172
Upon reflection, `{constructor|string|null} valueType` seems best.  @pixelzoom would you like to commit a proposed draft, or should I?

[2018-02-24 20:00] pixelzoom commented on #172
I'll implement both https://github.com/phetsims/axon/issues/172#issuecomment-367528328 and `{constructor|string|null} valueType`.  Will assign to @samreid to review.

[2018-02-25 21:37] samreid commented on #174
@pixelzoom should this be an enum?  Or is the benefit of the enum outweighed by the convenience of being able to type a string literal?

[2018-02-26 16:45] pixelzoom commented on #174
If by "enum" you're referring to something like acid-base-solutions.SolutionType ... I don't have a strong preference for enums vs string literals.   But also worth noting that SolutionType (and other PhET enums?) doesn't really adhere to [the idiomatic pattern for JS enums](https://stackoverflow.com/questions/287903/what-is-the-preferred-syntax-for-defining-enums-in-javascript).  In that pattern,

[2018-02-26 18:42] pixelzoom commented on #172
I've made the changes to Property, and I rewrote all tests in PropertyTests that are related to validation options.

It seems like StringProperty, NumberProperty and BooleanProperty are going to need some work too.   They should be setting `valueType` option.  And StringProperty and NumberProperty both make some assumptions about mutual exclusivity of `validValues` and `isValidValue` that are no l

[2018-02-26 18:48] samreid commented on #172
StringProperty should always supply `valueType: 'string'` and additionally support `validValues` and `isValidValue` without combining them as it has done previously.

NumberProperty will still need its own `range=>isValidValue` converter, but it will not need the `isValidForValueType` augmentation.  NumberProperty will still need the check that says `// Verify that the values are all numbers.` . I

[2018-02-26 21:03] pixelzoom commented on #172
Using `valueType` in Property subtypes really cleaned up and simplified the implementation.

BooleanProperty was trivial to change.  StringProperty was also pretty easy, but it's unit tests weren't in great shape.

 NumberProperty took the most work, since it has its own specific validation options - `numberType` and `range`.   Instead of trying to merge/wrap those into `isValidValue`, I chose to

[2018-02-27 02:01] pixelzoom commented on #172
@samreid I'm not wild about the change made in https://github.com/phetsims/axon/commit/d3fb2344708eca68f67759503ff5756a85e4dead, where the related assertion and assignment are no longer co-located.  In general, the pattern that I use places the assertion and assignment together, on consecutive lines, because they are one unit.

[code]

[2018-02-27 02:12] samreid commented on #172
How about:

[code]

which keeps assertions together and `valueType` together?  But if you prefer the order in 3c27706513dd1a6db3b3b01962fc24ad4e96402a let me know and I'll revert.

[2018-02-27 02:17] pixelzoom commented on #172
My OCD'ness likes to see options validated in the same order that they appear in the `_.extends` call.  But yeah, that's OK.

[2018-02-27 03:35] samreid commented on #172
This line is a bit difficult to grok, I'll try to clean it up:

[code]

[2018-02-27 04:11] samreid commented on #172
NumberProperty used `link` to validate values but Property validates in `set`. NumberProperty seems nice because it allowed us to transform the attribute (in the case of Property `assertPropertyValidateValue`) to a closure variable.  On the other hand, a client calling `unlinkAll()` would wipe out that validation.

 Which strategy is better?  We should use that in both places.

[2018-02-27 04:16] samreid commented on #172
During the review I noted that `assertValueType` and `assertOptionValueType` are defined as functions but only called from one place.  Not sure that is entirely warranted, since `assertValueType` only has two sub-assertions and `assertOptionValueType` only has 3 cases itself.

[2018-02-27 04:18] samreid commented on #172
Review is complete.  I made several minor commits, opened https://github.com/phetsims/tasks/issues/919 and raised the preceding two comments for discussion.  Back to @pixelzoom

[2018-02-27 17:56] pixelzoom commented on #172
@samreid noted:

That's a good reason to not use that strategy.  I switch back to the strategy that I originally started with, which was to override `set` in NumberProperty, and handle validate there before calling `Property.set`.   This approach is consistent with how Property handles initial and `set` validation.

[2018-02-27 18:01] pixelzoom commented on #172
@samreid said:

`assertValueType` and `assertOptionValueType` both perform nontrivial functions, and I think its justified to factor them out into separate functions.  It improves readability and maintainability of the constructor.  I see nothing to be gained by inlining them.

[2018-02-27 18:42] pixelzoom opened #176 "incorrect/confusing phetioType in Property subtypes"
[code]

Why are there 3 variations here? Is StringProperty buggy?

[2018-02-27 18:42] pixelzoom commented on #176
Sam Reid [11:41 AM]
StringProperty should have `phetioType: PropertyIO( StringIO )`

Chris Malley [11:41 AM]
Why not StringPropertyIO and BooleanPropertyIO ?

[2018-02-27 18:43] samreid commented on #176
`StringPropertyIO` and `BooleanPropertyIO` would not add any methods or attributes, so do not need to be created.

[2018-02-27 18:50] pixelzoom commented on #176
I fixed phetioType in StringProperty.  It's been broken since 11/15/18, probably wasn't noticed sooner since devs don't appear to be using StringProperty (only 6 usages, which is a different problem).  No idea how to verify this, so assigning to @samreid to follow up.

[2018-02-28 00:10] samreid commented on #176
I tested by adding this code to faradays-law-main.js

[code]

With the old code this crashes, with the new code it runs nicely.  Closing.

[2018-02-28 00:10] #176 closed

[2018-03-02 02:09] samreid opened #177 "Property.valueType should work for Enums"
I tried our enum pattern with Property.valueType and was met with:

[code]

@ariel-phet do you want @pixelzoom to take a look at that?  Ideally it would just be a few minutes to find out if valueType should support that or not, and how to implement it.  I can implement it after getting @pixelzoom input (if he has time).

[2018-03-02 02:29] pixelzoom commented on #177
Example?

[2018-03-02 02:46] samreid commented on #177
I pushed a failing test in the preceding commit.

[2018-03-02 02:53] pixelzoom commented on #177
Step 1: Decide what PhET enum pattern will use.  The example in the failing test is not an idiomatic enum.   Typical JS enum pattern is to assign integer values to each enum value, example below. I've used strings in the past because they're more useful in debugging.

[code]

Step 2: Determine how to identify an enum, which is essentially a singleton.

Step 3: Decide how to verify that a value is

[2018-03-02 02:57] pixelzoom commented on #177
We should also discuss the value of enum vs {string[]}.  Is enum pattern widespread in PhET code? Is using string literals more idiomatic?  Is it worth adding support for enum to Property `valueType`?

[2018-03-02 02:59] samreid commented on #177
Maybe enums should use `validValues` instead of `valueType` for now?

[2018-03-02 02:59] pixelzoom commented on #177
For PhET-iO, do enums vs string literals have any advantages?  If a Property takes an enum value, how do support value selection in instance-proxies?

[2018-03-02 03:01] samreid commented on #177
True enum types (like in Java) would need IO types to serialize/deserialize.  String literals are extremely easy for PhET-iO.  Enum types that use descriptive `string` values are also easy for PhET-iO (no need for IO type adapter).

[2018-03-02 03:04] pixelzoom commented on #177
How do you use `validValues` to valid an enum?   The first 2 assignments below should fail, but they succeed because where's not comparing references, we're comparing values.

[code]

[2018-03-02 03:28] pixelzoom commented on #177
Agreed. It's a major flaw in the JS enum pattern, hazard of not having proper language support.

[2018-03-02 03:44] samreid commented on #177
This pattern would give us enum type correctness and permit Property.valueType at the expense of not having good debugging info and requiring PhET-iO adapters:

[code]

[2018-03-03 00:08] ariel-phet commented on #177
@samreid - apparently @pixelzoom already took some time....we would prefer right now to only ping him for essential work/questions as he attempts to clear out time to focus on EqEx

[2018-03-03 21:46] samreid commented on #177
@jonathanolson @jbphet @jessegreenberg any interest in pursuing an enum pattern like the one described in https://github.com/phetsims/axon/issues/177#issuecomment-369811381 ?

[2018-03-08 17:16] jonathanolson commented on #177
So I've used that for when I need "richer" enumerations (that have methods/etc.), and it works. The "downside" is that you'd need a toString() to convert them nicely to a string. The upside is that it could possibly be higher-performance than using string literals (in addition to better type checking).

Orientation.js is an example of a "richer" enumeration that follows this pattern.

[2018-03-08 20:33] jessegreenberg commented on #177
Proposal is we can use any type. It is not worthwhile for us to create a strict enum type. @jonathanolson or @pixelzoom can you please update this comment with additional consensus notes?

[2018-03-08 20:43] pixelzoom commented on #177
If you have an enum like area-model-common's `Orientation`, where the enum has a constructor and each enum value is an object instance, use this pattern:

[code]

If you have an enum where the values are strings (e.g. acid-base-solutions `SolutionType`) or numbers (the more idiomatic JS approach), use this pattern:

[code]

[2018-03-08 20:45] pixelzoom commented on #177
If you have an enum like area-model-common's `Orientation`, where the enum has a constructor and each enum value is an object instance, use this pattern:

[code]

If you have an enum where the values are strings (e.g. acid-base-solutions `SolutionType`) or numbers (the more idiomatic JS approach), use this pattern:

[code]

... and beware that in this pattern, `solutionTypeProperty.value = Solutio

[2018-04-16 16:32] samreid commented on #152
Can you please add a code comment that elaborates on why this callback only does something if the value is externally changing?  What would go wrong if we omitted the if statement?

[code]

[2018-04-16 16:43] samreid commented on #152
What does this comment mean?
[code]

[2018-04-16 16:46] samreid commented on #152
This listener is added in the constructor:

[code]
Perhaps comment that it is does not need to be `unlinked` in the dispose because all self listeners are removed in Property.dispose?

[2018-04-16 16:56] samreid commented on #152
In https://github.com/phetsims/axon/issues/39 we decided to remove higher-order "convenience" functions on Property.  Not all of the arguments made in that issue apply to DerivedProperty, but it feels like it is of the same ilk.  I recommend scheduling at least 30 minutes for @pixelzoom to read the API docs of DerivedProperty and make a recommendation.  @ariel-phet can @pixelzoom spare the time in

[2018-04-16 18:28] jonathanolson commented on #152
Can you point to something like a convenience function/feature here that, if removed, wouldn't significantly increase the code size of client call sites?

[2018-04-16 18:29] jonathanolson commented on #152
Added comments in the code.

Looks like DerivedProperty changed since I made that, removed it.

[2018-04-17 22:09] samreid commented on #152
@jonathanolson did you address this request?

[2018-04-19 01:51] jonathanolson commented on #152
Yes, I believe https://github.com/phetsims/area-model-common/commit/fdebdce5b38902eea9a429177a599cc33bef401b did? Let me know if it is insufficient.

[2018-04-19 04:05] samreid commented on #152
Looks good, thanks. Unassigning self and leaving assigned to @ariel-phet regarding https://github.com/phetsims/axon/issues/152#issuecomment-381675275

[2018-04-19 16:08] pixelzoom commented on #152
Self assigning by request from @ariel-phet, "30 minutes of your time in the next month or so".

[2018-04-20 20:47] jbphet commented on #177
It looks like this was assigned to me to comment on https://github.com/phetsims/axon/issues/177#issuecomment-370182382, but @pixelzoom (later) said:

So, it sounds like a decision was made, and I'm okay with it.  Back to @samreid to see if anything else needs to be done.

[2018-04-23 17:00] pixelzoom commented on #152
Overall code and (especially) documentation look great.

Recommendations:

- [ ] In constructor, `assert && assert( valuePropertyProperty instanceof Property, … );`  If you provide a non-Property, it currently fails later in the code.

- [ ] The current units tests lack any tests that verify robust handling of illegal actions. The current unit tests  For example, attempting to directly set the val

[2018-04-23 17:26] jonathanolson commented on #152
I believe I handled the above issues with the above commit, can you verify (and close?)

[2018-04-23 17:29] #152 closed

[2018-05-29 18:35] lmulhall-phet opened #178 "Unit test failed"
@samreid, sorry to add to your huge list of issues. CT has been orange or red since 9907ae0c48d075e1151fad29eab20614ff64303e.

CT gives the following:

[code]

[2018-05-29 21:09] samreid commented on #178
@jonathanolson addressed this in https://github.com/phetsims/axon/commit/37d5839cf25343fec5811fefd088eeb510b8950b

Reassigned to @lmulhall-phet to make sure it clears up in the next round of CT.

[2018-06-13 00:11] pixelzoom opened #179 "detect Property loops"
A Property loop occurs when a Property's `set` method is entered before a previous call to `set` exits.   PhET-iO makes it necessary to deal with these loops because it results in intermediate/redundant data in the message stream.  See for example https://github.com/phetsims/hookes-law/issues/52.

PhetioObject previously was responsible for detecting Property loops, but that was removed in https:/

[2018-06-14 17:28] jbphet commented on #179
Seems like a good idea to me.  I've accidentally set up property loop a number of times, and they often ended up locking up the tab due to recursion.  This would have caught the problems earlier and more elegantly.

[2018-06-14 19:31] zepumph commented on #179
This was talked about int he meeting today, but only briefly. I am wondering if we could have a property option that dictates whether or not you want to allow `Property.set()` re-entrance. I would prefer that to a global that you toggle for everything in a sim at once.  I think ideally we would want everything to default to not being re-entrant, such that you have to specify `allowReentrantSetting

[2018-06-14 19:48] samreid commented on #179
I think we should add `{reentrant: false}` as the default for Property.js, with an assertion error when a loop is detected.  We would quickly "chip-away" and add `reentrant: true` for all the errors that immediately pop up.

[2018-06-15 18:09] pixelzoom commented on #179
So...

Add this to options:

[code]

... change assertion in `_notifyListeners` to:

[code]

... and deal with assertion failures as they occur in CT (which is sure to be immediately).

Objections?

[2018-06-15 18:19] pixelzoom commented on #179
`reentrant` is fine with me.

[2018-06-18 22:34] pixelzoom commented on #179
Unless someone else needs this feature for debugging, it might be devisable to defer until I return from vacation.

[2018-06-21 04:44] samreid commented on #179
It seems it would be good to have several developers "on hand" when we flip the switch for this, so responsible developers can catch their own `reentrant` Properties.

[2018-06-21 19:34] jessegreenberg commented on #179
Discussed at 6/21/18 -

We will add https://github.com/phetsims/axon/issues/179#issuecomment-397700846 in a branch, then work on it when developers are available all at once. This will probably be done during core hours. We will do it in a branch so that CT continues to run and we can continue to work in common code in case this can't be fixed quickly. I will create a reminder to do this on July 9

[2018-07-09 16:44] pixelzoom commented on #179
On 7/9, @jessegreenberg reminded us about this issue on Slack.

Unless someone else needs it, I would lobby for doing this work after EqEx is in RC, and after I return from vacation, so that I can address my sims.  EqEx RC will start Wed 7/18 at the latest.  I’ll be on vacation 7/19-8/5.

[2018-07-09 16:53] jessegreenberg commented on #179
More summarized discussion from slack:

Since we will do this on a branch in axon, devs don't all need to be available to work on this at once. We will wait to work on this issue until priority goes up when it is required in Hooke's Law or somewhere else, and sometime after 8/5.

[2018-07-16 22:58] zepumph opened #180 "Use sub Emitter for PushButtonIO"
Like NodeIO having sub Properties, we should use the same pattern for PushButtonIO to handle its "fired" event. With emitter we can trigger it and add a listener.

@chrisklus @samreid and I worked on this briefly today, and I will commit what we have so far.

With this pattern it is very important to have guards to make sure that we aren't reentrant into the emit method, this guard is implemented

[2018-07-16 22:59] zepumph commented on #180
On top of the above note, we had to manually set this sub Emitter to be `phetioState: false` and I'm not sure why, I just listened to @samreid's recommendation. We should discuss that further.

[2018-07-16 23:04] zepumph commented on #180
Also it should be recognized that there is a big todo in `createInstanceDiv` to add an `EmitterIO` creator instead of using `PushButtonIO`'s.

[2018-07-19 20:11] zepumph opened #181 "More explanation needed for `Emitter.listenersToEmitTo`"
I think I mainly understand the defensive nature of having a "stack-like" `listenersToEmitTo` array and `this.listeners` but it is confusing by nature, and documentation is limited. There isn't a jsdoc style type doc currently. I also think more documentation is warranted because it is a pattern that I don't see much in phet code (unless I'm missing it). Maybe it deserves a section in [phet's desi

[2018-07-25 17:11] zepumph commented on #180
@chrisklus and I worked on this today, we instrumented the emitter in `PushButtonModel`, and deleted the added emitted in `PushButtonIO`.

@samreid this seems like a very nice approach. We want to run it by you, but I think this is a good way to go.

Here is what the data stream currently looks like with the scenery input event as well:
[code]

Right now we like the way this looks, it is nice and

[2018-07-27 19:56] zepumph commented on #180
Assigning over to @samreid for review.

[2018-07-31 23:11] samreid commented on #180
The part I'm confused about is why we have both the "button fired" and "button firedEmitter emitted".  Were we hoping to eliminate the former?  Perhaps we should chat at next dev meeting.

[2018-08-01 20:01] zepumph commented on #180
@samreid @chrisklus and I worked on this today, and we converted all *ButtonModel.js types to use instrumented emitters for their phet-io event triggering events. This worked very well save two bugs we found:
https://github.com/phetsims/sun/issues/372 and https://github.com/phetsims/tandem/issues/60

This issue focuses around adding emitters to the button model types. @samreid please review.

[2018-08-09 14:19] samreid commented on #177
Sounds good to me, closing.

[2018-08-09 14:19] #177 closed

[2018-08-20 17:07] pixelzoom commented on #179
I'm back to working on Hooke's Law PhET-iO, and could really use this to troubleshoot https://github.com/phetsims/hookes-law/issues/52.  So I'm going to resume work on this.

[2018-08-20 18:01] pixelzoom commented on #179
Support for this pushed in the above commit.  New option `reentrant` determines whether reentrant calls to `set` are allowed.  It’s default is currently `true`, but we should (re)discuss the value/impact of making this `false`.

[2018-08-20 18:02] pixelzoom commented on #179
@zepumph has been randomly selected to review my work.

[2018-08-20 18:57] zepumph commented on #179
That looks good to me. At first I was surprised that it would be an assertion rather than just a noop, but I think that is smart. Back to you.

[2018-08-20 19:06] pixelzoom commented on #179
After using this to identify cycles in phetsims/hookes-law#52, I'm inclined to leave the default as `reentrant: true`, and use this as a tool to identify cycles, not a requirement that all sims should be cycle-free.  For example, there are corner cases in Hooke's Law where floating-point error causes a values' range to be exceeded, and there's not much choice other than to clamp to the range and c

[2018-08-21 03:57] samreid commented on #179
Why not put the default as `reentrant: false` so that all of the re-entrant Properties must be labeled as such.  How did you identify cycles if the default is `reentrant: false`?  Or were you imagining a temporary code change in axon during testing?

[2018-08-21 15:32] samreid commented on #179
I temporarily set Property.options.reentrant to default to false and ran a set of fuzz testing.  I observed that the vast majority of property instances do not have a problem with reentrance.  I saw 3 patterns for values that did have a problem with reentrance, here are examples of each of the three types:
[code]
Part of the documentation for Property.options.reentrant is:

I would like developers

[2018-08-21 15:42] samreid commented on #179
I commented on slack:

Sam Reid [9:40 AM]
I’ll be committing changes to a dozen or so repos to identify re-entrant properties as part of https://github.com/phetsims/axon/issues/179, please report any problems that you see.

Sam Reid [9:42 AM]
Pushes complete, please pull at your convenience.

[2018-08-21 15:43] samreid commented on #179
@jonathanolson and I further discussed on slack:

Jonathan Olson [9:35 AM]
Fuzzing/CT is unlikely to catch some reentrant Properties that are hard to trigger (e.g. on correct completion of a game).

Sam Reid [9:36 AM]
Ah I see, good point.  Is QA now testing things with assertions?

Jonathan Olson [9:37 AM]
they might be testing debug versions, but might need the console open? not sure

Sam Reid [

[2018-08-21 15:43] samreid commented on #179
@pixelzoom back to you for review, anything else to do here before closing?

[2018-08-21 16:42] pixelzoom commented on #179
@samreid said:

@samreid Should each of the repos where you explicitly set `reentrant: true`, should there be an issue to investigate and document why it's required, or reimplement? Without such an issue, what you've suggested will never happen.

[2018-08-21 16:45] samreid commented on #179
I don't know.  That seems more a question for the team at large.

[2018-08-21 16:47] pixelzoom commented on #179
I'm going to create such an issue for each of my sims.  Will leave this issue open to for developer meeting, so that others are aware and can decide what to do.

[2018-08-21 16:59] pixelzoom commented on #179
Slack:

Chris Malley [10:56 AM]
More sims failing CT following the `reentrant: false` change. bending-light, gene-expression-essentials, masses-and-springs, ph-scale, wave-interference.  All reporting “Assertion failed: reentry detected”.

Sam Reid [10:57 AM]
Good to know, I’ll look into them.

[2018-08-21 17:43] samreid commented on #179
I pushed fixes for those 5 repos and will check Bayes CT again in the future to see if something else comes up.

[2018-08-22 20:40] pixelzoom commented on #179
As of 8/22/2018, 1:59:44pm, gravity-and-orbits is still failing with "Assertion failed: reentry detected" in CT.

[2018-08-22 22:14] samreid commented on #179
I pushed a fix for the gravity and orbits problem that occurred on Bayes CT.

[2018-08-23 19:43] samreid commented on #179
At today's meeting, we decided to create issues for the `reentrant: true` cases.  I'll tackle this.

[2018-08-31 18:40] pixelzoom commented on #179
@samreid FYI, I believe that I've already created issues for all sims that I'm responsible for. E.g. https://github.com/phetsims/acid-base-solutions/issues/155.

[2018-08-31 19:33] samreid commented on #179
Thanks @pixelzoom, I elevated priority to remind me to tackle this sooner rather than later.

[2018-09-04 17:05] #179 closed

[2018-09-05 17:15] samreid commented on #180
@zepumph will delete PushButtonIO.  We don't need emit1/emit2 in the studio interface.  We will add emit1, emit2, etc to EmitterIO once they are first needed.

@zepumph volunteered to look through and remove any types with `events: [ 'fired' ]` that are no longer necessary, and create a new issue to convert remaining types with `events: [ 'fired' ]` to use `Emitter` as appropriate.

[2018-09-05 20:41] zepumph opened #182 "Should each Emitter instance be allowed to emit with any number of args?"
Right now there is complete flexibility on how many arguments you emit with for an emitter instance. So far there haven't seen to be any complaints about this loose system, but @samreid, @chrisklus, and @zepumph ran into difficulties with this for PhET-iO today.

Would this be safer and more maintainable if an Emitter instance was defined with a set number of args that it expected to emit with? Pe

[2018-09-05 20:42] zepumph commented on #182
Adding to developer meeting, although likely it would be nice to have a week of async discussion and thought gathering before bringing this to the team.

[2018-09-05 21:31] samreid commented on #182
I appreciate the simplicity of a single `Emitter` type and I'm not aware of any misusages of it so far.  Another option alluded to in https://github.com/phetsims/axon/issues/182#issue-357394462 would be to pass an option to Emitter indicating the number and/or type of emit arguments.  We kind of have something like that for PhET-iO in `Emitter.options.phetioType`.

[2018-09-05 21:59] samreid commented on #182
Another possibility would be to convert everything to be `emit1` and named as `emit`.  When called with no arguments, then the argument is undefined.  When called with 1 argument, it works as expected. To call with 2+ arguments, you would need to use an array or object.

[2018-09-05 22:59] zepumph commented on #182
For PhET-iO would we then need a `Nullable( phetioArgumentType || ArrayIO( phetioArgumentTypes ) )` typeIO to handle this flexibility across the frame?

[2018-09-05 23:00] zepumph commented on #182
Also note that there are only 35 or so usages of `emit2` and `emit3`. Much less than I would have thought.

[2018-09-06 00:06] samreid commented on #182
Well, each EmitterIO would be created with the appropriate type on a case-by-case basis (instead of thinking of one type that works for everything).  For instance:

[code]

[2018-09-06 00:16] pixelzoom commented on #182
Do Emitter instances typically use one of the `emit*` methods, or are there some case where more than one is used?

[2018-09-06 00:50] zepumph commented on #182
Seems like a hard question to answer definitively. I can say with relatively strong confidence that I have not emitted using multiple methods for the same emitter instance.

[2018-09-06 00:56] pixelzoom commented on #182
Since all listeners are called when any emit method is called, I don't see how using more than 1 of the emit methods would not be buggy.  And if it did work, it seems like a bad practice to use an emitter for more than one purpose.

[2018-09-06 01:05] zepumph commented on #182
Springboarding from that, perhaps the easiest solution to validate is to have an option of type `{number}` called something like `numberOfArgs`. Them `emit3` can assert that `numberOfArgs === 3`.

[2018-09-06 01:10] pixelzoom commented on #182
I'm now recalling the 2 things that I don't like about the current Emitter implementation.
(1) If you need to call a listener with N args, and emitN doesn't exist, you have to add it to Emitter.
(2) Nothing prevents you from using more than one of the emit methods.

What @zepumph proposed in https://github.com/phetsims/axon/issues/182#issuecomment-418930001 sounds like a reasonable way to prevent

[2018-09-06 14:26] samreid commented on #181
I added type doc, and renamed methods and attributes for clarity.  I recommend against adding a new section to the phet design patterns doc, because this is hopefully a pattern that doesn't need to be written again.  @zepumph can you please review changes?  If you have further questions, some may be answered by #72 or let me or @jonathanolson know (we collaborated on this part).

[2018-09-06 16:49] jonathanolson commented on #182
If the concern is serialization, couldn't emitters be given an array of phet-io types for the arguments?

[2018-09-13 18:54] jbphet commented on #182
For the record, I've never had a case where I used different numbers of params from the same emitter.

[2018-09-13 19:11] zepumph commented on #182
Decided in the developer meeting, we will update `Emitter` to only have one method, `emit`. When instantiating this Emitter, we will pass in a `valueTypes` array that holds the types expected in the emit call.

Then in the `emit` method we will assert that all arguments are of the correct length and types. This is hidden behind assert, so performance isn't a concern.

This code will  mimic that of

[2018-09-13 19:19] zepumph commented on #182
(phet-io thanks you)

[2018-09-17 19:34] chrisklus opened #183 "branch: data-flow"
@samreid and I created this branch for one-directional data flow testing, see https://github.com/phetsims/hookes-law/issues/66 and https://github.com/phetsims/phet-io/issues/1349

[2018-09-19 18:15] zepumph opened #184 "Name emitter args for phet-io data stream"
Promoting TODO from Emitter.emit1:
`      // TODO: name the args for the data stream`

This would severely change the data stream api, and should be done before stable API

[2018-09-19 18:18] zepumph commented on #184
@samreid had a great idea! What if we pass in an object to EmitterIO's constructor instead of an array, then we could have named parameter types.

We would want to make sure that we weren't calling `Object.keys` on every emit call.

[2018-09-27 04:39] samreid commented on #184
In an initial investigation, I tried the following changes:
[code]

Most clients are not using the arguments at the moment.  One case that is:
[code]

Would this change to?
[code]

Is that desirable?  How will we coerce types in the EmitterIO listener type?  How will the coerced types pass through?  Do we want those values as args in the callback or nested?  If we just provide an object literal, w

[2018-09-29 00:50] zepumph commented on #184
Discussed with @samreid. He will implement this pattern in the following way:

1. When adding listener to the emitter, we will maintain argument order, rather than nesting everything under a single object. Among other positives, this will keep the method signatures the same, and make it easier for the phet-io engine to serialize the args.
2. For the events stream, we like the named object being em

[2018-10-01 21:23] samreid opened #185 "Problems related to Property value type specification"
For https://github.com/phetsims/phet-io/issues/1359

@pixelzoom said:

From slack conversation, it is clear that we want to support heterogeneous Properties for simulation implementation.

Will instrumented Property instances be homogeneous or heterogeneous?  If heterogeneous, how do we make that work for PhET-iO?  In either case, how can we align the core and phet-io parts so they aren't duplicat

[2018-10-01 21:37] zepumph commented on #185
Number (2) may be solved with https://github.com/phetsims/phet-io/issues/1373.

[2018-10-05 00:29] zepumph commented on #182
I think this is safest to try to accomplish in steps, rather than just one super commit. I think I will do the following steps:

1. update the Emitter constructor to support the way of the future, but don't assert out if it isn't doing it (to support backwards compatability).
2. update the emit() function to support emit1, and transfer emit1 usages.
3. Do the same for emit2
4. Do the same for emit

[2018-10-05 02:06] zepumph commented on #182
* I'm unsure about how to set the `validValues` for Property's `changedEmitter`.

[2018-10-05 02:09] samreid commented on #182
Can they come from the Property's validValues?  Or maybe we don't need to supply them because the Property.changeEmitter is not instrumented?

[2018-10-05 02:15] zepumph commented on #182
I think I would like a mid-point review before proceeding, so far I have:

* added validValues
* converted `emit()` so support any number (up to 3) arguments for phet and phet-io brands
* Converted one usage in Arithmetic, and one in Build A Molecule from emit1 to emit.

Before continuing through usages, it would be nice to know how "on track" these changes are. @samreid do any of you have time fo

[2018-10-05 20:55] zepumph commented on #182
As a note, I just found https://stackoverflow.com/questions/203739/why-does-instanceof-return-false-for-some-literals while working on https://github.com/phetsims/friction/issues/116 which points to a more verbose type check for literals than just `typeof`:

[code]

Just a thought

[2018-10-06 02:56] samreid commented on #182
I don't know much about wrapper types, but it seems unlikely that we would use them interchangeably in our simulations.

![image](https://user-images.githubusercontent.com/679486/46566704-25ab9a00-c8e1-11e8-9bce-6421e4da5dc2.png)

[2018-10-07 00:12] samreid opened #186 "Emitter should accept an option that adds a listener"
Many types such as FireListener and PushButtonModel support adding a listener during construction, which is very convenient.  New usage of Emitter such as https://github.com/phetsims/scenery/issues/861 and https://github.com/phetsims/sun/issues/396 would benefit from a listener arg in Emitter as well.

[2018-10-07 00:18] samreid commented on #186
@jonathanolson does this seem OK to you?  I added Emitter.listener and a sample usage.

[2018-10-08 16:53] samreid commented on #184
Can/should we keep the argument order in data stream emits?

[2018-10-08 19:30] samreid commented on #184
This is fixed in my working copy.  Data stream looks like this:

[code]

I converted many `emit1` and `emit2` sites to use `emit` so they would get the correct arguments.  Lint is passing.  I added docs to studio so it looks like so:

![image](https://user-images.githubusercontent.com/679486/46625895-ce7d1380-caf2-11e8-9dcf-bea53b93db41.png)

Note I also added the correct args for Emit--@zepumph s

[2018-10-08 19:31] samreid commented on #184
I messaged Slack's dev-public channel:

[2018-10-08 19:34] samreid commented on #184
I messaged slack:

[2018-10-08 23:06] zepumph commented on #182
@samreid found an article about optimizing with arguments, https://github.com/petkaantonov/bluebird/wiki/Optimization-killers#3-managing-arguments, and it makes me feel good about using `arguments.length` in the `emit` function. I'm going to try it out and see how it goes.

[2018-10-10 21:40] samreid commented on #184
Leaving self-assigned to investigate converting cases like ArithmeticModel.checkAnswerEmitter from one big results object to lots of small objects.  This will need Emitter.emit() to take arbitrary number of arguments.  I'm also noticing Emitter.emit is allocating array each time--this should be avoided by passing arguments using `apply`, see https://stackoverflow.com/questions/3914557/passing-argu

[2018-10-10 21:43] samreid commented on #182
I'm also noticing Emitter.emit is allocating array each time--this should be avoided by passing arguments using apply, see https://stackoverflow.com/questions/3914557/passing-arguments-forward-to-another-javascript-function

@zepumph can you look into that part?

[2018-10-10 23:53] samreid commented on #184
// ArithmeticModel.js has
[code]

Do we really want to change this to the following?
[code]

Should emitter support emit invocations with named parameters?  That is my main question remaining for this issue before review.  @zepumph what do you think?

[2018-10-11 00:17] zepumph commented on #184
I'm not clear on this question. I thought that the naming would come from phet-io, which makes sense to me, so the above emitter would look something like:

[code]

The rest of what was mentioned above should be covered by https://github.com/phetsims/axon/issues/182

[2018-10-11 00:39] zepumph commented on #184
I think it is acceptable.

[2018-10-11 02:47] samreid commented on #182
Property.js solves this by providing a function `isValidValue` that checks the value.  Would this be a good move for Emitter? Providing either `valueTypes` or `valuePredicates` but not both?

[2018-10-11 15:28] jonathanolson opened #187 "Identifying the Property from a change callback"
There's a case in Scenery where I currently need to identify the Property that changed from a callback. Basically the currently-existing (buggy) code looks like:
[code]
but when `someMethod` is called, it doesn't know which Property changed (only the values). Instead I want to have the callback essentially be `someMethod( newValue, oldValue, property )` (or technically in this case, some way I can

[2018-10-11 17:48] zepumph opened #188 "How to hide Emitter args from phet-io data stream"
The issue is that we don't necessarily want to expose all emitter arguments for every instrumented emitter. Some are not helpful, like a `Trail` or `Node`. Right now we are using the `VoidIO` type to encode those args, but I would like to investigate other potential ideas, of which I currently don't have any. . .

Off the top of my head, could we provide an option the EmitterIO arg schema that say

[2018-10-11 17:49] zepumph commented on #188
This seems like a subset of https://github.com/phetsims/phet-io-wrappers/issues/179

[2018-10-11 17:54] zepumph commented on #184
I created https://github.com/phetsims/axon/issues/188, but that is a little bit different. Otherwise we are looking very good. Thanks.

I think more work will continue in https://github.com/phetsims/phet-io/issues/1383 with simplifying `handlePlaybackEvent.js`

[2018-10-11 19:12] pixelzoom commented on #187
Is there potentially a similar need with `MultiLink` and `DerivedProperty`, where there are multiple `Property` dependencies?

[2018-10-11 19:42] samreid commented on #187
Property.emitter is not phet-io instrumented, so this would not be a problem.

[2018-10-11 19:45] jessegreenberg commented on #187
https://github.com/phetsims/axon/issues/187#issuecomment-429083341

@jonathanolson said that for things that may extend Property, we will need to check for collisions with the id.

[2018-10-11 19:46] jessegreenberg commented on #187
Developer meeting: No objections, @jonathanolson is free to proceed with this.

[2018-10-12 00:40] zepumph opened #189 "Simplify Property type validation"
While talking to @samreid about #182, we discussed ways of trying to (a) have the best validation code possible for Emitter and Property as well as (b) have them both share as much api/code as is reasonable.

We came up with a strategy that would allow us to remove `isValidValue` and `validValues`, and instead inline everything into `valueType`

The goal would be to support all types of `valueType

[2018-10-12 01:50] zepumph opened #190 "Can phetioType cover options.valueTypes in Emitter?"
I investigated this briefly when working on #182, but ran into issues because we don't have access to all typeIOs in phet brand because of the ifphetio! plugin, so I gave up on this for now.  Here is a snippet in the constructor of EmitterIO that seemed promising:

[code]

[2018-10-12 01:54] zepumph commented on #182
I experemented with this in #190, and gave up because the ifphetio! plugin makes this hard.

I removed areTypesOptional array and simplified the emitter logic. I think we are ready to begin to convert usages.

[2018-10-12 02:51] samreid commented on #190
Can you please clarify why the typeIOs are needed?  Would it be OK to specify a `predicate` for each entry in the `EmitterIO` args?

[2018-10-12 14:18] samreid commented on #184
I'm considering keeping the name/type/documentation metadata but going back to emitting arrays based on comments in https://github.com/phetsims/phet-io/issues/1383#issuecomment-429334484. This will (a) enable direct handlePlaybackEvent (b) "factor out" duplicated key names in the data stream (c) make the data stream match EmitterIO.addListener() signature of arg array.

[2018-10-12 16:39] samreid commented on #182
Please note a fix @chrisklus and I committed for the unit tests.

[2018-10-15 17:35] chrisklus opened #191 "When should suffix Property be validated?"
When working on https://github.com/phetsims/graphing-quadratics/issues/14, @samreid and I noticed that if a tandem name for a Property does not end with "Property", an assertion error is thrown, even with `phetioValidateTandems=false`.

@zepumph do you think this is appropriate behavior or should this assertion only check with `phetioValidateTandems=false` ?

[2018-10-15 21:04] jonathanolson commented on #187
This is completed. In a quick review of my previous commit, I did fix a bug (so it's probably worth it to get a quick code review). @ariel-phet thoughts?

[2018-10-15 21:36] samreid commented on #187
The change sets look good.  I also added `this` to the initial `link` callback.  I would also recommend adding at least one unit test that exercises this new functionality.

[2018-10-15 21:41] pixelzoom commented on #187
Should `this.id` be added to Property `toString`?

[2018-10-15 21:50] jonathanolson commented on #187
I'm fine with adding the id to toString. Ok with e.g. `'Property#3{...value...}`?

[2018-10-17 23:17] zepumph commented on #190
If we could access the typeIOs always, then we could save a lot of spots of needing the `predicate`. It's annoying to have the 'number' boilderplate for every single 'NumberIO'.

What if we could move the types out of phet-io?

[2018-10-18 01:38] samreid commented on #189
PhET-iO uses `validValues` to enumerate values for radio buttons, so I'm not sure that would be replaced.  Or maybe we don't need that feature any more?

Also, if we combine all of this checking into one place, we may need a better name than `valueType` (since it would support predicates in general, not just types).

[2018-10-18 03:43] pixelzoom commented on #189
Look to lodash for a better name than `valueType`.

[2018-10-18 14:38] samreid commented on #190
That sounds promising, perhaps moving them to tandem (which is the repo for simulation-side phet-io things)?  Do we need to get @kathy-phet to sign off because it involves moving previously proprietary code out to public?  Any other part of this need discussion at phet-io dev meeting?

Also, how do we specify that something has to be a number greater than zero?  Do we specify `NumberIO` in additio

[2018-10-18 14:43] samreid commented on #189
It seems lodash uses the term `predicate` for cases like this.

[2018-10-18 14:50] kathy-phet commented on #190
I will need to discuss this for reason Sam says.

Kathy

Sent from my iPhone

On Oct 18, 2018, at 8:38 AM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

What if we could move the types out of phet-io?

That sounds promising, perhaps moving them to tandem (which is the repo for simulation-side phet-io things)? Do we need to get @kathy-phet<https://github.com/kathy-phe

[2018-10-18 14:57] samreid commented on #190
The types that would move from phet-io/js/types would be:
ArrayIO
BooleanIO
FunctionIO
NullableIO
NumberIO
ObjectiO
StringIO
VoidIO

The type that would remain is:
PhetIO.js (soon to be renamed to something like PhetioEngineIO.js

phet-io/js currently has 2673 lines of code.  Removing the types identified above reduces this to 2172 lines of code (so about 20% of the js).  The expected benefit is t

[2018-10-18 15:46] jonathanolson commented on #186
Sounds good to me, was useful.

[2018-10-18 16:01] jonathanolson commented on #187
Added unit tests and the toString(). Closing.

[2018-10-18 16:01] #187 closed

[2018-10-18 16:01] pixelzoom commented on #191
I think it's appropriate to throw the error regardless of `phetioValidateTandems=false`.  The programmer has done something wrong, versus something incomplete.

[2018-10-18 16:13] jonathanolson commented on #189
It would be nice to have nice enumeration support here.

What is the recommended way to port validValues?

[2018-10-18 17:38] zepumph commented on #190
Decided today in the PhET-iO meeting. @kathy-phet and devs are alright with us moving these types to tandem. We will not move the PhETIO.js IOType.

[2018-10-19 01:09] zepumph commented on #190
Now that #1396 has been handled. I am going to put the core phet type on the `coreType` key of the static properties in the IOTypes, and then use that in EmitterIO to formulate the EmitterIO's valueTypes. Then Emitter.js can either use the `valueTypes` provided with it's options, or from the EmitterIO type.

[2018-10-19 02:30] zepumph commented on #190
I discussed this further with @samreid. We decided that instead of having a `coreType` key, it made more sense for a general `isInstance` function that can check if anything is of said IOType's core type.

This is working really well in phet-io, but not in phet brand. This is because we are relying on `phetioInherit` to assign the `isInstance` call to the subtype. As a result, I can't commit anyth

[2018-10-19 03:30] samreid commented on #190
Nice patch!  Here are some possibilities for moving forward:

1. Move `phetioInherit.js` to tandem
or
2. Provide a phet-brand compatible definition of phetioInherit that does a subset of the phetioInherit work, such as assigning static properties or a subset of static properties.  OR make it so when ifphetio is false, `phetioInherit` instead calls `inherit`.
or
3. Assign `isInstance` methods outsi

[2018-10-19 15:50] samreid commented on #186
Thanks @jonathanolson, closing.

[2018-10-19 15:50] #186 closed

[2018-10-19 15:52] samreid commented on #191
Self-assigning in case I get to this first.

[2018-10-19 15:59] chrisklus commented on #191
@samreid does anything need to be done for this given @pixelzoom's comment?

[2018-10-19 16:01] samreid commented on #191
Good point @chrisklus, the behavior is already as prescribed, closing.

[2018-10-19 16:01] #191 closed

[2018-10-19 17:05] chrisklus commented on #182
@zepumph made progress on this in https://github.com/phetsims/axon/issues/190, @zepumph is this current issue still block-publication?

[2018-10-19 17:07] zepumph commented on #182
Yes I think so. There are many usages of emit1,2, and 3 that need to be moved over. Because it is in the half finished state that it is right now, I want to keep that label on.

[2018-10-24 22:55] zepumph commented on #190
Blocked by https://github.com/phetsims/phet-io/issues/1401

[2018-10-25 01:29] zepumph commented on #189
Depending on how formal we want to get, I like one of the following two ways:

* declare valid values as a function:
[code]

Or we create a static `Validators` type with functions to do this for you:
[code]

Maybe the second is a bit clunky, not sure which one I prefer.

[2018-10-25 02:49] pixelzoom commented on #189
Validation is not always an equality comparison.  E.g.:

`predicate: value => ( typeof value === 'number' ) && ( value >= 0 )`

`predicate: value => value instanceof Quadratic || value === null`

So validation needs to support general boolean expressions. I don't think the `Validators` approach suggested above is practical for that, and I prefer a function declaration.

[2018-10-25 02:54] samreid commented on #189
With our new Enumeration library, we could use:
[code]

[2018-10-25 02:55] pixelzoom commented on #189
If we flatten Property validation into one `predicate` option, here are the things that we need to support.  Some of these are currently supported by Property's validation options, some of these we've had to workaround by writing `isValidValue` functions.

* `value => {{boolean expression}}`
* `instanceof` one or more classes
* `typeof` one or more JS types
* `Enumeration`
* `null`
* combinations

[2018-10-25 18:45] zepumph commented on #182
Removing block-publication because CL is in rc with these changes, and bayes doesn't seem to mind the intermediate state we are in.

I will read it if master becomes unstable while continuing work on this issue.

[2018-10-25 19:55] zepumph commented on #189
This was discussed in the meeting today. A large focus was trying to see how the phet-io needs would fit into a general case.

There seemed to be a consensus that moving to a pattern that only accepted functions as predicates seemed ok. This goes against what @pixelzoom recommended above, and instead looked at converting all of the above list into functions to be passed in as the predicate option

[2018-10-25 23:37] zepumph commented on #190
phetioInherit has now been moved. I'll continue work on this.

[2018-10-26 01:58] pixelzoom commented on #189
@samreid said:

To clarify, my recommendation was based on the requirements that @zepumph established in the first comment of this issue:

If you want to change the requirements and convert everything to predicate functions, I might have a different recommendation.

[2018-10-26 15:31] jessegreenberg opened #192 "Bayes CT error: Cannot set property '1' of null"
The following started showing up for a number of sims in Bayes CT

[code]

Started showing up after commits a854043d4d5ce1ea583d0a60af52a28039ff31f0 and phetsims/sun@da2596fe66b1c5b3b784083bdbbf61311f3a40f1, so probably related to those commits.

[2018-10-26 15:32] jessegreenberg commented on #192
The problematic Multilink in CCK: DC is the one in ButtonModel for https://github.com/phetsims/sun/commit/da2596fe66b1c5b3b784083bdbbf61311f3a40f1, which confirms the relation.

[2018-10-26 15:36] KatieWoe commented on #192
https://github.com/phetsims/expression-exchange/issues/138
https://github.com/phetsims/energy-skate-park-basics/issues/441
https://github.com/phetsims/circuit-construction-kit-common/issues/438
https://github.com/phetsims/build-an-atom/issues/196
Links to previously made issues relating to this.

[2018-10-26 15:36] jessegreenberg commented on #192
Thanks @KatieWoe, sorry about that.

[2018-10-26 21:41] jessegreenberg commented on #192
The problem is that listeners on dependencies of a Multilink are still being called after the multilink has been disposed because all listeners in the Property changedEmitter.activeListenersStack are called. And this is a problem because when the multilink is disposed, `dependencyValues` (used in the listener) is set to null.

I am wondering if it would be OK to not call the dependency listener if

[2018-10-26 21:57] jessegreenberg commented on #192
I committed this after running through unit tests and some tests with test-server, @samreid since you are the author of Multilink could you please review this change? Does it seem safe to not call dependency listener if Multilink has been disposed?

[2018-10-29 16:37] jessegreenberg commented on #192
https://github.com/phetsims/axon/commit/91748bfa4342519f4442d65542771b588962270a looks great, thanks for reviewing.

[2018-10-29 16:37] #192 closed

[2018-11-01 16:29] jonathanolson opened #193 "Avoid storing initial value in Property sometimes?"
It seems that it always will take up additional memory by storing the initial value, particularly when it is never used (especially if it is a large object). Can we have an option, or a way to clear the initial value? (I'd prefer not to initialize it as `null` and have everything that hooks in able to handle `null`).

This came up as part of a memory leak in fractions-common, where whenever a Prop

[2018-11-01 20:58] pixelzoom commented on #116
Reopening.  Noted during https://github.com/phetsims/graphing-quadratics/issues/43.  As currently implemented, the client can change `phetioType`.  Is that really desired, or should `phetioType` be set by BooleanProperty?

Same issue in StringProperty and NumberProperty.

[2018-11-01 21:08] samreid commented on #116
The current code is
[code]

@pixelzoom is asking if we should go to a pattern more like:

[code]

In my opinion, the former pattern is superior because it allows extensibility--if we later have a subclass of BooleanProperty that needs to provide its own phetioType, it would be able to do.  Hard-coding the `phetioType` makes this impossible.

[2018-11-01 23:13] pixelzoom commented on #116
How is it possible to use a different value for `phetioType` when it's impossible to use a different value for `valueType`?  See BooleanProperty constructor below.

And isn't the point to have consistency for these type-specific Property subclasses?

[code]

[2018-11-01 23:28] pixelzoom opened #194 "unify valueType and phetioType options"
While we're doing https://github.com/phetsims/axon/issues/189 (Simplify Property type validation) ...

Let's consider unifying `valueType` and `phetioType` options.  They are currently 2 very different ways of expressing identical semantics. Duplicating this information is undesirable for both instrumentation and maintainability.

Examples...

GRAPHING_QUADRATICS/GQModel

[code]

GRAPHING_QUADRATI

[2018-11-02 00:49] zepumph commented on #194
Wow what a great issue to create! We are looking into this for Emitter right now and it is going very well, see https://github.com/phetsims/axon/issues/190. To decide the main schema for determining what a "valid value" is, we will need to wait on the decision in https://github.com/phetsims/axon/issues/189

[2018-11-02 01:56] pixelzoom opened #195 "support for valueType:Array"
Noted during Graphing Quadratics code review https://github.com/phetsims/graphing-quadratics/issues/43, when working on this checklist item:

"Use Array.isArray to type check an array" does not appear to be the case in Property validation.

Example in GRAPHING_QUADRATICS/GQModel:

[code]

Property's `valueType` option is handled by assertValueType.js, which contains no special handling for `Array`

[2018-11-02 01:59] pixelzoom commented on #195
To fix assertValueType.js, add this after line 34:

[code]

Does that seem like an acceptable solution?

[2018-11-02 02:01] pixelzoom commented on #195
The above passed lint. But WebStorm is complaining about `( valueType === Array )`, with message "Binary operation argument type Function is not compatible with type ArrayConstructor".   Can anyone translate that for me? Something to be concerned about?

[2018-11-02 02:03] pixelzoom commented on #195
GRAPHING_QUADRATICS/GQModel appears to be the only place where `valueType: Array` is used.

[2018-11-02 02:07] pixelzoom commented on #195
Since I don't have time to be a trailblazer here, I changed GRAPHING_QUADRATICS/GQModel to handle the Array.toArray call, i.e.:

[code]

Leaving this issue open to decide how to handle in general.

[2018-11-02 02:10] pixelzoom commented on #194
See also https://github.com/phetsims/axon/issues/195, proper handling of `valueType: Array`.

[2018-11-02 02:11] pixelzoom commented on #189
See also https://github.com/phetsims/axon/issues/195, proper handling of `valueType: Array`.

[2018-11-02 03:18] samreid commented on #116
I also prefer the `options.valueType = 'boolean';` to be in the options, for the same reason.

[2018-11-02 03:49] pixelzoom commented on #116
So you're saying that we might need to set BooleanType to something other than `valueType: 'boolean'`?   I'm having a difficult time coming up for a reason why that would be necessary or desirable.  Do you have a plausible scenario?

[2018-11-02 03:54] pixelzoom commented on #116
So if we move `valueType` and `phetioType` to options as you've suggested, then I can write this and nothing will complain:

[code]

Trying to understand why that's OK or even desirable.

[2018-11-02 03:54] samreid commented on #116
My objection is to the pattern in general. If I came up with an example for this particular case it would be very contrived.

[2018-11-02 03:58] pixelzoom commented on #116
You object to giving subclasses control over specific superclass options by preventing clients from from setting those options?   Nothing wrong with this example?

[code]

[2018-11-02 04:05] samreid commented on #116
Perhaps the general case would be to provide something like this:

[code]

This would allow subtypes to provide instances of type B extends A.  But I think you are right about constants/primitives.

[2018-11-02 04:09] pixelzoom commented on #116
That general case is nothing but type checking.  That's different from taking full responsibility for an option value.  Which I thought was the point of BooleanProperty -- to be responsible for ensuring that values were of type `boolean`.

[2018-11-02 04:13] samreid commented on #116
So is the recommended solution something like this?

[code]

That seems great for this case.

[2018-11-02 04:28] pixelzoom commented on #116
Yep, BooleanProperty constructor would be:

[code]

What I understood you to mean in https://github.com/phetsims/axon/issues/116#issuecomment-435258731 was:

[code]

... but that allows the client to bypass  BooleanProperty's sole responsibility.

[2018-11-02 04:31] samreid commented on #116
I'm on board, thanks for talking me through it!  Committed above, anything else for this issue?

[2018-11-02 04:41] pixelzoom commented on #116
Should we do the same for StringProperty and NumberProperty?

[2018-11-02 04:42] pixelzoom commented on #116
NumberProperty is currently `phetioType: NumberIO`.  Shouldn't that be `phetioType: PropertyIO( NumberIO )`?

[2018-11-02 04:43] samreid opened #196 "convert to type-specific Property subclasses"
In https://github.com/phetsims/axon/issues/116 we discussed using `BooleanProperty` instead of `Property({phetioType: PropertyIO( BooleanIO )}` and I detected approximately 82 occurrences of the latter.  Should they be converted to `BooleanProperty`?  It seems to me they should.  @chrisklus if you agree, can you please address this?

[2018-11-02 04:45] samreid commented on #116
NumberProperty currently has this code:

[code]

Note `phetioType: NumberPropertyIO` as opposed to `phetioType: NumberIO`.  Please see `NumberPropertyIO` for more details.

Yes, I suspect so.  I'll commit shortly.

[2018-11-02 04:46] pixelzoom commented on #116
Ah, I see... NumberProperty is currently `phetioType: NumberPropertyIO`.

[code]

Is NumberProperty different from the others because it saved state?

[2018-11-02 04:48] samreid commented on #116
It looks like NumberPropertyIO adds the numeric range and number type, which are not part of NumberIO.

[2018-11-02 04:48] samreid commented on #196
Same thing for `phetioType: PropertyIO( StringIO)`, that seems like it would be better as `StringProperty`

[2018-11-02 04:53] samreid commented on #116
Proposed fixes committed, ready for review.

[2018-11-02 04:57] pixelzoom commented on #196
The first thing that I've done to prepare a sim for instrumentation is to use BooleanProperty, NumberProperty, and StringProperty wherever possible.  So +1 for conversion.

[2018-11-02 05:11] pixelzoom commented on #196
I'm going to make issues for any of my sims that need to be converted to use BooleanProperty, NumberProperty, and StringProperty.  I'll link to this issue.

[2018-11-02 19:43] zepumph commented on #189
Marking as high priority so that we get to it next dev meeting. A fair bit of work for emitter and property is blocked by this issue.

[2018-11-06 16:29] pixelzoom commented on #116
Looks good, closing.

[2018-11-06 16:29] #116 closed

[2018-11-07 23:46] zepumph commented on #184
In the above commits from Monday, @samreid and I solidified what we think is a good look to Emitter events on the data stream. Here is an example, notice that now all keys under the "args" object are values, rather than being mixed with metadata like `argumentOrder` (which is now a sibling to `args`).

We also decided that `argumentOrder` was an implementation detail, only needed for `phetioPlayba

[2018-11-08 13:56] samreid commented on #184
To summarize our positions on this issue:

1. We prefer named parameters
2. We currently prefer duplicated metadata as opposed to frontloading
We also discussed splitting out parameters to data + metadata in https://github.com/phetsims/phet-io/issues/1411 and will continue in that issue.  This issue is ready to close.

[2018-11-08 13:56] #184 closed

[2018-11-08 17:37] jonathanolson commented on #193
@ariel-phet the commit above could probably use a brief review by another developer.

[2018-11-08 18:15] ariel-phet commented on #193
@pixelzoom I believe this is a pretty quick review if you are available.

[2018-11-08 20:50] pixelzoom commented on #193
Documentation for DymanicProperty `getInitialValue` was wrong, looked like a copy-paste error, fixed in the above commit.  Otherwise looks good.  Unclear if work is done (no "ready-for-review" label) so back to @jonathanolson.

[2018-11-08 23:32] zepumph commented on #189
Again this was discussed again today.

Most of the conversation was taken up in just understanding the current limitations, as well as the variety of potential solutions that we could go with.

Right now we are basically trying to determine a general, and consistent way to conduct value validation. In Property we want to have a value validated in the same way as for each argument for Emitter, as w

[2018-11-09 20:35] jonathanolson commented on #193
Thanks, sorry about that! Should be done, closing.

[2018-11-15 19:05] samreid commented on #189
Pushed to next week.

[2018-11-16 01:14] pixelzoom opened #197 "buggy behavior of bidirectional DynamicProperty"
@samreid @zepumph @chrisklus FYI.

This issue is related to understanding why `reentrant: true` is needed for a bidirectional DynamicProperty in GRAPHING_QUADRATICS/CoefficientSlider, see https://github.com/phetsims/graphing-quadratics/issues/52 and https://github.com/phetsims/sun/issues/417.

Here's an example, a bidirectional mapping where `viewProperty` is the square of `modelProperty`.

[code]

[2018-11-16 01:38] pixelzoom commented on #197
I tried adding a couple of flags to short-circuit "ping ponging" of `map` and `inverseMap`.  I don't know if this is complete or correct, but it seems to solve the problem.

[code]

Previous console tests now seem to behave as I'd expect. That is, there no "ping ponging" of `map` and `inverseMap`. And more importantly, `reentrant: true` can be removed from both `modelProperty` and `viewProperty`.

[2018-11-16 01:44] pixelzoom commented on #197
I also verified that the guard flags added in https://github.com/phetsims/axon/issues/197#issuecomment-439252158 allow me to remove `reentrant: true` from the `DynamicProperty` in `GRAPHING_QUADRATIC/CoefficientSlider`.  And it resolved the `reentry detected` assertion failure that was occurring with Studio in https://github.com/phetsims/graphing-quadratics/issues/52, allowing us to remove `phetio

[2018-11-16 02:13] pixelzoom commented on #197
Top priority, since this fixes phetsims/graphing-quadratics#52 which is also top priority.

[2018-11-16 02:30] samreid commented on #197
DynamicProperty unit tests pass with the changes proposed in https://github.com/phetsims/axon/issues/197#issuecomment-439252158

[2018-11-16 02:51] pixelzoom commented on #197
Something like this (untested) might be a better solution.  It puts the guards inside `this.map` and `this.inverseMap`.

[code]

[2018-11-16 18:12] pixelzoom commented on #197
Yeah, that's why I said:

So however you want to solve this is fine with me.  My "solution" was to illustrate the "bouncing", and to verify that eliminating the bouncing solved the other problems that we were seeing in Graphing Quadratics.

[2018-11-16 18:13] pixelzoom commented on #197
Whatever the solution, it also seems like `DynamicPropertyTests` should be augmented to verify behavior related to this issue.

[2018-11-26 19:10] jonathanolson commented on #197
I'm running fairly comprehensive testing on a solution right now, I'll expect to commit soon.

It cuts off the Property changes in either direction when `a===map(b)` or `inverseMap(a)===b` (making sure that it is the same Property that the changes result from, etc.)

For testing, it's possible to use a map/inverseMap pair that are obviously not an "exact" inverse:

[code]

[2018-11-26 19:47] jonathanolson commented on #197
Pushed the main behavior, will be adding full tests.

[2018-11-26 20:40] jonathanolson commented on #197
@ariel-phet should this change be reviewed?

[2018-11-27 19:45] pixelzoom commented on #197
The example in https://github.com/phetsims/axon/issues/197#issue-381406272 is not behaving as expected.  I'm still seeing ping-ponging and multiple consecutive calls to the same function. Example console output:

[code]

[2018-11-27 19:49] pixelzoom commented on #197
In all of the above examples, it looks like the first call (to map or inverseMap) is somehow related to the previous example.

[2018-11-27 20:33] pixelzoom commented on #197
Discussed with @jonathanolson via Zoom.    The first and third calls in each example are actually done in `if` expressions internal to DynamicProperty, to prevent ping-ponging.  The second call is the only one that results in Property value assignment.    So this is working as expected, here and in Graphing Quadratics.   I feel like I've reviewed the code sufficiently, so closing.

[2018-11-27 20:33] #197 closed

[2018-11-29 16:40] samreid opened #198 "Should we add PropertyIO.changeInitialValue or PropertyIO.reset?"
During https://github.com/phetsims/QA/issues/224 @KatieWoe pointed out it might be useful to change the initial value of Property instances so that reset works seamlessly.

Also, should PhET-iO clients be able to reset Properties?

[2018-11-29 17:33] zepumph commented on #189
I'm sorry I didn't get to this again. I will work on it this afternoon and we will talk next week.

[2018-11-29 23:53] zepumph commented on #198
I could imagine a nice studio UI button for that too, like "reset"

[2018-11-30 22:35] zepumph commented on #189
I went down a road after a lot of thought from the above documented conversation, and by looking at many potential usages of Emitter, both for phet-io and phet.

Proposal implemented entirely in the above commit:

I formalized the definition of what is considered a "type" that a value can be checked against and created `TypeDef.js`. Then I updated Emitter to test it out.

All Emitter arg validatio

[2018-12-03 14:37] erikjreid commented on #188
Also related to https://github.com/phetsims/scenery/issues/875

[2018-12-03 14:38] samreid commented on #188
Also related to https://github.com/phetsims/scenery/issues/875

[2018-12-03 21:08] samreid commented on #195
On hold until #189 is decided.

[2018-12-04 23:06] samreid commented on #188
My comments are here: https://github.com/phetsims/scenery/issues/875#issuecomment-444293973

[2018-12-04 23:50] samreid commented on #189
Some preliminary thoughts:

[code]

seems preferable to:
[code]
because Option A is simple very clear what is happening without needing to rely on a library function.  But Option A is not marked as `isPredicate = true` so, would it work?  Also, I'm unclear on why things need to be marked as `isPredicate` or not, especially if they are put as a `predicate` attribute.  Presumably that is for another

[2018-12-05 02:50] zepumph commented on #189
Unfortunately the `isPredicate` flag is the only reliable way for `TypeDef` to know if the function "type" it has is like `Node`, and `instanceof` should be checked on it, or if it is a predicate, and it should be run and a boolean expected.

You are correct that in this case, where we are passing it in as a `predicate` value to EmitterIO, that we could get around this, but I was also trying to su

[2018-12-05 03:09] samreid commented on #189
Got it, thanks!

[2018-12-05 16:06] samreid commented on #198
`setInitialValue` sounds too much like it may be setting the current value to be the initial value.  Perhaps the method should be `changeInitialValue` or `changeResetValue`.

[2018-12-05 17:06] samreid commented on #194
On hold until #189 is complete.

[2018-12-05 19:03] zepumph commented on #190
Yes agreed, there are many scary pieces of phetioInherit that will need to be changed when we add support for es6.

Yes

That is the goal. Again this is still in progress, and I didn't want to change production code too much before discussion #189 this week.

I'm not sure, WebStorm added that in for me. If I had to guess it looks like it a signature that takes in `*`, with default (signified with

[2018-12-10 04:52] samreid commented on #80
I noted that in Graphing Quadratics, listeners with no emitters (in the `emit` call) were called thousands of times, so it seems best to check for the existence of listeners and avoid push/pop.  I also ran a test for the time form when Sim constructor is called to when `Profiler.start( self );` is called.  Here is the raw data:

[code]

The averages are:
guard 1: 862
no guard: 893
guard 2: 906

No

[2018-12-10 04:53] samreid commented on #80
I should note, all of those tests were done on Macbook Pro running Chrome.  Anyways, closing for now.

[2018-12-10 04:53] #80 closed

[2018-12-12 17:34] zepumph commented on #185
Discussed in phet-io team meeting today,

Heterogenous Properties aren't used often. Most often it is a code smell that should be refactored (as was the case while instrumenting the gameStateProperty in BAA). If it is needed, then PhET-iO Does support it, via creation of an IOType like `StringOrNumberIO`. Though this isn't ideal, we have yet to run into this in 3 years, and can talk about it more

[2018-12-13 00:43] zepumph commented on #190
Closing this issue. Further work will continue in #189

[2018-12-13 00:43] #190 closed

[2018-12-13 20:06] zepumph commented on #189
I will come back next week with a discrete list of options to choose from.

[2018-12-13 21:57] pixelzoom commented on #185
@zepumph said:

Two common examples of heterogenous Properties:

`{Property.<SomeType|null>}`
`{Property.<Color|string>}`

So while I agree that some uses of homogenous Properties have a code smell, there are appropriate uses, and we shouldn't do anything to prevent it.

That said, I'm OK closing this issue, since the points raised are being addressed in other issues.

[2018-12-13 21:57] #185 closed

[2018-12-20 01:45] zepumph commented on #189
I have hashed out 5 options. I think we will likely come up with a combination of some of them, but it is good to brainstorm.

* Option 1:
  adapt Property and Emitter to use the {TypeDef} type when defining an allowed value/argument type. Usages are different between phet and
  phet-io instrumented instances.

  PhET-iO Uninstrumented:

  Property:
[code]
  Emitter:
[code]

  PhET-iO Instrumented

[2018-12-20 16:18] samreid commented on #189
One way to support PhET-iO for Option 3.  This matches precedent set by Property.js and doesn't force us into providing parallel arrays (like if we supplied argumentTypes alongside phetioType: EmitterIO(ioTypeArray)).  Main disadvantage is that it breaks the pattern where you pass `phetioType` to an instantiation.

[code]

[2018-12-20 21:18] zepumph commented on #189
Notes from discussion with @samreid about how to proceed.

[code]

NOTES:
* For emitter, you can't provide phetioType AND argumentTypes. In addition, each entry cannot have a `valueType` and `phetioType`, because they fill the same niche (I think).
* For Property, Cannot provide `phetioType` and `valueType`, assertion
* No reference from Constructor --> IOType, because that is too clever, only ref

[2018-12-21 19:41] samreid commented on #189
I've seen a few places where this type validation could be useful outside of Emitter and Property. For instance, this code:

[code]

Could become:
[code]

Also, `TypeDef` may not be the best name for this type.  Perhaps something like `Validator` would be better.

[2018-12-21 21:07] zepumph opened #199 "Why does Events.off need to return the index?"
@samreid And I couldn't find any usages of the return value from `off` or `offStatic`. I think it would be good to double check with @jonathanolson before getting rid of it though.

[2018-12-21 21:08] zepumph commented on #199
I used ` = (\w*\.){0,3}off(Static){0,1}\(` to search for usages.

[2018-12-21 21:31] samreid commented on #189
`Validator` seems promising.  `Type.*` is not accurate because it is not confined to checking types.  It is unfortunate that `isValidValue` is already reserved, because it is the perfect name for the `Validator` method.  I agree about the 2 methods you identified.

[2018-12-21 22:16] zepumph commented on #198
One strategy would be to have the instance support this, but a general solution could be for phetioEngine to handle this.

In phetioEngine as part of https://github.com/phetsims/phet-io/issues/1420 we began supporting something called "initialState"

What if each instance that supports this could also have something like "initial state" and we would be able to check against that, and "reset" accor

[2018-12-22 05:03] samreid commented on #189
This would come in handy for https://github.com/phetsims/wave-interference/issues/275, I may try out some ideas.

[2018-12-22 06:14] samreid commented on #189
Update: I've made significant progress in factoring out validation from Property and reusing it for options.  Not to a commit point yet, but wanted to let you know I'm headed that way.

[2018-12-22 16:35] samreid commented on #189
A brief summary of the work so far:

* Added Validator.js, which is a singleton described as: Throws assertion errors if a value doesn't match the specified criteria.
* Refactored Property.js to use Validator.js.  This simplifies the logic in Property.js and makes its same logic reusable elsewhere.  I added features to Validator to keep reasonable performance for Property--this was important becau

[2018-12-22 17:05] samreid commented on #189
Changes pushed, I'll mark this as blocks-publication until it's been reviewed.  I'll also keep an eye on Bayes CT.

[2018-12-22 17:59] samreid commented on #189
Here's a patch that demonstrates one API for consolidating validation and option defaults, using Slider.options.orientation as an example:

<details>

[code]
</details>

If desired, we could also add a lazy variant so that default values aren't instantiated unless they are needed.  This has been a problem on a number of occasions, here's one API to solve that (though note in this case the overhead

[2018-12-22 18:30] pixelzoom commented on #189
In https://github.com/phetsims/axon/issues/189#issuecomment-449582254, @samreid said:

Validator consolidates the description, validation and assignment of each config field.  But it in no way provides a consolidated view of the entire config.  Imo, for options and config, Validator is not a superior pattern.  See https://github.com/phetsims/wave-interference/issues/275#issuecomment-449589365

[2018-12-22 18:32] pixelzoom commented on #189
In said https://github.com/phetsims/axon/issues/189#issuecomment-449587801, @samreid said:

Please don't apply this to common code until we've had a dev discussion.  I'm not at all in agreement that Validator is a good replacement for the current `options` pattern.

[2018-12-26 21:51] zepumph commented on #189
@samreid @chrisklus and @zepumph looked into `validateOptionsOnValidateValue` today. @samreid noted that his purpose for creating it was to increase performance in the `set` call, so that Property can opt out of calling `validateOptions` each time you call `Property.set()`. We calculated that with validating options  was 240% the time that it took to just `validate`, i.e on average in SOM validate

[2018-12-27 02:33] zepumph commented on #189
Right! That is what we were questioning. I think right now I am leaning toward getting rid of the complexity (for example in Property's option extend call) because this hit is only done during requirejs mode.

On the other hand. We know that @jonathanolson has implemented some tests/checks under `assertSlow` for this exact reason. I don't think we are talking about performance problems on that lev

[2018-12-27 02:57] pixelzoom commented on #189
From Property.js -

[code]

The default is not to validate?... We might as well not validate anything if this is the default.

[2018-12-27 03:00] pixelzoom opened #200 "Property validatorOptions doesn't meet code standards"
This problem was introduced in https://github.com/phetsims/axon/issues/189.

`validatorOptions` was recently added as an option to Property.  It is has no documentation or default value in the options hash.  It should be something like:

[code]

[2018-12-27 03:02] pixelzoom commented on #200
Ah... Sorry, `this.validatorOptions` is not a new option.  It's cherry picking from `options`.  Closing.

[2018-12-27 03:02] #200 closed

[2018-12-27 03:05] zepumph commented on #189
I thought this too! But notice that property is validating options in the constructor still. Then @samreid showed me the possibilities for generality with usages in wave interference. After looking there,  how do you feel about the option?

[2018-12-27 03:17] pixelzoom commented on #189
Property's constructor is validating initialization only.  That's better than nothing, but close to nothing, and certainly not an appropriate default when assertions are enabled.

What am I looking at in Wave Interference?  I see that Scene is using Validator for some validation that's not related to Property, and that's nice. But what justification does that provide for not validating Property af

[2018-12-27 03:30] pixelzoom commented on #189
OK... `validateOptionsOnValidateValue` is confusing.  Next question is, if validation options are indeed immutable, why is `validateOptionsOnValidateValue` needed at all?  When would validation of validation options need to be done more than once?

[2018-12-27 03:32] pixelzoom commented on #189
Couldn't `Validation.pluckOptions` validate what it plucks?

Also recommend to rename `pluckOptions` to `pickOptions`.  Options are picked or omitted, not plucked.

[2018-12-27 03:45] samreid commented on #189
I was worried it would be confusing.  I considered omitting it altogether but wasn't ready to incur an up to 1% `?ea` performance penalty without discussing it with the team, so I have instead attempted to document it thoroughly and I'm glad we are discussing it.

There are two types of use cases of Validator.validate().  Type A (exemplified in Property and will also be seen in Emitter) is called

[2018-12-27 03:55] samreid commented on #189
Here's a patch that accomplishes that.  Once a set of options has passed validation, it is marked as approved.  Options marked as approved aren't checked again.  However, this has the side effect that it mutates options.  Or if options are mutated and reused it could have an incorrect approval, etc. etc.

[code]

[2018-12-27 04:08] samreid commented on #189
This issue overlaps somewhat with https://github.com/phetsims/wave-interference/issues/275#issuecomment-450068968

[2018-12-27 04:20] samreid opened #201 "Should we separate Validator.options.valueType into valueTypeOf + valueInstanceOf?"
From Validator.js:

[code]

Related to #189.

Client code would change from:
[code]
to
[code]

Self assigning to consider before bringing it to the dev team.

[2018-12-30 03:42] pixelzoom commented on #126
Way back when this issue was created, Emitter.dispose was:

[code]

It is currently:

[code]

So this problem no longer exists, and I'm closing this issue.  @jbphet if you disagree, please reopen.

[2018-12-30 03:42] #126 closed

[2018-12-30 03:43] pixelzoom commented on #69
This is never going to happen, so I'm withdrawing the proposal and closing this issue.

[2018-12-30 03:43] #69 closed

[2018-12-30 03:46] pixelzoom commented on #36
This issue has received little discussion in the 4+ years since it was created, so apparently there is no need for such a feature.  So I'm going to close this issue.

[2018-12-30 03:46] #36 closed

[2018-12-30 03:49] pixelzoom commented on #117
@samreid what's left to do here?

[2019-01-02 03:19] samreid opened #202 "Can/should we consolidate options/config default value + documentation + assignment + validation?"
From conversation in https://github.com/phetsims/wave-interference/issues/275#issuecomment-450068968

I'd like to get feedback from other developers, so I'll mark this for developer meeting.  This is a long issue, so I'll summarize briefly here and again during dev meeting.

Please refer to how `_.extend({},config)` is used in wave-interference/js/common/model/Scene.js and area-model-common/js/com

[2019-01-02 03:19] samreid commented on #202
We discussed this at developer meeting today.  Here are some raw notes.  Leaving self assigned to add more reflection before we move on:

JO: would be nice to quickly scan a file and see the ...
AccordionBox is quickly scannable and readable.

But maybe this belongs in documentation, not in a _.extends call.

It's too difficult to look into Validator.validate lines to see what all eth options are.

[2019-01-02 03:19] samreid commented on #202
What about when we need to call super(options) with an extended options?  In that case, we need to call `_.extend({},options)` anyways, right?

[2019-01-02 15:30] samreid commented on #117
This question was asked in https://stackoverflow.com/questions/35562307/count-where-in-a-collection and garbage is noted as an issue.  The `sumBy` approach doesn't seem superior to `ObservableArray.count`

I'm also seeing ObservableArray.reduce which could be switched to lodash, leaving self assigned to investigate.

[2019-01-02 15:37] samreid opened #203 "ObservableArray.reduce improvements"
From #117 we determined that ObservableArray.reduce has the following problems:

1. It has a different signature than Array.reduce (args in different order)
2. It doesn't use the lodash or JS implementation
3. It is rarely called (maybe only once or twice).

We should delete it or fix it.

[2019-01-02 15:37] #117 closed

[2019-01-02 15:42] samreid commented on #202
Issues like https://github.com/phetsims/phet-io/issues/1179#issue-243523424 mention garbage that is often created and thrown away when creating default option values.  But if we move to the pattern identified in Scene.js like this:

[code]

Then we could also introduce a lazy option default like so:

[code]

[2019-01-04 03:42] samreid commented on #189
From today's dev meeting:

Conversation A: using Validator in Property, and in standalone and in Emitter
CM: Seems OK.
	SR: MK and I will leverage that in Emitter.

	CM: can NumberProperty use validator for

	    // @private {function|null} value validation that is specific to NumberProperty, null if assertions are disabled
    this.assertNumberPropertyValidateValue = assert && function( value ) {

[2019-01-04 03:44] samreid commented on #202
From today's developer meeting:

Conversation B: should we redo how we support options

MK: Middle ground is to leave _.extend(options) as it is, and use validator to combine like this:
    // @private - // {string} horizontal alignment of the content, 'left'|'center'|'right'
    this._contentAlign = Validator.validate(options.contentAlign,{validValues:['center','left','right']});

JO: As long as

[2019-01-04 03:44] samreid commented on #202
See also #189

[2019-01-05 01:03] zepumph commented on #182
In https://github.com/phetsims/axon/issues/189 we have come up with a nice strategy for Property, and now need to apply this to Emitter. Afterwards we will will add phetioType to Validator.js in https://github.com/phetsims/axon/issues/194.

Marking off hold to try to convert usages currently using `TypeDef` and `Emitter.argumentTypes` over to use `Validator`.

[2019-01-05 02:14] zepumph commented on #182
Thoughts while working on this:

* Should we rename "argumentTypes" to something like "listOfValidatorOptionsForArguments"
* Emitter didn't seem to have a need for `pickOptions`, but I'm wondering if Validator.validateOptions should error out if there are other, unexpected keys in the object passed in. To me that feel very strict, and we may run into problems with it, but it also could be a nice w

[2019-01-05 02:44] zepumph opened #204 "consolidate EmitterIO args and validators to prevent duplicate arrays in options"
From https://github.com/phetsims/axon/issues/182#issuecomment-451619574

We now are using `Validator` to validate Emitter args. The next step is to get rid of the duplicated arrays in `argumentTypes:[*]` and phetioType: EmitterIO([ * ])`.

To search for current places where this is a problem, search for the TODO:
`// TODO: use of both of these is redundant, and should get fixed with https://github

[2019-01-05 02:45] zepumph commented on #182
@samreid please review this, and note https://github.com/phetsims/axon/issues/204 as further work in combining phetioType into `argumentTypes`.

[2019-01-05 02:58] zepumph commented on #189
Previous list of "next step"

This change in phetioInherit looks good. Right now we aren't using `isInstance` at all, but may with changes in #204.

I feel like it is pretty safe to differentiate these 2 based on checking `type X === 'string'`. If it isn't then test instanceof.

Out for review as part of #182

see #202

Next steps for this issue:
- [ ] discuss "pickOptions" pattern, and if we shou

[2019-01-07 16:29] samreid opened #205 "NumberProperty could wield Validator more appropriately"
From https://github.com/phetsims/axon/issues/189#issuecomment-451346731

@pixelzoom said:

[code]

[2019-01-07 16:32] samreid commented on #189
Sounds reasonable, I'll remove the corresponding TODO from the code.

[2019-01-07 16:35] samreid opened #206 "Can we eliminate Validator.pickOptions?"
See https://github.com/phetsims/axon/issues/189.  There was discussion about whether we need the complexity of `pickOptions` or not.  I think I originally created it to prevent memory leaking, but I'm not 100% sure it's necessary.

[2019-01-07 16:37] samreid opened #207 "Discuss/document/eliminate/improve validateOptionsOnValidateValue"
In #189 there was a lot of confusion about `validateOptionsOnValidateValue`.  It is documented like so:

[code]

[code]

@pixelzoom is this sufficient?  Do you want further investigation about simplifying/renaming/removing this option?

[2019-01-07 16:45] pixelzoom commented on #189
@zepumph said:

@samreid said:

If I understand correctly, the proposal is to make `valueType` support both instanceof and typeof checks. For example: `valueType: Vector2` and `valueType: 'string'`.   If that's the case... Reminder that `Array` needs to be handled specially, see https://github.com/phetsims/axon/issues/195.

[2019-01-07 18:40] pixelzoom commented on #202
You can use the Structure window/pane in Webstorm to view the API of a Javascript type or class.  It gives you a quick overview of the API, but it isn't aware of visibility annotations, so you do need to click on fields/methods to view their annotations in the source.  There is no similar support for options/config.

[2019-01-07 18:42] pixelzoom commented on #205
And this code:

[code]

[2019-01-07 18:43] pixelzoom commented on #205
And this:

[code]

[2019-01-07 18:54] pixelzoom commented on #205
Perhaps all of the value validation code can be replaced by setting `options.isValidValue` to a wrapper function, something like this:

[code]

... then letting the Validation in Property handle the reset.

[2019-01-07 18:55] samreid commented on #202
If the next versions of Webstorm and Sublime added a feature to show a consolidated view of all of the scattered config/options entries in a file, would we switch over to that pattern?

[2019-01-07 19:04] pixelzoom commented on #202
Unlikely (I think) in general, since config/options is PhET specific, not idiomatic JS.

And even more unlikely to be added to something like Structure window.  Structure shows type/class structure, not argument values. options/config are argument values, not available until after instantiation.

[2019-01-07 19:06] samreid commented on #202
What if PhET wrote a script that automatically consolidated information about config/options from current type + parent types?

[2019-01-07 19:16] pixelzoom commented on #207
For the benefit of anyone else following this,`validateOptionsOnValidateValue` is an options to `Validator`.

[2019-01-07 19:32] pixelzoom commented on #207
Now that I understand this.... Here's a proposal.

Rename `validateOptionsOnValidateValue` to `validateOptions`.

Usages outside of Property would look like this, with `validateOptions: true` by default:

[code]

Usages inside of Property, or anything else that calls `Validator.validate` repeatedly, would look like this:

[code]

In Property, I can't think of any reason to be validating the Valida

[2019-01-07 20:56] pixelzoom commented on #202
Sounds like a challenging script to write.  When would the script be run? Where would the "consolidated information" live?

[2019-01-08 15:57] samreid commented on #202
Some possibilities:
(a) when the user presses a keystroke, it displays a popup with the relevant information for that file
(b) when the user presses a keystroke, it gathers the information and updates the corresponding JSDoc for that file

I'm not saying it would be an easy script to write, I'm trying to understand if we prefer the legacy options pattern because of a corresponding tooling deficien

[2019-01-08 16:05] samreid commented on #189
Not just a proposal, that is how Property validation has been since it was added in February 2018 in 866c63d7165bf019dddc59189ea9fa5f54ebc0af

I agree those are unsuitable for `Array`, we would probably need to use `isValidValue` or build custom support for it.

[2019-01-08 17:46] pixelzoom opened #208 "CT: value failed isValidValue: undefined"
https://github.com/phetsims/ph-scale-basics/issues/44, https://github.com/phetsims/circuit-construction-kit-dc-virtual-lab/issues/12, and https://github.com/phetsims/circuit-construction-kit-dc/issues/176 are all similar.  Moving them to this one issue.

Example of the failure in CT:

[code]

Looks like something related to Validator, so assigning to @zepumph since he's been working on that.

[2019-01-08 18:12] samreid commented on #208
@zepumph and I identified that the SimpleDragHandler end drag validation wasn't set up to support SimpleDragHandler.interrupt, we added that in the commit.  Fixed in local testing and closing.  Will reopen if Bayes CT says otherwise.

[2019-01-08 18:33] samreid commented on #208
There is another problem that sometimes SimpleDragHandler is interrupted but does not have the object literal defined in `SimpleDragHandler.interrupt`.  This is because some clients are calling `SimpleDragHandler.endDrag()` with no args.  Instead, they should be calling `interrupt`.

[2019-01-08 18:37] samreid commented on #208
I converted argless `endDrag` to use `interrupt` and tested it is working great for pH scale basics.  Leaving open a bit longer to see what CT says.

[2019-01-08 18:40] pixelzoom commented on #208
For the record... Using `endDrag( null )` was the recommended workaround for interrupting SimpleDragHandler.  See for example https://github.com/phetsims/function-builder/issues/57 and https://github.com/phetsims/unit-rates/issues/168.   Is `interrupt` equivalent?

[2019-01-08 18:41] pixelzoom commented on #208
You did not convert `endDrag( null )`, which would presumably have the same problem?

[2019-01-08 18:42] pixelzoom commented on #208
You did not convert `endDrag( null )`, which was the recommended workaround, and would presumably have the same problem.

[2019-01-08 19:35] samreid commented on #208
It looks like SimpleDragHandler clients should be using `SimpleDragHandler.interrupt` instead of `SimpleDragHandler.endDrag(null)`.  If you agree, I'm happy to convert function builder and unit rates.  If you disagree, perhaps we should hear from @jonathanolson?

[2019-01-08 20:18] zepumph commented on #195
I think #189 is far enough along to bring this back up for discussion. I have two potential proposals:

1. This approach assumes that we only support a homogeneous array: `valueType: ['number']`. Thus we could check if `Array.isArray(options.valueType)` then we assert that it only has one item in it, and we treat that as the valueType for all arrays.
   * This approach is a bit cryptic, but it doe

[2019-01-08 20:56] samreid commented on #195
Writing down some options.

[code]

1 and 4 seem nice.  In https://github.com/phetsims/axon/issues/189#issuecomment-451994463 we discussed keeping typeof and instanceof bound together in `valueType` and now we're talking about throwing another type in there.  Not sure if it is clever or messy.  What if we had `primitiveType: 'boolean'` vs `valueType: Vector2` vs `arrayElementType: 'number'`?  Or m

[2019-01-08 21:00] pixelzoom commented on #208
I don't know whether I agree or disagree, because I don't know if `end( null )` and `interrupt()` are equivalent.  The only guidance I've had in the past is to use `end( null )` as a workaround for ending a drag cycle.

[2019-01-08 21:12] pixelzoom commented on #195
My assumption in the solution proposed in https://github.com/phetsims/axon/issues/195#issue-376638347 was that checking that the value is an `Array` is sufficient.  Do you really feel that we need to check that all of the elements in the Array are of some homogenous type? I'm not convinced that's needed or worth the effort.

[2019-01-08 21:12] jonathanolson commented on #208
They are probably close enough to equivalent (the `interrupted` flag will be set on the listener during the callback), and it will end up creating a fake hack "synthetic" event instead of the lack of one, but I don't believe that would cause any problems in any current systems.

[2019-01-08 21:13] pixelzoom commented on #195
And what if you have an Array of Arrays of Arrays of... ?  Do you propose to do a drill all the way down to test the types of the leaf elements?

[2019-01-08 21:15] pixelzoom commented on #208
I see 2 occurrences of `endDrag( null )`, identified in issues  phetsims/function-builder#57 and phetsims/unit-rates#168.  If you change those occurrences, please confirm that it behaves properly (which will likely require a multi-touch device), and note in those issues.

[2019-01-08 21:16] jonathanolson commented on #195
I've found that helpful in the past in a few cases, usually doing `assert && array.forEach( element => assert( element instanceof X ) )`.

No strong feelings, but it seems if Validator can see the Array type and convert the check to `Array.isArray` that seems nice.

[2019-01-08 21:34] pixelzoom commented on #195
I really think that something like:

[code]

... would be sufficient to handle validation of Arrays (and Arrays of Arrays, etc.)  If you really want to incur the cost/complexity of building that into Validator, go for it.   But I think the payoff will be minimal.

[2019-01-08 21:48] zepumph commented on #208
I'm trying to keep up in this issue, so hang in there if this is redundant.

Here is what the dragEndedEmitter validates like currently:
[code]

So it will be ok with null, but not with undefined (hence the issues above). I'm not sure why/if we need to support null here, especially if it is preferred to use `interrupt` instead of calling `endDrag(null)` directly.

Should we remove the acceptance o

[2019-01-08 22:07] zepumph commented on #195
I think that ` valueType: Array,` is insufficient on it's own. I too like that approach, but we would need to add this line into Validator.validate:
[code]

[2019-01-08 22:10] pixelzoom commented on #195
That's pretty much what I proposed in https://github.com/phetsims/axon/issues/195#issuecomment-435246708.

[2019-01-08 22:13] pixelzoom commented on #208
I have to bow out of this issue. I simply don't have time, and I have no background on what changed in SimpleDragHandler (and why) to introduce this problem.  Carry on, but please verify that any changes to drag sequence interrupt continues to work properly in my sims.

[2019-01-08 22:16] pixelzoom commented on #208
I will add that `endDrag( null )` felt like a smelly workaround from the very beginning.  So if you want to change to `interrupt`, I support that.

[2019-01-08 22:17] samreid commented on #208
Can you please provide instructions of how to trigger this issue using multi-touch?  Preferably one step would be to comment out `endDrag(null)`, then some instructions about how to trigger the error on a multitouch device and some exception is thrown?  After we know how to test use case in FB and UR we can take it from there.

[2019-01-08 22:20] pixelzoom commented on #208
Drag something that has a SimpleDragHandler attached, press the Reset All button, verify that the thing you were dragging is not still dragging.