[2020-04-01 02:19] pixelzoom commented on #289
Well, my "solution" in Natural Selection is causing other problems.  So back to the drawing board.

[2020-04-01 02:27] pixelzoom commented on #289
NumberProperty has no corresponding `resetValueAndRange`, so I need to resort to something like this in `reset`:

[code]

Should we add `resetValueAndRange` to NumberProperty?

[2020-04-01 02:39] pixelzoom opened #290 "add NumberProperty resetValueAndRange"
Over in https://github.com/phetsims/axon/issues/289#issuecomment-606989893, I noted that NumberProperty lacks `resetValueAndRange`.   If you use `setValueAndRange` to set value and range atomically, then you will likely need to reset them atomically.   Without `resetValueAndRange`, you need to resort to something like:

[code]

Compare with:

[code]

[2020-04-01 02:41] pixelzoom commented on #290
@zepumph since you added `setValueAndRange`, would you mind reviewing this?

[2020-04-01 02:41] pixelzoom commented on #289
NumberProperty  `resetValueAndRange` has been added in https://github.com/phetsims/axon/issues/290.

[2020-04-01 02:46] pixelzoom commented on #289
In the above commit, I resorted to the workaround described in https://github.com/phetsims/axon/issues/289#issuecomment-606985389.  The range is no longer a DerivedProperty, and I'm relying on `setValueAndRange` and `resetValueAndRange` to set `selectedGenerationProperty`.   I don't particularly like this, but I don't see another way to do this.

[2020-04-01 03:06] pixelzoom commented on #289
Ugh. Now this is failing "Launch" in Studio.  When I press Reset All button in the launched sim, I get "Assertion failed: reentry detected".

[2020-04-01 03:19] pixelzoom commented on #289
What I discovered is that if you instrument a NumberProperty, and use setValueAndRange, then you have better also instrument the associated range Property.  If you don't, then the range won't be saved/restored, and things will fail when you press Reset All in a launched sim.  And there is currently nothing in NumberProperty to verify this.

[2020-04-01 03:22] pixelzoom opened #291 "instrumented NumberProperty requires its range Property to be instrumented?"
Over in https://github.com/phetsims/axon/issues/289, I was experiencing failures after using the "Lauch" button in Studio, then pressing Reset All button in the launched sim.

From https://github.com/phetsims/axon/issues/289#issuecomment-607003951:

Should something be done about this?

[2020-04-01 17:03] samreid commented on #289
@zepumph has the most expertise on NumberProperty and setValueAndRange, so I'll self-unassign.  But invite me back if you wish.

[2020-04-09 21:24] zepumph commented on #276
I'm assigned here, but I don't have a good concept of what to do. It seems like we will need to pair to bring us to a commit. I have questions about some of the above. I'm not clear about how to handle re-entrant Properties, but I would lean towards doing the exact same thing as we do now, and perhaps change that, if desired, in another change set.

I think in general Multlink should not be handle

[2020-04-09 22:21] zepumph commented on #291
I committed a fix for this. Basically it has NumberProperty setting the range for its rangeProperty even if that rangeProperty is already instrumented. It is a bit redundant, but I think that it is simple and clean code in this implementation.

I was thinking about adding a "isPhetioInstrumented()" check in the `setValue` conditional, but I didn't like it quite as much (though I'm open to recommen

[2020-04-09 22:26] zepumph commented on #290
Looks good to me. I thought briefly about if this adequately handles the case where range is not specified (making `rangeProperty.value = rangeProperty.initialValue = null`), and I think all looks good here! Thanks for implementing, I'll head over to https://github.com/phetsims/axon/issues/289 now.

[2020-04-09 22:34] zepumph commented on #289
Thanks for working this out @pixelzoom, I see two side issues for this one:

https://github.com/phetsims/axon/issues/290
https://github.com/phetsims/axon/issues/291

Both of these are back in your court, and I hope that this workaround will effectively work. You should be able to revert https://github.com/phetsims/natural-selection/commit/e66d3a37716b7190522b6f17a9416180217739e7 now.

As for the u

[2020-04-10 19:34] #290 closed

[2020-04-10 22:32] pixelzoom commented on #289
I did not review code changes, but tested in natural-selection.  I removed instrumentation from `this.generationRangeProperty` in Proportions model, and verified in Studio/Launch/State Wrapper.  Behavior is as desired.

[2020-04-10 22:33] pixelzoom commented on #291
I did not review code changes, but tested in natural-selection.  I removed instrumentation from `this.generationRangeProperty` in Proportions model, and verified in Studio/Launch/State Wrapper.  Behavior is as desired.

[2020-04-14 02:07] zepumph commented on #289
In the above commit I ended up calling validate as a listener instead of built into `set`. This improves its support when deferred. I ended up going with this after @samreid and I ran into this same thing when  working on https://github.com/phetsims/axon/issues/276, and it ended up fixing a lot of stuff.

[2020-04-14 02:53] zepumph commented on #276
Today @samreid and I worked on this for many hours. Here is a bit how the day went:

1. It would be nice to solve this generally in axon. What if `DerivedProperty` values are changed before all notifications go out. The issue is that this isn't just a problem with DerivedProperties, but listener order in general through "intermediate states." Anytime there is a `Multilink` and you need to change t

[2020-04-14 03:46] pixelzoom commented on #276
Re the above patch for (7) in https://github.com/phetsims/axon/issues/276#issuecomment-613198365...   I added the suggested instrumentation of BaseContainer, after fixing some problems that the patch would have introduced (e.g. crashing the sim when chaining `widthProperty` in Studio).  As for the other changes in the patch, I'm not at all a fan of `phet.joist.sim.isSettingPhetioStateProperty` --

[2020-04-14 16:36] pixelzoom commented on #289
Unit tests are failing in CT, looks like https://github.com/phetsims/axon/commit/8f597cf168dbe5fe6c58a4752d7048c3887b94cc may be the culprit.

[2020-04-14 17:17] samreid commented on #276
I investigated a new constraints strategy that gives more fine-grained control over when "undefer" and "notify" should happen relative to each other.  It also removes assertions from the DerivedProperty derivation, with a note about why.  That may be important in how this is working and I should test that in isolation.  This is likely overcomplicated but it fuzzed for 30+ minutes on Gas Properties

[2020-04-14 20:16] samreid commented on #276
This patch is essentially a cleaned up version of the prior comment.  It's fuzzing well in Gas Properties and Projectile Motion.

<details>

[code]

</details>

The main idea from the patch is splitting out the 2 primary phases of Property notification.
* `undefer` - the point at which it is undeferred and takes its new value
* `notify` - the point at which the Property notifies its listeners of t

[2020-04-14 21:31] zepumph commented on #289
Tests fixed above. @pixelzoom thanks for the ping and sorry about the break.

[2020-04-14 22:08] pixelzoom commented on #276
Looks promising, looking forward to discussing.  I realize that this is a proposal, but a few things about the API for the discussion agenda:

* Inconsistent terminology and parameter names. You described 'undefer' and 'notify' as "phases" in the previous comment, and that made sense to me.  Then the API threw me a curveball, didn't use "phases", and instead uses 2 other names.  It refers to "term

[2020-04-14 22:22] samreid commented on #276
I agree it will be nice to unify terminology and use `Enumeration`.  The behavior in master is to do all `undefer` as a batch in arbitrary order, then do all `notify` as a batch in arbitrary order.

[code]

The patch enforces that undefer must happen before notify

[code]

and that specified constraints are met, otherwise the order is arbitrary.

[2020-04-16 01:35] pixelzoom commented on #289
Validation change looks good.

But I'm not clear...  Is the workaround that I described in https://github.com/phetsims/axon/issues/289#issuecomment-606995359 still necessary, or do I now have another choice?  `selectedGenerationRangeProperty` should be a DerivedProperty, but that still does not seem possible.

[2020-04-16 01:37] pixelzoom commented on #276
Thanks for clarifying. Sounds like the next step is a discussion.  @samreid will you schedule?

[2020-04-16 03:20] zepumph commented on #289
Currently yes that is unfortunately the case. The reason is that we don't support the NumberProperty-specific code like `setValueAndRange` for DerivedProperty. I think much of it is to blame on our lack of multiple inheritance in that regard.

I had another workaround-ish idea that I wanted to discuss to with you. What about in NaturalSelectionModel.reset(), resetting the proportionsModel before t

[2020-04-17 18:08] zepumph opened #292 "Property should run on TinyProperty?"
Over in  https://github.com/phetsims/scenery/issues/490, TinyProperty was created. Can we use that in Property to simplify the implementation? I'm not sure it will work, but it is at least worth investigation.

[2020-04-17 21:45] chrisklus opened #293 "Too many tiny Property implementations"
From https://github.com/phetsims/scenery/issues/490, and made worse by work with @jonathanolson @zepumph @samreid in https://github.com/phetsims/scenery/issues/1046.

The switch from running Scenery on Events to axon Properties has created a need for several lighter-weight implementations of Properties. This has started to feel like a duplication of axon and is undesirable. Assigning to @jonathano

[2020-04-21 18:23] pixelzoom commented on #283
Are you saying that if I need to iterate over the collection while modifying it, then I need to do something like `myObservableArray.getArray().slice().forEach( ... )` ?

How about changing the ObservableArray API to `getArray` and `getArrayCopy`, and deleting `forEach` altogether?  That would make it crystal clear on whether you're operating on the array itself or a copy.

[2020-04-21 19:11] pixelzoom commented on #283
The bigger issue here is that ObservableArray doesn't have a proper "collection" API.  The most fundamental API requirements for a collection are:

* hide the details of how members of the collection are stored
* provide good iterators (useful, consistent, performant,..,)

ObservableArray does neither of these.

[2020-04-22 01:01] zepumph commented on #276
@pixelzoom, and @samreid and I discussed this issue more today. Then @samreid and I worked further on the above patch. This is as far as I got, though I thought it was close to commit (as it is working in gas properties), there is an order dependency infinite loop in ph-scale, so here is more of a patch:

<details>

[code]

</details>

Here is a summary of the meeting notes and further work, much

[2020-04-22 21:04] zepumph commented on #276
After some investigation into the ph-scale problem with @samreid, I logged the directionality of the order dependencies into an online graph visualization tool. This is what came up.

Note that we lose the granularity of 'notify' vs 'undefer', but it helps us reevaluate if these automatic order depedency registrations are actually possible to add generally

![image](https://user-images.githubuserc

[2020-04-22 21:46] zepumph commented on #276
@samreid had the great idea of looking at each phase/id combo as a node. Look at the marked doubled arrowed edge. That seems buggy:

![image](https://user-images.githubusercontent.com/6856943/80036960-31e55100-849f-11ea-876a-5808c686c458.png)

Here is the debug code added to make this happen:

[code]

[2020-04-22 22:01] zepumph commented on #276
Now @samreid and I are having fun. Here is an image of the sim once we remove the buggy dependency registration between all of a DerivedProperty's dependencies:

![image](https://user-images.githubusercontent.com/6856943/80038207-a15c4000-84a1-11ea-8e9b-f397ad117017.png)

Then we set up a way to just view derived Property dependencies outside the context of PhET-iO state. Here is a picture of this

[2020-04-23 00:21] zepumph commented on #276
I ended up committing the code because things were looking very promising! We now have a more explicit way of detecting order dependency issues in the state engine.

Summary of changes:
* Add "Property Phase Constraint" support to the state engine through AXON. This means that you can specify if a property should undefer/notify before another undefers or notifies. In all cases thus far we have nev

[2020-04-23 12:34] pixelzoom commented on #276
There are a bunch of new Errors in CT, "Impossible set state:  from undeferAndNotifyProperties; ordering constaints cannot be satisfied".  Related to this?

For example:

[code]

[2020-04-23 16:25] zepumph commented on #276
This caused many errors as @pixelzoom mentioned above, which I'm surprised to see and bummed since before committing I fuzzed 4 state wrappers (just none that had this trouble. Here is the list of sims to handle:
- [ ] energy-forms-and-changes
- [ ] friction
- [ ] build-an-atom
- [ ] gravity-force-lab (basics)
- [ ] molarity
- [ ] molecules-and-light
- [ ] ohms-law
- [ ] resistance-in-a-wire

[2020-04-23 16:31] pixelzoom commented on #276
Sorry to hear that this created new problems. Also note that this did not fix one of the Gas Properties problems, and created a new variation on that problem, see https://github.com/phetsims/gas-properties/issues/178#issuecomment-618476464

[2020-04-23 16:41] zepumph commented on #276
Here are the problemed constraints for EFAC (blocks) and RIAW (sound related):
![Uploading image.png…]()

![image](https://user-images.githubusercontent.com/6856943/80125484-314fc780-853e-11ea-83b9-bd3cef47e3e0.png)

[2020-04-23 16:51] zepumph commented on #276
For efac the problem seems to be that things are waiting on archetypes to get state set first. We should update that so that we don't add constraints about archetypes.

[2020-04-23 17:01] zepumph commented on #276
Above I am ignoring dependencies that try to be registered on dynamic element archetypes. This fixed the EFAC bug. I don't like how I am doing it though, so I added a TODO to this issue.

[2020-04-23 20:13] zepumph commented on #276
For sims that have sound enabled in them, there is a constraint placed on Sim.activeProperty. In the state wrapper this Property is removed from state in the downstream sim so that it is never made active. This meant that a constraint that was dependent on the activeProperty would never be fulfilled/completed. The above makes sure that the state engine only cares about the constraints that apply t

[2020-04-23 22:05] zepumph commented on #276
@chrisklus helped me track down that actually all the above sims were just a single bug. The issue was that there was an order dependency registered about a phetioID that wasn't set in state.

In EFAC that was a beakerGroup archetype associated with a multilink in BeakerContainerView.

In all other sims it was because soundManager.enabledProperty and browserTabVisibleProperty depends on the sim.ac

[2020-04-23 23:30] zepumph commented on #276
We also were then able to fix https://github.com/phetsims/gas-properties/issues/178, and I explained to @chrisklus about the deferred logic changes to DerivedProperty.

We are excited with the current state of things. I'm looking forward to seeing if all bugs are squashed on CT tonight, and will check back in the morning.

There are still checkboxes from https://github.com/phetsims/axon/issues/276

[2020-04-24 22:54] chrisklus commented on #276
Some in-progress changes for unregistering order depenencies and getting some tests going that @zepumph and I started this morning:

<details>

[code]

[2020-04-25 01:02] zepumph commented on #276
All checkboxes have been done above to a basic extent. Here are the final TODOs:

- [ ] We have PhetioStateEngineTests, but that doesn't test the integration with Property.registerOrderDependency. It would be nice to somehow test that.
- [ ] @chrisklus and I are still in the process of looking at `undeferAndNotifyProperties` with a performance-optimization mindset. We will keep at it!

[2020-04-27 18:19] pixelzoom commented on #283
Related to the issue, I don't like having to do this:

`myObservableArray.getArray().slice()`

So in the above commit, I've added `getArrayCopy`.  I'm using this in ObservableArray.

[2020-04-28 17:43] zepumph opened #294 "add Vector2Property.validBounds as a {Bounds2}"
This would help me with some Vector2Property instances in ratio and proportion.  Thus it feels as good a time as any to add it. On slack @samreid said it "sounds like a nice thing we should support."  This will be similar to `NumberProperty.range`.

I think it will be a simple addition. I'll add tests and use RaP as a test case too.

[2020-04-28 19:47] zepumph commented on #294
@samreid can you please review. Any thoughts?

[2020-04-30 23:14] zepumph commented on #276
I did some refactoring, and doc improvements. This includes separating out sub functions into their own methods. We did that for `setState` methods like `iterate` and `setStateForObject` and it worked well, so I think it should be done here.

In https://github.com/phetsims/phet-io/commit/0275c6f1b7baabe1ceef7f50bb282473b3c6d319 I changed the algorithm a bit. I eagerly removed any PhaseCallback ins

[2020-05-01 15:45] chrisklus commented on #276
Thanks @zepumph! Agreed that eagerly removing any with null listeners is better than assigning them noop functions.

I added arguments and docs to `errorInUndeferAndNotifyStep` in the commit above. Everything else is looking good to me, back to you.

[2020-05-01 18:37] chrisklus commented on #276
I accidentally committed something I was using to test my fix in  https://github.com/phetsims/phet-io/commit/ea11e64f3c9b0e0afe75ea6c106d83d4dea3725a and it broke phet-io sims on CT, reverted above.

[2020-05-01 18:43] zepumph commented on #276
Is the following use case problematic?

otherProperty -> property1 -> property2 -> property3.

Note here that property3 implicitly has an order dependency on property1. Now let's say that property2 has a null listener. This means that property2 will be completed immediately, potentially before property1, and thus property3 may complete a phase before property1.

The question I have is,  "if this c

[2020-05-06 04:14] samreid commented on #276
Why was the short-circuit for no-op listeners introduced/proposed?  In the example in the preceding comment, it seems like property3 should really come after property1.  And property3 shouldn't have to declare an explicit dependency on property1, it should happen implicitly through the transitive relationship via property2.

[2020-05-06 16:04] chrisklus commented on #276
Can we set up a test to determine if that case is problematic? It seems like two possible next steps for this issue are that (to see if the short-circuit is bug-free), or to profile some use cases during setState to see if there is a noticeable performance increase when using the short-circuit. I'm up to pair on this.

[2020-05-06 19:17] zepumph commented on #276
I think the best way forward is to bring back the safer logic, and continue on with other issues. If speed ends up being a problem for the state engine, I believe that other solutions with have a better cost/benefit. For example https://github.com/phetsims/phet-io/issues/1658.

Bringing it back now unless there are objections.

[2020-05-06 19:58] zepumph commented on #276
Implemented above. Anything else for this issue?

[2020-05-06 22:45] samreid commented on #276
I think this is ready to close.

[2020-05-07 04:02] zepumph commented on #276
I'd love a final glance by @chrisklus if he thinks it needs it. Anything else here? Did we fully optimize the new code?

[2020-05-07 04:26] zepumph commented on #276
Please note that this is not the end of this issue. We supported Property well here, but Emitters and ObservableArray listeners are still on the table in https://github.com/phetsims/phet-io/issues/1634 and https://github.com/phetsims/phet-io/issues/1661 respectively. I'm excited to pick that up over there!

[2020-05-07 20:53] chrisklus commented on #276
I think it's looking good. Any possible optimizations I see feel minor and insignificant. Looking forward to getting the other implementations going. Ready to close!

[2020-05-13 21:11] zepumph commented on #270
This is likely a prerequisite to https://github.com/phetsims/phet-io/issues/1661, so that we can add logic in Emitter (for general use) instead of just into Observable array. I'll take this on.

My plan is to not change the API at all, but just change the implementation to use two emitters, in similar fashion to how `PhetioGroup` is set up.

[2020-05-13 22:45] zepumph commented on #270
I also converted to es6 while I was in here, since I didn't see any usages of `ObservableArray.call`. Please review this conversion.

I have two specific questions:
- [ ] Should we keep the ObservableArray specific PhET-iO events? This isn't really the pattern we use anymore, as we are more emitter-centric.
- [ ] Related to the above but still independent, should we instrument the two arrays? Then

[2020-05-13 22:46] zepumph commented on #270
- [ ] Note, if we don't instrument the Emitters, then I think we should likely use TinyEmitter instead of Emitter.

[2020-05-14 16:54] pixelzoom commented on #289
Sorry to be so longer in getting back to this issue.  The above patch works great, thanks @zepumph! Closing.

[2020-05-15 02:32] pixelzoom commented on #289
Reopening. Apparently there's still a problem, see https://github.com/phetsims/natural-selection/issues/78.

[2020-05-15 17:03] zepumph commented on #276
Reopening, I found a TODO in Property:

`* TODO: add a deregistrations, https://github.com/phetsims/axon/issues/276`

[2020-05-15 17:22] pixelzoom commented on #289
See https://github.com/phetsims/natural-selection/issues/78#issuecomment-629380597.

Closing.

[2020-05-15 17:22] #289 closed

[2020-05-15 20:31] zepumph commented on #276
- [ ] We should also rename `Property.addPhetioDependencies` to `Property.addPhetioStateDependencies`

[2020-05-18 14:42] KatieWoe opened #295 "CT no orderDependencies when starting"
[code]

[2020-05-18 19:10] zepumph commented on #295
Thanks! Adding one test caused another test to fail because it was making an assumption about a global. I fixed both places by (a) cleaning up the new test to dispose and not leak into the global, and (b) for the older test in PropertyTests to not depend on the "clean slate" state of the global. Closing

[2020-05-18 19:10] #295 closed

[2020-05-20 16:58] pixelzoom commented on #289
Update: I ended up reverting the patch for generationRangeProperty, and resorting to making generationRangeProperty a Property instead of a DerivedProperty.  When I added this requirement:

[code]

... there was no way that I could make this work without using `generationProperty.setValueAndRange`.

[2020-05-20 19:36] zepumph opened #296 "AXON/timer should run on TinyEmitter"

[2020-05-20 20:31] zepumph commented on #296
Added above. This improved performance greatly. We don't need timer to be instrumented because it is downstream of the stepSimulationEmitter. Therefore we don't need this to be an `Emitter`, and `TinyEmitter` will do just fine. Closing

[2020-05-20 20:31] #296 closed

[2020-05-21 00:37] zepumph commented on #296
Commit above fixed CT error for this.

[2020-05-21 21:39] samreid commented on #137
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-22 23:30] pixelzoom opened #297 "what is the visibility of setPropertyValue?"
Property.js, added by @samreid:

[code]

TinyProperty.js, added by @jonathanolson:

[code]

Note the different visibility annotations.  Is there a reason why they are different? If not, which is correct?    I have an immediate need to use Property.setPropertyValue in Natural Selection.

[2020-05-23 05:21] pixelzoom opened #298 "CT: propertyStateHandlerSingleton tests for Property failed"
Broken by phetsims/axon@7a42c26, see https://github.com/phetsims/phet-io/issues/1668#issuecomment-632987582.  I guess those unit tests are not being run by the pre-commit hook - should they be?

[code]

[2020-05-24 17:19] samreid commented on #298
Fixed as part of https://github.com/phetsims/phet-io/issues/1668#issuecomment-633087807, and verified on CT, closing.

[2020-05-24 17:19] #298 closed

[2020-05-26 17:50] zepumph commented on #137
Range was added to xProperty in FAMB for phet-io. At first glance it didn't seem like xProperty range needed to be included to support current phet-io design patterns.  Likely xProperty will be phetioReadOnly in the future. Anyways. I felt good removing the TODO without any work. Closing

[2020-05-26 17:50] #137 closed

[2020-05-27 14:43] samreid commented on #297
They are both correct because they have different use cases.  If it is important for simulation code to call `Property.setPropertyValue`, we can convert it to `@public`.  What is the use case for Natural Selection?  Is there a better way to proceed?

[2020-05-27 15:36] pixelzoom commented on #297
Can you be more specific? What is the use case that requires TinyProperty.setInitialValue to be public?

Here's the use case in Natural Selection:

The initial value of Gene `dominanteAlleleProperty` is set by the (public!) `introMutations` and `labMutations` query parameters, for _Intro_ and _Lab_ screen respectively.   But it's not possible to set the initial value of `dominanteAlleleProperty` v

[2020-05-27 15:54] samreid commented on #297
I presume you meant `TinyProperty.setPropertyValue`.  There is other work that needs to be done between setting the value and notifying listeners.

// RichText.js
[code]

// Text.js
[code]

// Node.js
[code]

Brainstorming options to discuss:
A. Make `Property.setPropertyValue` public
B. Change the startup sequence so that `dominanteAlleleProperty` is only constructed when we know what the initial

[2020-05-27 16:05] pixelzoom opened #299 "make Property.setInitialValue public"
setInitialValue is currently:

[code]

Note that the visibility is `@public (PhetioStateEngine)`.

I have what I feel is a legitimate need to use this in Natural Selection.  The use case is:

The initial value of Gene `dominanteAlleleProperty` is set by the (public!) `introMutations` and `labMutations` query parameters, for _Intro_ and _Lab_ screen respectively.   But it's not possible to set the

[2020-05-27 16:07] pixelzoom commented on #297
Sorry, NS is not using `setPropertyValue`, it is indeed using `setInitialValue`.  I had this confused with an issue issue that I had yet to create for this TODO in NS parseInitialPopulation.js:

[code]

The issue is https://github.com/phetsims/axon/issues/299

Re this issue, I guess we can go ahead and close.  I created this issue while discussing the difference between Property and TinyProperty w

[2020-05-27 16:07] #297 closed

[2020-05-27 16:15] pixelzoom commented on #299
I investigated deferring instantiation of `dominanteAlleleProperty` until its initial value is known, and that was going to be a huge mess.  So I proceeded with making `setInitialValue` public, and modified its documentation to be more detailed and cautionary:

[code]

@samreid since you're already familiar with the NS use case from #297, would you mind taking a peek?

[2020-05-27 16:29] samreid commented on #299
It looks reasonable to me, but I recall @zepumph had recommendations about this feature when we were working on https://github.com/phetsims/studio/issues/35, @zepumph does this seem reasonable to you?

[2020-05-27 16:55] samreid commented on #294
This looks great, thanks!  Closing.

[2020-05-27 16:55] #294 closed

[2020-05-27 17:14] zepumph commented on #299
That feels very good to me. I also see a usage already in pendulum lab. `@public` seems right. I updated doc though, because actually the PhetioStateEngine doesn't use this anymore. Towards the end of https://github.com/phetsims/studio/issues/35 we altered course to a partial setState call on reset, instead of having state set overwrite `Property._initialValue`. We found that to be buggy in more c

[2020-05-27 17:41] pixelzoom commented on #299
👍 closing.

[2020-05-27 17:41] #299 closed

[2020-05-28 03:53] samreid commented on #270
It will simplify the implementation to instrument the Emitters and eliminate the custom events, and that sounds more maintainable to me.  I'm not sure how this would jive with https://github.com/phetsims/phet-io/issues/1661.  @zepumph how should we proceed?

[2020-05-28 14:45] KatieWoe opened #300 "CT propertyStateHandlerSingleton tests for Property failed"
[code]

[2020-05-28 20:37] zepumph commented on #300
Thanks!

Looks like an issue where as a single test it passes, but other tests interfere with assumptions from inside the test. I updated it and things are passing now. Closing

[2020-05-28 20:37] #300 closed

[2020-05-28 20:53] zepumph commented on #270
I think this is a step to do before https://github.com/phetsims/phet-io/issues/1661. Note though that that phet-io issue is not blocking any priorities or causing bugs.

[2020-05-29 01:51] zepumph commented on #215
I looked at I retested all the sims in https://github.com/phetsims/axon/issues/215#issuecomment-542046063, and found that build-a-molecule, CCKBBS, GFL, molarity, actually passed. I then created side issues in all the repos that failed.

We now have this in the CRC:

I think that https://github.com/phetsims/molarity/issues/189 taught me that in some cases this is likely not worth it, but I remembe

[2020-05-29 01:54] zepumph commented on #276
- [ ] I would like to have one more discussion with @samreid about this. If we go back to the very first comment, it points to a non-phet-io problem, yet we have implemented a purely phet-io state engine solution for this issue. I feel like it has been co-opted, and we may want to do future work to solve some of the issues outlined in https://github.com/phetsims/molarity/issues/189#issuecomment-57

[2020-05-29 01:57] zepumph commented on #215
Actually, I think it is important  to link over to https://github.com/phetsims/molarity/issues/189#issuecomment-570388452 regarding how the team feels about `shuffleListeners` in general:

So maybe we should implement a Property option that opts out of `shuffleListeners`, when there are spots that need to have a listener order dependency?

[2020-05-29 02:01] #288 closed

[2020-05-29 23:41] brandonLi8 opened #301 "ObservableArray lengthProperty not updated on splice()"
Calling `ObservableArray.prototype.splice` doesn't update its length Property (like it does in pop(), remove(), etc.)

Here is the source code:
[code]

[2020-05-29 23:44] brandonLi8 commented on #301
Pushed a fix (added one line) above. Unit tests all passed. Closing.

[2020-05-29 23:44] #301 closed

[2020-06-03 18:31] zepumph commented on #226
Now that IO Types are es6 classes, inheritance is supported. That said we have `ObjectIO.validateSubtype` and it is working well. I also see that EnumerationIO has its own validator.

i still see one more TODO for this issue:

[code]

[2020-06-08 16:01] pixelzoom opened #302 "Multilink doc about calling its constructor"
This came up in the context of discussing the Observer pattern that @brandonLi8 wrote up.

Multilink is documented like this:

[code]

I see no reason that you can't create a Multilink by calling its constructor -- and you probably should if you need a reference to it for calling dispose.  Property.multilink is a convenience function provided as a way of avoiding lint errors in the cases (which ar

[2020-06-08 16:04] samreid commented on #302
Yes, please update this doc.

[2020-06-08 16:14] #302 closed

[2020-06-08 21:15] zepumph commented on #284
I will add `assertMutuallyExclusiveOptions` to NumberProperty for `[ range ]` and `[ validValues, isValidValue ]`.

[2020-06-11 22:20] samreid commented on #292
It's worth a try!  It feels medium priority to me.

[2020-06-12 04:40] samreid commented on #291
The commits above deal with `range` in `setValue` but that is no longer in master.  @zepumph is this by design?

[2020-06-12 04:43] samreid commented on #285
I revised the documentation, but am not sure whether it is perfect yet.  @pixelzoom can you please review at your convenience?

[2020-06-12 04:46] samreid commented on #225
Maybe this will be easier now we have ES6 modules and cycles?

[2020-06-12 18:03] zepumph commented on #276
@samreid, @chrisklus, and I discussed this this morning. We decided that it warrants another issue to investigate this generally. I'll make a new issue to investigate this further.

[2020-06-12 18:23] zepumph opened #303 "Fix intermediate states caused by listener order"
In the beginning of https://github.com/phetsims/axon/issues/276, @samreid outlined a case where it was buggy that a DerivedProperty didn't have the right value in a listener of the dependency:

[code]

in master the console logging will look like:
[code]
Here cProperty.value won't be correct in aProperty's listener. Thus there is an intermediate state.

We feel this is buggy, and that we should tr

[2020-06-12 18:24] zepumph commented on #276
See https://github.com/phetsims/axon/issues/303. Everything else is done here. Closing.

[2020-06-12 18:24] #276 closed

[2020-06-12 18:30] zepumph commented on #215
@samreid, @chrisklus  and I discussed the rest of #276 and created #303 for further work on potential library support for not notifying on intermediate states. We have no plan to work on this soon.

[2020-06-13 19:11] pixelzoom commented on #285
👍 Closing.

[2020-06-13 19:11] #285 closed

[2020-06-16 22:09] samreid commented on #253
Perhaps now that we are dropping IE support, we can use `Number.isInteger` instead of `%1===0`.  I'm seeing 70 occurrences of that pattern across our codebase (including this occurrence).

[2020-06-17 02:55] samreid commented on #253
I reviewed the commits for this issue, and it looks good.  The only thing I noticed is more about ValidatorDef, so I'll open a separate issue for that.  Closing.

[2020-06-17 02:55] #253 closed

[2020-06-17 02:57] samreid opened #304 "Should ValidatorDef have a typedef?"
In https://github.com/phetsims/axon/issues/253 I noticed that WebStorm marks usage of `validate` as problematic:

![image](https://user-images.githubusercontent.com/679486/84850011-dbfed680-b013-11ea-960f-fbdc6729499c.png)

However, if I add this code to `validate.js`

[code]

The problem goes away:

![image](https://user-images.githubusercontent.com/679486/84850040-f638b480-b013-11ea-962a-c616a8a

[2020-06-20 18:09] pixelzoom opened #305 "TinyProperty fails as a dependency of Multilink (and DerivedProperty?)"
In natural-selection PopulationPlotNode.js (a subclass of Node), I had this:

[code]

That worked fine with brand=phet.  But when Studio starts up, it failed with:

[code]

`this.visibleProperty` was apparently the problem. It's a TinyProperty, not a Property, and that causes a PhET-iO-specific problem with Multilink.   I suspect (but have not confirmed) that it would also be a problem with Derive

[2020-06-22 14:55] samreid commented on #305
@zepumph should `addPhetioStateDependencies` check and use `TinyForwardingProperty.forwardingProperty`?

[2020-06-22 18:13] zepumph commented on #305
I do not think so. `forwardingProperty` feels very private to me. Instead I think addPhetioStateDependencies should just support TinyProperty as a argument type, and check to make sure that `isPhetioInstrumented` exists.

[code]

I won't be able to get to this until Wednesday at least.

[2020-06-25 20:27] zepumph commented on #215
I want to note a reflection on this work for states of matter from @jbphet in https://github.com/phetsims/states-of-matter/issues/294#issuecomment-649798959 on the value of these changes. That may be helpful when we bring this back up.

[2020-07-06 16:33] samreid commented on #305
I added this to our PhET-iO Wednesday agenda and am self-unassigning.

[2020-07-07 02:50] pixelzoom opened #306 "rename contains to includes (ObservableArray, PhetioGroup)"
Now that we can use `Array.includes`...  Let's deprecate ObservableArray `contains`  and renaming to `includes`.

[2020-07-07 02:51] pixelzoom commented on #306
I'll take a look at renaming `contains` to `includes`.  But there are 263 occurrences of ".contains(".

[2020-07-07 03:01] pixelzoom commented on #306
... and rename PhetioGroup.contains to includes?

[2020-07-07 04:12] pixelzoom commented on #306
`contains` is now `includes` for ObservableArray and PhetioGroup.   I ran aqua locally to identify and rename occurrences.

I'll leave this open until CT verifies.

[2020-07-07 13:30] pixelzoom commented on #306
Slack developer channel:

[2020-07-07 13:30] pixelzoom commented on #306
No problems noted in CT.  Since this was straightforward, I'm not going to request a review.  Closing.

[2020-07-07 13:30] #306 closed

[2020-07-07 16:29] brandonLi8 opened #307 "Add ObservableArray.every"
I've found myself wanting ObservableArray.every a few times now, that works like (should use) [Array.prototype.every()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/every).

[2020-07-07 16:46] brandonLi8 commented on #307
Done in the commit above (1 line of code). Closing

[2020-07-07 16:46] #307 closed

[2020-07-07 16:51] brandonLi8 commented on #283
I'd also like to point out that `forEach` isn't the only method that exposes the underlying array which the user could modify.

For instance, `ObservableArray.some`,`ObservableArray.find`, `ObservableArray.every`, `ObservableArray.filter`, and `ObservableArray.map` all pass the array as the third argument to the call back, which the user could theoretically modify.

[2020-07-07 16:57] pixelzoom commented on #283
That's the main reason why I avoid using those "convenience" methods of ObservableArray.  I think it's much clearer to call `getArray()` or `getArrayCopy()`, then use the Array API directly.

[2020-07-07 22:02] samreid opened #308 "Alternatives to ObservableArray"
`ObservableArray` has numerous problems, many identified in other axon issues.  Several of the recent conversations revolve around using the array directly, such as https://github.com/phetsims/axon/issues/283#issuecomment-654994805.  I wonder if we should deprecate `ObservableArray` and investigate an alternative "array-centric" strategy.

Brainstorming some possibilities:
1. Create a new type tha

[2020-07-08 16:41] zepumph commented on #305
The phet-io team added support for TinyProperty dependencies in DerivedProperty, Multilink, and Property. We also took a crack at removing your workaround in `PopulationPlotNode`. Please review.

[2020-07-08 17:35] chrisklus commented on #308
This sounds really nice - I like that an "array-centric" version would not duplicate a bunch of default methods like `ObservableArray` does. For any that modify the array, we could override them so the API is the same but we've just added some listeners.

In discussion with @zepumph and @samreid, we also brought up that this then couldn't extend PhetioObject. Some possible workarounds: instrument

[2020-07-08 18:44] pixelzoom commented on #308
I like the idea of `ObservableArray extends Array mixes PhetioObject`.  I'm not sure what issues would be encountered, but I think it's worth an exploratory sprint.

[2020-07-08 18:49] pixelzoom commented on #305
I didn't dig into the axon changes.  But this is working in natural-selection, so closing.

[2020-07-08 18:49] #305 closed

[2020-07-09 14:37] samreid commented on #308
I ran an exploratory sprint and created `AxonArray`.  It supports all array mutators except for `array.length=...` which cannot be overridden.  I added basic unit tests and noted a few TODOs for next steps.

[2020-07-09 23:26] zepumph commented on #291
Looks I removed them in https://github.com/phetsims/axon/commit/b222e1a4b25ad63203bfe1fdecdb3c3b94f900c6. @pixelzoom can you please explain why you think that it is the responsibility of the NumberProperty to set the state of its rangeProperty? Perhaps you don't feel this way, and you were just reporting where there was an error in the sim.

I believe that in its current state, the NumberProperty

[2020-07-10 13:28] samreid commented on #308
In the above commit I added PhET-iO support for `AxonArray` and I took it for a test drive in Natural Selection in my working copy.  I tested in Studio and saw that counts were updating properly.  It was nice that we could use bracket access for values, like

[code]

Here is the patch that converts NaturalSelection from ObservableArray to AxonArray (just for PopulationModel points):

<details>

[c

[2020-07-10 13:52] samreid commented on #308
After the above commit, the `itemAddedEmitter` and `itemRemovedEmitter` can be phet-io instrumented and emit data to the data stream.  Here's a patch that exercises it in Natural Selection.

<details>

[code]

</details>

[2020-07-13 17:49] pixelzoom commented on #291
I didn't say that NumberProperty needed to be responsible for setting state of its rangeProperty.  I said that if you provide a rangeProperty, then it must be instrumented, otherwise its state will not be restored and things will fail in the State Wrapper.  So if you provide a rangeProperty (versus letting NumberProperty create it), then something should verify that the rangeProperty is instrument

[2020-07-13 18:02] pixelzoom commented on #291
Add something like this at line 113, after `this.rangeProperty` is defined.

[code]

[2020-07-13 18:29] pixelzoom commented on #308
This looks nice.  But I'm hesitant to use it in Natural Selection because of potential performance problems.

Calling any mutator on AxonArray creates a copy (`slice`) of the entire AxonArray, then iteration over both the copy and the mutated array, for the purposes of discovering differences. When 900+ bunnies are born (Bunny instances are created) at the start of generation 6, they will be added

[2020-07-13 19:49] samreid commented on #308
There were indeed performance problems with the original version.  I revised it and checked performance using this harness:

[code]

The prior version crashed the browser, the new version runs in 167ms.

Some notes and questions:
* I left `AxonArray.copyWithin` unimplemented (throws an error).
* I left `AxonArray.fill` unimplemented (throws an error).
* All other `AxonArray` mutators have been opt

[2020-07-14 14:29] samreid commented on #262
I took a look at this today and used the following patch for experimentation:

<details>

[code]

</details>

I marked 2 places with a TODO referencing `https://github.com/phetsims/axon/issues/262`:
* `Client.itemToCommand` where wrapper-side functions are converted to functionHandles
* `phetioCommandProcessor.wrapFunction` where a functionHandle is converted to a simulation side method.

I think

[2020-07-14 14:40] samreid commented on #262
I implemented the `clearTimeout` pattern, by having `link` return a unique `{number}` that can be used for unlink.  It is working properly in the wrapper.  The usage site isn't too palatable:

[code]

But maybe this is OK since it will be used rarely?  If we like this pattern and want to move forward with it, some loose ends:
* Apply the pattern to `lazyLink` as well
* Remove methods from the `all

[2020-07-15 06:12] samreid commented on #283
Hopefully we will be able to eliminate ObservableArray in the near future, there is a proposal in https://github.com/phetsims/axon/issues/308 that would obviate this problem.  Unassigning until we have a decision on that issue.

[2020-07-15 19:03] jessegreenberg opened #309 "TinyProperty._value isn't up to date in link"
It looks like some Properties wait to update their `_value` until `get()` is called with the `onAccessAttempt` function. This is used by Properties of Node, like

[code]

In https://github.com/phetsims/sun/issues/444#issuecomment-658933682, I encountered an issue where the value passed to the callback eagerly called by `link` was incorrect (old) because we use `this._value` instead of `this.get()`

[2020-07-16 04:44] zepumph commented on #304
I added a typedef in ValidatorDef, and I noted that about 80% of the under-linings in `ValidatorDefTests` went away. Can you think of any improvements to be made here?

[2020-07-16 15:25] samreid commented on #304
That looks really great, thanks!  I had to invalidate caches and restart the IDE to get it to pick it up, but now it is working well, even in NumberProperty.  Closing.

[2020-07-16 15:25] #304 closed

[2020-07-16 16:56] pixelzoom commented on #308
The doc says some variation of this in 3 places:

[code]

But I see that `copyWithin` and `fill` are also not supported, and they are most definitely mutators.

[2020-07-16 17:05] samreid commented on #308
Thanks, I revised that part of the documentation.

[2020-07-16 17:21] pixelzoom commented on #308
You fixed one.  I fixed the other in the above commit.

[2020-07-16 17:25] samreid commented on #308
Excellent, thanks!

[2020-07-16 17:52] pixelzoom commented on #308
I haven't gotten to the reviewing the performance changes yet.  But I do have some API comments:

- [ ] Constructor

Should AxonArray constructor support providing an initial set of elements or initial length?  Having to use `push` to populate an AxonArray (as in AxonArrayTests.js) is inconvenient.  Is there any reason why we can't support the same constructor signatures as Array?  Array's constru

[2020-07-16 21:57] samreid commented on #308
That won't work exactly because we want to support a final `options` argument.  But how about passing an array as an optional first argument?
[code]

To maintain polymorphic subtyping, the argument type should remain `{Array}`.  If it requires an `{AxonArray}` then it is no longer interchangeable with the parent type. (Contravariant parameter types).

The purpose of `AxonArray` is to make it easy

[2020-07-16 22:57] zepumph commented on #308
Feel free to nix this idea, but I think it would be more phet-like to not support polymorphism in constructor signtaure, and instead just support everything desired through a single, options arg:

[code]

I know this goes away supporting/mimicking `Array`'s api, and would be fine not doing this. I just thought I would recommend a single signature that supports all features.

[2020-07-20 17:47] pixelzoom commented on #308
Proposal in https://github.com/phetsims/axon/issues/308#issuecomment-659720934 sounds good to me. `length` and `values` options should be mutually exclusive.

[2020-07-20 17:55] pixelzoom commented on #308
Stopping my review of performance, because this implementation is buggy.  `lengthProperty` is not being updated.

Example:

[code]

[2020-07-20 17:56] pixelzoom commented on #308
Stopping my review of performance, because this implementation is buggy.  `lengthProperty` is not being updated.  This also point to a deficiency in unit tests.

Example:

[code]

[2020-07-20 18:01] samreid commented on #308
I updated `lengthProperty` on mutation, and added a basic unit tests for `lengthProperty` under push and pop.

[2020-07-20 18:08] samreid commented on #308
I added more unit test coverage and another fix in the commit.  This should no longer block performance testing.

[2020-07-20 18:35] pixelzoom opened #310 "TinyEmitter allows addListener when disposed"
TinyEmitter.addListener (and therefore Emitter.addListener and Property.link) happily allows you to add a listener after it has been disposed.  Not until you call `emit` will you discover your error.

Example:

[code]

Shouldn't this be more robust, and detect the programming error at the `addListener` site, rather than waiting for `emit`?

Look like this has been the case since Emitter was first

[2020-07-21 15:09] samreid commented on #308
In the commit, I renamed "item" to "element".

[2020-07-21 15:42] samreid commented on #308
I added constructor `options.values` and `options.length`.

There is a new problem that I could use help with.  When invoking

[code]

from splice, somehow this ends up invoking the subtype constructor with a number argument.  I'm concerned the current handling will create an inconsistent state for the AxonArray, and not allow us to error out when `AxonArray({number})` is called.

[2020-07-21 15:43] samreid commented on #308
I added a commit that addresses the 1st concern, but I'm not sure what to do about the 2nd concern other than adding a lint rule.  I'l leave it up for discussion as part of the review.

[2020-07-21 22:33] pixelzoom commented on #308
@samreid said:

Should options.values be renamed to options.elements?

I also don't see any unit test for an attempt to initialize with invalid elements.  Something like:

[code]

[2020-07-21 22:35] pixelzoom commented on #308
@samreid said:

Should options.values be renamed to options.elements?

I also don't see any unit tests that involve `elementOptions`.  For example:

[code]

[2020-07-21 22:42] pixelzoom commented on #308
A couple more comments about AxonArrayTest.js....

(1) There's a set of unit tests that deal with `length`:

[code]

Not one of them actually checks `length`, they all check `lengthProperty.value`.

(2) This is test for the `values` option:

[code]

This is an insufficient test. Checking length does not guarantee that the array was initialized with the correct elements, in the correct order.

[2020-07-21 22:54] pixelzoom commented on #308
Re the changes that were made for performance...  Many methods fire an emitter, then update `lengthProperty`.  That order seems very problematic, because `lengthProperty` will be out of sync, especially in cases like `push` and `unshift` where the emitter may fire multiple times before `lengthProperty` is updated.   Are you assuming that listeners to `elementAddedEmitter` and `elementRemovedEmitte

[2020-07-22 21:36] samreid commented on #308
I addressed the recommendations.  Back to @pixelzoom for re-review.  Can you also comment on overall game plan?  Should we deprecate `ObservableArray` and recommend using `AxonArray` instead?  Should we rename `AxonArray`?  There are 132 occurrences of ObservableArray, should any of them be ported to `AxonArray`?

[2020-07-27 22:51] pixelzoom commented on #308
Changes look good.

I'm not clear what "I'm not sure what to do about the 2nd concern" is referring to in https://github.com/phetsims/axon/issues/308#issuecomment-661939044.   Are you referring to support for methods that return a new Array, as mentioned in https://github.com/phetsims/axon/issues/308#issuecomment-659572320.  Should they return a new AxonArray?  I'm not clear on where we landed on

[2020-07-27 23:10] samreid commented on #308
Thanks for the review.  I recommend opening the remaining points in new issues so they can be threaded separately.  I'll open them then close this parent issue.

[2020-07-27 23:16] samreid opened #311 "Should new AxonArray({number}) fail?"
From https://github.com/phetsims/axon/issues/308

When invoking

[code]

from splice, somehow this ends up invoking the *subtype* constructor with a number argument. That is, it calls the `AxonArray` constructor with a `{number}`.

Thus the constructor has to be documented like so:

[code]

Do we need a way to guard against simulations calling `new AxonArray(3)`?  Right now that isn't caught.  We

[2020-07-27 23:18] samreid opened #312 "Should AxonArray array methods return Array or AxonArray?"
@pixelzoom asked:

[2020-07-27 23:19] samreid commented on #312
In https://github.com/phetsims/axon/issues/308#issuecomment-659696840 I recommended leaving `Array` as the return type:

The purpose of `AxonArray` is to make it easy to add listeners and phet-io instrumentation.  That seems rare to want to want to instrument the result of one of the array methods, or add listeners to it.  And if we did want to support that, we would have to augment the methods wi

[2020-07-27 23:20] samreid opened #313 "The implementations of pop and unshift look like they could be simplified a bit."
In https://github.com/phetsims/axon/issues/308#issuecomment-664677904 @pixelzoom said:

The implementations of `pop` and `unshift` look like they could be simplified a bit.  Local variable `hasElement` is not really necessary, and it's not necessary to set `this.lengthProperty` if the array is empty. For example:

[code]

[2020-07-27 23:22] samreid commented on #313
It isn't accurate to use `removedElement !== undefined` because that gives the wrong value for arrays with `undefined` values, such as `[1,2,undefined,4]`.  Therefore, we should use `this.length>0` to determine if an element would be removed.

[2020-07-27 23:25] samreid opened #314 "Game Plan for AxonArray"
In https://github.com/phetsims/axon/issues/308#issuecomment-662709935 I asked:

@pixelzoom replied:

Let's discuss this at an upcoming developer meeting.  Maybe before going "all in" we should schedule 1-2 developers to try AxonArray in a simulation (PhET and PhET-iO) to make sure it is a good fit and see if there are further changes to be made before wide adoption.

[2020-07-27 23:27] samreid commented on #308
I moved all remaining discussion topics to new issues.  I'll close for now, but please reopen or add new issues as appropriate.

[2020-07-27 23:27] #308 closed

[2020-07-28 05:12] pixelzoom commented on #313
Good point. Closing.

[2020-07-28 05:12] #313 closed

[2020-07-28 05:14] pixelzoom commented on #312
This sounds reasonable to me. But I think we should get some other opinions at developer meeting.

[2020-07-28 05:17] pixelzoom commented on #314
AxonArray does not (and cannot) extend PhetioObject.  How do you propose to support PhET-iO?

[2020-07-28 05:24] pixelzoom commented on #314
There are many ObservableArray methods that are not currently supported by AxonArray, including: shuffle, reduce, find, every, count, clear, remove, removeAll, add, addAll, reset, dispose.  How widely used are they? Should they be added to AxonArray?  This will affect ability to convert easily from ObservableArray to AxonArray.

`dispose` in particular must be implemented, to clean up `elementAdde

[2020-07-28 16:41] samreid commented on #310
I made this change, added a unit test and tested phet-brand aqua and everything came out clear.  I'll commit momentarily.

[2020-07-28 16:43] samreid commented on #310
Committed.  @pixelzoom can you please review at your convenience?  Should this block publication until the review is complete?

[2020-07-28 17:37] pixelzoom commented on #311
Why are you calling `Array.prototype.splice.apply( this, arguments )` instead of `super.splice( arguments )` ?

[2020-07-28 17:41] pixelzoom opened #315 "bug in AxonArray unshift?"
[code]

Should this be calling `Array.prototype.unshift`?

If so, is there a missing/incorrect unit test for AxonArray `unshift`?

[2020-07-28 18:00] samreid commented on #315
Fixed and added a test to verify the correct behavior, ready for review.

[2020-07-28 18:31] pixelzoom commented on #315
Looks good. Closing.

[2020-07-28 18:31] #315 closed

[2020-07-28 18:32] pixelzoom commented on #310
Looks good. Closing.

[2020-07-28 18:32] #310 closed

[2020-07-28 18:50] pixelzoom commented on #311
I'm unable to verify that AxonArray's constructor is called when `splice` is called. What am I doing wrong?

I added a `console.log` here, in AxonArray constructor:

[code]

I don't see that log message when exercising AxonArray `splice`:

[code]

[2020-07-28 19:01] samreid commented on #311
I tried the same code in natural-selection-main and I did see the console.log statement.  Want to schedule a zoom call?

[2020-07-28 19:01] samreid commented on #311
I also tried a `debugger` and ran the axon unit tests, and it was triggered.

[2020-07-28 23:43] pixelzoom opened #316 "PropertyStateHandler unregisterOrderDependenciesForProperty is a performance bottleneck"
In https://github.com/phetsims/natural-selection/issues/140, we're investigating big performance differences in `brand=phet` vs `brand=phet-io` for Natural Selection.

In https://github.com/phetsims/natural-selection/issues/140#issuecomment-665348980:

[2020-07-29 16:53] zepumph opened #317 "Can TinyEmitter.listeners become a Set?"
Over in https://github.com/phetsims/natural-selection/issues/140#issuecomment-665348980, the phet-io team found that 1.2 seconds of a 1.3 second "start over" operation, clearing ~1000 bunnies from Natural Selection, was due to TinyEmitter.removeListener where the listener array is spliced. We see online that `Set` may be more optimized for this (as well as add/iterate)

We will take it for a test

[2020-07-29 16:58] zepumph commented on #317
See https://github.com/phetsims/phet-io/issues/1689 for parent performance work in phet-io

[2020-07-29 17:02] zepumph opened #318 "PropertyStateHandler.propertiesInOrderDependencies should be a Set"
From https://github.com/phetsims/axon/issues/316, the phet-io team sees that `Object.<phetioID, {true}>` can be rewritten as a Set.

[2020-07-29 17:38] samreid commented on #316
There are 7000 Properties being cleared when we press Start Over, this leads to N^2 of 49,000,000.  So we need a strategy or data structure that doesn't iterate over every Property when one Property is removed.  Perhaps a pair of Maps?  Or one Set and a Map?

For instance, instead of a flat list `propertyOrderDependencies = Array[OrderDependency]`, we could keep one map where the keys are the "bef

[2020-07-29 18:19] jonathanolson commented on #317
If `Set` is better for the many-listeners case while still acceptable for the much-more-common "a few" listeners case, I'll be excited to see improvements in performance!

[2020-07-29 21:58] samreid commented on #317
I revised `TinyEmitter` to use `Set` in this patch:

<details>

[code]

</details>

And I recorded these startup times for Gravity and Orbits, not statistically significantly different:

TinyEmitter.Set
3.56
3.52
4.19
3.63
3.49

3.68 mean

TinyEmitter.Array
4.30
3.53
3.35
4.25
3.49

3.78 mean

[2020-07-29 22:48] zepumph commented on #317
I do not think that start-up time is the metric. Instead I tested the Natural Selection "start over" case we were working on over in https://github.com/phetsims/natural-selection/issues/140#issuecomment-665348980. Here is what I found:

|startOver in phet-io | addListener indexOf |removeListener splice|
|--|--|--|
1624|||
1544|328|1161|
1800|351|1249|
1727|350|1293|

|With Set patch startOver in p

[2020-07-30 16:50] samreid commented on #314
`ObservableArray.shuffle` appears unused.  `phet.joist.random.shuffle` would work out of the box for `AxonArray`.  I'm not sure whether we should add a convenience method for this on `AxonArray`.

`AxonArray.reduce` takes its implementation from `Array.prototype.reduce`. Same with `find` and `every`.

I don't think we should add every method from `ObservableArray` to `AxonArray`, let's be more car

[2020-08-04 00:50] samreid commented on #317
Tagging @pixelzoom so he is aware of this potential performance improvement for Natural Selection.

[2020-08-04 17:14] samreid commented on #317
I ran this test:

[code]

And got these results:

[code]

We should also run a test that calls `emit`.  I also noticed there are some failing unit tests with this patch.

[2020-08-04 18:09] samreid commented on #317
The problem is this part:

[code]

Notice that we keep incrementing index `i` even if the `this.activeListenersStack` gets swapped out.  This is tricky to do with a `Set` but can be done like so:

[code]

But this looks like a waste of CPU and heap.

Also, it seems sketchy to me that you can swap out the `this.activeListenersStack` while traversing `i`.

[2020-08-04 18:49] samreid commented on #317
@jonathanolson or @zepumph can you please review the preceding comment and advise?

[2020-08-04 20:00] chrisklus opened #319 "Add option to link for ignoring during set state"
From discussion in https://github.com/phetsims/natural-selection/issues/117, @samreid and I investigated a couple possibilities for reducing the number of times we add the guard `if ( !phet.joist.sim.isSettingPhetioStateProperty.value ) {` in sim code. Since it often occurs in Property `link`s, we thought there might be a way to automate this more.

Here is an example from ShakerParticle.js:

[cod

[2020-08-05 00:58] jonathanolson commented on #317
I don't see a good way to use Set here that doesn't ever either create more garbage, use more memory, or would be inefficient, although I'd love to be proven wrong.

Presumably iterators would have the same issues, we COULD get all of the values into an Array, but that seems inefficient and bad for garbage.

I'd be OK with adding `TinySetEmitter`, which could be wildly inefficient if a listener is

[2020-08-05 01:43] samreid commented on #317
Can you help me understand the value of retaining `i` while iterating through the (possibly mutated `activeListenersStack`)?  For instance, let's say the top of the stack has listeners A, B, C and we are processing i=0 (A).  Then a listener mutates the `activeListenersStack` to have listeners C, D, E.  Then it would go to i=1 which is D, thus missing C.  Is this the prescribed behavior?

[2020-08-05 04:46] samreid commented on #317
This version eagerly guards the set of listeners and passes all of our unit tests.

<details>

[code]

</details>

I ran this performance test:

[code]
and saw

0.0004ms for this version compared to 0.0002ms for master.  I didn't look at garbage or memory (but the proposed version should take less heap space since it doesn't require an array of `activeListenersStack`).

[2020-08-05 14:39] samreid commented on #317
Another possibility would be to optionally declare TinyEmitters as guarded, then use it like so:

[code]

Full implementation:

<details>

[code]

</details>

[2020-08-05 14:51] samreid commented on #317
It seems a good question for developer meeting to get opinions about:

(a) the simpler implementation of TinyEmitter which always guards and takes around 0.0004ms per emit (on Mac/Chrome).  Garbage analysis hasn't been run for this case, but this may be higher garbage.
(b) a more complex implementation of TinyEmitter which requires clients to determine whether they should be guarded or not and tak

[2020-08-06 19:23] chrisklus commented on #317
From 8/6/20 dev meeting:

@samreid is leaning towards option (d). @jonathanolson will elaborate. Thanks!

[2020-08-06 19:26] jonathanolson commented on #317
I see the constraints for (d) being:

1. We don't want to have bad performance on removeListener with large numbers of listeners, so we'll probably want to use Set somehow.
2. We don't want to create garbage on emit() in the general case, and ideally addListener/removeListener if compiled down.
3. We NEED to respect reentrancy for our guarantees, so that it behaves as if we always copy listener ar

[2020-08-06 21:53] zepumph commented on #309
Pinging @jonathanolson as I am working on https://github.com/phetsims/sun/issues/444 and not seeing a better way to solve this than @jessegreenberg's thoughts above.

[2020-08-06 22:09] samreid commented on #317
Thanks @jonathanolson, I made progress toward tracking iteration progress through the Set, and swapping out for an `Array` when a mutator is called, but I'm having trouble understanding how to do this for re-entrant `emit` calls.  Will this need to be a stack?  Would you like to help with this part?  Here are my initial steps, before I got to the stack-related part:

<details>

[code]
</details>

[2020-08-07 17:15] samreid commented on #316
I set out to try

[code]

While this would have fast O(1) lookups for keys, it will still have O(N) lookups for values.  Do we need to have forward maps and reverse maps?  Adding to Wednesday agenda for further discussion, but if there is a clearer direction before then, I can take further steps.

[2020-08-07 21:35] pixelzoom commented on #319
Since this wouldn't eliminate use of `phet.joist.sim.isSettingPhetioStateProperty.value`, I guess I have a slight preference for continuing to use it, versus adding an additional (less obvious?) way of doing the same thing.

[2020-08-10 17:13] pixelzoom commented on #311
I do see the console.log now. My browser must've been caching (which has been happening chronically since updating to Chrome 84).

[2020-08-10 17:25] pixelzoom commented on #311
We definitely don't want to be calling `new AxonArray( {number} )` in sim code. But I'm not sure what the best solution is for preventing that.

What is the answer to my question in https://github.com/phetsims/axon/issues/311#issuecomment-665177597?

[2020-08-10 18:41] samreid commented on #311
We cannot use `super.splice(arguments)` because it passes through the arguments object directly as a single argument (like `call`), but we need them to be spread out.  I think `const deletedElements = super.splice(...arguments);` would have the same functional behavior, but that probably requires more CPU/heap compared to `apply`.  Therefore `Array.prototype.splice.apply` seems preferable.

[2020-08-10 18:48] pixelzoom commented on #311
Thanks for clarifying.

I still don't know what's best for preventing calls to `new AxonArray( {number} )`.    Of the 2 options you proposed in https://github.com/phetsims/axon/issues/311#issue-666642149, the lint rule seems easiest.   But you should get other opinions.

[2020-08-10 18:49] pixelzoom commented on #314
https://github.com/phetsims/axon/issues/314#issuecomment-664782246:

Thoughts on this @samreid ?

[2020-08-10 18:55] samreid commented on #314
I don't think `AxonArray` instances need to be instrumented.  For the data stream, it passes `tandem` to its children.  If a sim needs dynamic serialization, it should use `PhetioGroup` instead of `AxonArray`.

[2020-08-10 19:06] pixelzoom commented on #314
In general:

* `AxonArray` is a replacement for `ObservableArray`.  Please explain why `ObservableArray` needed to be instrumented, but `AxonArray` does not.   Please explain why ``PhetioGroup` is now required for use with `AxonArray`.

In Natural Selection...

* We have`BunnyArray extends ObservableArray`, and every instance of `BunnyArray` is currently instrumented (by request) with `phetioState

[2020-08-10 19:23] samreid commented on #314
ObservableArray provided methods like `ObservableArray.addItemAddedListener` etc.  `AxonArray` provides these functions through its children like `AxonArray.elementAddedEmitter`, etc.

I was unaware how much `ObservableArrayIO` was responsible for serialization/deserialization.  I thought that feature was rarely used and that its deficiencies had led us to create `PhetioGroup`, but it looks like c

[2020-08-10 19:41] samreid commented on #311
For now, I have forbidden `new AxonArray({number})` via a lint rule.

[2020-08-10 20:16] samreid commented on #311
Public Service Announcement about AxonArray and not calling it with `{number}`.

[2020-08-10 20:17] samreid commented on #314
I sketched out some ideas about adding a child `AxonArrayState` to manage the `AxonArray` state.  This is incomplete and not ready for testing, just a checkpoint for when I return to it later.

<details>

[code]

</details>

[2020-08-10 20:22] pixelzoom commented on #311
The PSA is actually that no one should be using this yet in production code, right?

[2020-08-10 20:25] samreid commented on #311
It looks like there are other issues for developer meeting about the game plan for AxonArray, so this public service announcement will be a brief one about not calling it with `{number}`.

[2020-08-10 20:55] samreid commented on #203
We expect to deprecate ObservableArray and move forward with AxonArray, see https://github.com/phetsims/axon/issues/314.  Putting this issue on hold for now.

[2020-08-11 18:48] pixelzoom commented on #316
This was identified by @zepumph as relevant to https://github.com/phetsims/natural-selection/issues/140.  And it's hoped that Natural Selection will be in dev testing by end of August 2020.

[2020-08-11 18:48] pixelzoom commented on #317
This was identified by @samreid  as relevant to https://github.com/phetsims/natural-selection/issues/140.  And it's hoped that Natural Selection will be in dev testing by end of August 2020.  So restoring the "high priority" label.

[2020-08-11 23:27] pixelzoom commented on #317
In https://github.com/phetsims/natural-selection/issues/60#issuecomment-672353051, TinyEmitter.removeListeners was identified as a bottleneck:

[2020-08-12 03:20] samreid commented on #317
I tried https://github.com/phetsims/axon/issues/317#issuecomment-669232491 with Natural Selection (without assertions) and it sped up the `mateBunnies` call from 423ms to 337ms.

[2020-08-12 04:24] samreid commented on #317
I implemented a version that uses Sets and automatically guards on mutation.  It's passing axon unit tests and aqua is going well.  Performance is fast for `mateBunnies` in NaturalSelection going to the 6th generation.  There is an object literal creation during every emit which we may wish to optimize out.  I'd like to run more performance tests (for normal runtime emit performance) and commit wh

[2020-08-12 13:53] samreid commented on #317
A potential optimization would be to prepare the TinyEmitter for its first emit, so the first emit doesn't need to push anything on the stack or create any object literal.  It only incurs that extra cost if it goes for a recursive `emit` call.

[2020-08-12 17:03] zepumph commented on #316
Today @samreid, @chrisklus and I discussed this a bit more:

* We can get around O(N) lookup while iterating if we keep maps the go from value -> things that are dependent on the value (like the opposite of the above maps).
* We thought that there may need to be 8 maps, 4 in each direction, but perhaps we can get creative with storing more than just phetioIDs, perhaps a unique identifier that incl

[2020-08-12 17:12] samreid commented on #316
To get O(1) we should only be "looking up" Map keys.  The reason we need Map values to be Sets is to get O(1) time in removal.

[2020-08-12 20:46] samreid commented on #317
I ran a test on battery resistor circuit in CCK DC and compared master to the patch above.

Garbage Sawtooth for patch: 25-35MB, 28-36MB
Garbage Sawtooth for master: 27MB-35MB, 27-35MB

Garbage Sawtooth for patch: 672ms, 644ms
Garbage Sawtooth for master: 649ms, 683ms

Total time for TinyEmitter.emit for patch: 3.1%
Total time for TinyEmitter.emit for master: 4.2%

[2020-08-12 21:00] samreid commented on #317
@ariel-phet can you please recommend a reviewer for this commit?  We should block publication until review is complete.

[2020-08-12 21:36] zepumph opened #320 "Assertion failed: phetioID already registered: axon.general.thirdProperty"
Discovered while working on https://github.com/phetsims/axon/issues/316, and this will show up in CT now because of https://github.com/phetsims/perennial/issues/191. I'll take the lead on the issue.

In this test:
`PropertyStateHandler: Order dependency between NumberProperty and its Range (1, 1, 2)`

[code]

[2020-08-12 22:04] zepumph commented on #320
The immediate problem was making sure that tests properly disposed the instrumented elements that they created, cleaning up each individual test. That was a pretty simple exercise, but I ran into api validation errors when trying to "dispose static elements". I'll get to my solution for this in a second.

Next. . . . this is maybe the fifth time now that I have dealt with the weirdness of `Tandem.

[2020-08-13 01:41] zepumph commented on #316
I worked on this all afternoon, and got all of the tests working, there are still console errors, but ran out of time. Here is my patch!

<details>

[code]

</details>

Currently, this is potentially the most prototypey code I have ever written. It is far from a commit (although I think not far from feature complete). I look forward to refinement, and then, later, review with @samreid!

To test:

[2020-08-13 05:54] zepumph commented on #316
Tests are working with some cleanup done; not yet working in a sim though because we aren't excluding order dependencies on elements that aren't in the state to be set:

<details>

[code]
</details>

[2020-08-13 06:22] zepumph commented on #316
I am feeling good enough to commit tonight. I don't think it is perfect, but all axon unit tests are passing, as well as fuzzing state wrappers for CAF,GP, and fricition. Also aqua standalone fuzzing for both brands looks right.

There are still some TODOs, and I think that we will find better ways to conduct the data structures. I was a bit confused by this screenshot, taken of the upstream sim i

[2020-08-13 06:33] zepumph commented on #316
I just committed only to see that Natural selection is having a problem with this change set. Tagging @pixelzoom so that he is aware that there is a fuzzing error related to this work that is only in NS from what I see. I will look into it tomorrow.

Overall I'm happy with the progress, and I think it is better than not to push forward. I put a lot of TODOs in `PropertyStateHandler` and look forwa

[2020-08-13 15:25] pixelzoom commented on #316
Thanks for the heads up @zepumph. I've created issue https://github.com/phetsims/natural-selection/issues/175 to track in natural-selection. FYI, this blocks publication of the next prototype RC, which we planned to do out of master.  So labeling as "block publication".

[2020-08-13 18:38] jessegreenberg commented on #317
During dev meeting 8/13/20 @zepumph volunteered to review this change.

[2020-08-13 19:24] jessegreenberg opened #321 "Rename AxonArray"
While discussing https://github.com/phetsims/axon/issues/312 @jbphet mentioned that AxonArray requires that you understand what "axon" is and context.  This issue is to brainstorm alternatives and rename. AxonArray is really an Observable array, so ObservableArray is nice. We could name it that after we remove existing ObservableArray.

To do this eagerly, we could rename ObservableArray to Observ

[2020-08-13 19:26] jessegreenberg commented on #312
8/13/20

Reviewed this issue and all thought it was reasonable that functions returning an array return an `Array` rather than an `AxonArray` instance.

Closing.

[2020-08-13 19:28] jessegreenberg commented on #321
Adding to developer meeting agenda to discuss another time, after some other work related to AxonArray is complete.

[2020-08-13 19:31] zepumph commented on #314
In dev meeting today @samreid mentioned that eventually he will want to take this into a sim for a test drive. I recommended Charges and Fields as an option because it has an ObservableArray that is populated with PhET-iO dynamic elements. Good luck, and let me know if I can be of assistance.

[2020-08-13 21:45] pixelzoom opened #322 "enforce tandem.name.endsWith( 'Property' ) in Property constructor"
Property currently requires that tandem.name.endsWith( 'Property' ).  @zepumph and I expected to find this enforced in the constructor.  Instead its in PropertyIO.  It should be moved to Property

[2020-08-14 00:41] zepumph commented on #316
After https://github.com/phetsims/axon/commit/b6e00c98864d4afef95252e9af0e5c2d49bf6846 I can now fuzz the NS state wrapper. I'm very unsure why that fixed the bug over in https://github.com/phetsims/natural-selection/issues/175.

From here I am profiling the state wrapper in NS when there are many bunnies, and working on improving performance. I have found that my assertion double checks upon remo

[2020-08-14 00:42] zepumph commented on #316
Next I see that we are still using a flat lists for phaseCallbacks, and that is taking 8% of a setState call. I will convert that to a Map now.

[2020-08-14 00:55] zepumph commented on #316
While working on converting phaseCallbacks to a Set, I realized that we were mutating the array while we iterated. I wonder if we can do that for Set? Through some google searching (which found nothing), and this script, it seems like we are alright mutating the set as we iterate
[code]

[2020-08-14 01:23] zepumph commented on #316
After the above commit, there are no more usages of arrayRemove, and it shows! Testing before/after in the state wrapper with the chrome dev tools' perfromance tab, I pause the sim in the middle of the 5th generation after doing nothing but letting exponential growth happen. Then I record performance letting the state wrapper continuously set state

Before https://github.com/phetsims/axon/commit/f

[2020-08-14 01:30] zepumph commented on #316
I think I'm ready for a pair review with SR about the remaining TODOs, I think it will be the most efficient way to get him caught up on what has been done thus far, as well as to get a recommendation about how to handle the remaining work. @samreid can we meet tomorrow (friday) or next week?

[2020-08-14 04:03] samreid opened #323 "Should we guard or short circuit validate calls (that don't return a value)?"
From https://github.com/phetsims/tandem/issues/200 @pixelzoom said:

[code]

[code]

[2020-08-14 04:06] samreid commented on #323
I'm seeing around 170 occurrences of `validate(` but only 21 occurrences of ` = validate(`, all of the latter in wave interference Scene.js.

What about using `assert && validate()` where possible?

[2020-08-14 17:20] samreid commented on #316
@zepumph and I looked at this today and had the following recommendations:

* Let's try a `class MapPair` (name to be determined) which manages the "before" and "after" pairs together.  That will likely help us get rid of

[code]

[2020-08-14 20:25] zepumph commented on #316
All TODOs have been dealt with, all of the above entries from the co-review have been completed. In general, I'm feeling much better about the performance of PropertyStateHandler, and performance profiling doesn't show any trouble in PropertyStateHandler. Then after today, I feel much better about the state of the code inside PropertyStateHandler. I feel like this has been reviewed, but perhaps it

[2020-08-14 21:46] pixelzoom commented on #323
Yes, we could use the `assert && validate` pattern elsewhere.  But it seems redundant to also be checking `assert` inside of `validate`.   And while `assert && assert(...)` is a nice pattern, `assert && someOtherFunction(...)` is imo questionable.  But I'll go along with whatever the dev team decides.

[2020-08-14 21:57] samreid commented on #323
I'm fine with `assert && validate()`.  I'd prefer not to pursue `validate && validate()`, because it seems like too much overhead for something that should be simple.  But maybe we want to investigate a different name for the constant that indicates a line can be stripped from the build.  But `unbuilt && assert()` doesn't sound that good to me.  I've just talked myself into liking `assert && valid

[2020-08-14 22:17] zepumph commented on #317
Review:

* dispose now uses     `this.removeAllListeners();` instead of clearing the array. Is this for a Set-specific reason, or maybe just for completeness in how `changeCount` is maintained?
* Earlier you were talking about how it is unfortunate that every emit call needs to create an Object, but you could make `emitContexts` of type `{Array.<number|{index:number, listenerArray: function[]}>}`.

[2020-08-14 22:17] zepumph commented on #317
@jonathanolson just for the single item above.

[2020-08-14 22:41] zepumph commented on #322
Tagging parent issue; https://github.com/phetsims/sun/issues/615

[2020-08-14 22:51] zepumph commented on #322
Done above, in the same style as work in https://github.com/phetsims/sun/issues/615 for `RadioButtons` and `ComboBoxListItem`.

Aqua fuzzing in phet and phet-io brand is clear. Closing

[2020-08-14 22:51] #322 closed

[2020-08-14 23:41] samreid commented on #317
To continue, I recommend splitting the review comments and remaining work to new issues.

[2020-08-14 23:46] samreid commented on #317
* The previous implementation was lacking both `guardListeners` and `changeCount`.  Using `removeAllListeners` makes sure those complete correctly.

[2020-08-14 23:58] samreid opened #324 "Performance improvements for TinyEmitter"
In https://github.com/phetsims/axon/issues/317#issuecomment-672884416 I said:

A potential optimization would be to prepare the TinyEmitter for its first emit, so the first emit doesn't need to push anything on the stack or create any object literal.  It only incurs that extra cost if it goes for a recursive `emit` call.

Questions:
* How many emitters are created but never emit?
* How many emitte

[2020-08-14 23:59] samreid commented on #324
In the code review, @zepumph said:

[2020-08-15 00:11] samreid commented on #317
I addressed one issue with a minor change (commit above), opened 2 side issues and commented on the other 2 issues.  Can this issue be closed?  Thanks for the review!

[2020-08-15 00:26] samreid commented on #324
As a test, I created this version of TinyEmitter that allocates all emitContexts during startup and doesn't push/pop during emit.

<details>

[code]

</details>

Testing in Natural Selection, I did not see a significantly different change in Bottom Up self time for TinyEmitter.emit (0.3% without this change and 0.4% with the patch), nor with the garbage sawtooth period (476ms without and 506ms wit

[2020-08-15 00:36] samreid commented on #324
This patch gets rid of the `delete` and has about the same performance/garbage profile:

<details>

[code]

</details>

[2020-08-15 01:07] samreid commented on #316
There is an asymmetry in these lines of code:

[code]

[2020-08-15 14:42] pixelzoom commented on #322
I'm not sure how aqua missed it, but normal-modes is failing.  See phetsims/normal-modes#55.

[2020-08-17 13:06] samreid commented on #314
Charges and Fields has this ObservableArray:

[code]

However, running the simulation in the state wrapper with particles in the play area did not show any state for this (no entries for `array`.  Likewise, putting debuggers in `ObservableArrayIO` serialization code didn't get hit.

Instead, I worked with Natural Selection to get the PhET-iO state working for AxonArray, and from what I can tell it

[2020-08-17 14:01] samreid commented on #314
Responding to the unanswered questions:

AxonArray instrumentation is provided by its children, including AxonArrayState which has AxonArrayStateIO.

I implemented 4 methods like this to enable interoperability in Natural Selection.  We will have to discuss as a team which of those should be deprecated/removed or if we want to add support for more.  I'm happy with these 4 as an interim solution to

[2020-08-17 14:55] samreid commented on #320
I reviewed the changes and agree phetioAPIValidation should be disabled for unit tests by default.    All the questions I have from this review are already covered in other issues, like this part:

https://github.com/phetsims/tandem/blob/24fcefcf056ec2173e5493903f3601db96cc2ef6/js/PhetioObjectTests.js#L128-L132

[code]

I think this issue can be closed, but back to @zepumph to see if there is anyt

[2020-08-17 15:23] samreid commented on #312
Something funny is happening.  I hit a debugger in Natural Selection while in the mirror inputs wrapper in this branch: https://github.com/phetsims/natural-selection/issues/178

this.lengthProperty is coming up undefined in splice:

[code]

slice is actually returning an `AxonArray`

![image](https://user-images.githubusercontent.com/679486/90413134-4e6b5180-e06b-11ea-9184-bb4f5c7092bf.png)

[2020-08-17 15:37] samreid commented on #312
Even this small test has `y` as type `MyArray`

[code]

According to our developer meeting consensus, it should return a `Array` but this may be going against the grain of JavaScript.  It seems appropriate to use `super.slice`, but we don't want the expense of the full `AxonArray` constructor.  Maybe the overriden methods should guard themselves and support both?

[2020-08-17 15:55] samreid commented on #312
I added guards in the overriden methods and added a unit test to make sure it doesn't fail any more.  @pixelzoom you are the most familiar with this implementation context from the review in #308.  What do you recommend?

[2020-08-17 17:53] #320 closed

[2020-08-17 23:02] pixelzoom commented on #311
Over in https://github.com/phetsims/natural-selection/issues/178, @samreid converted natural-selection to use AxonArray.  In subclass `BunnyArray extends AxonArray`, he added this same bit of code that we've been discussing here:

[code]

Hopefully we can find a better solution, because having to duplicate this in all subclasses is very undesirable.

[2020-08-18 02:00] samreid opened #325 "Support set substate calls in PropertyStateHandler.js"
PropertyStateHandler has this code:

[code]

In https://github.com/phetsims/phet-io/issues/1697 we are adding support for setting sub state, perhaps PropertyStateHandler should take a subset of the keys that pass the predicate.  @zepumph can you take a look?

[2020-08-19 03:23] samreid commented on #292
Property is already using TinyEmitter for its change listeners, and now TinyProperty extends TinyEmitter.  So likely the main benefit from this change would be that `TinyProperty` could contain the `_value`.  I believe most of the rest of the implementation would remain unchanged, so there may not be much benefit.  On the other hand, this code:

[code]
appears in both files, so we could isolate th

[2020-08-19 16:23] zepumph commented on #316
The obvious bug is fixed above. I'm not sure though why that wasn't failing anything. That seems like a red flag to me.

[2020-08-19 19:47] zepumph commented on #317
Looks good, thanks for the side issues. Closing

[2020-08-19 19:47] #317 closed

[2020-08-19 21:07] pixelzoom commented on #314
Re providing PhET-iO support for AxonArray...

In https://github.com/phetsims/natural-selection/issues/178#issuecomment-675162248, I noted:

In https://github.com/phetsims/natural-selection/issues/178#issuecomment-676632364, @samreid said:

[2020-08-19 22:34] zepumph commented on #325
I think this is currently good as is. Right now we guarantee that the state provided in that listener is a superset of any PhaseCallbacks populated in the `onBeforeApplyStateEmitter` listener. We could guard this further with an assertion like so if you think it is necessary. I don't think I do right now. Feel free to close or recommend a path forward.

<details>

[code]

[2020-08-19 23:20] samreid commented on #325
Since the `state` is already filtered to the subset of affected keys, this already seems good.  Thanks!  Closing.

[2020-08-19 23:20] #325 closed

[2020-08-19 23:21] samreid commented on #314
Labeling for developer meeting to discuss names for ObservableArray and AxonArray.

[2020-08-20 13:37] samreid commented on #321
Other AxonArray work is complete.  I propose:

* Rename ObservableArray => ObservableArrayByComposition
* Rename ObservableArrayIO => ObservableArrayByCompositionIO
* Rename AxonArray => ObservableArray
* Rename AxonArrayState => AxonArrayPhetioObject
* Rename AxonArrayStateIO => ObservableArrayIO

These changes would address 2 of the bullet points in https://github.com/phetsims/natural-selection/

[2020-08-20 15:06] KatieWoe opened #326 "CT order dependency between NumberProperty and its Range failed"
[code]

[2020-08-20 16:08] zepumph commented on #326
Fixed in https://github.com/phetsims/axon/commit/a09c536c544271627845cdec60a23360df746593

[2020-08-20 16:08] #326 closed

[2020-08-20 18:40] samreid commented on #311
At today's meeting, @zepumph recommended overriding methods that return `Array` so that we can assert that the argument is not a number, and that we can return `Array` instances instead of the subtype?

It sounds promising, I'll go for it!

[2020-08-20 18:47] samreid commented on #321
@pixelzoom asks about `ObservableArrayDeprecated` instead of `ObservableArrayByComposition`.

@zepumph asks about naming it to `ObservableArrayPhetioObjectIO` to better match with its core type.  Or we could deviate type name from the filename.  In our code it could be `ObservableArrayDeprecated` and in the API it could be `ObservableArrayByComposition`.

[2020-08-20 18:57] samreid commented on #314
@zepumph: It looks like the composition approach for AxonArray is reasonable and we don't need to go for a PhetioObject as a mixin at the moment.  Maybe in the future we will have more need for it.

@pixelzoom: I feel good about the composition pattern now that we discussed making the nested class a private implementation detail.

[2020-08-20 19:29] zepumph commented on #321
I logged whenever an instrumented ObservableArray was made in a phet-io standalone sim. Here is the list of sims that have these:

[code]

[2020-08-23 22:27] samreid commented on #225
I tried this patch again, and ES6 module loading doesn't help because it creates loops and cannot load.  Also, `assert && assert( this instanceof phet.dot.Vector2Property,` fails because in some cases `Vector2Property` hasn't been loaded by the time this code runs.  I'm also concerned about the corner cases @zepumph raised above.  If we even have one case of `Property<Vector|null>` we will need a

[2020-08-24 03:16] samreid commented on #221
I'm only seeing 3 occurrences of `PropertyIO( ColorIO )` at the moment.  Let's bring it back to developer meeting to determine how to proceed.

[2020-08-24 18:35] pixelzoom commented on #225
In addition to using the correct Property subclass, there are other aspects to this issue - like using appropriate validation options - that are even more difficult to catch automatically.  Imo, this should be second-nature for PhET developers, and we shouldn't need to be writing code to make sure they're doing this.   So I recommend that we bail on this issue, and continue to flag it manually via

[2020-08-24 19:20] pixelzoom commented on #312
Wow. I'd love to have a discussion with whoever implemented Array.

I'm guessing that this behavior is symptomatic of JavaScript's lack of real support for OO programming (`class` and other OO stuff is syntactic sugar, "lipstick on a pig").   Array obvious wasn't implemented as a proper class.  If it were me, I'd bail completely on extending Array.  When there are this many weird problems, composi

[2020-08-24 19:21] pixelzoom commented on #311
... similarly in https://github.com/phetsims/axon/issues/312#issuecomment-679317030, I said:

[2020-08-24 20:02] samreid commented on #312
A note to myself to investigate returning `AxonArray` from its methods.  How many of our problems go away if we take that approach?

[2020-08-24 20:43] jonathanolson commented on #311
After doing a bit more diving into this, I'm trying to understand the use case for AxonArray over ObservableArray/Array. The doc says:

but, what is the advantage? I don't feel like I can suggest options without understanding the purpose.

I'm code-reviewing code that is using AxonArray, so this is coming up as part of https://github.com/phetsims/collision-lab/issues/153.

Subtyping Array potentia

[2020-08-24 20:54] pixelzoom commented on #311
@brandonLi8 @jonathanolson I really don't think that AxonArray should be used in collision-lab.  It has too many problems, and any advantages that it might have had over ObservableArray feel like they are evaporating.

[2020-08-24 21:30] brandonLi8 commented on #311
@samreid one proposal could be to provide the [`Symbol.species`]( https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/species) static getter.

With this:
[code]
`filter`, `map`, etc. would return Array and we shouldn't need to override the default browser implementation. Thoughts?

[2020-08-24 22:29] samreid commented on #312
UPDATE: @brandonLi8 suggested a better way in https://github.com/phetsims/axon/issues/311#issuecomment-679376704

[2020-08-24 22:46] samreid commented on #311
`static get [Symbol.species]() { return Array; }` is exactly what we needed, thanks @brandonLi8!  I committed it above.  This allowed us to remove all of the workarounds related to calling the sub-constructor.

[2020-08-24 23:50] pixelzoom commented on #311
JavaScript continues to amaze me (and not in a good way).

[2020-08-25 00:16] samreid commented on #311
* The main idea is that by subtyping `Array` we automatically get a uniform API that is consistent with the built-in Array API.
* Recent work was spurred by https://github.com/phetsims/axon/issues/283#issuecomment-654994805 which says:

[2020-08-25 00:18] samreid commented on #311
Thanks to @brandonLi8, the problem regarding "Should new AxonArray({number}) fail?" has been addressed, and this issue is ready to close.  However, there have been more general questions and comments by @pixelzoom and @jonathanolson which should be resolved or moved elsewhere first.

[2020-08-25 00:19] samreid commented on #312
@brandonLi8's solution is working great, and we are correctly returning `Array` instead of `AxonArray` from all of the `AxonArray` methods.

[2020-08-25 00:19] #312 closed

[2020-08-25 00:32] brandonLi8 commented on #311
I prefer sticking to AxonArray in collision lab.

To add onto what @samreid said in https://github.com/phetsims/axon/issues/311#issuecomment-679429777...

I believe (but not fully sure without performance tests) that AxonArray is actually more performant than ObservableArray because it is able to utilize native methods from Array which are optimized.

I also believe it is more natural to have Axon

[2020-08-25 00:35] samreid commented on #314
I applied the recommendations from dev meeting.  Tested and verified in the natural selection axon-array branch, closing.

[2020-08-25 00:35] #314 closed

[2020-08-25 01:09] samreid commented on #321
I added more methods to `AxonArray` to enhance compatibility with the `ObservableArray` API and most things are working nicely.  I don't think it will be too much effort to port things from ObservableArray to AxonArray, so I think it would be safe to follow the renames as prescribed above.  Still, I would like to hedge my bets and wait until #311 discussion completes.

[2020-08-25 04:58] jonathanolson commented on #311
I’ll look into this more tomorrow, including performance. The documentation also states that this is NOT API compatible with Array, since there are unsupported methods/getters/setters, so it seems *unsafe* in general to pass an AxonArray in place of an Array, no?

If those are the goals, I’m curious if Proxy has been tested (as it probably would have worse performance unfortunately), since it pres

[2020-08-25 15:02] pixelzoom commented on #311
Looks OK to me, unassigning.

[2020-08-25 18:15] pixelzoom opened #327 "improve DerivedProperty.dispose"
In DerivedProperty.dispose:

[code]

That code makes the assumption that if `!dependency.isDisposed`, then its listeners have been purged.

This would be more robust:

[code]

DerivedProperty also assumes that `this.dependencies` and `this.dependencyListeners` are indexed identically, which isn't documented anywhere and seems brittle.   I suggest that we at least document it.

Assigning to @samrei

[2020-08-25 19:10] jonathanolson commented on #311
1. If we're passing subtyped arrays to things that expect vanilla arrays, it's a potential that code would need to get deoptimized to handle another type of array. My testing shows no major difference in Chrome/Safari, but a potential difference in Firefox (which could slow down our code in general, beyond the scope of what AxonArray is used for). This could drown out performance gains of the actu

[2020-08-25 19:12] jonathanolson commented on #311
Benchmarking committed above, should be testable with scenery/tests/benchmarking.html (there is other benchmarking code in that general location)

[2020-08-25 19:32] pixelzoom opened #328 "PropertyStateHandler dependency registration leaks memory"
While working on memory leaks in https://github.com/phetsims/natural-selection/issues/189, @samreid and I identified a leak in dependencies that are registered with PropertyStateHandler.   We identified this by comparing heap snapshots for natural-selection:

<img width="826" alt="screenshot_518" src="https://user-images.githubusercontent.com/3046552/91218285-0c2eb980-e6d6-11ea-8db3-9cdeb684dde8.p

[2020-08-25 19:48] pixelzoom commented on #328
This block ph-scale 1.4 RC testing (see https://github.com/phetsims/ph-scale/issues/200) and natural-selection prototype deploy (see https://github.com/phetsims/natural-selection/issues/206).

[2020-08-25 20:21] samreid commented on #328
The patch looks accurate to me, @zepumph can you please review?

[2020-08-25 20:28] samreid commented on #311
Results on my mac/chrome:

[code]

Results on my Mac/Firefox:

[code]

[2020-08-25 21:33] samreid commented on #311
Lodash unfortunately calls `Array.prototype.splice(array)` instead of `array.slice`.

[2020-08-25 21:51] pixelzoom commented on #328
This is blocking ph-scale RC, see phetsims/ph-scale#199.  Milestone for 1.4 publication is ??

This is blocking natural-selection prototype RC, see https://github.com/phetsims/natural-selection/issues/205. Milestone for publication is "this week if possible".

[2020-08-25 22:57] samreid commented on #311
I was concerned that our Babel step would do something suboptimal for `this.push(...options.elements)`.  For instance, babel targeting es2015 converts

[code]

to

[code]

That being said, `this.push(...options.elements)` does read nicer, and maybe `prototype.push.apply` is a premature optimization?

[2020-08-25 23:00] samreid commented on #311
Should we prototype a `Proxy`-based solution that aims for 100% safety?

[2020-08-25 23:20] samreid commented on #327
I agree the proposal looked more robust, and I couldn't think of any problems with it, or find any problems when exercising it in the unit tests.  I committed it, and made similar changes to Multilink, and converted the 2nd array to a `Map` so we don't have to keep indices in step.  Ready for review.

[2020-08-26 01:21] zepumph commented on #328
After the below patch, I didn't see anything in my heap comparison relating to the sets in PropertyStateHandler in PhET brand. @samreid do you think it is reasonable to no-op in phet brand for this module? I think I prefer it to the above patch.

<details>

[code]

[2020-08-26 03:19] samreid commented on #328
That looks great, I removed extraneous guards, tested in natural selection and everything looks good.  Back to @zepumph for double check, then I think this issue can be closed.

[2020-08-26 10:39] samreid commented on #262
Increasing priority since this could pertain to https://github.com/phetsims/studio/issues/137

[2020-08-26 17:31] zepumph commented on #328
Looks great to me! I also want to note that besides `PropertyStateHandler.initialize`, we no-oped all of the public functions in the class in phet brand. Closing.

[2020-08-26 17:48] pixelzoom commented on #328
Reopening. Have all sims that this affects been identified? Do they know which shas to cherry-pick? Do they have sim-specific issues?

[2020-08-26 18:02] Denz1994 commented on #328
Build a molecule is currently at 1.0.0.rc.2 as of today, is there a set of shas I should cherry-pick @zepumph? This is a phet brand sim.

[2020-08-26 18:15] zepumph commented on #328
Right!

I think the list of sims that will need this change are:
* SOM
* EFAC
* ph-scale
* BAM

Depending on how old shas are, likely just trying to cherry-pick https://github.com/phetsims/axon/commit/e52271cf099a7665dbd7f293b20dd04c3e9c8159 will not work. Instead it will need to be a manual patch in which the entire guts of two functions, PropertyStateHandler.registerPhetioOrderDependency and unr

[2020-08-26 18:21] zepumph commented on #328
I created issues in the sims that I know of that are currently in RC. @pixelzoom is there anything more that you recommend? Please review by comment above about how to cherry-pick changes. This is complicated by the large refactor done 2 weeks ago in PropertyStateHandler (memory leak was most likely present before that work also).

[2020-08-26 19:14] samreid commented on #328
First, I'd like to check whether this sim is affected by this memory leak. Self-assigning to test it out before we proceed with a maintenance release.

[2020-08-26 19:24] pixelzoom commented on #328
@samreid which sim are you referring to. Several have been identified.

[2020-08-26 22:00] pixelzoom commented on #327
Skimmed the commit and ran unit tests. I don't see any problems. Thanks for doing this. Closing.

[2020-08-26 22:00] #327 closed

[2020-08-26 23:16] samreid commented on #328
If I understand correctly, EFAC SHAs will be taken from master in the near future, and on Slack it was agreed that ph-Scale would take SHAs from master for its next release.  So I'll check BAM and SOM to see if they need this in a maintenance release.

[2020-08-26 23:26] samreid commented on #328
I tested this patch with Natural Selection in phet brand and saw that it had 20,000+ listeners in a minute or two:

<details>

[code]

</details>

I tested the same patch in Build a Molecule fuzzing and the listeners leveled out around 2, so it did not have this same symptom.  Likewise, States of Matter leveled out around 3, so it did not have this symptom.

I did not take the time to run this ana

[2020-08-27 00:12] zepumph commented on #316
After further investigation, it looks like that is only being used during error logging. Still good to fix, but not as monumental of a bug as I originally thought.

[2020-08-27 00:24] samreid commented on #328
@pixelzoom can you please review the past 3 comments and see if this issue can be closed?

[2020-08-27 00:37] zepumph commented on #316
` const [ , valueSet ] of mapPair.afterMap` was a bit too clever for me. I think it was easier to use Map.forEach.

Everything has been completed here. @samreid anything else?

[2020-08-27 00:41] samreid commented on #316
I didn't see responses or commits for the other review recommendations in https://github.com/phetsims/axon/issues/316#issuecomment-674326457, did I just look in the wrong place?

[2020-08-27 03:50] pixelzoom commented on #328
I don't understand this patch or what you're trying to demonstrate.  Are you purposely not unregistering dependencies and counting how many there are? If so, why?

[2020-08-27 03:51] pixelzoom commented on #328
Oh I (maybe) see.  Are you purposely not unregistering dependencies so that you can see how how many a sim has, and therefore whether this fix is important to that sim?

[2020-08-27 04:02] samreid commented on #328
The memory leak comes from items being added over and over to the sets in PropertyStateHandler.  We saw this in Natural Selection a few days ago.  I reverted the fix for this issue and confirmed I saw the problem again in Natural Selection (Sets in ProppertyStateHandler growing without bounds).  With the fix still reverted, I tested BAM and SOM and saw the lists never went beyond 2 or 3 during at

[2020-08-27 13:11] pixelzoom commented on #328
In a related PhET-iO issue, https://github.com/phetsims/axon/issues/328#issuecomment-681357413, @samreid said:

Yes, that has been a concern (and recurring cost) for me since mid-July, when QA first started reporting problems for ph-scale 1.4.0-rc.1.  For previous sims, it's been a non-issue.  There are usually a handful of sim and common-code issues that need to be picked up in the branch, and it

[2020-08-27 15:29] jonathanolson commented on #311
If that doesn't cause deoptimizations or performance loss, that would be great! I fear it's likely to cause performance loss, but could be worth a try. Probably worth some checks with performance.

[2020-08-27 16:01] pixelzoom commented on #328
Memory tests look good for both NS brands, see https://github.com/phetsims/natural-selection/issues/189 and https://github.com/phetsims/natural-selection/issues/190.

Feel free to close if there's nothing else to do here.

[2020-08-27 16:02] samreid commented on #311
I'm interested in prototyping that.  I'll self assign, but also leave marked for developer meeting in case we have time to touch base and get a shared sense of what is acceptable on the performance/safety tradeoff spectrum.

[2020-08-27 16:03] #328 closed

[2020-08-27 21:53] zepumph commented on #316
See https://github.com/phetsims/axon/commit/d96cb126b896fa92103943367c9f154918efe627. Everything should be fixed.

[2020-08-27 23:16] samreid commented on #316
Thanks, sorry I missed that.  Regarding this comment:

[code]

The current code is

[code]

Should this call a method in `OrderDependencyMapPair` like so?

[code]

This would mirror the existing method `OrderDependencyMapPair.addOrderDependency`.

[2020-08-27 23:36] pixelzoom commented on #316
I'm not clear on what feedback you want from me.  I have not been following the implementation of this, and I have no familiarity with PropertyStateHandler.

Also a question... On 8/19/2020 in https://github.com/phetsims/natural-selection/issues/140#issuecomment-676538994, I was told that this issue was ready to test, so @samreid and I did test.  Has there been further performance improvement sinc

[2020-08-27 23:40] samreid commented on #316
Sorry, I inadvertently assigned @pixelzoom when I meant to assign @zepumph, my mistake.  I'm not aware of any changes in this issue that warrant retesting.

[2020-08-28 00:19] zepumph commented on #316
Thank you for spoon feeding me there, I needed it! I agree that is much better. How about this?

[2020-08-28 16:52] samreid commented on #311
Can you recommend how to proceed with Array + Proxy and subclassing?  For instance, we have `BunnyArray extends ObservableArray` and adds methods and attributes.  But I don’t see a clear way to do that with `Proxy`, which cannot be subclassed like `class MyClass extends Proxy`.  The "return a different object from the constructor" pattern appears to be used commonly as an alternative, but then I d

[2020-08-30 21:22] samreid commented on #316
I inspected the commit and it looks good.  I also ran a memory test on Natural Selection, and did not see any leaks.  Nice work, thanks!  Closing.

[2020-08-30 21:22] #316 closed

[2020-09-02 20:54] zepumph commented on #291
Done above, and I added a unit test also. Please review.

[2020-09-02 21:08] zepumph commented on #262
I think this would be best as having the same signature as the internal link/unlink, unless there is a good reason to deviate. What about the following pattern (which you likely pursued in https://github.com/phetsims/axon/issues/262#issuecomment-658213700 but I didn't fully understand).

* On the client side side I think we could accomplish this by adding a Map from function->functionHandle. This

[2020-09-02 22:21] zepumph commented on #245
The toStateObject in ObservableArrayIO now looks quite a bit nicer:

[code]

There are no TODOs in that file. Closing

[2020-09-02 22:21] #245 closed

[2020-09-02 22:48] zepumph commented on #260
Yes this is the same thing we are doing for Emitter/Action, and it works well there.

[2020-09-02 22:57] zepumph commented on #260
- [ ] Let's come back to https://github.com/phetsims/tandem/issues/56 once this issue is done.

[2020-09-03 00:08] zepumph commented on #270
There is a good chance that AxonArray is the way of the future, and that ObservableArray will be deprecated. @samreid can you please comment on this issue in that context?

[2020-09-03 03:30] samreid commented on #311
We would like to experiment with `Proxy` to have full support for `array.length=...` and `array[3]=differentObject`.  However, that will probably have the following disadvantages:
1. lower performance
2. more difficulty in code navigation (e.g. navigating to an AxonArrayProxy method)
3. difficulty extending AxonArrayProxy, like `BunnyArray extends AxonArrayProxy`

For developer meeting: are any of

[2020-09-03 18:25] zepumph commented on #221
Today during dev meeting we decided that it was easy and forward thinking to create the following Properties:

* ColorProperty.js
* ColorDefProperty.js
* PaintDefProperty.js

For PhET-iO instrumentation, we decided not to eagerly instrument some of these with no instrumented usages. We should instrument `ColorProperty.js` though. Uninstrumented color-type Properties will be:
* ColorDefProperty
* P

[2020-09-03 20:34] pixelzoom commented on #291
Commits reviewed. 👍🏻 closing.

[2020-09-03 20:34] #291 closed

[2020-09-07 16:43] samreid commented on #262
### Implementation notes

I've followed the prescription above. I used 2 maps on the client side, so we can do 2-way lookups between the function and its handle.  I tried `WeakMap` but it cannot be used with non-Object keys, so I left it as `Map` and noted that it is a memory leak on the order of O(N) where N is the number of different functions used as arguments in PhET-iO API calls.

If we `link

[2020-09-10 20:02] zepumph commented on #262
Can you think of a usage where that would be buggy? Even though it is the same function reference, could it have different behavior somehow? (I'm shrugging)

Looking at other usages of `apply`, it seems like this should have the first arg of `null` instead of `undefined`:
`        this.handleToFunctionMap.get( message.functionHandle ).apply( undefined, message.args );`

I noticed that `functionHan

[2020-09-10 20:03] zepumph commented on #262
Oh, I'm unsure how to "sign off" on that memory leak. Maybe we should make a side issue to https://github.com/phetsims/studio/issues/137 to see if it is a problem in Studio? Likely that is our best test case in terms of number of Property links from the wrapper.

[2020-09-10 22:17] samreid opened #329 "Rename TimerType and timer"
From https://github.com/phetsims/phet-io/issues/1703#issuecomment-690675434

[2020-09-11 18:24] samreid commented on #262
Oops, accidental closure from project board UI.

[2020-09-11 19:09] samreid commented on #262
They should have the same behavior.  I just brought this up in terms of memory leaks.

I opened Studio for Natural Selection and measured the heap size as 33.1MB.  Then I searched "Property" and tapped through 100 hits.  Then I recorded memory again, and it measured 34.1MB.  In my opinion, this is acceptable (and indeed may not be 100% attributable to this function leak).

Up to you how to proceed

[2020-09-11 22:47] samreid commented on #329
Fixed and ready for review.

[2020-09-11 23:46] pixelzoom commented on #329
Hmm...  I didn't realize that timer.js was a step timer.  That's now clear with the rename.  But then I have a potential problem in NS PlayButtonGroup:

[code]

This code assumes that it will be run _on the next next frame_, not on the next step.   And I think that's a valid assumption based on the name.    But now I see this (new?) documentation in stepTimer.js:

[code]

So 2 questions:
(1) Can w

[2020-09-11 23:48] pixelzoom commented on #329
Looks like I should be using animationFrameTimer.js ?

[2020-09-12 00:18] pixelzoom commented on #329
stepTimer.js doc says that it only runs "during the step".  Does "run" mean "emits"?  If that's the case, then I was expecting to see `stepTimer.emit` called only by Sim.js.  But I also see `stepTimer.emit` called by KeyStateTracker, Display, and UtteranceTests.  Can you clarify why those things are calling `stepTimer.emit`, and how that's "during the step"?

[2020-09-12 00:20] zepumph commented on #329
I may be seeing some CT errors from this issue in built scenery libraries:

[code]

[2020-09-12 00:24] pixelzoom commented on #329
Sounds like it's appropriate to replace "ready-for-review" with "blocks-publication".

[2020-09-12 00:29] samreid commented on #329
Probably a casing problem, I'll take a look soon.

[2020-09-12 02:13] samreid commented on #329
I renamed it to `runOnNextTick`.

I commented in the issue.

I updated the JSDoc in https://github.com/phetsims/axon/commit/09f16b8e072d9a5d05997ad860640c3085017209

I fixed the casing problem in the commits.

[2020-09-12 03:59] pixelzoom commented on #329
Nice improvements, and thanks for the clarification.

[2020-09-16 03:02] pixelzoom commented on #329
Is this issue blocking for the NS deliverable described in phetsims/natural-selection#208? Milestone for taking shas is this Thursday, 9/17.   Ideally this should be wrapped up, because the work has been done and is awaiting review.  But my opinion is not blocking, because it doesn't seem to causing any problems, and NS uses `stepTimer` in one place.

[2020-09-16 16:30] #262 closed

[2020-09-16 21:36] zepumph commented on #329
@samreid, the changes look good to me! I like the rename to `runOnNextTick`. Nothing else here for me.

[2020-09-16 21:48] samreid commented on #329
Thanks, closing.

[2020-09-16 21:48] #329 closed

[2020-09-17 19:01] zepumph commented on #311
We discussed this at developer meeting today, and feel like `Proxy` is worth investigation, as nothing above feels like a total "deal breaker", although it seems like a bummer to not be able to use inheritance.

We are most excited about 100% (or close to) api coverage of native Array. This will help convert arrays to this new type.

[2020-09-17 19:32] zepumph commented on #323
@jonathanolson mentioned that the best way to handle stripping this out would be on build. Perhaps using an AST operation to remove `validate()` calls.

1. @samreid will refactor the identity function part of validate used in `WAVE_INTERFERENCE/Scene.js`, and remove support for that in the library
2. We want to investigate a build process solution to strip things out that is more advanced than our

[2020-09-19 03:44] samreid opened #330 "Create a Proxy-based Array implementation that has full API compatibility"
From https://github.com/phetsims/axon/issues/311, we would like to create a Proxy-based Array implementation that has full API compatibility, which will make it easier to migrate from plain arrays to arrays that can be observed.  We discussed that this solution will likely have these disadvantages:

1. lower performance
2. more difficulty in code navigation (e.g. navigating to an AxonArrayProxy me

[2020-09-19 03:45] samreid commented on #311
I'll pursue the Proxy-based approach in new issue #330.

[2020-09-20 01:42] samreid commented on #330
The Proxy-based solution is working well, I think it has compatibility with Array API.  I also added adapters to give compatibility with ObservableArray API to aid in migration.  I took it for a test drive in Natural Selection, and it was straightforward to convert ObservableArray => createArrayProxy.  Even though this doesn't use subtyping, there is a way to simulate BunnyArray (not as nice as su

[2020-09-20 04:00] samreid commented on #330
To try to understand the performance implications of the Proxy based approach, I used it in a central point in scenery, like so:

I changed Node.js from:
[code]

to
[code]

Note: this is not meant to be a realistic simulation of what it would be like if `createArrayProxy` was used in a few places in simulation specific code, but rather as a "worst case scenario".  I ran natural selection with ?sec

[2020-09-20 04:29] samreid commented on #330
I also batch converted all `new ObservableArray` to `createArrayProxy` and that helped catch a few bugs, fixed above.  Many sims are passing aqua fuzzing.  Also, I was interested to see that when making that swap, all of the ObservableArray unit tests passed (using `createArrayProxy` instead of `ObservableArray`).  I noticed that the `reduce` arguments are swapped--that will need to be rectified.

[2020-09-20 17:27] samreid commented on #330
I wrote to @jonathanolson on slack:

Also a reminder not to make common code changes until EFAC is published, since master and a branch are being maintained in parallel.

[2020-09-20 17:30] samreid commented on #311
On hold pending results in #330

[2020-09-20 18:34] samreid commented on #323
I converted Wave Interference to avoid the return value, and I removed the return value.  Local aqua testing is fully green except for density which looked like a separate problem.  Leaving labeled for dev meeting so we can pursue better patterns for stripping out assert and validate calls.

[2020-09-20 22:22] samreid commented on #323
I noticed terser has an option for "pure_funcs" in the "compress" section and I tried adding "validate" to that list, but it didn't strip out because that code looks like this:

[code]

[2020-09-22 16:07] samreid commented on #330
@jonathanolson and I ran a deoptimization in Sim.js like so:

[code]
Then we compared using the snapshot-comparison tool with 100 frames (instead of 10).

Firefox:
![image](https://user-images.githubusercontent.com/679486/93907654-db34ab00-fcba-11ea-9439-12dc5ea047ba.png)

Chrome:
![image](https://user-images.githubusercontent.com/679486/93907672-e1c32280-fcba-11ea-970f-8479c398655c.png)

Safari:

[2020-09-22 16:29] samreid commented on #330
On Chrome, replacing every ObservableArray with createArrayProxy:

![image](https://user-images.githubusercontent.com/679486/93908545-01a71600-fcbc-11ea-833e-6b3c9db134c9.png)

For all these tests, createSnapshot has:

[code]

Tests from the previous comment had this in BASEModel:

[code]

But this test didn't have it.

[2020-09-22 16:34] samreid commented on #330
Summarizing results from discussion with @jonathanolson:

1. The performance seems a little slower on Firefox (86 seconds to run instead of 80 seconds to run), but there are no major deoptimizations noted.  We are pleasantly surprised that performance is mostly the same.
2. We may be able to improve this performance even further by having createArrayProxy not return a new function each invocation.

[2020-09-22 16:47] samreid commented on #330
I ran another before/after test on Firefox, and the results were much closer together (this test also does not have
[code]
in BaseModel.js

![image](https://user-images.githubusercontent.com/679486/93912331-da067c80-fcc0-11ea-8d15-498f9acde470.png)

[2020-09-22 17:01] samreid commented on #330
To check reproducibility of the results before I start performance improvements for `createArrayProxy`, I tested with and without the deoptimizations in Sim.js in Firefox 3x each:

Firefox no deoptimizations
82336
82435
82026

Firefox with deoptimizations
83526
82385
84953

[2020-09-22 17:21] samreid commented on #330
I tried moving `pop` to a new `methods` object like so:

[code]

But it has the problem that calling `Array.prototype.pop` triggers other notifications so it signifies that the same element is removed twice.

[2020-09-22 17:50] jonathanolson commented on #330
I'm interested to know why that's happening or dig in sometime!

[2020-09-22 20:08] samreid commented on #330
On the left is master, on the right is all ObservableArray ported to createArrayProxy, with the methods factored out, in firefox.

![image](https://user-images.githubusercontent.com/679486/93932145-f7e1da80-fcdc-11ea-887c-1926087a1e2e.png)

[2020-09-22 22:53] samreid commented on #330
I added tests for the cases described in https://github.com/phetsims/axon/issues/330#issuecomment-696837306, and it is all working OK.  I also swapped the order of the parameters in ObservableArray.reduce to make a migration easier.  I also addressed a bad phetioType that appeared in charges-and-fields, to make the migration easier.

@jonathanolson can you please review `createArrayProxy` and its

[2020-09-24 04:50] samreid commented on #330
Let's touch base at developer meeting:

Summary of Status:
* The implementation of `createArrayProxy` is compatible with the Array API as well as the ObservableArray API--in fact, you can query/replace `ObservableArray` with `createArrayProxy` and almost everything works.
* To emulate `extends ObservableArray`, the desired object and tandem structure can be emulated by "tacking on" children, as de

[2020-09-24 18:52] samreid commented on #323
Is there a way to run terser with pure_funcs before webpack runs (as a plugin or something)?

[2020-09-24 18:54] Denz1994 commented on #323
From Dev Meeting on 09/24/20:

The current priority is figuring out how to remove cases in build artifacts that contain `Object(validate...`. Because this will involve investigating build tools @jonathanolson will take a look when he has time.

@zepumph suggested forcing assertions to be stripped out of built sims and assertions always enabled in unbuilt sims. This is also in an effort to remove `

[2020-09-24 19:07] Denz1994 commented on #330
From Dev Meeting on 09/24/20:

@pixelzoom: The timeline for working on this issue should not conflict with Natural Selection 1.2.0. @zepumph mentioned that momentum on this issue is valuable and delaying may slow done further work on this issue.

@samreid mentioned that @pixelzoom should test drive these changes (~30 minutes). It should also be noted that the phet-io api for ObservableArrayIO has

[2020-09-24 19:08] Denz1994 commented on #330
From Dev Meeting on 09/24/20:

Devs are signing off on deleting ObservableArray and AxonArray.

[2020-09-24 19:12] zepumph commented on #330
For jsDoc, I think the best way forward would be to create something like `ArrayProxyDef.js`, and mark that in jsdoc everywhere that the return value of `createArrayProxy` is used.

[2020-09-24 19:13] samreid commented on #330
Self-assigning to write up review instructions, I'll do this in the next day or two.

[2020-09-24 21:40] samreid commented on #330
Some steps you could take as part of the review:

### Take it for a test drive in Natural Selection

1. Run `grunt generate-phet-io-api` in natural selection first, to get an initial snapshot of the PhET-iO API

The following steps 2-5 are in this patch:

<details>

[code]

</details>

Here's a copy of `createBunnyArray` by itself in case the patch doesn't apply:

<details>

[code]

</details>

2.

[2020-09-27 15:39] pixelzoom commented on #330
After a quick review, a bunch of items to address.  I will pause further review/testing until the first item is answered.

- [ ]  AxonArray appears numerous times in createArrayProxy. Why is AxonArray involved at all? E.g.:

[code]

- [ ] What does "(ArrayProxyIO)" in this visibility annotation mean?

[code]

- [ ] What is type `{arrayProxy}`? Why does a type start with a lowercase letter?

[code]

[2020-09-27 18:34] samreid commented on #330
Thanks, I committed fixes for the recommendations above.

[2020-09-28 20:57] pixelzoom commented on #330
@samreid spent some time with me on Zoom, answering questions, and bringing me up to speed on how Proxy/Reflect are used.   Then we reviewed my "test drive" in Natural Selection.

Nest step will be to merge my Natural Selection test drive into master, and replace some of the methods that are specific to ObservableArray.  Then @samreid will address REVIEW comments and globally replace ObservableArr

[2020-09-28 22:16] pixelzoom commented on #330
@samreid and I spent a little more time on Zoom, working on issues related to WebStorm type recognition.

In an example like this:

[code]

... WebStorm flags the `arrayProxy` argument on line 8 with "Argument type ArrayProxyDef is not assignable to parameter type Array".  So it doesn't know that ArrayProxyDef is an Array.

NS has examples like this in PopulationModel.js (calls to `recordCounts`)

[2020-09-28 22:23] jessegreenberg commented on #309
I encountered this again trying to link to Node.boundsProperty.  My temporary fix was to get the bounds from the node in the callback instead of using the listener param:
[code]

This seems like it could cause other problems, @jonathanolson do you have any thoughts on https://github.com/phetsims/axon/issues/309#issue-657583000?

[2020-09-28 23:20] pixelzoom commented on #330
createArrayProxy is causing a performance problem in Natural Selection. See https://github.com/phetsims/natural-selection/issues/252#issuecomment-700326821.

[2020-09-29 03:50] samreid commented on #330
In slack, I said:

This seems to work OK, until we get the typedef working:

[code]

@pixelzoom replied:

[2020-09-29 12:49] samreid opened #331 "Webstorm intellisense not working for ArrayProxy"
See https://github.com/phetsims/axon/issues/330.  Testing with natural selection in the `createArrayProxy` branch, we see this in DataProbe.js:

![image](https://user-images.githubusercontent.com/679486/94559916-28ff6500-021f-11eb-9c7d-771901a2141a.png)

I tried a number of ideas for specifying the typedef, but could not get all of the following features working simultaneously:
* The typedef exten

[2020-09-29 17:58] jonathanolson commented on #309
It seems best to call `this.get()` in that case, so we have the up-to-date value.

[2020-10-01 18:22] pixelzoom commented on #330
Next steps discussed with @samreid on Slack:

Sam Reid  10:53 AM
Do you think you will be able to address https://github.com/phetsims/axon/issues/330#issuecomment-700277191 before you leave?  Also, that comment makes it sound like I should wait for NS before I take further steps.  Is that accurate?

Chris Malley  11:07 AM
Assuming that performance in NS has been resolved (see https://github.com/ph

[2020-10-01 19:42] pixelzoom commented on #330
From https://github.com/phetsims/axon/issues/330#issuecomment-700277191:

Natural Selection (master) has been converted to `createObservableArray`.  When you rename to `createObservableArray` and `ObservableArrayDef`, please hit the occurrences of `ArrayProxyDef`.

[2020-10-01 21:05] samreid opened #332 "Determine an appropriate removal API for createObservableArray"
In https://github.com/phetsims/natural-selection/issues/252#issuecomment-702285672 we agreed on a pattern, but I'm not sure whether it was implemented yet.

@pixelzoom would you like me to add `remove` and `removeIfIncluded` to ObservableArrayProxy?

[2020-10-01 22:08] pixelzoom commented on #332
In retrospect...  I don't need it for NS, and probably wouldn't convert anything in NS to use it.   So I'm OK with deferring this issue until we get around to deciding which parts of the ObservableArray-specific API to remove from ArrayProxy.

If we do add a "remove" API to ArrayProxy...  Add `removeAll` to the list of methods to consider, and how that should behave for elements that aren't in the

[2020-10-02 15:37] samreid opened #333 "Add unit tests to verify that lengthProperty is triggered before elementAdded/Removed"
From #330,

[code]

I revised the comment but opened this issue about "thoroughly testing".  I tested it once, but have not coded any unit tests for ongoing testing of this feature.  By inspection it looks like all the lengthProperty values are being set first.  I'm not sure it would be worth it to add unit tests for those 6 sites.

@pixelzoom what do you think?

[2020-10-02 15:38] samreid commented on #330
I don't think we need to add `methods.slice`, since `slice` is already defined on the proxy.

[2020-10-02 15:43] samreid opened #334 "Eliminate unused or unnecessary ObservableArray methods from ObservableArrayDef"
From https://github.com/phetsims/axon/issues/330 there are several TODOs related to this. I will point them to this issue.  This may be done after migration.

[2020-10-02 17:37] samreid commented on #330
I renamed it to createObservableArray and addressed REVIEW issues.  Some I responded with a comment above, some moved to side issues.  Ready to review my changes, and I'll create a new issue to migrate sims to use this.

[2020-10-02 17:38] samreid opened #335 "Migrate AxonArray to createObservableArray"
From https://github.com/phetsims/axon/issues/330.

When this is done, AxonArray can be deleted.

[2020-10-02 17:51] samreid commented on #335
I migrated collision lab and deleted observable array.  I'll create a collision lab issue for review.

[2020-10-02 17:51] #335 closed

[2020-10-02 17:55] samreid opened #336 "Migrate ObservableArray to createObservableArray"
From https://github.com/phetsims/axon/issues/330, it is time to convert all usages of ObservableArray to use the Proxy-based implementation createObservableArray.  This will affect many repos.

[2020-10-02 20:05] samreid commented on #336
I completed the migration on my working copy.  I ran the following checks:

* Aqua fuzzing is passing
* PhET-iO Aqua fuzzing is passing
* Comparing the phet-io-api before/after for Energy Forms and Changes looks as expected (new elementAddedEmitter, elementRemovedEmitter, and removed ObservableArray events and methods).
* I tested `energyFormsAndChanges.introScreen.model.air.energyChunkWanderContr

[2020-10-02 20:16] samreid commented on #336
Let's leave this open until CT shows a column or two.

[2020-10-02 23:21] samreid commented on #336
CT didn't reveal any errors that seem related to this, closing.

[2020-10-02 23:21] #336 closed

[2020-10-03 23:30] samreid commented on #311
#330 is working well and does not suffer from this problem, closing.

[2020-10-03 23:30] #311 closed

[2020-10-09 19:59] samreid opened #337 "TinyForwardingProperty should be able to forward to another TinyProperty"
Currently we only have support for TinyForwardingProperty to forward to Property.  It seems to be more general and defensive, it should support being able to forward to TinyProperty as well.

One step will be to add `isPhetioInstrumented()` to TinyProperty, but we should be more thorough and add tests, etc to move forward on this.

[2020-10-09 22:46] zepumph commented on #337
We seem to already support this, because there is a usage in master of passing one Node's visibleProperty to another Node as `visibleProperty`:

https://github.com/phetsims/wave-on-a-string/blob/120be3a51b535f00692a82867119c06dfac73076/js/wave-on-a-string/view/BottomControlPanel.js#L133-L132

I think we should add tests for this issue.

[2020-10-09 22:56] zepumph commented on #337
See https://github.com/phetsims/scenery/issues/1046

[2020-10-09 23:04] zepumph commented on #337
All that is left is tests.

[2020-10-12 17:21] pixelzoom commented on #333
Imo, this is one of the more important unit tests, since it's a contract with the client that is very clear stated in this comment:

[code]

I've added a unit test in the above commit. @samreid please review.

[2020-10-12 17:27] pixelzoom commented on #333
A more robust way to address this would be to not call `elementAddedEmitter.emit` and `elementRemovedEmitter.emit` directly. Instead, call these new (untested) private methods:

[code]

This would make the above unit test unnecessary, and would have a better chance of testing any further methods that have this same requirement.

@samreid what do you think? Should we make this change?

[2020-10-12 17:32] pixelzoom commented on #333
I see that my unit test doesn't exercise `deleteProperty` and `reportDifference`.    This seems to strengthen the case for what I proposed in https://github.com/phetsims/axon/issues/333#issuecomment-707249780.

[2020-10-12 17:54] samreid commented on #333
Yes, that seems like a good change. Please proceed or reassign to me if I should take that step.

[2020-10-12 18:25] pixelzoom commented on #330
Changes looks good.  I don't see anything else that needs to be done here, so closing.

[2020-10-12 18:25] #330 closed

[2020-10-12 19:18] samreid commented on #283
ObservableArray has been deleted.  `createObservableArray` uses the default behavior for `slice`, closing.

[2020-10-12 19:18] #283 closed

[2020-10-12 19:23] samreid commented on #270
`createObservableArray` uses instrumented `Emitters`, closing.

[2020-10-12 19:23] #270 closed

[2020-10-12 19:25] samreid commented on #5
@pixelzoom and @jonathanolson can you please review your remarks above and identify whether any of them apply to `createObservableArray`?  If not, this issue can be closed.

[2020-10-12 19:27] samreid commented on #139
`createObservableArray` and `ArrayIO` both support state, and we can also use `PhetioGroup` when necessary.  @zepumph can this issue be closed?

[2020-10-12 19:29] samreid commented on #321
`AxonArray` has been deleted and we would like to use `createObservableArray` instead, closing.

[2020-10-12 19:29] #321 closed

[2020-10-12 19:30] samreid commented on #203
ObservableArray has been deleted, and `createObservableArray` supports the native `reduce`, closing.

[2020-10-12 19:30] #203 closed

[2020-10-12 19:38] samreid commented on #334
Part of this will be tracked in https://github.com/phetsims/axon/issues/279

[2020-10-12 19:45] #139 closed

[2020-10-12 19:46] pixelzoom commented on #333
Rather than the changed I described in https://github.com/phetsims/axon/issues/333#issuecomment-707249780, I decided to try a simpler approach.  I added these lines immediately after the definition of `targetArray`:

[code]

And now I'm seeing quite a few unit tests failing, eg:

<img width="954" alt="screenshot_578" src="https://user-images.githubusercontent.com/3046552/95784528-3beb4e00-0c91-11e

[2020-10-12 20:22] samreid commented on #279
I removed usages detected through aqua, as well as the `getArray` itself.  CT may find other cases.  Closing until then.

[2020-10-12 20:22] #279 closed

[2020-10-12 20:35] samreid commented on #333
Thanks for the patch, I saw the same error--it looks like it internally sets array[0]=..., which triggers an element added emit before the length changes.  I'm not sure what can be done.  I'll reach out to you on slack regarding collaboration.

[2020-10-13 16:19] pixelzoom commented on #333
Add done here, thanks for collaborating.

[2020-10-13 16:19] #333 closed

[2020-10-13 18:45] samreid opened #338 "PhET-iO State Wrapper: Assertion failed: lengthProperty out of sync while removing element"
In #333 we added a check that the lengthProperty is correct when element added/removed listeners are called back.

This is showing for:
* CCK
* EFAC
* FAMB
* MAL
* PM

I'll take a look.

UPDATE: This is only happening in the phet-io state wrapper

[2020-10-13 19:07] samreid commented on #338
During PhET-iO state set, the lengthProperty is deferred.  This means it cannot take the correct value when listeners are called.  I'm not sure how to get around this other than to avoid the assertion when the lengthProperty could be deferred:

[code]

@pixelzoom does this sound appropriate to you?

[2020-10-13 19:31] samreid commented on #338
I'm fine with that too, but if the lengthProperty becomes deferred for other reasons we would also want to skip the checks.  I'm speaking hypothetically, I can't think of a case right now other than state where the lengthProperty should be deferred.

[2020-10-13 19:38] pixelzoom commented on #338
Then it sounds like we should be checking isSettingPhetioStateProperty.

[2020-10-14 04:08] samreid commented on #338
I committed a proposed fix that works on my side.  @pixelzoom can you please check the boolean expression?  I found it was being called before `phet.joist.sim` was assigned, so I had to guard against that.

@zepumph is there a way to get the sequencing right in PhET-iO state, or is this workaround appropriate?

[2020-10-14 17:58] zepumph commented on #338
The above helps unit tests pass in scenery where there is no `phet.joist`. I think I got the logic right, but it would be nice to get a double check on it.

[2020-10-15 15:28] pixelzoom commented on #338
Looks good to me, and CT shows no problems.

If there's nothing else to do here, feel free to close.

[2020-10-15 15:30] samreid commented on #338
I agree the logic seems good, but I'd like to leave this issue open for @zepumph about this comment:

[2020-10-15 22:13] zepumph commented on #338
Yes, this workaround seems to be in response to a lack of support for ordering non-Property PhetioObjects with Properties. I feel like we will eventually need to work on this, see issue for ObservableArray (https://github.com/phetsims/phet-io/issues/1661) and also for PhetioGroup (https://github.com/phetsims/phet-io/issues/1688). I am worried about this. Perhaps add a TODO to your workaround point

[2020-10-15 23:39] samreid commented on #338
I added a TODO to the workaround, closing.

[2020-10-15 23:39] #338 closed

[2020-10-26 15:50] samreid opened #339 "Streamline DerivedProperty implementation"
While investigating memory problems in https://github.com/phetsims/scenery/issues/1101, I noticed DerivedProperty has opportunity for improvements.  Here is a patch that seems like it will work, but I didn't notice any memory improvements even though it seems like it creates less closures and less Map instances.  Perhaps that's because there is a small number of DerivedProperty instances per sim?

[2020-10-31 15:55] samreid opened #340 "Convert simulations to use EnabledProperty"
In https://github.com/phetsims/scenery/issues/1100 @zepumph introduced `EnabledProperty` and it is working nicely.  There are 16 occurrences of `enabledProperty = new BooleanProperty` and another 9 occurrences of `enabledProperty = new Property`.  For instance:

Masses and Springs:
[code]

Should many or all of these be converted to use `EnabledProperty` instead?  If so, should this be a chip-away

[2020-11-02 22:24] zepumph commented on #340
I feel like this is not really necessary. I don't feel like it is buying us enough to warrant going back to convert old usages. A great time to do this would be when outfitting a sim with PhET-iO, since having a consistent phet-io API for `enabledProperty` is valuable.

Part of my recommendation is not believing that `EnabledProperty` is the end-all pattern that is here to stay for good.. Up to yo

[2020-11-02 22:30] samreid commented on #340
Thanks for your comments.  I'm inclined to add a step to the instrumentation guide to consider this, but one distinction is that `EnabledProperty` is by default phet-io featured.  @arouinfar do you think than many of the instrumented `enabledProperty` instances (predominantly in models) should be featured?  If so, that is a good argument for moving these to use `EnabledProperty`.  Also, can you th

[2020-11-09 19:14] samreid commented on #332
ArrayProxy already has `remove` and `removeAll` which are both "graceful"--that is to say, they both only remove something if it was present, and do not throw an error if it was not present.

One way to proceed for this issue:

Step 1: Rename `remove` => `removeIfIncludes` and `removeAllIfIncludes`.  Not sure if the term should be "included" or "includes" or if we should use the term "graceful".

[2020-11-10 02:53] pixelzoom commented on #332
I see no need for `removeAll` and `removeAllOccurrences`. `removeAll` is sufficient, regardless of the array length.

I have a preference for `remove` failing if element is not in the array.  It's in the same spirit as unlink and removeListener. And I can't remember when I needed to remove something that "might be" in an array -- if I did so it was more likely a programming error.

I'm also not a

[2020-11-12 00:18] zepumph commented on #340
bringing to phet-io meeting to move this along.

[2020-11-12 19:03] zepumph commented on #340
This type does three things:
1. default documentation
2. default phetioFeatured: true
3. Assert that the tandem name is `enabledProperty`. Not changeable.

Designers during today's meeting felt like the above was appropriate. We can convert simulations now.

Likely we will do this lazily. @samreid can you update the code review documentation to mention that this should be used when appropriate?

[2020-11-16 15:28] samreid commented on #340
I added a code review checklist item about using EnabledProperty.  I also decided to add an "opt-out" option for the strict name check--that seemed better than writing that in an issue or checklist.  @zepumph can you please review?  It should be quick.

[2020-11-16 16:45] #340 closed

[2020-11-17 01:04] samreid commented on #339
I made a few improvements beyond the patch and committed.  Unit tests are passing, and gravity-and-orbits runs without error.  @ariel-phet would you like to assign a reviewer for this change?

[2020-11-18 04:37] samreid commented on #332
I saw nearly 20 usages of `removeAll` so I'm inclined to keep it factored out.  When I change `removeAll` and `remove` to be non-graceful, here are the sims that fail aqua:

- [ ] area-model-decimals
- [ ] balancing-act
- [ ] build-a-fraction
- [ ] build-a-molecule
- [ ] charges-and-fields
- [ ] circuit-construction-kit-ac
- [ ] curve-fitting
- [ ] energy-forms-and-changes
- [ ] least-squares-regr

[2020-11-18 23:07] zepumph commented on #257
Everything with the cache looks correct. There is no longer a custom one in Action;s constructor, but there is an idiomatic one for ActionIO.

@samreid do you see any optimizations that may be needed in Action? I feel like it would be best to get another set of eyes on this code.

[2020-11-19 00:19] zepumph commented on #225
Sounds good to me!

[2020-11-19 00:19] #225 closed

[2020-11-19 00:21] zepumph commented on #226
Looks like no more TODOs now that we have IOTypes declared in the core types. Closing.

[2020-11-19 00:21] #226 closed

[2020-11-19 00:23] zepumph commented on #280
This was moved to just a ValidatorDef object over in https://github.com/phetsims/scenery/issues/964.

[code]

Closing, feel free to reopen.

[2020-11-19 00:23] #280 closed

[2020-11-19 00:34] zepumph commented on #282
The follow patch makes the test pass.

It uses deferred, so it wouldn't work in correlation with state. I'm worried about that, since this would break any place where a number Property with a passed in rangeProperty is being reset during state set (likely a smalle edge case). Perhaps we should just apply this patch and see how it goes?

[code]

[2020-11-19 00:36] zepumph commented on #318
This doesn't apply anymore since refactoring done in https://github.com/phetsims/axon/issues/316. Closing

[2020-11-19 00:36] #318 closed

[2020-11-19 00:37] zepumph commented on #319
Agreed!

[2020-11-19 00:37] #319 closed

[2020-11-19 00:40] zepumph commented on #324
Sounds good to me!

[2020-11-19 00:40] #324 closed

[2020-11-19 00:43] zepumph commented on #331
Now I see
![image](https://user-images.githubusercontent.com/6856943/99605743-c6238200-29b4-11eb-81ed-b35ddeff2ab2.png)

[2020-11-19 01:11] zepumph commented on #331
I found that this is not because of the `Array` extending, but instead because of the adding on of Properties. When I apply this patch, there is no issue. This isn't a solution, but helps us understand the problem better.

[code]

[2020-11-19 01:23] zepumph commented on #331
This has led me into the land of closure compiler syntax, and I will need to pick things up later.

https://closure-compiler-debugger.appspot.com/
https://intellij-support.jetbrains.com/hc/en-us/community/posts/207234329-JSDoc-error-Argument-type-null-is-not-assignable-to-parameter-type-string-

[2020-11-19 16:08] ariel-phet commented on #339
@pixelzoom could you review, looks like just a few dozen lines of code to look over

[2020-11-22 20:58] samreid commented on #334
Many of the occurrences of getArrayCopy are in Energy Forms and Changes, I opened an issue for that.

[2020-11-23 16:30] samreid commented on #278
There have been changes to NumberProperty since this issue creation, for instance, in https://github.com/phetsims/axon/issues/274 NumberProperty manages its range as `rangeProperty`.  @zepumph can you comment what remains to be done for this issue?

[2020-11-23 16:35] samreid commented on #205
In https://github.com/phetsims/axon/issues/253 "Implement NumberProperty.assertNumberPropertyValidateValue using validate.js" improvements were made.  I don't think it's identical to the preceding comment, but there are usages of `validateNumberProperty` that may not make that easy.  I think this issue is complete and ready to close, please reopen if there's more to do.

[2020-11-23 16:35] #205 closed

[2020-11-24 05:27] samreid commented on #257
ActionIO and its cache look good to me, I'm not seeing other worthwhile micro-optimizations.

[2020-11-24 05:27] #257 closed

[2020-11-24 17:26] samreid commented on #221
PaintColorProperty was added in https://github.com/phetsims/scenery/commit/04abdf6df777387ee2e1e2a8256de2abc1534c66, which takes PaintDef values.

[2020-11-24 17:33] samreid commented on #221
I added ColorProperty.   PaintColorProperty already supports PaintDef values.  @jonathanolson can you comment whether ColorDefProperty should look more like ColorProperty implementation or PaintColorProperty implementation?

[2020-11-26 17:34] samreid commented on #334
I'm not planning on working on this in the near future.

[2020-12-01 18:27] pixelzoom commented on #339
Please summarize what the "opportunity for improvements" was and how you addressed it.  I'm not seeing it immediately by inspecting the change set.

[2020-12-02 15:34] samreid commented on #339
From the issue description:

For example:

* `this.dependencyListeners = new Map();` was removed, not necessary for disposal.
* A for loop with IIFE closures was converted to `forEach`

[2020-12-02 22:54] zepumph opened #341 "Emitters can't be phetioPlayback:true"
@jessegreenberg discovered over in https://github.com/phetsims/scenery/issues/1119 that instrumenting an Emitter as phetioPlayback true will cause the phetio engine to call `execute` on that Emitter. execute should not be called, but rather `emit()`:

[code]

The issue is naive logic in handlePlaybackEvent.js which doesn't differentiate between Action or Emitter:

[code]

[2020-12-02 22:54] zepumph commented on #341
We could do sometime simple like:

[code]

Probably it would be better though to have Emitter use its own event, can split on event logic.

[2020-12-02 23:42] zepumph commented on #341
on hold until https://github.com/phetsims/phet-io/issues/1543 is sorted out.

[2020-12-03 17:20] pixelzoom commented on #339
I don't see anything incorrect with the changes. Closing.

[2020-12-03 17:20] #339 closed

[2020-12-03 17:20] pixelzoom commented on #339
I don't see anything incorrect with the changes. Seems like a good improvement. Closing.

[2020-12-03 20:01] zepumph commented on #332
From dev meeting today.

* We will keep `removeAll`
* @samreid will make `remove` and `removeAll` non-graceful, and surround all failing cases with a `contains` check and create an issue for the responsible dev to take care (if he thinks that is warranted).

Thanks @samreid!

[2020-12-05 18:58] zepumph commented on #278
As NumberProperty.rangeProperty now exists, and is often instrumented for PhET-iO, I feel like we are ready to close this issue.

[2020-12-05 18:58] #278 closed

[2020-12-06 13:52] samreid commented on #332
Alls sims have now passed fuzzing at least once.  I should not this is somewhat stochastic--a fuzz doesn't always trigger this error, so we may see more occurrences once on CT.  But it seems reasonable to commit.  I'll open side issues where more attention/review is warranted.

[2020-12-06 13:54] samreid commented on #332
I messaged slack:

[2020-12-06 14:15] samreid commented on #332
A couple of the occurrences were already documented about why they were graceful.  I opened issues for the other ones.  Newly discovered problems will be created in the appropriate issue (as mentioned 2 comments ago), closing.

[2020-12-06 14:15] #332 closed

[2020-12-07 23:43] samreid commented on #282
Can you elaborate on how it uses deferred?  And how that won't work for state?

In the absence of further information, being able to reset a NumberProperty seems more important than risking the edge cases you described, which could be caught during CT.

[2020-12-12 04:45] zepumph commented on #282
I will try, though right now I feel a bit like I'm hanging on for dear life and barely understanding this issue.

This function uses deferred:

https://github.com/phetsims/axon/blob/0cbcf1504e662bc56a97ad22332cba17847b7d18/js/NumberProperty.js#L197-L220

Thus if called during phet-io state, we would have nested deferred, which we don't currently support. I think your idea about letting CT handle t

[2021-01-05 01:09] jonathanolson commented on #221
PaintColorProperty converts `{PaintDef}` values to `{Property.<Color>}`, presumably ColorDefProperty is simply a "typed" Property. I'd assume it would look more like ColorProperty.

[2021-01-06 13:46] samreid commented on #282
If CT identifies a problem like that, is there a straightforward path to mitigation?  Would we have to (a) avoid calling reset on those Properties or (b) avoid passing in a rangeProperty to those Properties?  Those sound like odd restrictions, but it seems even worse that NumberProperty reset can break when it resets range and value together.  What do you recommend?

[2021-01-06 21:37] pixelzoom commented on #221
We may want to defer this until we discuss #1135 (revisit "color" and "paint").

[2021-01-21 03:29] zepumph commented on #282
(c) implement nested deferral 👎

I think it will be best to solve this issue when it comes up in real life (on CT). The reason I'm nervous still is that I have a hard time trusting the scope of our state fuzzing to catch this. It feels like it would be challenging to reproduce this, and it wouldn't happen very often.

That said I'm actually ok to close this issue if you are.

[2021-01-22 19:56] jessegreenberg commented on #309
Oh, this is actually the same as https://github.com/phetsims/scenery/issues/1103 where it was suggested to use get() in link and notifyListeners. Ill close this and move over there.

[2021-01-22 19:56] #309 closed

[2021-01-25 18:23] pixelzoom commented on #5
No movement on this since 1012/2020.  Back to @samreid to decide whether @jonathanolson's input is really needed.

[2021-01-26 04:24] samreid commented on #5
The majority of concerns in https://github.com/phetsims/axon/issues/5#issuecomment-23830189 seem they have been addressed.  If the remaining concerns or others cause problems, let's open a new issue for them.

[2021-01-26 04:24] #5 closed

[2021-01-27 23:50] samreid commented on #282
Perhaps it is best to close this issue until we have a concrete example.  Closing.

[2021-01-30 02:17] samreid commented on #199
Events was deleted in https://github.com/phetsims/scenery/issues/490, closing.

[2021-01-30 02:17] #199 closed

[2021-01-30 02:19] samreid commented on #183
The main contribution from that branch was the proposal of UserControlledProperty, which I will copy here.

[code]

Deleting the branch and closing.

[2021-02-02 02:44] samreid opened #342 "DerivedProperty should not extend Property"
As described in https://github.com/phetsims/sun/issues/641, DerivedProperty used a "hack" shortcut to share code with Property, but unfortunately needed these methods:

[code]

Ideally, we would have a new type like `AbstractProperty` that is the parent for `DerivedProperty`.

Some relevant notes:

If/when we proceed on this, keep in mind TinyProperty and DynamicProperty.

[2021-02-04 20:10] samreid commented on #342
In today's discussion, we agreed this is stable for now and not needed in the near future.  Setting priority accordingly.

[2021-02-19 17:22] samreid commented on #64
Property is not a good match for allocation-free mutations, because it requires (oldValue, newValue) in the callback.  Instead, Emitter should be used for these cases, closing.

[2021-02-19 17:22] #64 closed

[2021-02-19 17:25] samreid commented on #142
Events has been deleted, closing.

[2021-02-19 17:25] #142 closed

[2021-02-19 17:32] samreid commented on #170
Proposed fix has been pushed, @pixelzoom can you please review?

[2021-02-22 17:28] pixelzoom commented on #170
Looks good to me, I don't see any problems. Closing.

[2021-02-22 17:28] #170 closed

[2021-02-26 12:52] samreid commented on #293
We have been using the TinyProperty* implementations in axon for a while and they are working nicely, closing.

[2021-02-26 12:52] #293 closed

[2021-02-26 12:58] samreid commented on #272
@pixelzoom should the code review checklist be revised based on the consensus above?

[2021-02-26 12:59] #268 closed

[2021-02-26 13:06] samreid commented on #215
Now that we have `onBeforeNotify`, we may be able to make more progress in this issue.

[2021-02-26 13:11] samreid commented on #27
I think this has been solved with `TinyEmitter.changeCount`, @jonathanolson please reopen if that's incorrect.

[2021-02-26 13:11] #27 closed

[2021-02-26 23:14] jonathanolson commented on #88
I'd find `conjunctionWithProperty` or the "combination" terms much less intuitive. We could instead borrow Lodash styles, like `_.every` / `_.some`, or JS style with `Promise.all`. Thoughts?

I see unit tests covering some of the cases.

I'm not sure what would be done here, it looks good to me the way it is.

The suggestions are more verbose and will create more garbage. I don't find it worth the

[2021-02-26 23:47] samreid commented on #88
Currently we have `DerivedProperty.and`, `DerivedProperty.or`, etc.  Everything else seems good, thanks! Closing.

[2021-02-26 23:47] #88 closed

[2021-03-01 17:16] pixelzoom commented on #272
The strategies for validating args listed in https://github.com/phetsims/axon/issues/272#issuecomment-546053856 could be augmented 2 ways:

First, to include the new `isSettable` method that @zepumph added to the Property hierachy.  Probably something like:

[code]

Second, use AssertUtils functions for validating args where appropriate. Something like:

[code]

As for whether these strategies sho

[2021-03-01 17:34] pixelzoom commented on #272
Reconsidering...  I don't want to see these strategies in the CRC.  Unless there are some requirements for when/where to use assertions, it's just more noise.

Here's the relevant CRC item:

I think this could be expanded a little bit. But I don't think it's necessary (or desirable) to enumerate all of the strategies for validating Property args.  Using assertions (including for pre-conditions, li

[2021-03-03 03:44] samreid commented on #272
Let's touch base briefly in dev meeting to decide how to proceed.

[2021-03-03 23:24] pixelzoom opened #343 "Property/Action/Emitter/Tiny* class hierachy"
The relationships beweem Property, Action, Emitter, and Tiny* are really odd, to put it kindly.

The latest casualty is https://github.com/phetsims/twixt/issues/29, where Node `opacityProperty` cannot be animated because it's not actually a Property.   So I guess that API is going to have to resort to something like:

[code]

The relationships are so complicated and non-intuitive that I had to mak

[2021-03-03 23:54] pixelzoom opened #344 "Property should use TinyProperty"
I was quite surprised to discover in #343 that there is zero relationship between Property and TinyProperty.

TinyProperty doc describes it as "A lightweight version of Property (that satisfies some of the interface)". But Property currently uses a TinyEmitter, not a TinyProperty.  I don't understand the rationale for this.  If TinyProperty supports a subset of Property, why does Property not crea

[2021-03-03 23:57] pixelzoom commented on #343
I have one concrete suggestion for improvement in https://github.com/phetsims/axon/issues/344. Property should use TinyProperty, to eliminate duplicate code that has been copied from Property to TinyProperty, and to establish a coherent composition (`hasA`) relationship between these classes.

[2021-03-04 00:32] zepumph commented on #343
Javascript doesn't have interfaces. we all wish it did. We discussed this issue with Property last over in https://github.com/phetsims/sun/issues/641.

We are going to improve the Action/Emitter hierarchy over in https://github.com/phetsims/phet-io/issues/1543. I would much prefer that refactor be limited unless we talk about it in the context of that issue, and the many ideas towards the bottom o

[2021-03-04 01:18] pixelzoom commented on #343
No, we had a subset of this discussion.  Our discussion was focused on the fact that some subclasses of Property are not settable.  I had no idea what the picture in https://github.com/phetsims/axon/issues/343#issue-821581997 looked like at the time, and no awareness of the "TinyProperty is not a Property" problem.  We have never addressed the issue of what should happen when a TinyProperty is pas

[2021-03-04 19:45] jessegreenberg commented on #272
Discussion from 3/4/21 -

We agreed that it is not necessary to add a code review checklist item for this. We also discussed the value of adding assertions and most agreed that it is a good way to make code more robust, but some don't use it as much as they could.

AssertUtils was mentioned as a good way to add assertions, folks can check that out if they wish.

[2021-03-04 20:02] #272 closed

[2021-03-05 00:41] pixelzoom commented on #344
Another example of the Property/TinyProperty problem.  I'm trying to create a Multilink in molecule-polarity. WebStorm is flagging it incorrect type assignment, see screenshot below.  And this is only working because Multilink isn't doing any type checking.

<img width="774" alt="screenshot_889" src="https://user-images.githubusercontent.com/3046552/110049887-f991de80-7d0f-11eb-914d-ecdc7a00b177.p

[2021-03-06 16:23] pixelzoom opened #345 "Replace deprecated strings that appear in units.js"
In units.js:

[code]

"In time" has been taking forever.  Shall we get this over with, and blaze through it?

[2021-03-06 16:32] pixelzoom commented on #345
Duplicate of  phetsims/phet-io#530.

[2021-03-06 16:32] #345 closed

[2021-03-10 16:15] samreid commented on #196
Fixed, closing.

[2021-03-10 16:15] #196 closed

[2021-03-12 00:06] pixelzoom opened #346 "Add optional assertion message to validate.js"
In phetsims/phet-io#1589 (comment), I identified impediments to PhET-iO instrumentation, including:

A good place to start would be to add an optional assertion message to validate.js.  Validators currently have no ability to tell me anything useful, because they lack an assertion message.  For example, see https://github.com/phetsims/tandem/issues/229.

The next step would be to go through PhET-i

[2021-03-12 02:09] zepumph opened #347 "ValidatorDef to take custom messages"
From https://github.com/phetsims/tandem/issues/229. A large downside of ValidatorDef is that it only has generic, and often unhelpful assertion messages. I think that we can support this is two ways, and perhaps doing it in both would make sense.

1. Ability to supply a message to `validate()`
2. Add `message` as a key to validatorDef

(2) seems really easy, and very helpful. I will add that now,

[2021-03-12 02:10] zepumph commented on #347
Just kidding, (1) will be covered by https://github.com/phetsims/axon/issues/346. In this issue I would like to supply `message` in the validator itself.

[2021-03-12 02:11] zepumph commented on #346
I like this idea. I think it would most easily be solvable by adding a `message` key to the validator itself, which I want to experiement with over in https://github.com/phetsims/axon/issues/347. I'll report back.

[2021-03-12 02:28] zepumph commented on #347
This is not going to work. We will want to be able to reuse validators too often. Instead it should be based on the `validate` call. Let's pick things up over in https://github.com/phetsims/axon/issues/346

[2021-03-12 02:28] #347 closed

[2021-03-12 02:46] zepumph commented on #346
@pixelzoom please review this just by looking at the change in PhetioObject, and testing it by adding a newline to your favorite line of phetioDocumentation. Does this feel like an adequate solution to you? If so please assign to @samreid to review the validator implementation.

[2021-03-14 00:49] pixelzoom commented on #346
[code]

Sorry to be blunt, but `optionsOrMessage ` is gross.  The lesser evil would be having the optional message be part of `options`, like `validate( value, validator, { message: 'blah blah' } )`.

I'm also not sure if having both a generic message and (optional) specific message is useful/neessary in ValidatorDef, but don't see any harm in having both. What if I want to write my own ValidatorD

[2021-03-17 16:24] samreid commented on #346
It sounds like the generic messages would be supplied by the library.  Like `'invalid value: 4.  The valid values are 1-3 only'`.  Then the specific message would be something like `acceleration value is out of range`

[2021-03-17 18:36] zepumph commented on #346
Ugggg looks like that was only committed last night in https://github.com/phetsims/tandem/commit/b8fa64d34f560181a3ab15faf17fa765512c6053. I'm sorry.

Much of the confusion here is my fault.

Yes @samreid, the "generic" message is only provided via the library.

I didn't really like that, because it would create garbage, and if you don't preface with `assert && validate`, then the garbage objects

[2021-03-17 19:26] pixelzoom commented on #346
Ideally:

[code]

Call sites:

[code]

But it looks like that's not possible because of this in validate.js:

[code]

Imo, those options should live with the validator, not be passed through via `validate`.

[2021-03-17 20:43] zepumph commented on #346
Yes, that would be really nice. Perhaps we should do this.

Cases where we use `options` in `validate()`:

* Action.js
* Property.js
* IOType.js

Three files out of 79 usages. I think we should treat this as the special case, to make the general case (third arg as a string) nicer.

My new thought is to make message the third arg, and options the 4th. Then in these three cases, just supply a messag

[2021-03-18 05:16] samreid opened #348 "DerivedProperty should assert that its dependencies are defined"
In Slack, @pixelzoom said (paraphrased): when I accidentally pass undefined for more than 1 dependency, DerivedProperty tells me there are duplicate dependencies instead of telling me that a dependency is undefined.

[2021-03-18 14:24] samreid commented on #346
The preceding comment sounds great!

[2021-03-18 16:24] zepumph commented on #346
Sounds great. I'll implement

[2021-03-18 17:04] zepumph commented on #346
After the above commit, I tested in three ways, each getting the assertion (with a nice, more specific message) that it deserved.

* Add `\n` to a phetioDocumentation, like in https://github.com/phetsims/tandem/issues/229
* To Bunny.js, add:
[code]

* To Bunny.js, add:
[code]

All now have messages added to their `validate` calls. @pixelzoom please review before we pick this back up in https://git

[2021-03-22 22:32] pixelzoom commented on #346
I don't understand this implementation of validate.js.  I don't see how `message` and `options` both being optional is (or can be) supported.

These 3 permutations all work as expected:

assert.js:21 Assertion failed: value failed isValidValue: false

assert.js:21 Assertion failed: my message: value failed isValidValue: false

assert.js:21 Assertion failed: my message: value failed isValidValue: f

[2021-03-22 23:20] zepumph commented on #346
It is my understanding that in javascript, you cannot (and should not) allow your buggy case. As that is not an example of optional parameters, but instead polymorphism. Multiple optional arguments are not ideal, but for reasons that we discussed in the above issue, we would let slide for this usage.

If you want to provide options, then you must provide a message. Although a bit clunky. I think t

[2021-03-22 23:29] pixelzoom commented on #346
I see.  So this:

[code]

Means that `options` can be provided only if `message` is provided?

[2021-03-22 23:33] pixelzoom commented on #346
If there's nothing else to here, feel free to close.

[2021-03-25 01:31] #346 closed

[2021-03-30 14:51] samreid commented on #348
Proposed fix committed, I tested by changing DerivedPropertyTests:

[code]

to read:

[code]

And confirmed that the unit test failed with:

@pixelzoom do you recommend any other changes or work for this issue?

[2021-03-30 15:31] samreid commented on #344
I committed a proposed implementation.  Some methods could not forward to TinyProperty because we need to supply the Property as the `this` 3rd argument to link callbacks.

Property will not be able to extend TinyProperty since it extends PhetioObject (we use composition instead), so I'm not sure how that problem can be addressed.

Ready for review, and this is a destabilizing change so I'l mark a

[2021-03-30 15:32] samreid commented on #344
Self-reassigning to work on this part:

[2021-03-30 17:00] samreid commented on #344
I also delegated `areValuesEqual`.  I could not find a good way to delegate `linkAttribute`.   Ready for review again.

[2021-03-30 18:54] pixelzoom commented on #348
This seems clearer:

[code]

... but up to you whether to change.

[2021-03-30 18:56] pixelzoom commented on #348
And the current implementation:

[code]

... violates this CRC item:

[2021-03-30 18:58] pixelzoom commented on #348
Imo, there's a better way. This (untested) seems to have multiple advantages:

[code]

And the current implementation:

[code]

... violates this CRC item:

[2021-03-30 19:00] pixelzoom commented on #348
This same assertion should also be added to Multilink.  It currently has only this assertion, duplicated from DerivedProperty:

[code]

[2021-03-30 20:13] samreid commented on #348
I simplified the truthy check by using the `every` which is built-in to Array.  Since its callback only requires a truthy value, we can use the identity function (no need to !!).  I added this to Multilink as well.

[2021-03-30 20:46] pixelzoom commented on #344
This issue has been labeled "blocks publication" and assigned to me to review.  I'm not available to review this until April 5 at the earliest.  If this blocks anything between now and then, please assign this to someone else for review.

[2021-03-30 20:48] samreid commented on #344
At Thursday's dev meeting @jbphet said:

That seems like it will be before April 5, so I'll request review from @zepumph.

[2021-03-31 21:47] zepumph commented on #292
This has been duplicated and implemented over in https://github.com/phetsims/axon/issues/344

[2021-03-31 21:47] #292 closed

[2021-03-31 22:00] zepumph commented on #344
Looks good in general. Thanks for doing this! I closed, which was on my list since TinyProperty was created.

      this.tinyProperty.useDeepEquality = options.useDeepEquality;
    }

I think in Property.js it is fine to always assign this, even when falsey. No strong preference here.

   */
  equalsValue( value ) {
    return this.areValuesEqual( value, this.get() );
  }

  Using `get()` (a funct

[2021-03-31 22:20] samreid opened #349 "Should Property.equalsValue use an optimized version of value access?"
From https://github.com/phetsims/axon/issues/344

@zepumph said:

So this introduces two get() function calls (not ES5 getters) where previously we just had a property access.  @jonathanolson do you think this should be optimized?

The main reason not to optimize is if we somewhere one day override `get()` similar to the situation in TinyStaticProperty.

[2021-03-31 22:22] samreid commented on #344
@zepumph and I reviewed the comments and opened a side issue.  This seems unblocked for publication.

[2021-04-01 06:51] jonathanolson commented on #349
My first instinct is "measure it, make the change and see if it makes snapshot-comparison for all sims at all longer". I see potential advantages for `this.get()`, but also the possibility where that might be too expensive if we don't need it now.

[2021-04-15 19:13] samreid commented on #343
In today's discussion, we considered:

* A typedef
* Pretending (or documenting) that TinyProperty implements the Property interface so that we would still annotate types as Property
* Investigating typescript

We do not have a consensus yet.

[2021-04-15 19:16] pixelzoom opened #350 "Problems with TinyForwardingProperty setTargetProperty"
TinyForwardingProperty:

[code]

Problems with this method:

- [ ] `newTarget` does not follow PhET naming conventions, it should be `newTargetProperty`.
- [ ] `this.targetProperty` must be settable, and there is no assertion to verify that `newTargetProperty.isSettable()`.

Assigning to the authors.

[2021-04-15 20:26] pixelzoom commented on #343
More notes from 4/15/21 dev  meeting.

* There was a bit of cleanup done to the hierarchies in #344.  `Property` now hasA `TinyProperty`.  This is a nice improvement, and provides symmetry with `Emitter` and `TinyEmitter`.

* If this were something other than Property et.al., we'd probably close this issue and move on.  But Property et.al. are used widely in PhET-iO APIs.

To summarize the problem

[2021-04-15 20:56] pixelzoom opened #351 "TinyStaticProperty isSettable === true"
TinyStaticProperty:

[code]

[code]

So shouldn't TinyStaticProperty override `isSettable` to return `false`?

[2021-04-19 17:49] pixelzoom commented on #344
Looks good, closing.

[2021-04-19 17:49] #344 closed

[2021-04-20 22:27] zepumph commented on #183
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:28] zepumph commented on #134
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:28] zepumph commented on #127
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 23:27] zepumph commented on #351
Sounds good to me! @jonathanolson to review.

[2021-04-21 03:56] jonathanolson commented on #351
Looks great to me, closing!

[2021-04-21 03:56] #351 closed

[2021-04-22 16:57] samreid commented on #343
I recommend discussing and scoping out the possibility of a Typescript migration before spending much more time on this issue.

[2021-04-22 19:03] jonathanolson opened #352 "branch: record"
For https://github.com/phetsims/scenery/issues/1196

[2021-04-22 23:36] zepumph commented on #350
This is not true, like all other Property apis, it depends on how the TinyForwardingProperty is used. If you do not set it, but only get the value, then this works. I wrote tests to demonstrate. From this I added an assertion in a spot that likely doesn't feel very helpful or satisfying, as it is in `set` literally a line before anything unsettable would fail.

Please review the above commits.

[2021-04-23 16:46] zepumph commented on #183
Deleted

[2021-04-23 16:46] #183 closed

[2021-04-23 16:46] zepumph commented on #134
Deleted

[2021-04-23 16:46] #134 closed

[2021-04-23 16:46] zepumph commented on #127
Deleted

[2021-04-23 16:46] #127 closed

[2021-04-24 17:48] pixelzoom commented on #350
Ummm.... OK.  So you're saying that if I'm careful and don't use the parts of the API that expect `targetProperty` to be settable, then it's OK to use a non-settable Property.  That's a pretty lousy API desoign imo.   But I'm not going to push the issue.

Closing.

[2021-04-24 17:48] #350 closed

[2021-04-26 19:22] samreid opened #353 "branch: typescript"
To support https://github.com/phetsims/tasks/issues/987

[2021-04-29 19:20] jessegreenberg commented on #343
Developer meeting 4/29/21 -

It seems like the solution to this would involved Typescript, that is being investigated in https://github.com/phetsims/tasks/issues/987. This is on hold until we know how we will proceed in that issue.

[2021-05-05 22:35] zepumph opened #354 "Move EnabledComponent to axon from sun"
To support its use in scenery over in https://github.com/phetsims/ph-scale/issues/215

[2021-05-05 22:37] #354 closed

[2021-05-13 16:26] jonathanolson opened #355 "Older sims failing when they expect Emitter.hasListener"
This should ideally be patched out too.

[2021-05-13 16:34] jonathanolson commented on #355
Looks like it was mainly just arithmetic that was having a console failure. Failing in production. Should be patched up, unassigning for QA

[2021-05-17 14:59] samreid opened #356 "Unbounded NumberProperties still put a range in the initial state with min and max as 0:"
In https://github.com/phetsims/phet-io/issues/1518, @zepumph said:

https://github.com/phetsims/phet-io/blob/694c6642d8c9f8ba0b93e38bbf7f2418a42de382/api/natural-selection.json#L3081-L3085

[code]

[2021-05-17 20:26] samreid commented on #356
Here is the code that initialized the Property mentioned in that comment:

[code]

Note that it does default to 0,0 initially.

[2021-05-17 20:39] samreid commented on #356
In the commit, I made RangeIO use NumberIO for toStateObject/fromStateObject--should be better at positive and negative infinity.  Ready for review.

[2021-05-18 14:38] pixelzoom commented on #356
I’m still seeing buggy ranges in the NS API file, natural-selection.json.  It shows a range with both min and max of zero, when in fact these Properties do not have a range because their values are unbounded.   This problem was noted in last week’s PhET-iO meeting. For example:

[code]

4 instances of this in natural-selection.json.  Search for "max": 0.

[2021-05-18 14:49] pixelzoom commented on #356
@samreid and I looked at this on Zoom.  It looks like this is OK, because NS is explicitly setting the initial range to `new Range( 0, 0 )`.  In ProportionsModel.js, line 61:

[code]

[2021-05-19 15:26] samreid commented on #356
@zepumph and I reviewed this today and agreed it is ready to close, thanks!

[2021-05-19 15:26] #356 closed

[2021-05-22 15:26] zepumph opened #357 "Always include all PhET-iO state keys for Property types"
From https://github.com/phetsims/phet-io/issues/1774. In order to have a stateSchema based on each IOType, we need to have a consistent state for each IOType. This means that we can no longer conditionally add state keys like units, range, etc. Tagging @samreid because I feel like doing this as a side issue, before continuing with https://github.com/phetsims/phet-io/issues/1774, and I have hope th

[2021-05-22 22:03] zepumph commented on #357
I am finding that this is increasing the number of lines in the API file by ~7-10%. I don't think that is a deal breaker, but wanted to note that I specifically removed this comment in Property about units:

`// Only supply units if they were specified, to avoid seeing "units: null" in so many properties, see https://github.com/phetsims/phet-io/issues/1315`

Looks like that issue has reminded to m

[2021-05-22 22:17] zepumph commented on #357
Committed above. @samreid I don't love the increased file size, just because it is total fluff, but I do think we should proceed with https://github.com/phetsims/phet-io/issues/1774 before reflecting on ways to improve the number of lines of data in the api file that are currently just storing "null". Pease review.

[2021-05-23 21:17] samreid commented on #357
For energy-forms-and-changes, it takes the API file size from 25695 lines to 28574 lines, an 11% increase.  I reviewed all the commits and it seems good, I don't have any recommendations.  I think this issue can be closed, but running it past @zepumph in case he has other ideas.

[2021-05-24 16:50] samreid commented on #357
CT is showing this issue:

[code]

It is coming from lines like these:

[code]

I asked in slack:

@jonathanolson added a 👍  and @zepumph replied:

Self-assigning for investigation.

[2021-05-24 18:00] zepumph commented on #357
I don't immediately understand this error, because I see this line:

https://github.com/phetsims/axon/blob/0bb2b45ad2930b89e2b4c4706313876e480cd360/js/Property.js#L81-L83

That said, when running this line with the chrome tools:

http://localhost:8080/phet-io-wrappers/phet-io-wrappers-tests.html?sim=ph-scale&phetioDebug&debugger

I immediately pause in the buggy case for a BooleanProperty called `

[2021-05-24 20:13] zepumph commented on #357
I'm working more on this now.

[2021-05-24 20:33] zepumph commented on #357
Looks like I had written a unit test that was assuming that the state of a BooleanProperty was: `{ value: true }`, since that instance had no units or validValues. Once adding all values as `null`, we ran into trouble when trying to call PropertyIO.applyState on it.

This was a bad assertion error because it was very downstream of the problem.

1. Try to set state with a state object that was inco

[2021-05-24 20:58] zepumph commented on #357
Back to @samreid for review

Feel free to close if you have nothing else here.

[2021-05-25 16:36] zepumph commented on #357
I went over this with @samreid, we will continue with fixes in the stateSChema issue. Closing

[2021-05-25 16:36] #357 closed

[2021-06-18 15:29] jonathanolson commented on #355
Closing, handled in maintenance release deployment.

[2021-06-18 15:29] #355 closed

[2021-07-02 16:49] zepumph commented on #337
Looks all set to me. Closing

[2021-07-02 16:49] #337 closed

[2021-07-03 15:41] samreid commented on #282
Reopening based on the TODO added in https://github.com/phetsims/axon/commit/8c6331740e7d95a1821eddeede4a9b8cf51ecf26, @zepumph can you please advise?

[2021-07-08 14:24] zepumph commented on #282
Above we decided to not do anything for this issue. I'll keep the test commented out but add documentation about it.

[2021-07-08 14:24] #282 closed

[2021-07-09 21:37] samreid commented on #349
I used this test harness:

[code]

Here are some results on my Mac/Chrome:

Fuzzing natural selection for 30 seconds: 0.063 sec vs 0.049 sec.  This is a difference of 0.014 seconds.
Startup time for gravity and orbits: 0.0015 sec vs 0.0007 sec.  This is a difference of 0.0008 seconds on startup.

Is this too slow?

[2021-07-12 18:37] zepumph commented on #349
I do not think so. Thanks for creating the test harness!

[2021-07-29 01:48] pixelzoom opened #358 "How to create an instrumented DynamicProperty of type number with a Range?"
I have a natural place to use a bidirectional `DynamicProperty` in Fourier, and I'm running into a couple of problems:

(1) My DynamicProperty needs to have type 'number' and a Range, so that it can used with NumberControl. I see no way to define a range for DynamicProperty.

(2) My DynamicProperty needs to be PhET-iO instrumented and editable from Studio. I see no DynamicPropertyIO, so no way to

[2021-07-29 01:55] pixelzoom commented on #358
Here's my specific problem.  In WavePacket.js, I have 2 Properties: `standardDeviationProperty` and `inverseStandardDeviationProperty`. The relationship is:

`inverseStandard = 1 / standardDeviation`

... and both Properties need to be editable, in the sim's UI and in Studio.  I'm currently using 2 NumberProperty instances, and handling my own synchronization.

Here's where I got to with DynamicPr

[2021-07-31 19:57] samreid commented on #358
I am less experienced with DynamicProperty and not sure what's best here.

That sounds advantageous, unless there are problems with that pattern?

[2021-08-02 14:51] zepumph commented on #358
I'd probably call it more of a work around then a pattern. We have a pattern and library type set up to support this synchronization for us (DynamicProperty), but PhET-iO is not yet set up to support it.

Brainstorming here, I could see a way to support an instrumented DynamicProperty that is constrained in that its value Property never changes. If we can assert that, (that the intermediate Proper

[2021-08-02 14:53] zepumph commented on #358
@samreid, can you please comment on how close this pattern might be to production-ready. Main concerns:

1. DynamicProperty doesn't support `range` at this time.
2. If the goal is to have a studio control, then perhaps we need to serialize with NumberPropertyIO to get a range?
3. Can we somehow assert that when using a PropertyIO IOType in DynamicProperty, that we make sure that the intermediate P

[2021-08-02 15:12] pixelzoom commented on #358
@zepumph said:

Yes, that was my point. Like I said, I have this working. But the fact that DynamicProperty doesn't have PhET-iO support seems like it needed addressing.

This looks promising.  But I had (have) many of the same questions as @samreid.  So... For Fourier, I will likely stick with my workaround, unless a complete solution is available before August 24 (the "feature complete" mileston

[2021-08-02 15:40] zepumph commented on #358
By incomplete I was talking about DynamicProperty's ability to swap out the intermediate Property (something PhET-iO is not well set up for at all because of dynamicProperties). For the fourier usage, I believe that we could get something working very well.

Oh! I have a new idea @samreid. Why don't we create a DynamicPropertyIO type, and all it does is serialize is the exact thing my patch above

[2021-08-11 23:51] pixelzoom opened #359 "BooleanProperty doesn't support validValues."
Sometimes.an API takes a Property, and you want to pass in a constant.  So you create a Property that can only take 1 value, like:

[code]

In Fourier, I have a chart that always auto-scales the y axis, and the chart's API takes a BooleanProperty.  So I tried this:

[code]

... which fails with:

I can't tell for sure, but it looks like this prohibition of `validValues` was in the first version of

[2021-08-12 17:01] samreid commented on #359
Fixed in the commit.  I tested with `new BooleanProperty(true,{validValues:['hello']});` and saw that it correctly failed.  I tested with `new BooleanProperty(true,{validValues:[true]});` and saw that it correctly succeeded.  @pixelzoom can you please review and test in your context?

[2021-08-12 17:07] pixelzoom commented on #359
Looks good, thanks. Tested with my use-case in Fourier, see the above commit. Closing.

[2021-08-12 17:07] #359 closed

[2021-08-28 15:46] samreid opened #360 "branch: typescript"
From https://github.com/phetsims/chipper/issues/1069

[2021-08-30 03:24] samreid commented on #353
Closing as duplicate of #360

[2021-08-30 03:24] #353 closed

[2021-08-30 04:03] samreid commented on #360
I wrote a draft of Property<T>, but there are some caveats.

* axon and tandem are combined since they have cross references, so they share a tsconfig at the moment
* the tsconfig doesn't include the tests, since the tests include downstream dependencies
* so I disabled precommit hooks to commit.

[2021-08-30 13:49] samreid commented on #360
New idea about how to temporarily use generic Property in typescript sims without having to turn on the typescript build chain for all sims: generate d.ts files from the axon/typescript branch and check the d.ts files in to master.

[2021-09-02 02:37] samreid commented on #358
I'm having trouble evaluating whether it is acceptable to require that instrumented DynamicProperty instances wrap Property instance which are also instrumented.  Is that a natural fit, or are many of the wrapped Property instances implementation details which we would hope to leave uninstrumented?  Even if so, would we be OK adding instrumentation to them, and making them be non-featured?

[2021-09-09 16:41] zepumph commented on #358
I think that seems like the easiest path forward, but it also feels like a total pain. I feel a bit like being graceful, and assuming that if you pass in an uninstrumented Property to an instrumented DynamicProperty, it is because that Property doesn't matter, and also doesn't change (therefore it doesn't need serialization). I don't think it is too clever, so long as we can explain how to support

[2021-09-27 16:55] jessegreenberg opened #361 "Should validate live in axon?"
In https://github.com/phetsims/utterance-queue/issues/33 I tried to use `validate` in a new function in phet-core. But phet-core shouldn't have a dependency on axon because axon already depends on phet-core.

I am wondering if validate and ValidatorDef should be moved to phet-core (or maybe somewhere else) as its usage does not seem limited to observables and axon things.

Assigning to @samreid an

[2021-09-27 20:59] samreid commented on #361
`ValidatorDefTests` imports from both scenery/ and tandem/.  Do we really want to put a dependency from phet-core to scenery and tandem?  How else can this be done?

[2021-09-27 21:14] jessegreenberg commented on #361
Are the tests in ValidatorDefTests specific to ValidatorDef or could they be moved to other tests? For example could the 'Test phetioType' portion be moved to IOTypeTests.js or something else?

[2021-09-27 23:31] zepumph commented on #361
A couple of things here.

* EnumerationIO is in phet-core and uses tandem.
* All the cross dependencies are arbitrary, and just there to test types. They could easily be rewritten to just use IOTypes in phet-core.
* In general, I thought that tests don't have the same constraints on dependencies than other code. Is that not true? If that has changed for typescript, or if I never understood to begi

[2021-09-28 03:07] samreid commented on #361
Yes, this creates complications for TypeScript.  Note that EnumerationIO is excluded from phet-core/tsconfig.json, and included over in tandem/tsconfig.json.

That seems like a good move.

I started to observe these problems in https://github.com/phetsims/chipper/issues/1052 and made progress on https://github.com/phetsims/chipper/issues/1055.  To me, it adds complexity that, say, phet-core import

[2021-09-28 23:35] samreid commented on #358
It sounds reasonable to me, but wondering if we should touch base in a mini-meeting between myself and @jonathanolson and @zepumph.  Perhaps as a breakout room at dev meeting?

[2021-09-28 23:40] zepumph commented on #358
I quite like that. Added it!

[2021-09-30 15:29] zepumph commented on #361
I will try hard to get to the grunt work here soon to get this off hold for https://github.com/phetsims/utterance-queue/issues/33

[2021-09-30 21:26] zepumph commented on #361
@samreid, would you like me to make an issue to move IO types in phet-core out to tandem? Perhaps a lint rule in phet-core to make sure that it doesn't have any cross dependencies?

[2021-09-30 21:30] samreid commented on #361
Is EnumerationIO the only IO type in phet-core?  Would we want to move it out but leave Enumeration, EnumerationMap and EnumerationTests behind?  What is the likelihood Enumeration will one day need to import EnumerationIO?

[2021-09-30 21:33] zepumph commented on #361
Very high in my opinion. Most likely it should be in there now. Similar to the way we do other data types like `Vector2IO`.

------------------------------

ValidatorDef as a feature does depend on tandem though, even if the tests don't reflect that. This is because a validator can have a `phetioType` provided. This is of type `IOType`, even if we don't include that check in code that lives in phe

[2021-10-01 20:46] zepumph commented on #361
This needs to be solved for Enumeration and tandem at the same time. BTW we are no longer blocking https://github.com/phetsims/utterance-queue/issues/33, as we found a way around it.

[2021-10-02 02:22] samreid commented on #361
After our discussion today, it's unclear to me what the options are, or what else we need to discuss/decide before we can proceed.  @zepumph can you please advise?

[2021-10-02 02:36] samreid commented on #358
I'll mark as on hold, but only until @jonathanolson @zepumph and I can discuss, perhaps at an upcoming Thursday meeting.

[2021-10-05 22:00] samreid commented on #331
Maybe TypeScript can help us here.

[2021-11-03 19:15] pixelzoom opened #362 "TinyStaticProperty override of `set` causes TypeScript errors."
Encountered while working on https://github.com/phetsims/geometric-optics/issues/229.

There's a TS problem that occurs when you use a TinyStaticProperty as a dependency for Multilink, DerivedProperty, etc.

Example:

[code]

`textNode.boundsProperty` gets flagged with this error:

The problem is that `TinyStaticProperty` overrides the `set` method of `TinyProperty` AND changes its interface - the

[2021-11-03 19:18] pixelzoom commented on #362
I went ahead and add a `@returns` to TinyStaticProperty `set`:

[code]

[2021-11-05 14:33] samreid opened #363 "Provide a narrowing read-only interface for Property"
From https://github.com/phetsims/chipper/issues/1137#issuecomment-961313135 we identified that we would like a way to say that a Property can have its value read and linked but not set.

This may overlap with #343

[2021-11-08 18:54] zepumph opened #364 "NumberProperty should optionally defer validation until next frame"
From https://github.com/phetsims/phet-io/issues/1824#issuecomment-963466220 and a slack conversation and an issue/workaround in Density involving `class WorkaroundRange`.

Range and the number are constantly having trouble with validation
Some names:
`options.deferValidation`
`options.validateOnNextFrame` <-- lets do this one

Then we can assume that in the same frame the range and number will be

[2021-11-08 22:01] samreid opened #365 "Fix Property.link signature and call sites"
@chrisklus discovered that TypeScript should be inferring the Property.link callback parameters, but it isn't, due to numerous syntax errors in the Property JSDoc.  I'll fix it and update call sites.

[2021-11-09 00:38] samreid commented on #365
The changes above make it so it is now redundant to specify the type information in Property.link callbacks.

Old code:

[code]

New Code:

[code]

However, this doesn't yet work with Property subtypes like BooleanProperty, NumberProperty, etc.  I'll remove the redundant type information from a few sims in the upcoming commits.

[2021-11-09 00:50] samreid commented on #365
@chrisklus this was more involved than I anticipated.  Can you spot check?

[2021-11-09 01:43] samreid opened #366 "Add template variables for Property subtypes"
From https://github.com/phetsims/axon/issues/365, I found we can add template variables for Property subtypes.  I'll do that shortly.

[2021-11-09 01:46] samreid commented on #366
This will allow us to remove the redundant type parameters in link callbacks.

[2021-11-09 15:33] samreid commented on #366
Fixed, closing.

[2021-11-09 15:33] #366 closed

[2021-11-09 15:45] samreid commented on #362
Thanks for the fix.  I'm considering that we may also want to eliminate chaining from `Property.set`.  It seems like a misplaced and unused feature. I searched for occurrences of `property\.set\(.*\)\.` and didn't see any occurrence using the chaining.  Aqua is halfway through testing all sims and hasn't hit a case that uses it yet.

[2021-11-09 18:52] samreid commented on #362
Aqua fully passed and did't identify any cases that were using Property.set chaining.  So I'll remove it and send a PSA over slack.

[2021-11-09 19:01] samreid commented on #362
On Slack, I said:

@pixelzoom can you please review this issue?  I removed Property.set chaining and update the TinyStaticProperty documentation accordingly.

[2021-11-09 20:07] pixelzoom commented on #362
Review. 👍🏻 closing.

[2021-11-09 21:00] chrisklus commented on #365
@samreid and I looked over some cases together where I had questions and I just spot checked the rest of the commits. Looking good, closing.

[2021-11-09 21:00] #365 closed

[2021-11-09 23:00] pixelzoom commented on #362
Reopening.  It looks like you missed TinyProperty. Its `set` method is still chaining:

[code]

[2021-11-09 23:58] samreid commented on #362
In this issue @pixelzoom and I discovered that WebStorm and `tsc` had a difference of opinion about whether passing a `TinyProperty` in place of a `TinyStaticProperty` (or vice versa) in geometric-optics/LabelNode.ts was acceptable.

Also, I removed the chaining in TinyProperty and everything is passing aqua.  I'll commit.

[2021-11-09 23:59] samreid commented on #362
Fixed and ready for review.  Close if all is well and thanks for catching this.

[2021-11-10 00:11] pixelzoom commented on #362
WebStorm seems to be correct in this case.  Based on structural typing (not class hierarchy) a TinyStaticProperty was structurally different than a TinyProperty because the `set` method did not have the same API.   WebStorm was considering the return type, `tsc` seemed to be ignoring the return type.   I'm not sure how that was happening, since WebStorm was pointed at the same `tsc` used on the co

[2021-11-10 00:11] #362 closed

[2021-11-10 01:13] samreid opened #367 "Fix DerivedProperty parameter types"
Similar to #365 we can get better support if DerivedProperty's constructor JSDoc is more accurate.

[2021-11-10 01:19] samreid commented on #367
Fixed in the commit.  This allowed refinement in geometric-optics and greenhouse.  @pixelzoom can you please review, at least the part in geometric-optics?

[2021-11-10 05:38] samreid commented on #363
Eventually we may redo the type hierarchy in #343 but until then this is working great:

[code]

We can add it to axon once axon supports TypeScript.  In fact, I think I could add it now since JS sims won't depend on it.  Testing...

[2021-11-10 05:54] samreid commented on #363
This patch adds `ReadonlyProperty.ts` to axon and demonstrates a use case:

<details>

[code]

</details>

For convenience, here is the type definition ReadonlyProperty.ts:

[code]

And a screenshot showing how you can get values and link but not reset or change the values:

![image](https://user-images.githubusercontent.com/679486/141057387-1c9ffcf0-c821-4979-bee7-f0b9f87d4c03.png)

It appears th

[2021-11-10 15:33] pixelzoom commented on #363
Re:

+  Omit<Property<T>, 'value' | 'set' | 'setPropertyValue' | 'setInitialValue' | 'reset' | 'dispose' | 'setDeferred'>
+  & getValue<T>;

I guess I can see how this might be considered OK from a structural-typing perspective.  But from an OOP perspective, it's backwards - ReadonlyProperty would be the base class, and a "writeable" Property would extend it to make it mutable.

Re use cases... I

[2021-11-10 15:35] samreid commented on #343
As mentioned in https://github.com/phetsims/axon/issues/363, the base class or interface should be read-only, then the subclasses should add on the ability to reset, set value, etc.

[2021-11-10 15:47] samreid commented on #363
I considered 2 strategies for how to allow the class to write to the Property but only allowing clients to read the Property.  Strategy A is the one you mentioned above, which seems good to me.  An alternative is to only have one field for it, but to provide access via a narrowing getter like so:

Strategy B:

[code]

Strategy A: the duplicate class attribute is not great and the naming is confusi

[2021-11-10 16:02] pixelzoom commented on #363
I like Strategy B.

[2021-11-10 16:14] pixelzoom commented on #363
I like Strategy B.    But... How do I get access to `thermometerProperty.rangeProperty`?   And how does `ReadonlyProperty` work (in general) for all of the subclasses of Property, which contain additional features that still need to be accessed in a readonly API?

[2021-11-10 16:19] jonathanolson commented on #343
With typescript, can't we create separate interfaces for read-only, write-only, and read-write? Do we necessarily have to solve this with hierarchy, or can we solve this with the type system?

[2021-11-10 16:20] pixelzoom commented on #363
Read-only is a compound adjective.  And compound adjectives are typically converted to camelcase. So I think that TS has it wrong here.   Assuming that we're striving for consistency, there would also be other implications to using "readonly" in names.  E.g. do you also intended to rename `phetioReadOnly` to `phetioReadonly`, which will break all PhET-iO APIs?

[2021-11-10 16:47] samreid commented on #363
We could make a more general ReadOnly generic like:

[code]

Usage would look like:
[code]

Call site is OK:

[code]

Perhaps we would make a way to add more restrictions in the ReadOnly type.

[code]

[code]

[code]

The proposal to think of `ReadOnly` as a generic type that works for any subtype of Property seems like it would work well.

I agree, we should go with `ReadOnly`.

New Questions:
*

[2021-11-10 16:52] pixelzoom commented on #367
DerivedProperty and geometric-optics look good.

[2021-11-10 16:53] samreid commented on #367
Thanks, closing.

[2021-11-10 16:53] #367 closed

[2021-11-10 17:32] zepumph commented on #364
NumberProperty.validateOnNextFrame was added above. @samreid, I think that in general it is pretty safe. It was a fair bit of code, but I feel pretty confident from the tests I made. Can you please review?

[2021-11-10 17:55] pixelzoom commented on #363
In general, yes.

This is a feature that will undoubtedly be used widely, and it seems like "type narrowing" is potentially a good direction. But it's difficult to evaluate whether it's the future without knowing how will axon change when converted to TS.  And there are so many problems with Property et. al, some (many?) of which we hope TS fixes.  So my intuition tells me that it would be better

[2021-11-11 17:24] zepumph commented on #364
Once this is reviewed, we should let @jonathanolson know so that he can remove his workaround in Density

[2021-11-15 19:13] zepumph opened #368 "Assert that DerivedProperty.and/or are provided dependencies."
The default values for these factories when there are no provided dependencies have strange default values. It seems buggy and like we should guard against it:

[code]

[2021-11-15 21:00] zepumph commented on #368
I fuzzed each simulation and there were no hits, so I'm committing. Closing

[2021-11-15 21:00] #368 closed

[2021-11-19 05:05] samreid opened #369 "Convert Property to TypeScript"
Now that https://github.com/phetsims/chipper/issues/1148 is underway, it is a good time to move Property to TypeScript.

[2021-11-19 05:25] samreid commented on #369
Property and a few subclasses were converted to TypeScript.  There are some ts-ignore and some any, but those can be reduced over time.

I was reminded that axon and tandem have their tsconfigs in chipper, and needed an entry point for unit tests.  Adding to axon unit tests may not trigger tsc beforehand in the precommit hooks.

Also, there is not a good way to cd axon and run tsc at the moment, d

[2021-11-19 05:35] samreid commented on #360
Branch deleted, closing.

[2021-11-19 05:35] #360 closed

[2021-11-22 18:58] samreid commented on #363
The proposal for this issue seems reasonable, but the recommendation is to wait until we have discussed https://github.com/phetsims/axon/issues/343.  Going on hold until then.

[2021-11-22 19:04] samreid commented on #364
TypeScript helped identify a few places where the value was incorrectly being passed to `validateNumberProperty`.  @zepumph can you spot check the subsequent commits about that?  Everything else looks good.

[2021-11-30 21:14] pixelzoom opened #370 "TS problem with Property and subclassing"
This is a problem that I'm running into in Geometric Optics.   @samreid and I worked on this for awhile, and didn't get anywhere.

The basic idea is that an abstract superclass declares an `abstract Property<T>`, where T is some base type. Then the subclass defines that `Property<S>`, where S is a subclass of T.

Here's a minimal example:

[code]

There are no TS errors in the above example.  But

[2021-11-30 21:29] pixelzoom commented on #370
Slack discussion with @jonathanolson:

Jonathan Olson  2:16 PM
Ahhh, I think it's because of the link and we'd need the covariant/contravariant type control. If you could set a Property<Child> to Property<Parent>, then something else could call set( something: Property ) on it that could break it. read-only should theoretically be super safe, but writable ones would suffer from that type issue

I

[2021-12-01 16:04] samreid commented on #370
Here's a self-contained synthetic case that reproduces the problem above without relying on anything in axon.  It shows that TypeScript is revealing a real type error, not that there is a fundamental problem with axon or DerivedProperty.

[code]

This is because TypeScript correctly identifies type error due to attempted covariant parameter types, which are not type safe.  Only contravariant param

[2021-12-01 18:00] pixelzoom commented on #370
There's a clearer definition of variance in _Programming TypeScript_ (Cherney), pages 116-118:

...

Furthermore:

[2021-12-02 14:45] pixelzoom commented on #370
In @samreid's synthetic example, this statement in the `Optics` base class

`abstract thing: FakeProperty<Parent>`

Sets up the requirement that `thing.link` signature is:

`link( listener: PropertyLinkListener< Parent >, options?: any ): void`

`SubOptics` subclass of Optic then defines:

`thing: FakeProperty<Child>;`

which will have a `link` signature of:

`link( listener: PropertyLinkListener<