[2019-01-09 05:52] samreid commented on #204
I wonder if it is preferable to bundle things in the EmitterIO array?

[code]

[2019-01-09 15:55] pixelzoom commented on #202
The description about says "user presses a keystroke, it displays a popup", and I suspect that means inside the IDE's Editor.  There's currently no requirement that a specific IDE must be used to do PhET development.  And I think that should continue to be the case.  So if you do investigate a script, I think we should make sure that it's not IDE-specific.   Or poll developers first to see how peo

[2019-01-09 16:00] samreid commented on #202
The script that was developed for automatically adding `require` statements is IDE-independent (though I don't know if anyone besides me and @zepumph use it at the moment), and we could choose to do something similar for this case.  Based on your remarks, it does sound like you do not prefer the legacy options pattern because it is an inherently superior pattern, and that improved tooling could he

[2019-01-09 20:44] zepumph opened #209 "Add support for "transactions" in Property"
From https://github.com/phetsims/phet-io-wrappers/issues/229, phet-io state has need to be able to set multiple Properties atomically. It would be nice to be able to tell a Property to hold off on notifying listeners until the transaction is complete.

[2019-01-09 20:46] zepumph commented on #209
After discussing this with @jonathanolson @samreid @chrisklus @mbarlow12, we came up with a strategy in which you can start an arbitrary number of transactions, and listeners will only be called once all of the transactions have ended (completed).

Once `_notifyListeners` is called (at the end of all transactions), the "old value" will be the original value from the start of the transaction proces

[2019-01-09 20:49] samreid opened #210 "Multilink caches stale values"
Related to https://github.com/phetsims/axon/issues/141 and https://github.com/phetsims/phet-io-wrappers/issues/229 and #209

Today @zepumph and @chrisklus and I identified that Multilink is caching stale values, and those values are being used in callbacks.  This used to be a problem with DerivedProperty as well, which was corrected in https://github.com/phetsims/axon/issues/146.  We would like to

[2019-01-10 23:56] zepumph commented on #195
I think that naming it `elementType` would be more general, because perhaps it could work for another composite type? Maybe that's too vague.

I think there are two leading ideas about how we go, please correct me if I am mistaken:

1. Use of `valueType: Array` with `isValidValue`:
[code]

2. Use of `valueType:Array` with new key `arrayElementType` (maybe `elementType) where the value of arrayElem

[2019-01-10 23:58] zepumph commented on #189
very good thanks!

Good to note that https://github.com/phetsims/axon/issues/195 will be worked on more, but this feels like things have wrapped up well.

I'm going to close, and new issues can be created from here. Thanks all!

[2019-01-10 23:58] #189 closed

[2019-01-11 00:01] zepumph commented on #210
@pixelzoom could you please review this issue as it relates to how we get dependency values in DerivedProperty. Anything amiss here?

[2019-01-11 00:02] zepumph commented on #209
What is next here? @samreid should this be reviewed by someone outside the phet-io team?

[2019-01-11 00:04] zepumph commented on #182
I don't want un-reviewed code in master for too long. marking blocks publication.

[2019-01-11 00:06] samreid commented on #209
@jonathanolson already took a quick look at it, but it would be ideal if @pixelzoom can schedule time to take a look.  I'm sure he is going to have lots of good questions when he comes across it in the future, would be good to plan for it instead of having him stumble across it by accident.

[2019-01-11 00:06] zepumph commented on #198
I don't see a need for this to be high priority. @samreid please change if you disagree.

[2019-01-11 00:08] zepumph commented on #204
That feels less good to me.

I really dislike that in order create an Emitter you have to create an EmitterIO. We looked into that in #182 early on, and even implemented, but it just seems cleaner to me if move EmitterIO related stuff into `argumentTypes`.

We can talk more in person if you'd like.

[2019-01-11 01:02] pixelzoom commented on #195
Option 1 seems sufficient to me, as I said in https://github.com/phetsims/axon/issues/195#issuecomment-452459698.

[2019-01-11 02:30] samreid commented on #204
Uninstrumented code would use `argumentTypes`.  When instrumenting to PhET-iO, it would be upconverted to `phetioType: EmitterIO(...)`.  We would have an assertion that `argumentTypes` and `phetioType` are mutually exclusive.

[2019-01-11 17:51] pixelzoom commented on #210
I don't see anything amiss in https://github.com/phetsims/axon/commit/580374983847fb1f603766b254d902701a5305e4.  Looks like a worthwhile change.

[2019-01-11 18:19] pixelzoom commented on #209
I question whether "transaction" is the correct name for this feature, since it makes me think of database transactions, which is an atomic unit of work that typically involves multiple (different) actions.  A Property transaction is simply a way of making multiple `set` calls result in one notification of observers. And it doesn't prevent any of those observers from calling `get` while the transa

[2019-01-11 18:23] samreid commented on #141
See also #209

[2019-01-11 18:58] pixelzoom commented on #209
@samreid and I discussed this via Slack.  The current solution does not address the stated goal of being "able to set multiple Properties atomically".   And it results in change notifications being in the wrong order in the PhET-iO data stream.

Examples that @samreid and I discussed:

[code]

[2019-01-11 19:23] samreid commented on #209
For API, @pixelzoom and i preferred:

[code]

[2019-01-11 19:24] samreid commented on #209
Would we ever want to "withhold notifications" from Emitter?  Maybe one day, but we have no need for it at the moment.  We discussed this case:

[code]

[2019-01-12 04:36] samreid commented on #209
[code]

[2019-01-12 05:39] samreid commented on #209
I implemented this system as prescribed in https://github.com/phetsims/axon/issues/209#issuecomment-453621227 and added this test:

[code]

However, this results in:

That is because `a`'s first listener is the sum, so it gets called first.  I tried declaring the sum after the other links:
[code]

but this resulted in:

Maybe this is because all the listeners are downstream, and maybe I should be

[2019-01-13 02:54] samreid commented on #209
Alternatively, we could add the DerivedProperty to the Transaction.

[2019-01-13 04:00] samreid commented on #209
That will not work. After `popDefer`, `a` changes and causes `sum` to send notifications first, even when it is in the transaction.

[2019-01-14 15:35] samreid commented on #209
I don't think we will be able to use the new Transaction class to solve the problem in https://github.com/phetsims/phet-io-wrappers/issues/229, because some new Properties may be created during traversal of the set state and they will not be in the Transaction.  Perhaps we can use pushDefer/popDefer though.

[2019-01-14 16:38] pixelzoom commented on #209
Is anyone else concerned about adding this new complexity to Property?

[2019-01-14 16:45] samreid commented on #209
I'm concerned, but I don't see a preferable alternate solution.  So everyone is aware of the anticipated complexity increase, here is a patch that shows proposed changes to Property for this feature:

<details>

[code]

</details>

[2019-01-14 18:19] samreid commented on #209
I reviewed the proposal with @zepumph @jessegreenberg @chrisklus @jbphet and @jonathanolson today and @jonathanolson pointed out this problematic case:

[code]

It was proposed that we purposefully limit the number of "defers" that a Property can have to 1 to avoid this pitfall.

There was general agreement that this pattern seemed acceptable.  I'll work on the fix above and some cleaning up to co

[2019-01-14 20:17] #210 closed

[2019-01-14 20:19] samreid commented on #209
I notified dev-public:

I tested the following things before commit:
* axon unit tests
* the patch in https://github.com/phetsims/phet-io-wrappers/issues/229
* GFLB Wrapper Unit Tests
* the top 10 sims (alphabetical) in Aqua.

No issues noted.  Committing.

Follow up work:
- [ ] Improve on `TransactionTests`
- [ ] Understand and maybe improve the notification and data stream message ordering

[2019-01-15 19:07] pixelzoom commented on #208
FYI... Over in https://github.com/phetsims/function-builder/issues/57#issuecomment-443337954, I noted that `endDrag` can be replaced with `interruptSubtreeInput` on the target node. I think that's preferable to replacing `endDrag` with `interrupt`.

[2019-01-15 19:57] pixelzoom commented on #208
I said:

Those occurrences have been converted to `interruptSubtreeInput`.

I now see zero occurrences of `endDrag( null )` in PhET code.

@samreid anything else to do here?

[2019-01-15 23:56] zepumph commented on #208
Using `endDrag\( ` I still see three usages of `this.dragHandler.endDrag( null /* event */ );`. (Weird!)

[2019-01-16 00:03] pixelzoom commented on #208
@zepumph I'm not finding those three usages. Can you point me to them?

[2019-01-16 18:45] samreid commented on #195
@zepumph @chrisklus and I added support for `valueType: Array` in the preceding commit.  This does not preclude us from checking element types in the future.

[2019-01-16 19:01] samreid commented on #204
In discussion today, @zepumph agreed the proposal in https://github.com/phetsims/axon/issues/204#issuecomment-452580690 sounds reasonable and warrants investigation.

[2019-01-16 19:03] samreid commented on #204
We also discussed that if the phetioType already has IO type, then `valueType` is redundant and can be dropped.  Sounds reasonable!  Warrants discussion and investigation.

[2019-01-16 19:06] samreid commented on #204
For instance, in DOMEventIO, we would eliminate

[code]
and move toward a Validator-centric solution like:

[code]

[2019-01-16 19:14] samreid commented on #194
See also #204, which is the same issue for Emitters.

[2019-01-16 19:42] samreid opened #211 "Convert emit1, emit2, emit3 to emit"
From #182 @zepumph @chrisklus and noted we need to iterate through all usages of emit1, emit2 and emit3 and convert them to use emit.  This will require adding `argumentTypes` or equivalent (may be renamed soon in #212).  This should be done after #204 is complete, since it could change the API.

[2019-01-16 19:43] zepumph opened #212 "Rename Emitter's `argumentTypes`"
from #182
Since creating `Validator` this name is not really accurate. Instead @samreid @chrisklus and @zepumph were thinking that it could be `argumentValidators` or `argumentValidatorOptions`.

both of those are pretty lengthy, and we don't love the idea of writing those for every emitter in the future. Also ValidatorOptions is more of the proper type that Validator, since it is an array of the

[2019-01-16 19:44] samreid commented on #182
Review is complete, this is working nicely and follow-up work is lower priority and noted in other issues.

[2019-01-16 19:44] #182 closed

[2019-01-16 19:50] samreid commented on #212
Since this will be prevalent in client code, we may want to optimize it even further.  Perhaps something like `validators`.  We could rename `Validator` to `Validation` if necessary.

[2019-01-18 01:01] zepumph commented on #206
This was eliminated in 2f48b0edb5c523078b03cd3dcbc8b9652091059a

[2019-01-18 01:01] #206 closed

[2019-01-18 01:12] zepumph commented on #212
Feel free to edit inline

Naming options for validating:
`Validator.validate` // the way it is now
`Validation.validate`

Names for Emitter option:

`argumentTypes`
`argumentValidation`
`validation`
`validators`
`validationOptions`

[2019-01-18 17:16] samreid opened #213 "Convert Property to ES6"
It would be good to convert Property and its subclasses to ES6.  We already converted Emitter to ES6 as part of work in https://github.com/phetsims/axon/issues/182

[2019-01-18 18:43] samreid commented on #213
I converted Property and its subclasses to ES6, tested lint is passing, tested local aqua is passing.  Committing.  I apprised slack:

[2019-01-18 18:47] samreid commented on #213
@zepumph can you please do a spot check review?  Probably doesn't need to be exhaustive, but would be good to know if I've missed anything critical.

[2019-01-18 19:08] zepumph commented on #213
How was https://github.com/phetsims/expression-exchange/commit/e3634ce32656b2ddb36ae04051316561b85dc96d not causing tons of errors before? Good find!

[2019-01-18 19:09] zepumph commented on #213
Should this TODO in graphing-lines come with an issue?

[2019-01-18 19:14] zepumph commented on #213
It's really annoying that we loose the git history for the constructor in all of these functions:

![image](https://user-images.githubusercontent.com/6856943/51407990-d5f88380-1b09-11e9-9cf3-63497edef17e.png)

Is there any way around it?

[2019-01-18 19:16] samreid commented on #213
That is an unfortunate artifact of the GitHub diff viewer.  Other viewers do not suffer from that problem:

![image](https://user-images.githubusercontent.com/679486/51408087-e2d1a300-1b1a-11e9-9592-9f155d2d8081.png)

[2019-01-18 19:25] zepumph commented on #213
Nevermind about this whole comment, I did my review on github only, and didn't see https://github.com/phetsims/axon/issues/213#issuecomment-455657171 until after posting. On WebStorm I'm able to see the git history. Please disregard this point.

[2019-01-19 03:11] samreid commented on #213
I moved the static functions to the class declarations, anything else to do here before closing?

[2019-01-19 04:15] zepumph commented on #213
Looks good to me

[2019-01-22 23:13] chrisklus commented on #212
I just experienced this confusion firsthand (despite being a part of this issue only six days ago, how sad!) and think that if arguments is part of the name, then it shouldn't be used as a descriptor for another noun, since this array include the actual arguments as well.

Of the options listed so far, I think I prefer just `validators` the most. Because the documentation will explain that a valid

[2019-01-28 18:49] zepumph opened #214 "solidify disposeEmitter pattern"
From design patterns conversation today during core hours (https://github.com/phetsims/phet-info/issues/88#issuecomment-458242942), we discussed using an emitter to perform disposal actions as a "catch all" choice when our more preferred options (`disposeMyType` function in constructor and putting everything on the prototype `dispose` method) weren't ideal.

Here is an example of the pattern:

[co

[2019-01-28 18:55] pixelzoom commented on #214
I agree that this is good to discuss. But the examples above for `aNewNode` and `bNode` are cases where nothing needs to be done, and might cause misconceptions.   If `aNewNode` was a constructor parameter, and `bNode` had a `tandem` options, then cleanup for those things would be legitimate.

[2019-01-28 19:02] pixelzoom commented on #214
Misc thoughts about order...

(1) Endeavor to write code where order of disposal doesn't matter.
(2) In my experience, order of disposal rarely matters.
(3) Rules like "call `super.dispose` last generally apply since it assumes that `super` was called in the constructor before anything was done that will need undoing.
(4) Adding something like `reverseCalling` to Emitter encounters the problem not

[2019-01-28 19:05] samreid commented on #214
If the base type had a `reverseCalling` `Emitter`, then it could tear down in the opposite order of creation.

I totally agree with (1).  Regarding (2)--I'm not sure how much code would break if I went through and scrambled the order of disposals, but it would be an interesting experiment.

[2019-01-28 19:05] pixelzoom commented on #214
(5) Using Emitter for disposal actions has the advantage that specifying an action (e.g. `link`) and its dispose action (e.g. `unlink`) can be co-located in the code.   It was the disadvantage that you can't easily see the ultimate order of dispose actions, as you can with `this.dispose{{Classnames}}`  or `this.dispose`.

[2019-01-28 19:07] pixelzoom commented on #214
Yes, I understand.  Please read this point again.  How do you propose to call `super.dispose` somewhere in the middle of an Emitter's listener list.

[2019-01-28 19:10] pixelzoom commented on #214
(6) This relies on Emitter's listeners being called in the order that they were added.  As I noted in https://github.com/phetsims/graphing-lines/issues/109#issuecomment-455900546:

If order is really important, then relying on the order of Emitter listener's is an ordering dependency that you'll be leaning on heavily.   phetsims/axon@1239bb6 put us on that trajectory, and it seems like you're will

[2019-01-28 19:12] samreid commented on #214
If everything is done through `resetEmitter` then `dispose` will not need to be overridden and `super.dispose` will not need to be called.

[2019-01-28 19:15] pixelzoom commented on #214
Is this what you're proposing?

[code]

[2019-01-28 19:20] pixelzoom commented on #214
I don't understand this at all. What is `resetEmitter`?   How can cleanup of the superclass be accomplished i `super.dispose` is _never_ called?

[2019-01-28 19:48] pixelzoom commented on #214
I'm trying to follow you here, but you're making pretty big unexplained leaps.  When we started this example `this.disposeEmitter` was `@private` and defined by the subclass.  Now it looks like you're proposing that `this.disposeEmitter` is provided by the superclass, and is either `@protected` or `@public` -- all of which presents a whole new set of problems.

[2019-01-28 20:00] pixelzoom commented on #214
In https://github.com/phetsims/axon/issues/214#issuecomment-458259781, @samreid said:

OK, so I missed the proposal to move this to "the base type".

Are you thinking that `PhetioObject` might be "the base type" where `disposeEmitter` is defined?  If so, that would mean that (1) PhetioObject is required for anything that needs to be disposed, (2) subclasses that need to use a different dispose pat

[2019-01-28 20:23] samreid commented on #214
Right, the pattern identified in https://github.com/phetsims/axon/issues/214#issuecomment-458268028 requires either `disposeEmitter` to be public or protector, or for there to be a public/protected way of adding listeners to it.

That doesn't seem like a great fit.  Alternatives may be (a) creating a new base type `Disposable` which `PhetioObject` extends.  Or just letting types use this pattern i

[2019-01-29 01:35] pixelzoom commented on #214
@zepumph asked:

(1) If every class uses `disposeEmitter`, then subclasses will blow away their parent class' `disposeEmitter`.  A naming convention like `disposeEmitter{{Classname}}` is needed.

(2) Unless you require that `super` is called in the constructor before doing anything related to memory management (which is not a constraint that we should be willing to live with), you cannot accomplis

[2019-01-29 01:41] zepumph commented on #214
I very much like that.

RE (2):
I thought that this block would cover that, in the rare cases that we find it:

If you have to call super dispose in the middle of actions, then add the super.dispose call as a listener to the emitter, and have the dispose method singularly call the disposeEmitter

such that the above statement would look like:

[code]

[2019-01-29 01:46] pixelzoom commented on #214
If you have to call super dispose in the middle of actions, then add the super.dispose call as a listener to the emitter, and have the dispose method singularly call the disposeEmitter

I missed that, thanks for pointing it out.  But I think it's a really bad idea to override something and then chain to the super method elsewhere.

[2019-01-29 01:52] zepumph commented on #214
I think I agree that it is a code smell, and not preferred, in our branching decision tree we have found ourselves out on quite the leaf:
1st method doesn't work -> 2nd method doesn't work so use disposeEmitter{{TypeName}} -> normal supertype `dispose` method calling doesn't work -> add listener with `super.dispose()` in it.

And we still have a solution.

Before continuing to discuss this edge ca

[2019-01-29 02:08] pixelzoom commented on #214
@zepumph said:

Here's the organization that I typically use (and prefer) for Node subclasses. As soon as we add PhET-iO instrumentation to this code, we will have straddling of `super`.

[code]

[2019-01-29 02:11] pixelzoom commented on #214
And I most definitely do not want to be forced to change the above to:

[code]

[2019-01-29 03:21] pixelzoom commented on #214
I have not had a need to do this.   As I mentioned in https://github.com/phetsims/axon/issues/214#issuecomment-458258547:

[2019-01-30 17:09] samreid commented on #195
I think `valueType: Array` will be sufficient for now.  If a client needs to check values, they can additionally use `isValidValue`.  In the future, we have the option to add direct support for checking individual element types, but that doesn't seem necessary now.  @zepumph is that satisfactory?  Can this issue be closed?

[2019-01-30 18:38] zepumph commented on #195
Yes I think this is most efficient and best way forward right now.

[2019-01-31 18:40] zepumph opened #215 "Listener order should be scrambled on fuzz"
Today in phet-io/dev meeting we decided that axon listener order should not be guaranteed. One nice way that someone thought up (sorry I forgot who) to test this would be to shuffle the order of listeners while fuzzing.

[2019-01-31 18:47] zepumph commented on #215
see https://github.com/phetsims/scenery/issues/928

[2019-02-03 05:04] samreid opened #216 "Emitter .apply() calls should use null instead of this"
Discovered in https://github.com/phetsims/scenery/issues/928, For unknown reasons `Emitter` is passing `this` for the `apply` calls.  I discovered this led to a problem in SimpleDragHandler which was incorrectly using `this` instead of `self`.

[2019-02-03 05:06] samreid commented on #216
I fixed the main problem with this, but there are still several other occurrences that will need attention.

[2019-02-03 05:19] samreid commented on #216
I fixed the validation case.  The other site that is implicitly using `this = Emitter` for callbacks are `emit1, emit2 and emit3` which are deprecated.  So perhaps that's all we need for this issue.  @zepumph are you available to double check that this change is reasonable?

[2019-02-05 03:44] samreid commented on #199
There is some usage here:

https://github.com/phetsims/scenery/blob/0eaff198894fa9470c47d86dca082aa97f0b70c9/js/nodes/Node.js#L5121-L5130

[code]

[2019-02-05 03:45] samreid commented on #199
But in that case it would be equally good to return true or false, or maybe to have Events do its own assertion.  @jonathanolson what do you think?

[2019-02-05 16:07] jonathanolson commented on #199
I'm fine with that feature being removed/changed, I don't remember using it. For Scenery, having strict error checking (fail on trying to remove a non-listener) would be nice.

[2019-02-06 23:30] zepumph commented on #214
From discussion on Monday, we don't think that finding a total consensus on this issue is worth the cost.

In discussing this pattern, we are trying to nail down a "third tier" pattern, for use after our two more preferred ones.

In the design pattern doc it says:

--------------
Sometimes the above, preferred patterns won't work. For example sometimes components are conditionally created, and
the

[2019-02-06 23:30] #214 closed

[2019-02-07 00:03] pixelzoom opened #217 "should Property have before and after options, like Emitter"
In https://github.com/phetsims/graphing-lines/issues/109#issuecomment-460347677, @samreid asked:

The answer was "no" in the context of that issue (RC testing), but we may want to discuss it in general.

[2019-02-07 00:50] zepumph commented on #216
These changes look good.

I also agree that it doesn't make sense to change deprecated methods from something like:

`          this.activeListenersStack[ lastEntry ][ i ]( arg0, arg1, arg2 );`

to

`          this.activeListenersStack[ lastEntry ][ i ].call( null, arg0, arg1, arg2 );`

Hopefully we can update usages soon.

[2019-02-07 00:50] #216 closed

[2019-02-07 00:51] zepumph commented on #204
Marking high priority, since this is currently a gap that only get harder to fill as time goes on.

[2019-02-07 00:55] zepumph commented on #204
Steps for this issue:

- [ ] `isInstance` methods on TypeIOs should be converted to `validatorOptions`
- [ ] Usages of argumentTypes for phet-io instrumented instances should be changed to use EmitterIO, using  `// TODO: use of both of these is redundant, and should get fixed ` to search for the 30 usages or so.

[2019-02-07 00:59] zepumph commented on #212
Marking for a quick dev meeting issues. What should the option name be for the list of validator options objects that are used to validate each arg. Some examples are above. Here are my favorites.

`argValidators`
`argumentValidators`
`validators`

[2019-02-07 01:07] samreid commented on #212
`validators` seems best to me.

[2019-02-07 22:00] jessegreenberg commented on #212
@pixelzoom said this is a list of options, so how about `validatorOptions`?

Consensus: if we call them `validators`, then rename Validator to something else.

[2019-02-07 22:08] pixelzoom commented on #212
More 2/7/19 dev meeting notes:

There was more discussion, but we didn't reach a final decision on this.

One proposal was to move `Validator.validate` to validate.js and `Validator.validateOptions` to validateOptions.js or isValidator.js.  In both cases, rename `options` params to `validator`.  But what to do about `DEFAULT_OPTIONS`?

@zepumph Pointed out that isValidator.js would be doing someth

[2019-02-08 03:48] samreid commented on #204
After today's discussion, will we use `validator` instead of `validatorOptions`?

[2019-02-09 20:52] pixelzoom opened #218 "remove Emitter emit1, emit2, emit3"
In light of work like https://github.com/phetsims/scenery/issues/928 and https://github.com/phetsims/axon/issues/211 ...

Emitter `emit1`, `emit2`, and `emit3` should be deleted. They are all deprecated. @samreid recently changed their implementations to be nearly identical and call `emit`, see https://github.com/phetsims/axon/commit/880b3119f7bbd4ea81417db15a50ab22252d4d44.   And they would be re

[2019-02-10 04:17] samreid commented on #218
The reason I didn't just tackle this as part of https://github.com/phetsims/axon/issues/211 was that `emit` requires `validators` whereas `emit1,2,3` ignore validation.  So we have these kind of options:

a) add a (temporary?) feature to Emitter that ignores validation
b) use `validators` like `[Any]` for `emit1`, `[Any,Any]` for `emit2` etc.
c) add the correct validators for each Emitter as part

[2019-02-11 03:43] samreid opened #219 "Factor out phet-io data calculation in emit"
Emitter.emit is important code and it can be simplified by moving out the phet-io part that gets the data.  Discovered during https://github.com/phetsims/scenery/issues/928

[2019-02-11 04:13] samreid commented on #219
I factored it out and updated docs, @zepumph can you please review at your convenience?

[2019-02-11 17:50] zepumph commented on #219
Looks good thanks.

[2019-02-11 17:50] #219 closed

[2019-02-11 20:27] pixelzoom opened #220 "Emitter dispose issues"
`Emitter` is an ES6 class.  Current implementation of `dispose`:

[code]

Problems:

(1) Should be chaining to `super.dispose`.

(2) Missing visibility annotation.

(3) Missing `@override` annotation.

(4) Doc says "Like Property.dispose, this method checks that there are no leaked listeners." I see no evidence of that here. Is that vestigial doc?

[2019-02-11 20:28] pixelzoom commented on #220
Doc says "Like Property.dispose, this method checks that there are no leaked listeners."  I see no evidence of that here.  Is that vestigial doc?

[2019-02-11 20:31] samreid commented on #220
Committed (1)-(3) above.

Maybe it means it removes its references to the listeners?

[2019-02-11 20:39] pixelzoom commented on #220
The doc was added with the first implementation of `dispose` in https://github.com/phetsims/axon/commit/5ccb60d1b7058a3afdbc641f8b8148dcad6089f3, see below.   So it's definitely vestigial - it was checking via an assertion, and now it's not checking.   So I'm going to modify the doc.

[code]

[2019-02-11 20:41] pixelzoom commented on #220
@samreid please review, feel free to close or modify.

[2019-02-11 20:42] #220 closed

[2019-02-12 01:00] chrisklus commented on #196
Work left for this issue:

- [x] Property( { phetioType: PropertyIO( BooleanIO ) } ) -> BooleanProperty
- [ ] Property( { phetioType: PropertyIO( StringIO ) } ) -> StringProperty
- [ ] Property( { phetioType: PropertyIO( NumberIO ) } ) -> NumberProperty

[2019-02-12 01:35] pixelzoom opened #221 "create additional type-specific Property subclasses?"
Somewhat related to https://github.com/phetsims/axon/issues/196...

Should we create any additional type-specific Property subclasses, for types that occur frequently?  The primary reason I'm asking is because of the boilerplate PhET-iO instrumentation that is involved, especially for type description/validation.

Looking through the sims that I'm responsible for, I see frequent occurrences of `Pr

[2019-02-14 05:28] samreid commented on #221
@zepumph was investigating an approach that would eliminate one of `valueType` or `phetioType` and infer the other automatically.

On the other hand, I'm not opposed to creating `Vector2Property` and `ColorProperty`, but just wondering if something more general would be better.  Like:

[code]

or

[code]
etc.

[2019-02-14 17:57] chrisklus commented on #221
I think I would prefer just adding more type-specific Property subclasses instead of something general, unless we switched to using only using the general type. I might be weird to be able to do the same thing three different ways:

[code]

and

[code]

and

[code]

[2019-02-14 20:18] samreid commented on #221
We should also create `EnumerationProperty`

[2019-02-14 20:30] samreid commented on #221
Should we go the extra mile and prevent types like `Vector2` from being passed to a plain `Property` if there is a subtype that should be used?

[2019-02-14 20:33] jessegreenberg commented on #221
Could that be done with a lint rule?

[2019-02-15 14:05] samreid commented on #221
JS is not a statically typed language and hence we cannot determine the type of a value passed into Property until runtime.  So this cannot be done with a lint rule.

[2019-02-15 16:14] jessegreenberg commented on #221
Thanks, that makes sense. I was hoping we could search for `new Property( new Color(...) )` and so on, but we would never be able to write a rule that catches `new Property( referenceToColorInstance )`.

[2019-02-20 23:56] samreid commented on #221
Does this still need to be labeled for developer meeting?

[2019-02-21 01:32] zepumph commented on #221
I would defer to @pixelzoom's judgement on that.

-------------------
From https://github.com/phetsims/axon/issues/221#issuecomment-463495162:

Yes indeed, see https://github.com/phetsims/axon/issues/204

When that is added, likely we are talking about one line of code difference. I agree that it is very nice to not have to repeat the type creation everywhere you need to create an instance. I woul

[2019-02-21 04:47] pixelzoom commented on #221
Did we come to a consensus at last week's dev meeting? I don't see any comment with dev meeting notes.

[2019-02-21 17:14] chrisklus commented on #221
I think we decided that we'd go ahead and add a few other type-specific Property subclasses, but I don't remember finalizing which ones.

[2019-02-21 21:46] pixelzoom opened #222 "investigate factoring out PhET-iO data stream responsibilities from Emitter"
In https://github.com/phetsims/scenery/issues/928, we discussed leveraging Emitter to add messages to the PhET-iO data stream.   In https://github.com/phetsims/scenery/issues/928#issuecomment-466110347 from 2/21/19 dev meeting, the consensus was that we'd prefer not to have this responsibility in Emitter, and it is worth taking time to investigate how that responsibility might be factored out.

@a

[2019-02-22 15:13] samreid commented on #221
I added this code to the Property constructor:

[code]

and ran local aqua.  This reports the number of instances of Property with constructor names on instantiation.  Here is the result, and a script that sorts:

[code]

[code]

[2019-02-22 15:19] samreid commented on #221
Taking a closer look with everything 1000 or over:

Boolean: 480006
Color: 82536
Number: 40877
Vector2: 37912
ImmutableVector2: 21153
String: 10215
Term: 1707
Range: 1387

We already have BooleanProperty and NumberProperty and StringProperty.  That leaves ColorProperty and Vector2Property.  RangeProperty seems on the lower side, but we could add it too if desired.  Term seems simulation specific,

[2019-02-22 16:41] pixelzoom commented on #221
ColorProperty and Vector2Property sound good.   They are the 2 that I had zeroed in on in https://github.com/phetsims/axon/issues/221#issue-409070035.

Unless there's a straightforward implementation of (3),  I would be inclined to skip it and address during code review and PhET-iO instrumentation.  That seems to be working for the current Properties subclasses.

[2019-02-22 17:26] samreid opened #223 "BeersLawSolution property value is not getting serialized"
@chrisklus and I discovered this while working on https://github.com/phetsims/phet-io/issues/1336.

To reproduce the problem:
1. Launch http://localhost/phet-io-wrapper-lab-book/lab-book.html?sim=beers-law-lab&console&phetioEmitHighFrequencyEvents=false
2. Open the dev tools
3. Press the "record data" button.

We observed that the 3rd element in the array, corresponding to getValue for `'beersLawL

[2019-02-22 17:42] samreid commented on #223
This looks like a problem in beers-law-lab.js the wrapper:
[code]
It was relying on the JSONified Property value--see how the ._value was leaking through.  It is no longer leaking through now that we are using structured cloning.

However, now that we are using structured cloning, we cannot pass the entire BeersLawSolution through, because it is not structured-clonable.

Escalating to @zepumph for

[2019-02-22 17:49] samreid commented on #223
@chrisklus and I are confused because it seems there is no point in the logic which serializes the result.  We added a proposed serialization, but are skeptical because this has been the only failure of this nature we've ever detected.

After making this change, the BeersLawSolution is properly converted `toStateObject`, so we think it is a step in the right direction.  We tested Faraday's Law: Wr

[2019-02-23 00:55] zepumph commented on #212
Work done:

* separate out `validate` function to its own file
* rename Validator.js -> ValidatorDef.js
* rename Emitter option `argumentTypes` -> `validators`

@pixelzoom will you please review.

[2019-02-23 01:47] zepumph opened #224 "questions about ValidatorDef.validateValidator"
While working on https://github.com/phetsims/axon/issues/204, I had a few questions about implementation.

* Why does this return a value? At the very least this should be documented. I'm a little unclear about where this. It seems like we are on trying to do two different things here. Return a boolean on whether or not it is valid, AND assert out if isn't valid. To me those don't mix very well.
*

[2019-02-23 01:59] pixelzoom commented on #212
Looks good.  I made 4 commits above, 3 of which are cosmetic.  But there was one bug, fixed in https://github.com/phetsims/axon/commit/89500ae5af4d28472581a9e9ec74e93a668815c8 - `Array` needs to be handled before other types because `Array` has a constructor.

Back to @zepumph in case there's anything else to do.

[2019-02-23 02:02] pixelzoom commented on #212
The answer to this TODO in ValidatorDef.js is probably "not right now".

[code]

[2019-02-23 03:06] zepumph commented on #204
These are substantial changes to core types at PhET, marking blocks-publication until a review can occur.

[2019-02-23 03:10] zepumph commented on #204
Sum of work done:

* Convert `isInstance` predicates on IOTypes to `validator` fields
* Update EmitterIO to support a new key in each argument object: `validator`
* Update Emitter to only take options.validators OR options.phetioType, but not both.
* Fix usages to make sure that (a) any instrumented emitter doesn't pass in `validators` option, and (b) that when possible the phetioType argument typ

[2019-02-23 03:11] zepumph commented on #212
Thank you so kindly for the quick review! You are right, probably so. I'm going to remove that todo, but, especially as part of work done in https://github.com/phetsims/axon/issues/204, I think that we will need a predicate soon (something to return a boolean instead of assertions.

[2019-02-23 03:12] #212 closed

[2019-02-23 03:52] samreid commented on #224
It looks like it shouldn't return a value.  Probably vestigial.  I can't see any sites using the return value, but I can't say I understand why there is a `!` in this unit test:

[code]

Checking for `hasOwnProperty` for each case sounds great to me.

Maybe this doesn't need to be mixed into Property?  Perhaps instead Property should just document "adheres to the Validator specification", but with

[2019-02-23 03:54] samreid commented on #221
Some more questions before this can be split out into issues.  Should ColorProperty be declared in scenery or axon?  Should Vector2Property be declared in dot or axon?

[2019-02-23 06:10] pixelzoom commented on #221
That's probably depends on what dependencies are desired (or possible), and might be a better question for @jonathanolson.

[2019-02-24 03:06] samreid commented on #221
For scalability and to avoid odd repo-repo dependencies, it seems appropriate for the `*Property` types to be declared adjacent to the corresponding `*` types.

[2019-02-24 03:09] samreid opened #225 "Add assertions that Property subtypes are used"
From https://github.com/phetsims/axon/issues/221

[2019-02-24 03:10] samreid commented on #225
@pixelzoom replied in https://github.com/phetsims/axon/issues/221#issuecomment-466461806

[2019-02-24 03:16] samreid commented on #225
I think there will be a straightforward implementation--something like:

[code]

However, I'm concerned there will be many sites to address (not sure how many or how to easily count them all.)

[2019-02-25 14:13] samreid commented on #204
I wrote on slack:

I’m seeing numerous CT issues related to `Assertion failed: value should be instanceof Event, value=[object Object]`.  I can reproduce by selecting an item in a ComboBox

Looks related to https://github.com/phetsims/axon/issues/204, I’m committing a proposed fix that alleviates the symtoms in Molarity.

[2019-02-26 15:24] samreid commented on #204
This `validator` doesn't seem correct:

[code]

Because `validValue` is not a legal key for a validator.  Same problem in `Animation.js`.  It seems these were meant to use `valueType`.

[2019-02-26 15:53] samreid commented on #204
These changes will also allow us to replace all of the `assertInstanceOf` calls with `validator` declarations on the types.  I'm investigating that and will probably commit as part of this issue.

[2019-02-26 16:11] samreid opened #226 "Use validator instead of assertInstanceOf"
From https://github.com/phetsims/axon/issues/204.  Now that we have an improved pattern for validation for IO type values, we should leverage that instead of having a parallel but different way of validating via `assertInstanceOf`.

[2019-02-26 16:14] samreid commented on #226
Proposed changes:

ObjectIO constructor:
[code]

phetioInherit:
[code]

Then we can add `validator` entries to IO types, and remove the type check in the constructors.

We would need a nice syntax to check for toStateObject/fromStateObject as well, not sure what that will be.

[2019-02-26 16:54] pixelzoom commented on #222
I made an initial proposal in https://github.com/phetsims/scenery/issues/928#issuecomment-462479649, and I'll probably start there.

[2019-02-26 17:04] zepumph commented on #226
Yes the code should have that. I thought that, I thought that this was added in #204 though. Everything recommended above sounds great.

[2019-02-26 17:54] samreid commented on #226
I don't think this approach will work because of a circularity problem in loading these modules.  Typically we reference the IO type from the core type, and use namespace to get the core type from the IO type.  However, IO type is loaded first (since it is a dependency) and the core type doesn't exist at that time.

[2019-02-26 17:57] zepumph commented on #226
Why would it not work to consistently use the name space to reference the core type from the io type? Since all the usages are nested in the constructor, which won't be called until core the core type has been loaded to the name space?

[2019-02-26 18:32] samreid commented on #226
@zepumph and I discussed it, and considered lazily creating the validators. That is problematic because there are several usage sites.  Then @zepumph wrote:

Michael Kauzmann [11:16 AM]
you could also make it so that all typeio validators have to use `isValidValue` instead of other validator keys
that would create the proper closure too.
(I think)

Sam Reid [11:19 AM]
nice!  That may be better.  I

[2019-02-26 18:44] samreid commented on #226
using `isValidValue` where namespaces were used seems to be working nicely.  Local phet-io aqua is passing.  Local aqua is good so far.  I'll notify slack:

[2019-02-26 18:44] zepumph commented on #204
- [ ] validateValidator should assert out if there are no expected keys (valueType, validValues, isValidValue).

[2019-02-26 18:50] samreid commented on #226
Sam Reid [11:50 AM]
Pushed, please pull and report problems here or in #226

Over to @zepumph for review.

[2019-02-26 19:45] samreid commented on #226
Also, please search through the repos for `https://github.com/phetsims/axon/issues/226` which indicates some places where it's unclear what to put for these validators.

[2019-02-27 03:50] samreid commented on #222
One feature that I'm not sure how it will be covered by the given proposal: what if we have an event that we require for recording and playback (and hence it has a `first` or `action` sort of thing), and it also has listeners?

[2019-02-27 03:59] samreid commented on #204
I see your point about NullableIO.validator.  Maybe we need to define something like `isValid(instance,validator)` which will help us here.  Then NullableIO would be written:

[code]

Or maybe validate should return a boolean?

[2019-02-27 04:01] pixelzoom commented on #222
Do you mean an `Event` or some other "event"?  Example?

[2019-02-27 04:08] samreid commented on #222
For example, any of the 24 `phetioPlayback: true` Emitters.

[2019-02-27 20:32] samreid commented on #204
@zepumph and I reviewed the existing code and made numerous changes in the preceding commits.  Tests are working, we have improved feature coverage without sacrificing good assertion messages.  The strategy of passing through `{assertions: true}` is unconventional but we didn't see a preferable strategy.

We marked one TODO regarding garbage.

[2019-02-27 21:45] zepumph commented on #218
duplicate of #211

[2019-02-27 21:45] #218 closed

[2019-02-27 21:54] samreid opened #227 "Remove most or all {validationEnabled: false}"
As part of #211 @zepumph and I are converting from `emitN` to `emit`.  These sites have not been previously validated and during the port we have added `{validationEnabled: false}`, but the default for `emit` is to validate the emitted values and it will be nice to add the correct validators for these emitters.

There are 52 usages of `{validationEnabled: false}` in many repos. Ideally these sites

[2019-02-27 22:06] samreid commented on #204
@zepumph and I finished reviewing and committing, and decided this issue is complete.

[2019-02-27 22:06] #204 closed

[2019-02-27 22:20] zepumph commented on #224
most of this was fixed as part of work done today in #204.

All that is left is to use `hasOwnProperty` instead of checking that they are truthy.

[2019-02-27 22:23] zepumph commented on #208
Is there anything else to do here @samreid?

[2019-02-27 22:50] zepumph commented on #211
All usages of emit1, emit2, and emit3 have been removed. we used the `validationEnabled` option to bypass validation in almost all instances (some easy ones were converted as I went). See #227 for steps to remove that option.

There are no longer deprecated emit methods in Emitter. @samreid please review.

[2019-02-27 22:52] zepumph commented on #224
Fixed above. Closing

[2019-02-27 22:52] #224 closed

[2019-02-27 22:56] zepumph commented on #207
So far we have been treating `validateOptionsOnValidateValue` as a field on a `ValidatorDef`.

What if instead we added an `options` arg to validate where we could specify this with the same pattern that we are used to. So we wouldn't need any hackary in Emitter and Property (like we have now). We would have:

`validate( value, validator, { validateValidator: true })`

and in Property and Emitter

[2019-02-27 23:22] zepumph commented on #226
I removed one todo. I also am stumped about the other two.

[2019-02-27 23:23] zepumph commented on #226
Everything else looks good though.

[2019-02-27 23:35] zepumph commented on #227
There are 52 usages of `{validationEnabled: false}` in many repos. Ideally these sites would be validated by passing in a `validators` argument with the appropriate `validator` object for each arg that the Emitter emits. I will handle common code (with @samreid), as there may be a few spots where we choose to keep validation disabled. Marking for dev meeting to make all aware. Feel free to unassig

[2019-02-27 23:51] pixelzoom commented on #227
No idea how to begin. Can you please provide a concrete example?

[2019-02-28 00:25] samreid commented on #227
I addressed this for circuit-construction-kit-common in the aforementioned commit.

[2019-02-28 01:27] zepumph commented on #226
Oh! I'm also wanting to discuss what we decided about the `validator` field being required for every typeIO, it looks like you added assertions to phetioInherit, which I think is likely great and the way we should go. I also noticed that EnumerationIO could use its parent validator if it didn't specify its own (which is just its parent anyways). Should we inherit them? I'm leaning towards no, but

[2019-02-28 01:49] samreid commented on #207
It may be even clearer to segregate these further.  For instance, if the default is to validate the validation options, we could have:

[code]

Then sites that want to opt out of validating the validator each time (such as Property or Emitter) could use `validateValue` instead of `validate`.

[2019-02-28 17:52] zepumph commented on #195
This came up again as part of https://github.com/phetsims/axon/issues/227. Reopening.

As discussion with @pixelzoom and @samreid, it seems like we should make a new validator key like;
[code]

which will basically do:
[code]

[2019-02-28 17:55] zepumph opened #228 "add support for multiple valueTypes"
This came up during https://github.com/phetsims/axon/issues/227.

It is very annoying to have to do:

[code]

each time.

Brainstorming:
new key?
`{ nullOrValueType: Event }`

function on ValidatorDef?
`ValidatorDef.getNullOrTypeValidator( Event )`

[2019-02-28 19:01] pixelzoom commented on #195
The other common case I’m running into is `{SomeType|null}`.  And I’m having to do this:

`{ isValidValue: value => ( value instanceof Event || value === null ) } // {Event|null}`

[2019-02-28 20:03] zepumph commented on #195
see https://github.com/phetsims/axon/issues/228

[2019-02-28 20:12] ariel-phet commented on #227
As of Feb 28 2018 1 of these was done

[2019-02-28 20:17] samreid commented on #221
We agreed we will put the *Property next to the * types.

[2019-02-28 20:21] samreid commented on #221
It seems we are leaning toward using `ColorDefProperty` and *not* renaming the left hand side, so it would be like:

[code]

[2019-02-28 20:23] samreid commented on #221
@jonathanolson suggests:

Color refers to the type.  color refers to ColorDef.  (Like Property vs property).

[2019-03-01 00:05] pixelzoom commented on #227
Conversion of my sims from `validationEnabled: false` to `validators: [...]` is done. Sims were tested with `?ea&fuzz`.

[2019-03-01 00:09] pixelzoom commented on #228
Allow `valueType` to be an array of possible value types. E.g.:

[code]

[2019-03-01 00:12] zepumph commented on #228
I like that! Is it confusing that that key is singular?

[2019-03-01 00:41] pixelzoom commented on #228
I don't think it's confusing.  "The value type can be Event or null."

[2019-03-01 01:41] zepumph commented on #228
Sounds good! I can implement.

[2019-03-01 01:53] samreid commented on #228
Sounds great, nice idea!

[2019-03-01 17:15] Denz1994 commented on #227
MAS has been taken care of. A similar test was done using `?ea&fuzz` and testing the exact case where emit is called.

[2019-03-01 17:24] zepumph opened #229 "Document how to pass a validator to a phet-io instrumented Emitter"
We have put a lot of work into making sure that you don't pass `validators` and `phetioType` to Emitter. @samreid where do you think the best place to add documentation about how to pass `validators` through to Emitter through the EmitterIO? I could see it in the `How to instrument` docs, but to me it seems a little bit far from the implementation.

We could put it in EmitterIO, and then rely on t

[2019-03-01 17:25] samreid commented on #229
That seems like it will work well.

[2019-03-01 17:31] zepumph commented on #229
I'll implement

[2019-03-01 17:32] #229 closed

[2019-03-01 17:38] zepumph opened #230 "Disallow passing Emitter a phetioType with no args"
Since by default the phetioType is `EmitterIO( [] )`, we shouldn't allow clients to also pass in a different instance of that same parametrized type.

[2019-03-01 17:43] zepumph commented on #230
Hey I'm also going to add a few emitterIO tests here. . .

[2019-03-01 18:05] zepumph commented on #230
@samreid please review.

[2019-03-06 01:11] samreid commented on #227
Reminder to remove the deprecated parts from Emitter once this issue is complete.

[2019-03-06 01:11] samreid commented on #211
I reviewed `Emitter` and spot checked a few sim commits, it all looks great.  Thanks @zepumph.  This issue seems good to close and we will continue in https://github.com/phetsims/axon/issues/227

[2019-03-06 01:11] #211 closed

[2019-03-06 01:24] samreid commented on #230
Looks great, thanks!  Closing.

[2019-03-06 01:24] #230 closed

[2019-03-06 17:28] pixelzoom opened #231 "need a better API for specifying "null is a valid value""
If `null` is a valid value for a Property, then using type-specific Properties is out of the question, and I have to resort to this boilerplate:

[code]

I see 165 occurrences of regex `Property.<.*\|null` in PhET code, so this is a common scenario.

Can validator.js and Property APIs support a simple way of specifying that `null` is a valid value? Something that makes the above boilerplate unnece

[2019-03-06 22:16] jbphet commented on #227
Conversion of my sims is done.  I tested by inducing situations that I knew would fire the emitter, and all looked good.  Unassigning myself.

[2019-03-07 03:42] samreid commented on #227
38 occurrences to go

[2019-03-07 03:45] samreid commented on #231
I believe @pixelzoom proposed `valueType: [SomeType, null]` for cases like that.  @zepumph or @pixelzoom does that ring a bell?

[2019-03-07 03:59] pixelzoom commented on #231
That rings a bell, but I can't find the issue where I proposed that (if one exists).

[2019-03-07 04:01] pixelzoom commented on #231
Ah, here it is: https://github.com/phetsims/axon/issues/228#issuecomment-468490581.  So I'm going to close this as a duplicate issue.

[2019-03-07 04:01] #231 closed

[2019-03-07 04:03] pixelzoom commented on #228
A couple of things about `valueType: [ Event, null ]`...

(1) `null` is not a type, it's a value.
(2) It doesn't work for type-specific Properties like Vector2Property.

[2019-03-07 04:24] samreid commented on #228
So true, but I think we can make an exception since `[Event,null]` is nice and readable (unless we think of something nicer).

True, but I think type-specific properties should generally not support null, and in going through the many cases in https://github.com/phetsims/dot/issues/88, it seemed like most/all `new Vector2Property` were initialized with a non-null Vector2, so that pattern may not b

[2019-03-07 04:25] samreid commented on #228
https://github.com/phetsims/axon/issues/231 was closed as duplicated, but it was marked for developer meeting discussion.  Should we mark this for developer meeting?

[2019-03-07 14:28] pixelzoom commented on #228
@samreid said:

That sounds reasonable.

Type-specific Properties should not be able to change their type. BooleanProperty handles this correctly. Vector2Property handles this incorrectly.

Assuming all such Properties have a type expression documented (which I doubt)...
With string search, I see:

165 occurrences of regex `Property.<.*\|null`,
3  `{Property.<Vector2|null>}`
26 `{Property.<number|

[2019-03-07 20:28] zepumph opened #232 "what should an {Object} validator look like?"
In ObjectIO I used `{ isValidValue: instance => instance !== null && typeof instance === 'object' }`

which feels good to me, but I don't really want to copy that around the project.

What if we made a method like:
[code]

Also would be good to note that I currently see multiple usages of `valueType: Object` around the project, which I don't think is complete, but maybe it is. I can't seem to see

[2019-03-07 20:53] zepumph opened #235 "Property should support validator from phetioType"
Related to https://github.com/phetsims/dot/issues/88 because there we are talking about how to support phetioType and validator keys in Property. Similar to https://github.com/phetsims/axon/issues/204 because we did similar work in Emitter to omit duplication of supplying validators and phetioType when not necessary.

I created this issue because I saw work being done in https://github.com/phetsim

[2019-03-07 20:54] zepumph opened #236 "Factor out Property subtype assertions about validatorKeys"
Seeing the following chunk in BooleanProperty looks inefficient, and like there will be many duplications.

[code]

Can we add something like this to ValidatorDef instead, so that if we added another key, we wouldn't need to touch multiple spots?

Maybe something like
`ValidatorDef.assertNoValidatorKeys( options )`

[2019-03-07 23:31] zepumph opened #233 "Emitter shouldn't assume it controls validators passed into it"
There is code in Emitter that assumes that it controls the validator objects that it is passed, and it tries to freeze them. Originally, @samreid and I thought that was a good idea because, to quote this comment:

`Changing the validator options after construction indicates a logic error`

Now I'm not so sure, especially after trying to change EmitterTests for https://github.com/phetsims/axon/issu

[2019-03-08 02:20] pixelzoom commented on #232
Recommended to use `value` instead of `instance` in:

`{ isValidValue: value => value !== null && typeof value === 'object' }`

More generally, what's the motivation for this issue? I'm not clear on what problem we're trying to solve.

[2019-03-08 04:20] samreid commented on #233
That's probably fine.  Let's just measure heap before/after to quantify.

[2019-03-08 04:21] samreid commented on #232
@zepumph is this covered by https://github.com/phetsims/axon/issues/228?

[2019-03-08 13:46] pixelzoom opened #234 "change options pattern in type-specific Properties"
Related to https://github.com/phetsims/dot/issues/88#issuecomment-470692197 and discussed in https://github.com/phetsims/phet-info/issues/96, @samreid and @zepumph convinced me that the options pattern currently used in type-specific Properties has a potential problem -- it modifies the options value that it was passed.  And we should not do that, in the case the value is used elsewhere.

I'll sel

[2019-03-08 13:51] pixelzoom commented on #234
@samreid @zepumph thanks for the options discussion yesterday.  I learned some things, test drove the "best practices" in gas-properties (they are an improvement), and I'm onboard with this change.

[2019-03-08 14:00] pixelzoom commented on #234
Looks like we need to resolve https://github.com/phetsims/axon/issues/235 and https://github.com/phetsims/axon/issues/236 before proceeding with this issue.

[2019-03-08 14:19] pixelzoom commented on #236
How about something that isn't specific to validation options?  For example, to replace:

[code]

[2019-03-08 14:24] pixelzoom commented on #236
On second thought...

(1) I think I prefer the individual `assert` statements, since the messages can be very specific, and it's very clear what's going on.

(2) The current assertions in (e.g.) BooleanProperty don't really bother me -- I think the clarity and specificity of the assertion is worth any duplication.

(3) `ValidatorDef.assertNoValidatorKeys( options )` will not work. Different type-s

[2019-03-08 22:27] zepumph commented on #236
Ahh so in NumberProperty, we allow `validValues` to be specified, like in `this.screenIndexProperty`:

[code]

This makes sense. I guess I misunderstood a particular piece of previous discussion, I think involving {Property.<Vector2|null>.  There we said that this sub-Property Type should not use `Vector2Property`, which makes sense because `null` is not of Type `{Vector2}`, but `NumberProperty` i

[2019-03-08 22:50] zepumph commented on #235
It may be simpler to start with thinking just about Property and not sub types. In Emitter we developed a strategy for having EmitterIO define the validators for each argument, and then in Emitter it was simple to say that either the client provided `validators` options OR `phetioType` but not both, and we get the validators from the EmitterIO type in the latter case.

Here is just one possible so

[2019-03-08 23:23] pixelzoom commented on #236
Then you'll end up with something that's just about the same as the assertions. And imo, less readable, less clear.  So my vote would be no change. The assert pattern is obvious and ubiquitous. But if others feel differently, knock yourselves out.

[2019-03-09 07:21] zepumph commented on #232
Note:
![image](https://user-images.githubusercontent.com/6856943/54067739-65f4a880-41f0-11e9-8fe5-4f9e5779427b.png)

Let's go with `valueType: Object`. I'll update ObjectIO and document in `ValidatorDef`.

[2019-03-09 07:35] zepumph commented on #232
@pixelzoom the goal of this issue was to establish what the preferred validator is when trying to accept any `Object`. Would you mind reviewing?

[2019-03-09 07:43] zepumph commented on #228
Alright then it sounds like the consensus is to have `valueType` support an array (technically making it value types) and allowing one of those two Properties to be `null`. Right now I feel like it is nice to restrict this only down to what is currently needed. We can open another issue to discuss if we want to allow `valueType: [Node, 'number']`.

So the restrictions will be as follows:
* valueTy

[2019-03-09 07:59] zepumph commented on #228
Here is a patch I made brainstorming this idea, honestly I sorta hate this. Perhaps it would look cleaner to not put the above stipulations on the array, and just support any number of valueTypes. I think that if there was a loop instead of my logic it would simplify things supstantially

<details>

[code]

</details>

[2019-03-09 13:41] samreid commented on #228
My instinct is that we would not want to see client usage like `valueTypes: [OneType, ACompletelyDifferentType]` (singular or plural).  I'm not bothered by complex implementation--clarity and readability at the numerous client sites is worth it.

[2019-03-09 18:07] pixelzoom commented on #232
I'd be happy to review.  Will try to get to it on Monday 3/11/19.

[2019-03-09 18:12] pixelzoom commented on #228
@samreid said:

I can't recall using Property that takes a value that can be of multiple types. But if it's a legitimate use that passes review, I don't see why a client shouldn't be able to do this. The implementation should not make it impossible to support this.  And it should be very easy to support this, since we're just iterating over an array.

[2019-03-09 18:20] pixelzoom commented on #228
I said:

Didn't take long to contradict that statement :)  `Property.<Color|string|null>` is technically a Property that takes a value of multiple types.  We've invented a ColorDef as a way around that, but as we've seen with ColorProperty, it's complicated.

[2019-03-10 14:55] samreid commented on #228
That's true, but I wonder if in practice we would want to use:

[code]
or

[code]

I guess I'm trying to narrow down whether `valueType:[OneType,ADifferentType]` is a code smell or necessary evil.  The question about `Color|string|null` doesn't convince me that it's necessary, but maybe another case will.  But even if we see another case in practice that is coded like `valueType:[OneType,ADifferen

[2019-03-10 17:31] pixelzoom commented on #228
@samreid said:

A dynamically-typed validator is (in general) neither of those.  It's an important feature of `Property` and other PhET building blocks, courtesy of Javascript.  Whether it's a code smell depends on context.

How to best implement `ColorProperty` depends on what we decide in https://github.com/phetsims/scenery/issues/948.  Regardless of what we decide there, that shouldn't dictate

[2019-03-11 14:57] samreid commented on #228
Thanks for discussing that, I'm convinced to move forward with `valueType: [ Type1, Type2, ... ]` as an alternative to `valueType: Type`.  @zepumph want to implement?  Or let me know if I should.

[2019-03-12 18:33] pixelzoom commented on #235
Feedback on previous comment...

First, I think it would be preferable to synthesize `phetioType` from `valueType`, not the other way around.  The `valueType` syntax is much more natural.  And validators have uses that don't involve PhET-iO

Re these 2 examples, which I'll give names here:

[code]

About Example 2, you said:

I don't understand why no simplification would be available, or why it w

[2019-03-12 18:41] pixelzoom commented on #235
Above, I said:

Over in https://github.com/phetsims/axon/issues/228, we can to the consensus that we should support `valueTypes: [ type1, type2, ... ]` and allow `null` as one of the type values.  I still think that's a good design.   But...

It makes synthesizing `phetioType` trick.  PhET-iO doesn't support Properties that have dynamic types - which I still think is a mistake, but that ship has s

[2019-03-12 18:57] pixelzoom commented on #235
Here's an untested function to illustrate what I had in mind.  See especially the "NEW" comment.

[code]

[2019-03-12 19:27] pixelzoom opened #237 "no issue for TODO in NumberProperty"
Encountered while working on https://github.com/phetsims/axon/issues/234.

In https://github.com/phetsims/axon/commit/8330cdd40aba1042af2ccd519b21f6713c1b0f5d, @samreid added a TODO in NumberProperty:

[code]

Please create an associated issue and reference it with the TODO.

[2019-03-12 19:35] pixelzoom commented on #234
I went ahead and did this, since since it should make whatever we decide in #235 and #236 easier to apply.

I tried to follow our decisions in https://github.com/phetsims/phet-info/issues/96, and apply the best practices consistently to all 4 subclasses.

To avoid the ugly/repetitive `!options` expression in `assert( !options || !options.hasProperty( 'blah' ), ...)`, I put such assertions inside a

[2019-03-12 19:52] pixelzoom commented on #232
I reviewed the commits, looks good to me.   Closing.

[2019-03-12 19:52] #232 closed

[2019-03-14 15:25] samreid commented on #227
Around 16 left to go.

[2019-03-19 18:32] pixelzoom commented on #222
@samreid said:

I haven't made the proposal yet.  But assuming we have a method named `doPhetioTask` that wraps a function in `phetioStartEvent` and `phetioEndEvent`, and Emitter also uses `doPhetioTask` when `emit` is called...

[code]

This is more flexible than the current `Emitter` approach, because you can choose whether to combine or separate the task and the notification.

[2019-03-19 18:57] pixelzoom commented on #222
Sorry it's taken me awhile to get back to this, I've had other higher priority work. That said...

In https://github.com/phetsims/scenery/issues/928#issuecomment-462479649, I showed a brute force (untested) way to separate `Emitter` into 2 classes that I called `Emitter` and (for lack of a better name) `Task`.  `Emitter` is responsible only for notification of listeners, which was its original res

[2019-03-19 21:20] jessegreenberg opened #238 "ValidatorDef valueType key should handle Enumeration"
We added an example to ValidatorDef that describes an Enumeration.

[code]

This would be a nice enhancement.

[2019-03-19 21:42] jessegreenberg commented on #227
`validationEnabled: false` has been removed from sims assigned to me.

[2019-03-20 14:22] samreid commented on #222
Currently the PhET-iO playback engine only knows how to record and play back `Emitter` events.  If we follow this strategy, we will need to make it so the PhET-iO playback engine can record and play back events from the new type.

[2019-03-20 18:34] zepumph commented on #222
I think the idea of wrapping logic in phetioEvents through methods instead of a Type is interesting and creative. I don't want to say an immediate "no" to it. My hesitation lies in how Type-focused our instrumentation process has been thus far; it isn't clear to me immediately how we will be able to support wrapper side features (like emitting the data stream) without an instrumented type associat

[2019-03-22 21:38] zepumph commented on #227
I'll take it from here! Thanks all!

[2019-03-23 00:28] pixelzoom opened #239 "create EnumerationProperty"
Related to https://github.com/phetsims/axon/issues/221, the need for additional type-specific Properties...

Since I've started using `PHET_CORE/Enumeration`, I've found that an Enumeration is often specific to a Property.  And like `NumberProperty` and its associated `range`, it would be nice to have `EnumerationProperty` with an associated `Enumeration`.

I'm going to take a stab at creating `En

[2019-03-23 00:31] pixelzoom commented on #239
Hmmm.. First dilemma is where to put `EnumerationProperty`.  When we created `Vector2Property`, we decided to put it in the same repo (dot) as `Vector2`.   But I don't think I can put `EnumerationProperty` in phet-core with `Enumeraton`, since phet-core cannot depend on axon.

[2019-03-23 00:47] pixelzoom commented on #239
`EnumerationProperty` is currently living in (and used by) gas-properties.

@samreid @jonathanolson opinions on where it should live?

[2019-03-23 19:56] pixelzoom commented on #239
Slack dev-public channel, 3/22/19:

Chris Malley [6:33 PM]
I’m creating `EnumerationProperty`.  Based on previous convention, it should live in phet-core with `Enumeration`.  But that would make phet-core depend on axon.  So is it OK to put `EnumerationProperty` in axon?

Sam Reid [6:49 PM]
Yes, I think so. We shouldn’t introduce a phet-core to axon dependency
I believe that’s why we chose to put

[2019-03-25 18:24] pixelzoom commented on #239
@samreid @zepumph since you are assigned to review other type-specific Properties, could you please review this one at the same time?

[2019-03-25 18:33] pixelzoom commented on #238
This seems straightforward to add.  In ValidatorDef `isValidValue `, add this `else if` clause:

[code]

[2019-03-25 18:52] pixelzoom commented on #238
Support and unit tests for `valueType: {Enumeration}` were added in the above commits, and used in `EnumerationProperty`.  @zepumph please review.

[2019-03-25 19:46] pixelzoom opened #240 "add phetioType to Property subclass unit tests."
Tests for `phetioType` need to be added to unit tests for BooleanProperty, StringProperty, NumberProperty.  Also to Vector2Property when it has unit tests.

See EnumerationPropertyTests for an example.

[2019-03-25 20:02] zepumph commented on #238
Looks good. Thank you.

[2019-03-25 20:02] #238 closed

[2019-03-28 19:22] zepumph commented on #234
This is all looking nice. It still looks weird to me to have the double extend call, but I think overall this is looking really nice.

I know I have brought this up in a similar issue, but I don't love that the `if( options )` block is a duplicate in `BooleanProperty` and `EnumerationProperty`. I don't see an obvious way to factor this out though, especially since many Property subtypes specify ex

[2019-03-28 19:23] zepumph commented on #239
Besides my note at the end of https://github.com/phetsims/axon/issues/234#issuecomment-477736911, this all looks great.

[2019-03-28 23:00] #234 closed

[2019-03-28 23:00] #239 closed

[2019-03-28 23:52] pixelzoom commented on #222
Next on the checklist is:

Let me know when you want to do this.

[2019-04-02 01:37] samreid commented on #198
It seems the proposals are for (a) a `changeResetValue(*)` on Property which can be used piecemeal or (b) a more global function that calls something like `changeResetValue()` on each Property with the current value as the reset value.  If we go with (b), we still need a way to hook into that, perhaps it could be automatically written as part of studio customization?  Anyways, I'm wondering if tha

[2019-04-02 22:17] pixelzoom commented on #222
We're discussing on 4/2/19 @ 9:30am.

[2019-04-02 22:17] pixelzoom commented on #222
We're discussing on Thu 4/4/19 @ 9:30am.

[2019-04-03 01:02] samreid commented on #199
Proposed fix is here.  I had to put a band-aid on one call site to prevent erroring.

[2019-04-03 04:21] samreid commented on #201
While it would be possible to simplify the implementation, having a simple and nice API is more important.  The TODOs have been removed.  Closing.

[2019-04-03 04:21] #201 closed

[2019-04-03 04:43] samreid commented on #217
On hold until #222 is figured out.

[2019-04-04 00:58] zepumph commented on #198
To me this falls into a category of "a feature that we could implement but I don't yet see a large use case." To this point, the way of resetting a Property is with the reset all button. Can we encourage the use of this until this feature is requested.

If we do want to do this:
I think of "this" as supporting a way to call "reset" on a Property from the wrapper.

The way to add this feature to th

[2019-04-04 01:31] samreid commented on #198
Sounds good to me, thanks!

[2019-04-04 15:27] samreid commented on #222
If it is going to be PhET-iO instrumented for record and playback, then it will need to be an instance.

[2019-04-04 15:28] pixelzoom commented on #221
Over in https://github.com/phetsims/scenery/issues/962#issuecomment-479943052, @jonathanolson mentioned something called `PaintColorProperty`.  @jonathanolson does that make the discussion of ColorProperty here moot?

[2019-04-04 15:32] pixelzoom commented on #222
That's basically what I did (untested) in https://github.com/phetsims/scenery/issues/928#issuecomment-462479649.

[2019-04-04 15:33] jonathanolson commented on #221
It shouldn't, they seem to serve different purposes.

[2019-04-04 15:44] pixelzoom commented on #221
Please elaborate.   And please provide input on how ColorProperty should work.

[2019-04-04 15:51] jonathanolson commented on #221
PaintColorProperty effectively takes a `PaintDef` as input (with an optional lightening/darkening factor) and turns it into a `Property.<Color>`. It's an adapter/converter.

ColorProperty would presumably be like a normal `Property.<Color>` with enhancements so that specifying type information is not needed for phet-io?

[2019-04-04 15:54] pixelzoom commented on #221
The open issues is whether this "color Property" should take a value of type `{ColorDef}` or `{null|string|Color}` and whether it should be named either `ColorProperty` or `ColorDefProperty`.

[2019-04-04 16:26] samreid commented on #222
Incremental progress from today's discussion:

<details>

[code]

</details>

[2019-04-04 22:09] pixelzoom commented on #222
4/4/19 meeting notes, @samreid @zepumph @pixelzoom:

We quickly decided to proceed with what @samreid proposed in https://github.com/phetsims/axon/issues/222#issuecomment-479944974:

Then @samreid and @zepumph started pairing, while I went back to work on Gas Properties.  @samreid noted their progress in https://github.com/phetsims/axon/issues/222#issuecomment-479968835.

[2019-04-11 00:33] zepumph commented on #222
If we decide that `TaskIO` becomes the main building block of the event stream. This will definitely complicate backwards compatibility. Let's try to get this done before the first stable release.

[2019-04-12 14:53] pixelzoom commented on #222
Self unassigning. Please assign back to me when there's something to review, or when we're ready to move to the next step in the checklist ("discuss with the dev team").

[2019-04-12 15:48] samreid commented on #222
Expanding on https://github.com/phetsims/axon/issues/222#issuecomment-479968835 I'm close to a commit point.

What was done
* Introduce Action.js
* Use Action instead of Emitter.first/last

What's working:
* Axon unit tests pass
* Sims are running, time steps happen and input events are processed
* Mirror inputs is working
* Lint is passing

Questions or remaining steps
* Create TinyEmitter and us

[2019-04-12 17:51] zepumph commented on #222
@samreid and I have been investigating the first Question above:

We did this refactor and then did some memory investigation, and it looks like TinyEmitter is working well to help save space!

The main change we made was converting `Property.changedEmitter` to use TinyEmitter, notice the ~>.5MB of space saving in the last two snapshots:
![image](https://user-images.githubusercontent.com/6856943/5

[2019-04-12 18:37] samreid opened #241 "Create ActionIO"
From https://github.com/phetsims/axon/issues/222#issuecomment-482625165

[2019-04-12 20:44] zepumph commented on #222
@samreid and I have spent the day separating Emitter into new components. There are now three Types:

* Action - responsible for validation and phet-io instrumentation, and phet-io data stream logic. Based on a single function that can be called with `emit()`.
* Emitter - subtype of Action that serves as basically the exact same thing as Emitter was prior to this work. Same api and behavior.
* Tin

[2019-04-12 20:52] zepumph commented on #241
Added above by @samreid and @zepumph. So far things are working well. Closing, with some review to be had in #222.

[2019-04-12 20:59] zepumph commented on #240
Added above.

[2019-04-12 20:59] #240 closed

[2019-04-12 21:00] zepumph commented on #236
I think this has been thoroughly discussed. It is decided to keep it as is, we can always factor things out later if it becomes more obvious or there are many more usages.

[2019-04-12 21:00] #236 closed

[2019-04-13 00:43] zepumph commented on #222
Above I also updated the baseline file, after running with `phetioExperimental` I noticed the changes.

[2019-04-13 01:23] zepumph commented on #222
The above commits are after seeing a few problems on CT, hopefully things should be clear now.

[2019-04-13 14:12] pixelzoom commented on #222
I'm not going to review when all PhET-iO sims are failing CT.  It may not be related, but I don't think I should be spending my time to determine that.  Please assign back to me when CT is clean.

[2019-04-13 14:14] pixelzoom commented on #222
All PhET-iO sims are failing CT with an error like this:

[code]

[2019-04-13 15:25] samreid commented on #222
In https://github.com/phetsims/scenery/issues/965#issuecomment-482820525 and below I reproduced the problem and committed a "band-aid" fix.  We'll see on next SHAs whether there is more trouble.

[2019-04-15 22:13] zepumph commented on #222
CT is looking better now, we are ready for a preliminary review.

On slack @pixelzoom said that he may not get to this until May. Assigning over to him, though we may assign to someone else to help move GQ publication along quicker.

[2019-04-15 22:16] zepumph commented on #222
Removing phet-io label since, until this is reviewed, sims shouldn't go out with these changes.

[2019-04-15 22:16] pixelzoom commented on #222
https://github.com/phetsims/axon/issues/222#issuecomment-482821452 indicates that the last commit was a "band aid".  Is that still the case, or is it a legitimate (final) fix?

[2019-04-15 22:24] zepumph commented on #222
It is still not totally clear, see https://github.com/phetsims/scenery/issues/965#issuecomment-482820525 for discussion. No matter, I don't think this issue needs to wait on that to be sorted out.

[2019-04-15 22:25] samreid commented on #222
In https://github.com/phetsims/scenery/issues/965#issuecomment-483437666 @zepumph said he considers it a reasonable way to proceed, and requested feedback from @jonathanolson.

In my opinion, the way the namespaces are handled should not impede review for the main work for this issue.

[2019-04-16 18:24] pixelzoom commented on #222
I've completed my review.  Overall it looks good.  The biggest area for improvement is in the logic related to `options` in `Emitter` and `Action`; it's complicated, requires deep knowledge of PhET-iO, and looks difficult to maintain.

@zepumph said:

+1 if you come up with a better name. `PhetioAction?`

+1

+1

Review items for `TinyEmitter`:

- [ ] Rename `tinyEmitter` to `emit`.  The class nam

[2019-04-16 19:32] pixelzoom commented on #222
This change snuck in while I was reviewing, and it wasn't linked to this file: https://github.com/phetsims/axon/commit/98512391336f6d019e4592f2d7bd86268989790b.  In `TInyEmitter`, the change makes `this.dispose` private, and only defines it if `assert`:

[code]

Please reconsider this change. `isDisposed` was previously `@public`, because Emitter was a subtype of PhetioObject.  So this has the pot

[2019-04-16 19:35] pixelzoom commented on #222
The above change has also created a situation where `isDisposed` is public in `Emitter`, but conditionally defined and private in `TinyEmitter`.  And that will complicate switching between Emitter and TinyEmitter.

[2019-04-16 20:01] jonathanolson commented on #222
A rough estimate (given area-model-algebra, and assuming Node uses them for events) would result in approximately ~75,000 TinyEmitters. Given a default of a field on a 64-bit platform could be 8 bytes, the end result could be ~0.6MB.

I guess I'm not well briefed on how many things would switch. It seemed like something that could be used pervasively in Scenery, so I was giving recommendations bas

[2019-04-18 15:59] samreid commented on #203
I will not have time for this in the near future, unassigning for now.

[2019-04-18 23:03] zepumph opened #242 "TinyEmitter.emit should assert that it isn't disposed"
From @pixelzoom review in #222, it would be nice to add this assertion to `TinyEmitter.emit()`.
`      assert && assert( !this.isDisposed, 'should not be called if disposed' );`

When I do this, a number of sims fail:

- [x] circuit-construction-kit-dc-virtual-lab
- [x] equality-explorer
- [x] equality-explorer-two-variables
- [x] fractions-equality
- [x] fractions-intro
- [x] fractions-mixed-numb

[2019-04-19 04:32] zepumph opened #243 "Rename Action, instances of {Action}, and Action.emit()"
From #222 and its review, we need a few renames. @pixelzoom wrote:

I think that a `Phetio` prefix may be superfluous, but I'm open to suggestions. This will effect the public phet-io api, marking as blocks publication. @samreid @chrisklus what do you think they should be named. Should we bring it to dev meeting?

[2019-04-19 04:46] zepumph commented on #222
This is trying to explain both checks, in Emitter and Action. Unfortunately it is necessary at least for the granularity of assertion we are looking for. The reason is that we want to be able to assert out if ever a phetioType passes in an ActionIO (or subtype) with no args. In Emitter.js right after this check we set the `phetioType` set to the no arg default. If we waited to check this in the su

[2019-04-24 17:17] samreid commented on #243
Action is described as:

I think it would be redundant and inconsistent to name as `PhetioAction`.  After all, `Property` and `Circle` are fully instrumented for PhET-iO, but we do not call them `PhetioProperty` and `PhetioCircle`.

[2019-04-24 18:03] pixelzoom commented on #202
I prefer the legacy pattern because it consolidates options/config and their documentation.  And that has benefits;  easier to code review, easier to use, and imo less costly in the long run.  Having to run a script to generate the consolidation is another step to be performed (and sometimes forgotten).   If you want to pursue that approach, go for it.

[2019-04-25 04:22] samreid commented on #242
This can be quickly triggered in CCK by dragging a wire from the carousel, then selecting the wire and pressing the trash can button at the bottom of the screen.  I would like to understand what is happening better before commenting on whether we can proceed with this assertion.

[2019-04-25 19:21] zepumph commented on #243
At developer meeting we decided on `Action` and, as a method, `execute`.

[2019-04-28 18:36] pixelzoom opened #244 "address dead code in TransactionTests"
TODO and dead code in TransactionTests.js:

[code]

[2019-04-28 18:38] pixelzoom commented on #241
Reopening.  There is a TODO in EmitterIO that was not addressed:

[code]

[2019-04-28 18:42] pixelzoom opened #245 "TODO: assert that phetioID is defined"
@zepumph looks like you added this TODO in https://github.com/phetsims/axon/commit/923055d9c5741cc7888f91a311a835c28b0e5492 while working on https://github.com/phetsims/energy-skate-park-basics/issues/452.  Please address it, or create an associated issue.

ObservableArrayIO:

[code]

[2019-04-28 18:44] pixelzoom commented on #213
Reopening.  In https://github.com/phetsims/axon/commit/8330cdd40aba1042af2ccd519b21f6713c1b0f5d, @samreid added this TODO, which was not addressed and has no associated GitHub issue:

[code]

[2019-04-28 18:48] pixelzoom opened #246 "TODO: This should be a NumberProperty"
In https://github.com/phetsims/axon/commit/24ad552b53624d16c6760a604ebffa9f7366b553, @samreid added this TODO.  Please address it, or create an associated GitHub issue.

PropertyTests:
[code]

[2019-04-28 18:51] pixelzoom opened #247 "TODO: should be handled in the super"
In https://github.com/phetsims/axon/commit/8330cdd40aba1042af2ccd519b21f6713c1b0f5d, @samreid added this TODO. Please address or create an associated GitHub issue.

NumberProperty:
[code]

[2019-04-28 18:52] pixelzoom commented on #213
Moved TODO issue to https://github.com/phetsims/axon/issues/247.

[2019-04-28 18:52] #213 closed

[2019-04-28 18:58] pixelzoom commented on #247
Another TODO that was added in the same commit, DerivedProperty:

[code]

[2019-05-01 04:07] samreid commented on #222
It's appropriate to have the specialized check for 0-parameter `ActionIO` in the base type and another check for 0-parameter `EmitterIO` in the subtype.

The code has:

[code]

`Object.keys()` allocates an array, which is contrary to the stated goal of avoid allocations.

Also there is this part:

[code]
In this part, the `extend` call returns a new object, so subsequent calls cannot mutate the pa

[2019-05-01 21:11] zepumph commented on #222
@samreid I removed optionsSetByAction above.

I think that the way it is now is not the "best practices" since that dictates two extend calls, but I'm alright doing it this way for such a fundamental type where performance is a concern.

@pixelzoom this checkbox from the first comment is all that I can think of that remains, besides if you have anything else here. Perhaps the naming discussion in

[2019-05-01 22:15] zepumph commented on #243
- [ ] I should make sure to cover handlePlaybackEvent too.

[2019-05-01 22:52] pixelzoom commented on #222
I believe the intent of this was to present/summarize the results as dev meeting. That hasn't been done, so no, not ready to close this issue.

[2019-05-01 23:51] zepumph commented on #243
Promoting to a comment after the commits:

- [x] I should make sure to cover handlePlaybackEvent too.
- [ ] ActionIO still uses the event name "emitted". It would be nice if that was different for Actions and Emitters.
- [ ] I should make an issue in the sonification repo to update those usages as needed.
- [ ] Do we want `ActionIO.execute` to be a public method? Maybe we only need to add it when

[2019-05-02 00:12] zepumph commented on #222
Perhaps originally we meant to do this before implementing the entire thing, but instead we have implemented a (potentially) complete solution that we now want to communicate to other devs both as a PSA and place for feedback.

**Summary of work done here and supporting issues:**

* `Emitter`'s complexities and responsibilities have been divided into three files:
  * `Action` - base type to `Emitt

[2019-05-02 19:19] samreid commented on #222
We reviewed and discussed, closing.

[2019-05-02 19:19] #222 closed

[2019-05-08 19:09] jessegreenberg opened #248 "timer.setTimeout can call listeners that have been removed"
In an unrelated issue, I encountered a case where a listener added through `timer.setTimeout` tried to call and then remove a listener that had already been removed. The issue happens when a listener is removed from timer in a separate listener that is also attached to timer. For example, running the following in the command line will result in an error "Assertion failed: tried to removeListener o

[2019-05-08 22:08] jessegreenberg commented on #248
[code]

[2019-05-09 15:04] samreid commented on #248
TinyEmitter's `activeListenerStack` is designed so that a listener that is present at the beginning of `emit` will still be notified, even if it is removed as a listener during traversal of `emit`.  That is semantically what we decided is best-- @jonathanolson was involved in these discussions and decisions.  The problem in this case is that `clearTimeout` happens first, removing the listener but

[2019-05-09 15:32] jessegreenberg commented on #248
@jonathanolson and @samreid could you please summarize what the reasons were for calling all listeners present at the start of an emit? I found the question posed in https://github.com/phetsims/axon/issues/72 but no documentation about reasoning for the decision.

[2019-05-09 17:40] oliver-phet commented on #242
@pixelzoom will investigate his sims and report back

[2019-05-09 21:07] samreid commented on #243
The renaming as requested in this issue has been implemented nicely, nice work!  Some comments:

I'll bring it up here, but it may warrant a separate issue: Because Emitter extends Action, the following is now possible:

[code]

Is that acceptable?  If not, how should we get around it?  One way would be to have Emitter extend PhetioObject and compose Action and TinyEmitter instead of extending Act

[2019-05-09 21:57] zepumph commented on #243
@samreid and I were thinking one way to proceed would be to have emitters emit, and actions execute. And so we propose the following steps:
   * Override the execute function in Emitter.js to throw an assertion:
[code]

  * Create an Action option to specify the name of the event being put on the data stream, defaulting to "executed." Then in Emitter.js we can add `options.phetioEventName = 'emitt

[2019-05-13 02:49] samreid commented on #248
@jonathanolson described examples in scenery where this behavior was important.  My memory is fuzzy--would be great for @jonathanolson to elaborate.

[2019-05-13 18:18] pixelzoom commented on #243
In light of the problems that have been described, it seems like composition is likely more appropriate here and should be investigated.   Happy to discuss whenever I'm on Slack, or set up a time if that doesn't work.

Agreed, if Emitter uses Action via composition.  But if `Emitter extends Action`, then I'd expect `EmitterIO extends ActionIO`.  I.e., I'd expect to see the same pattern for the cla

[2019-05-13 18:31] pixelzoom commented on #242
To reproduce manually in unit-rates:

1. Start the sim.
2. Go to Shopping screen.
3. Press any one of the yellow "edit" buttons (pencil icon) that opens a keypad.
4. Press the "Enter" button on the keypad.

Here's the stack trace, starting at `KeypadPanel.disposeKeypadPanel `:

[code]

[2019-05-13 18:35] pixelzoom commented on #242
To reproduce manually in equality-explorer:

1. Start the sim
2. Go to Basics screen
3. Put one item on the scale
4. Press the yellow "clear scale" button (eraser icon) on the scale.

Stack trace:

[code]

[2019-05-13 18:44] pixelzoom commented on #242
To reproduce manually in fractions-intro:

1. Start the sim
2. Go to Intro screen
3. Click any of the radio button at top-center of the screen

Stack trace:

[code]

[2019-05-13 18:51] pixelzoom commented on #242
I could not manually reproduce with CCK:DCVL.  After 5+ minutes with `?fuzz`, here's the stack trace:

[code]

[2019-05-13 18:54] pixelzoom commented on #242
All of the above stack traces involve a sun button and SCENERY/PressListener.   So I don't think we have a sim-specific problem here.

@ariel-phet I think it would be most efficient/effective to have either @jbphet or @jonathanolson pick up the investigation from here.

[2019-05-15 18:02] jonathanolson commented on #248
DOM events and other event systems I've worked with do typically have the convention that the array of listeners at the point of the event are the ones that will be notified. I recall some more practical examples of how it's beneficial (and avoids infinite loops if you remove and re-add a listener in a callback), but I'd have to think more on it.

[2019-05-16 18:51] pixelzoom commented on #242
5/16/19 dev meeting:

@samreid pointed out that this seems to happen when clicking a button causes it to dispose itself.

We'll wait for @ariel-phet to assign.

[2019-05-16 21:21] jessegreenberg commented on #248
OK thanks, it sounds like this is a conventional design choice and one we want to keep for most listeners.

But I don't think this is desirable for timer in particular. The example in https://github.com/phetsims/axon/issues/248#issue-441886369 is trying to reset the elapsed time before calling a particular listener in a timeout by removing it and adding it back. And in this case that isn't possibl

[2019-05-17 01:52] samreid commented on #248
https://github.com/phetsims/axon/issues/248#issuecomment-490668841 looks like an acceptable short term solution (especially if it's blocking progress) and possibly a good long term solution.  But I'd like to understand https://github.com/phetsims/axon/issues/248#issuecomment-492760558 more, perhaps in a separate dedicated issue.  Thoughts?

[2019-05-17 22:05] jessegreenberg opened #249 "Should all listeners present at start of event always be called?"
PhET made a design decision that all listeners (and only listeners) present at the start of an event are called. From https://github.com/phetsims/axon/issues/72#issuecomment-147158108

The decision was "Yes". And this seems to be a convention for other frameworks too. But I encountered a case while using `timer` where this was undesirable (https://github.com/phetsims/axon/issues/248) and ended up

[2019-05-17 22:11] jessegreenberg commented on #248
Alright, thanks, I added the `hasListener` check so that we can proceed with https://github.com/phetsims/sun/issues/499 and created https://github.com/phetsims/axon/issues/249 for broader discussion about the decision to call all listeners present at the start of an emit.  In case discussion in #249 leads us to believe that something else should have been done for this issue I am  going to leave t

[2019-05-23 04:32] samreid commented on #249
In https://github.com/phetsims/axon/issues/248#issuecomment-492760558 @jonathanolson said:

[2019-05-23 19:52] zepumph commented on #243
Discussed yesterday during phet-io team meeting. The next step is to take the "composition" approach for a test drive. I would like to have @samreid along when exploring this.

[2019-05-23 19:58] zepumph commented on #243
Discussed in dev meeting today, @pixelzoom wants to publish ph-scale before too long. We decided this doesn't need to block publication currently, but once we do the work to convert from inheritance to composition it should block publication until things get sorted out.

We will let @pixelzoom know when we want to work on this, and perhaps hold off on this until he has taken rc shas.

[2019-05-24 13:39] pixelzoom commented on #243
@zepumph said:

I have published 1.3.0-rc.1 for ph-scale and ph-scale-basics, so all clear to proceed.

[2019-05-25 02:02] samreid commented on #243
After spending a few minutes on this, it's unclear to me whether composition will be an improvement.  For instance, `Emitter extends PhetioObject and contains Action` leads to complication with respect to the options.  Which phet-io options do we send to the supertype and which do we send to the Action?  Will we need to support both?  Why make this API more complicated by splitting out Action opti

[2019-05-25 16:30] zepumph commented on #243
I think I agree with most of the above sentiment. I also think that emitters should not expose execute as a function. Here having two ways to do the same thing is a maintainability concern, for example right now an emitter executing and emitting may be the same thing, but not always in the future. Also it will be harder to update actions if some execute methods pertain to a sub type.

I propose ma

[2019-05-25 22:33] samreid commented on #243
@pixelzoom can you review the preceding comments and recommend a course of action?

[2019-05-28 20:45] zepumph opened #250 "Multilink and DerivedProperty should not allow duplicate dependencies"
Discovered while working on https://github.com/phetsims/gravity-force-lab-basics/issues/128.

Right now this "feature" doesn't seem to be used, at least checking via slack.

I also added an assertion like:
`    assert && assert( _.isEqual( dependencies, _.uniq( dependencies ) ), 'duplicate dependencies' );`

to DerivedProperty and Multilink and ran aqua fuzzing with no errors. With this in mind I'

[2019-05-28 20:47] zepumph commented on #250
Assigning to myself to look at ct in a few hours, then pass off to review.

[2019-05-28 21:30] samreid commented on #250
https://stackoverflow.com/questions/28461014/using-lodash-to-check-whether-an-array-has-duplicate-values recommends checking array length via `_.uniq(a).length !== a.length`, that seems like it could avoid some hassles/headaches with _.isEqual corner cases.

[2019-05-29 15:40] pixelzoom commented on #243
Why not? That seems both correct and accurate.

[2019-05-29 16:11] samreid commented on #243
That seems to be leaking an implementation detail.  Why should clients need to know or care to know what `Emitters` contains `Actions`?

[2019-05-29 16:22] pixelzoom commented on #243
If we weren't concerned with PhET-iO, I doubt that we'd be having this discussion about inheritance vs composition.  Composition is the clear choice here, and we seemed to agree on that awhile back in the comments.   But now we're rationalizing ("Maybe we should rationalize this by saying...") that inheritance is the way to go.  I don't think PhET-iO should weigh so heavily on our decisions about

[2019-05-29 17:08] jonathanolson commented on #250
Looks like I'm running afoul of this in proportion-playground, but only conditionally:

[code]

Should I wrap a `_.uniq` around it? Noticed in https://github.com/phetsims/proportion-playground/issues/106.

[2019-05-29 18:31] samreid commented on #243
I'd love to hear a response to the `Mammal` argument in https://github.com/phetsims/axon/issues/243#issuecomment-495827010.

[2019-05-29 20:34] pixelzoom commented on #243
If I understand the `Mammal` argument...

You're saying that `meow` calls `speak` and adds no new functionality, therefore having a `Cat` either `meow`  or `speak` is correct.  I.e.

`meow() { this.speak(); }`

And the analogy applies to `Emitter` because `emit` calls `execute` and adds no new functionality. And that is currently true:

[code]

Problems with this analogy...

First, it has maintena

[2019-05-29 21:38] jbphet commented on #242
This is true in some cases, not in others.  I dug into it, and found that for two of the cases, the problem is that the `PressListener` instance is trying to set the state of a `ButtonModel` instance when it is being disposed because the `PressListener` is clearing the list of pointers that are over the node as part of the disposal process.  This leads it to say, "Hey, if there are no pointers ove

[2019-05-29 21:41] jbphet commented on #242
Marking for dev meeting, assigning to
+ @pixelzoom to see if my suggestion for Equality Explorer in the previous comment is reasonable.  It's simple, but I don't know the sim well, and he should be the one to implement it if it's reasonable.
+ @jonathanolson since he is the responsible dev for the fractions sims

[2019-05-29 21:50] pixelzoom commented on #242
In https://github.com/phetsims/axon/issues/242#issuecomment-497118706, @jbphet said:

In https://github.com/phetsims/axon/issues/242#issuecomment-497119613, @jbphet said:

Sounds like you are referring to the code below.  Please provide details on why setting ` term.onPlateProperty` is resulting in this problem.

[code]

[2019-05-29 23:00] zepumph commented on #243
Here is the way I think we should proceed:
* Have `Emitter` extend `Action`, with everything implemented as is for the most part
* Create a stub function `Emitter.execute` to make sure that Emitter instances don't bypass the Emitter.emit api. `Emitter.execute` will throw an error when called.

Rationale:
* `Emitter.emit` is a prolific api across the project. It is nice and people are used to it, t

[2019-05-30 00:11] zepumph commented on #250
@samreid implemented above. @jonathanolson that sounds like the right approach.

[2019-05-30 00:14] zepumph commented on #250
Implemented above @jonathanolson. Please review. Feel free to close if all looks good.

[2019-05-30 15:58] jonathanolson commented on #250
Looks good, thanks! Closing as requested.

[2019-05-30 15:58] #250 closed

[2019-05-30 16:45] samreid commented on #243
It seems we should have a discussion on this, marking for dev meeting.

[2019-05-30 19:03] pixelzoom commented on #243
As a counter analogy... `Rectangle extends Node` seems natural.  `Node extends Events` seems is questionable and has been discussed more than once.  `Emitter extends Action` seems more similar to the latter than the former.

[2019-05-30 19:11] pixelzoom commented on #242
@jbphet explained equality-explorer to me in person.  Term.dispose calls  onPlateProperty.dispose.  So I need to do this:

[code]

[2019-05-30 19:20] zepumph commented on #242
Discussed in dev meeting today.

We will change the usages stated above like @jbphet recommended, assigning to the appropriate humans.

The last person can either add the assertion in `TinyEmitter.emit()`, or assign to me to add the dispose method back in.

@samreid can't help but to think that we have pondered this before, and run into an edge case where we don't want a strict assertion like this

[2019-05-30 19:20] pixelzoom commented on #242
equality-explorer is done.

[2019-05-30 20:03] zepumph commented on #243
Developer meeting consensus from today (from SR):

We will keep it the way it is because it is cheap and easy, adding the override to `Emitter.execute` to error out when called. If this in inadequate in the future we can investigate the refactor to use composition more thoroughly.

[2019-05-30 20:21] zepumph commented on #243
Comitted above. @samreid please review.

[2019-05-30 23:46] jbphet commented on #242
I committed the changes to the order of disposal actions in the button views, and so far continuous testing seems to be okay.  This should fix Unit Rates and CCK.  Up to @jonathanolson to track things down for the fractions suite.

[2019-06-04 18:18] jonathanolson commented on #242
Fixed up fractions (and as I was the last, I added the assertion). @zepumph anything else to do here?

[2019-06-05 13:46] pixelzoom commented on #242
Looking at CT like the assertion was commited...

equality-explorer-two-variables is still having problems. gas-properties (+gases-intro +diffusion).  Self assigning since those are all sims that I'm responsible for.

@jbphet gene-expression-essential is also having problems.

[2019-06-05 13:58] pixelzoom commented on #242
@zepumph I've created sim-specific issue for the sims noted in https://github.com/phetsims/axon/issues/242#issuecomment-499089464, so if you want to close this issue, that's a-okay with me.

[2019-06-08 01:21] zepumph commented on #242
The last piece of this is to actually add the assertion in once everything is done. I'll  keep this open to make sure that happens.

[2019-06-08 11:20] samreid commented on #242
@jonathanolson said in https://github.com/phetsims/axon/issues/242#issuecomment-498785008 that he did add the assertion, and @pixelzoom confirmed in https://github.com/phetsims/axon/issues/242#issuecomment-499089464.  Looking at master, I can see the assertion is still there.   @zepumph anything else for this issue?

[2019-06-08 16:19] zepumph commented on #242
I'm sorry! I found myself glancing at the dispose method instead of the emit method. Ready to close. Thanks your patience.

[2019-06-08 16:19] #242 closed

[2019-06-14 05:25] samreid commented on #243
This seems to be a reasonable compromise, the change set looks good.  Closing.

[2019-06-14 05:25] #243 closed

[2019-06-18 18:47] jbphet opened #251 "Can Property.notifying be changed to @public (read-only)?"
I have a case where I need to know whether the change to one axon Property's value was due to a change from another.  I'll describe the particulars below in case it matters, but I was able to solve this problem by referencing the `notifying` flag in `Property.js`.  However, this value is marked as `@private`.  Would it be cool to change it to `@public (read-only)`?

Okay, here are more details on

[2019-06-20 15:34] samreid commented on #251
I won't be able to get to this for several business days.  @jbphet feel free to ask at dev meeting or ask another developer if you need a quicker response.

[2019-06-20 16:51] samreid commented on #251
@chrisklus and I worked on a prototype in a branch for detecting which Properties were changing other Properties.  @chrisklus can you help track that down?

[2019-06-20 16:58] jbphet commented on #251
This issue was discussed during the 6/20/2019 status meeting, and @samreid was okay with changing the docs for the `notifying` flag for now, but is concerned that it's not a very reliable or general solution to the issue of knowing whether a Property's value is being changed as a result of another Property's value changing.  Looking at the `notifying` flag works for the particular problem in the M

[2019-06-20 18:16] chrisklus commented on #251
@samreid and I investigated implementing `UserControlledProperty` on branch data-flow of axon and hookes-law, and reported our findings in https://github.com/phetsims/phet-io/issues/1349#issuecomment-422221687.

It looks like the idea was to setup a one-way relationship between Properties, and the leading Property is determined by whichever component is in use.

[2019-06-20 18:42] chrisklus commented on #251
I talked a bit more with @jbphet about what he was trying to accomplish, and we were thinking that `UserControlledProperty` could be relevant to this problem if he went about it in a different way. It would allow him to detect if the "amount of precipitate" Property was changed by the Slider in Molarity instead of the solute Property.

However, his current solution seems to be simpler, so I'll pas

[2019-06-21 14:40] pixelzoom commented on #251
Looking at `notifying` does not feel like a generally good direction. I'd like to know more about the specific use case here.  Why do we need to know the circumstances that resulted in a Property value change?  Should we even be concerned with that to begin with? And what's the specific case in Molarity? I'm responsible dev and not aware of any reason that this should be needed.

[2019-06-21 14:42] pixelzoom commented on #251
Here's what I found in `PrecipitateSoundGenerator`:

[code]

I don't think this is a good way to do this. It introduces spaghetti code.

[2019-06-21 14:57] pixelzoom commented on #249
+1 for "Yes".  Notification should operate on a copy of the listener list, unaffected by adding or removing listeners during the process of notification.  And ideally, notification should also be independent of (make no guarantee about) order of notification.

[2019-06-21 16:09] jbphet commented on #251
I must admit to being somewhat offended.  From https://www.urbandictionary.com/define.php?term=spaghetti%20code:

So, how does one line of commented code that checks a clearly defined condition qualify as "spaghetti code"?

[2019-06-21 16:35] jbphet commented on #251
@pixelzoom said:

I think the use case is described reasonably well in the second paragraph of the [opening comment](https://github.com/phetsims/axon/issues/251#issue-457639265).  If more detail is needed, we can set up a meeting.  There are alternatives to looking at the `notifying` flag, such as passing in properties that track whether the user is interacting with the solute amount or solution l

[2019-06-21 16:40] jbphet commented on #251
I was about to assign back to @pixelzoom, but decided not to.  I feel like the feedback is a sort of vague "I don't really like this idea" without any concrete reasons as to why or good suggestions for alternatives, but it's "not a hill I'm willing to die on" as they say.  I'll revert the change to the documentation and figure out some alternative way to do it.

[2019-06-21 20:26] jessegreenberg commented on #249
What is the reason for this?

[2019-06-23 23:41] pixelzoom commented on #251
@jbphet said:

@jbphet sorry to offend you, that wasn't my intention.

Not a great definition imo, but in the ballpark.  What's missing from the definition is that code can also be negatively impacted by the inclusion (or distribution) of unnecessary or undesirable dependencies that tend to create a web (spider's web, spaghetti,...) that impacts maintainability.

Checking the condition (the `notif

[2019-06-24 00:56] ariel-phet commented on #251
@jbphet @pixelzoom please do not edit any comments above for the time being, I think this is a good issue to have a discussion about the back and forth here, and how it could be improved. That is not a knock on either of you, but I think it shows a good example from which we can build off of and inform a "code of conduct"

[2019-06-25 17:56] jbphet commented on #251
I've reverted the documentation change to `Property.js` and have implemented an alternative solution.  The alternative, in my opinion, isn't ideal either, so I'll follow up on that in https://github.com/phetsims/molarity/issues/125, since this this case highlights a general issue where we will need to know a bit more about **why** a property value is being changed in some cases.

@pixelzoom said:

[2019-06-25 18:01] jbphet commented on #251
Assigning to @ariel-phet.  I've set up a more general issue to follow up on (links above), and it sounded like he wanted to have a process discussion related to this.

[2019-06-26 01:10] pixelzoom commented on #249
Iterating over a list while it is potentially being modified is generally problematic. Let me know if you'd like a concrete example.   Beyond that general problem (which is not unique to Observer)...

Allowing the observer list to be modified during notification can result in subtle/difficult bugs that are rooted in order dependencies.  For example, change the order of registering and you may chan

[2019-06-26 15:38] samreid commented on #249
Can we change TinyEmitter so that adding or removing a listener during `emit` throws an error?

[2019-06-26 19:45] jessegreenberg commented on #249
Thanks @pixelzoom, https://github.com/phetsims/axon/issues/249#issuecomment-505677756 helps a lot.

I worry that would be too restrictive and we will find cases where it is beneficial to add/remove listeners during an emit call. For instance, disposing an Emitter during an emit seems very reasonable/useful to me.

[2019-06-27 00:14] zepumph opened #252 "Assertion failed: value should be instanceof Vector2, value=undefined"
Looks like `Property.notifyListenersStatic` emits with an `undefined` arg. The emitter is validating that as null, so we should change that to `null` instead.

[2019-06-27 00:16] zepumph commented on #252
@samreid  how does this look to you?

[2019-06-27 18:26] zepumph commented on #215
Discussed in today's dev meeting. It was mentioned that though it is a bit of a code smell to have listener order matter. For example if you create an emitter and immediately add a listener to it such that that listener would HAVE to be before any others added. That said @jonathanolson thought that this didn't necessarily warrant a large investigation into an automatic fix for this.

[2019-06-27 18:39] samreid commented on #249
Notes from dev meeting:

We outlined two potential problems with our Emitter algorithm:

* self reentrant (emitting while emitting)
    * JO: this isn't a logical error, there is no need to assert out here.
    * SR: what is the case here?
* error if add/remove while emitting
    * JO: this gives the most flexibility, not a bug
    * JO: We need a way to add/remove listeners at any point.
    * We

[2019-06-27 23:20] pixelzoom commented on #249
Reopening.

It's not clear to me from the notes in https://github.com/phetsims/axon/issues/249#issuecomment-506463435 what was decided about the original issue.   That is: At the time that emit is called, are we operating on a copy of the list, so that the listeners that are notified is known at the time of the emit call?  Or are we operating on the list itself, such that the listeners may change

[2019-06-28 00:16] jessegreenberg commented on #249
`emit` does currently use a copy of the listener list for the reasons outlined in this issue and we agreed that was correct during the meeting.

[2019-06-29 03:09] samreid commented on #252
I was originally skeptical, thinking JS may treat f(x,undefined) differently than f(x,null), but I noted

[code]

But I couldn't figure out which Emitter you are referring to, can you please specify?

[2019-07-01 02:20] samreid opened #253 "Implement NumberProperty.assertNumberPropertyValidateValue using validate.js"
We may be able to improve validation in NumberProperty now that we have validate.js.  @zepumph I thought you would be good at this task, but feel free to unassign if you don't have time or priority for this.

[2019-07-01 02:20] samreid commented on #237
I opened https://github.com/phetsims/axon/issues/253 for this, closing.

[2019-07-01 02:20] #237 closed

[2019-07-01 03:19] samreid commented on #247
The former TODO is covered in https://github.com/phetsims/axon/issues/237

[2019-07-01 03:23] samreid commented on #247
After reading remarks in https://github.com/phetsims/axon/issues/171, I'm inclined to remove the other TODO.

[2019-07-01 03:23] #247 closed

[2019-07-01 03:39] samreid commented on #246
Fixed in the commit, closing.

[2019-07-01 03:39] #246 closed

[2019-07-01 17:51] zepumph commented on #252
Mainly it is to support PropertyIO:

[code]

Since the second arg is serialized as `{null|Type}`, `undefined` seemed buggy. Even more so it seemed buggy that that didn't demonstrate any bugs.

[2019-07-01 19:03] zepumph commented on #253
I see that `assertNumberPropertyValidateValue` validates two options currently: range and numberType. I converted both to use `validate`. I thought about putting both in one larger isValidValue function, but felt like this was a bit cleaner. Please review.

[2019-07-01 19:13] zepumph commented on #253
I messed with simTests because I noticed that while working on a range validator, that the wrapper unit tests just hung there, stuck, due to a logical error in NumberProperty. I then needed to support all the "purposeful errors" that were being triggered from tests.

[2019-07-02 00:24] samreid commented on #252
My other concern is whether some `Property.<T|null>` may be confusing on the second arg.  But that is a minor concern and since it seems to help `PropertyIO` I think we can keep it.

Still, I'd like to run it past @pixelzoom briefly to see if he sees a problem.

[2019-07-02 00:26] #252 closed

[2019-07-09 18:09] jessegreenberg commented on #249
Re-closing, please reopen if there are more questions.

[2019-07-09 18:09] #249 closed

[2019-07-16 20:31] pixelzoom opened #254 "EnumerationProperty fails with options"
`EnumerationProperty` fails if you pass it any options (e.g. options.tandem). All of the assertions have incorrect expressions.  They are all `options.hasOwnProperty` and should be `!options.hasOwnProperty`.

[2019-07-16 20:35] pixelzoom commented on #254
Fixed in above commit.

[2019-07-16 20:39] zepumph commented on #254
After some investigation, I found some tests that should have been failing for this, but were written wrong. @pixelzoom please review my commits.

[2019-07-17 03:47] pixelzoom commented on #254
Revised tests look good.  But there's a copy-paste error with the assertions that were added to EnumerationProperty.  Fixed in the above commit.   All tests passing.  Closing.

[2019-07-17 03:47] #254 closed

[2019-07-19 00:43] zepumph commented on #245
I wanted to add the following code, which works in all cases but in MAL:
[code]

The problem is that we aren't currently instrumenting the broken apart molecules, even though they get added to the oberservable array. It seems like the serialization for that case is broken, but I'll need to investigate this more. Thanks for making the issue.

[2019-07-19 00:57] zepumph commented on #227
The deprecated option and all usages have now been removed. Thank you all! Closing

[2019-07-19 00:57] #227 closed

[2019-07-19 01:34] zepumph commented on #228
I made a bit of progress on this today, though I didn't get to a commit point:

One thing of note is that I can't get assertions to work yet within an array, so we may need to create our own assertions where isValueValidValueType is called for the array.

<details>

[code]
</details>

[2019-07-19 05:50] zepumph commented on #228
In the above commits, I added support for multiple valueTypes, via a list. This went pretty smoothly, but it added complexity to both validator validating, and value validating. Both cases were treated basically the same, in which I factored out validation for a single valueType into a method that I could call once for each element in the array. The main difference is that when validating the vali

[2019-07-19 06:02] zepumph commented on #235
I would be willing to experiment with the above if we agree it is the right direction, but I feel like it is backwards. A phetioType already has a validator built into it. It is easy to map from phetioType to validator, and it is easy to assert that if a phetioType is specified, then we don't need the valueType specified through Property options. This is what is done in Emitter as well. Note that

[2019-07-19 06:03] zepumph commented on #235
Assigning @pixelzoom and @samreid for comment

[2019-07-22 17:10] zepumph commented on #241
Today @jessegreenberg showed us that ActionIO still has an `addListener` function. We should clean up ActionIO/EmitterIO.

[2019-07-22 19:25] pixelzoom commented on #235
Discussed with @zepumph on Zoom, and I'm convinced that we can't map from `valueType` to `phetioType`.  That's unfortunate since `valueType` is (or should be) already present in code that is being instrumented, and converting `valueType` to `phetioType` during instrumentation is more work, and an opportunity to introduce errors.

It's also currently the case that you can't remove `valueType` becau

[2019-07-22 19:26] samreid commented on #235
Is it your recommendation to run `phetioType`-based validation even in `brand=phet`, or some other strategy?

[2019-07-22 19:28] zepumph commented on #235
After a conversation with @pixelzoom, we came up with my favorite recommendation for a path forward for Property so far:

* `Property` support either `valueType` OR `phetioType`, but not both
* `Property` gets the `valueType` from the `phetioType.validator` if `phetioType` is supplied.
* `Property` still supports other validator options like `validValues` and `isValidValue` on its own; `PropertyIO

[2019-07-22 19:28] zepumph commented on #235
Bumping priority.

[2019-07-22 19:29] pixelzoom commented on #235
@samreid asked:

If `phetioType` is going to be a replacement for `valueType`, then yes, it most definitely needs to be run for _all_ brands.

[2019-07-22 19:56] pixelzoom commented on #233
@zepumph what feedback do you want?

[2019-07-22 21:09] zepumph commented on #233
I'm sorry, I think I assigned to the wrong issue. Fixing now.

[2019-07-22 21:45] pixelzoom opened #255 "PhET-iO support for EnumerationProperty"
From 7/18/19 Gas Properties PhET-iO design meeting, https://github.com/phetsims/gas-properties/issues/30#issuecomment-512980763:

Gas Properties has several Enumerations (see `HoldContant`, `ParticleType`, `PressureGauge.Units`, and `Thermometer.Units`) and associated EnumerationProperty instances.   The client should be able to set the value of these EnumerationProperties.

Support for this is ap

[2019-07-22 22:15] pixelzoom opened #256 "PhET-iO API doc for Enumeration and EnumerationProperty"
From 7/18/19 Gas Properties PhET-iO design meeting notes, https://github.com/phetsims/gas-properties/issues/30#issuecomment-512980763:

Gas Properties has several Enumerations (see `HoldContant`, `ParticleType`, `PressureGauge.Units`, and `Thermometer.Units`) and associated EnumerationProperty instances.   We considered describing Eumerations and their values in the `phetioDocumentation` for each

[2019-07-22 22:16] pixelzoom commented on #256
@kathy-phet @arouinfar @ariel-phet FYI.  This will need to be prioritized.

[2019-07-24 00:33] ariel-phet commented on #255
From the slack discussion it at least sounded like this ability would not be a huge hurdle to add/fix, so we should go ahead and move forward. @zepumph if turning into a rat hole let us know, but maybe get to this by sometime next week?

[2019-07-24 21:11] zepumph commented on #255
Some work was done for this in https://github.com/phetsims/phet-io-wrappers/issues/290, but for the most part it was already set up to work.

The public interface runs on lowercase strings. EnumerationProperty now emits a list of `validValues` in the state object. Those can be used like

`phetioClient.invoke( 'myEnumProperty', 'setValue', ['units']);`

@pixelzoom please let me know if you need any

[2019-07-24 22:15] arouinfar commented on #256
Assigning @kathy-phet and @ariel-phet for prioritization.

[2019-07-25 01:52] ariel-phet commented on #256
Since this is one of those "general improvements" to iO as it will likely be occurring in numerous sims going forward. Since the GQIO milestone is now finished, it seems appropriate to make this a high priority to move forward with,

[2019-07-25 16:25] pixelzoom commented on #255
@zepumph can you please identify the Enumeration associated with your example in https://github.com/phetsims/axon/issues/255#issuecomment-514801958?

[2019-07-25 16:30] pixelzoom commented on #255
What does this mean?  Do you mean that the EnumerationProperty values are lowercase strings? Why would that be the case when Enumerations are described using _uppercase_ strings?

[2019-07-25 19:07] ariel-phet commented on #251
Process discussion has occurred. @pixelzoom @jbphet feel free to edit any comments above, and close or such.

[2019-07-25 19:24] pixelzoom commented on #251
I believe that @jbphet created a more general issue, #125, and that this issue can be closed.  @jbphet if you agree, and there's nothing else to do here, please close this issue.

[2019-07-29 17:19] zepumph commented on #255
There is a Property called `whichAnimalProperty` in phet-io-test-sim that I was using for these tests. You can experiment in the studio console like `phetio.phetioClient.invoke( 'phetIoTestSim.phetIoTestSimScreen.model.whichAnimalProperty', 'setValue', ['goat']);`

Yes

Why would that be the case when Enumerations are described using uppercase strings?

This occurred because of conversations when

[2019-07-29 17:30] pixelzoom commented on #255
OK, I tracked down your example:

[code]

First, `whichAnimal` should be something like `Animals`.  PhET convention is that Enumeration instances are uppercase.

But back to the issue at hand... How are you mapping from `'spineLumpsucker'` to  `whichAnimal.SPINEY_LUMPSUCKER` ?

[2019-07-29 17:34] pixelzoom commented on #255
I'm also not understanding how any mapping could be done between a string and an Enumeration value without relying to the format of the Enumeration value's `toString` method.  And relying on the format of `toString` is an anti-pattern.

[2019-07-29 18:03] zepumph commented on #255
Not sure how you got to camel case, currently we are mapping with `value.toString().toLowerCase()`.

![image](https://user-images.githubusercontent.com/6856943/62070915-eb044c80-b1e7-11e9-8652-3fba9e1657ed.png)

That makes sense to me not that you say it, but I'm not sure how we can get around it in this case. Would it be better to use `value.name`? When implementing `EnumerationIO` in the first p

[2019-07-29 18:14] pixelzoom commented on #255
In the absence of examples, I got to camelcase because that's PhET's convention.   I never would have expected (and do not recommend) something as non-standard as "spiney_lumpsucker".

Getting around `toString` shouldn't be a big deal.

If you use `name`.... There's no visibility annotation for Enumeration value `name` field (another problem) so I don't know if it was intended to be `@public`.  If

[2019-07-30 17:15] samreid commented on #235
@zepumph the proposal sounds great.  Can you take the lead on it?  Let me know if there are parts I can assist with.

[2019-07-30 18:03] samreid commented on #241
Corrected in ActionIO.js and I ran `grunt update` everywhere.  Local testing appears OK.  @zepumph can you please check this commit and the one in EmitterIO?  Close if all is well.

[2019-07-31 18:01] zepumph commented on #241
I reviewed the changes, couldn't find any more TODOs in Action(IO)/Emitter(IO), updated some type docs for TypeIOs. Things look good here. I'm ready to close.

[2019-07-31 18:01] #241 closed

[2019-07-31 18:33] samreid commented on #256
@chrisklus @zepumph and I added a way to add Enumeration documentation in https://github.com/phetsims/axon/issues/255.  Now it is possible to pass `phetioDocumentation` to any `Enumeration` and see it in studio.  Here is an example we baked up:

![image](https://user-images.githubusercontent.com/679486/62238002-58061680-b38f-11e9-9f6d-d70000c8f5e8.png)

@pixelzoom would you like to take a look?

[2019-07-31 18:36] samreid commented on #255
In the preceding commits, we exposed an uppercase public API, added the values to the EnumerationIO type name like `EnumerationIO(NORTH|SOUTH)` and added a way to include documentation to `Enumeration` constructor.  We also changed the `Enumeration` constructor signature to take `options` object as 2nd arg (instead of `beforeFreeze` function param).  We also converted the `EventType` usages to upp

[2019-08-01 01:10] zepumph opened #257 "ActionIO.typeName should be a unique identifier"
From https://github.com/phetsims/phet-io/issues/1534, metadata passed into ActionIO like name and documentation for each parameter is backwards. Instead it would be better to just pass a list of parameter types to ActionIO, and have all the other metadata added to the ActionIO instance. This is better because it formalizes the definition of `ActionIO` as a "Type." Currently two idential Actions wi

[2019-08-01 01:44] zepumph commented on #257
Instead of making a map just for Action, what if we could make some sort of phetioEngine global that could be used all over the place?

[2019-08-01 06:05] zepumph commented on #257
I did a large amount of the above checklist. Things are still pretty rough, and this issue definitely deserves the blocking publication label for the project. Here are a few more checkboxes to add:

- [ ] How should we hide private emitter args from the public api, right now we use VoidIO, which is a pain for a few reasons. Here is what it looks like in doc, shouldn't they just be totally gone?
[c

[2019-08-01 17:48] pixelzoom commented on #257
8/1/19 dev meeting:
This affects all brands, so consider master unstable until addressed.

[2019-08-01 20:36] zepumph commented on #235
@samreid and I just discussed, and we are no longer feeling like this is the best general way forward. Though most of the time these are likely redundant, there are cases where supplying both is correct and appropriate. Take the following example.

[code]

Here we want a more general phet-io api that doesn't leak the SubType implementation details to phet-io. Though SuperTypeIO.validator is a supe

[2019-08-01 20:38] zepumph opened #258 "ValidatorDef should support `phetioType`"
Over in https://github.com/phetsims/axon/issues/257 we thought this was the best way forward.  Then we don't have to do a special case for the phetioType like we do in this sha here:

https://github.com/phetsims/axon/blob/9e7e33acd010886c6fec1c99e053e2eb2ff282ce/js/Action.js#L201-L210

[2019-08-01 20:39] zepumph commented on #257
@samreid and I discussed the above points.

- [ ] Let's create `phetioPrivate` `{boolean}` to opt emitter params out of the public api instead of using VoidIO.
- [ ] Make `valueType` and `phetioType` not mutually exclusive. See further discussion in https://github.com/phetsims/axon/issues/235#issuecomment-517448253.
- [ ] add `phetioType` as a key to `ValidatorDef`. See https://github.com/phetsims

[2019-08-01 20:46] pixelzoom commented on #235
Clarify please.  Is you conclusion that we're going to specify both `valueType` and `phetioType`?  And are you looking for feedback on that conclusion.

[2019-08-01 21:27] pixelzoom commented on #256
I see the Enumeration values in the document (as string), but I don't see the name of the Enumeration itself.  That may be OK, I don't know.    Designers (@arouinfar @kathy-phet) asked for this, best to have them review it to see if it's sufficient.

[2019-08-01 21:31] pixelzoom commented on #255
Looks OK to me. Appears to be relying on value.name, which is much better than toString.

Back to @samreid in case there's more to do here.

[2019-08-01 21:36] zepumph commented on #257
Above I added `phetioPrivate` and removed the `VoidIO` workarounds.

[2019-08-01 23:40] zepumph commented on #235
Yes indeed we are looking for discussion. Our conclusion is that `valueType` is redundant the majority of the time when `phetioType` is specified, and it doesn't need to be included, but if it is, then `validate` will just validate on both and there won't be any problems or assertions.

What do you think about that?

[2019-08-01 23:41] zepumph commented on #235
Also note that as we speak, support is being added to ValidatorDef to support phetioType as a validator key, see https://github.com/phetsims/axon/issues/258

[2019-08-01 23:51] zepumph commented on #258
Above I added support for `phetioType` as a member of `ValidatorDef`. This was largely straightforward. I also added tests for this and found/fixed a bug in ArrayIO's validator.

The main piece I would like reviewed here is in `Property.js`. Up until this point, validator keys have been passed straight to Property, but have been used to validate the value the Property is set to, not the Property i

[2019-08-02 00:58] zepumph commented on #255
Thanks for the review @pixelzoom. Closing

[2019-08-02 00:58] #255 closed

[2019-08-02 00:59] zepumph commented on #256
@arouinfar please review the look of EnumerationProperty in studio, see http://phettest.colorado.edu/phet-io-wrappers/studio/?sim=phet-io-test-sim&phetioValidateTandems&phetioDebug and navigate to `model.whichAnimalProperty` for an example. Let me know what you think!

[2019-08-02 01:02] zepumph commented on #257
Summary of changes above:
* Remove usages of `tandem.supplied` that aren't helpful.
* Make a better ActionIO cache (map).
* Already mentioned, but added `phetioPrivate` to remove VoidIO workaround.

[2019-08-02 16:26] pixelzoom commented on #235
What does "then `validate` will just validate on both" mean?  What is "both"?

[2019-08-02 20:00] zepumph commented on #235
The direct answer to your question is `phetioType` and `valueType`. The meaningful answer to your question is that in https://github.com/phetsims/axon/issues/258 we added `phetioType` to `ValdatorDef`. So a validator can have any combination of the following keys:

`valueType`
`phetioType`
`isValidValue`
`validValues`

If `phetioType` is passed in to the validator, then ValidatorDef will look at t

[2019-08-02 20:13] zepumph commented on #256
Please as part of this also review the way to control the EnumerationProperty (i.e. the radio buttons). Is this good for you two?

[2019-08-02 20:44] zepumph commented on #257
Above is a bug fix for https://github.com/phetsims/equality-explorer/issues/155 where I was initializing the count in the cache map to 0 when there was already 1 in the map.

[2019-08-03 02:32] samreid commented on #235
Everything in the preceding comment sounds great to me, thanks for your efforts on this.

[2019-08-03 05:01] pixelzoom commented on #235
https://github.com/phetsims/axon/issues/235#issuecomment-517448253 offers this hypothetical example as the (sole?) reason for keeping both `valueType` and `phetioType`:

[code]

Please convince me. Why would you want a "more general public phet-io api"? Can you provide concrete cases where we would want `phetioType` and  `valueType` to be semantically different like this?

That said... I'm disappo

[2019-08-03 05:40] samreid commented on #235
For instance, `SubType` may expose implementation details that are irrelevant to the PhET-iO client.  Let's say I have WebGLParticleNode which is essential for the simulation to have good performance, so it is nice to be able to test `valueType: WebGLParticleNode`, but the detail of WebGL is irrelevant to the PhET-iO client, so they would receive it as type `ParticleNodeIO` or perhaps only `NodeIO

[2019-08-03 06:03] pixelzoom commented on #235
My understanding is that IO types are stubs when running with `brand !== phet-io`.  If I replace `valueType` with `phetioType`, how do you propose to make `phetioType.validator` work for all brands?

[2019-08-03 06:14] samreid commented on #235
IO types used to be implemented in the phet-io repo and buried behind `ifphetio` which replaces things with stubs.  However, we decided our code would be more maintainable to move the IO types adjacent to their "core" types.  When we made that change, we also changed to loading them as standard modules rather than with the `ifphetio` plugin.  I recall a conversation this week where I also said the

[2019-08-03 06:23] pixelzoom commented on #235
Great, thanks for confirming.  That makes me more comfortable with replacing `valueType` with `phetioType`.   Still not excited to do that throughout sims that use `valueType`, but if that's what we have to do...

[2019-08-07 00:18] zepumph opened #259 "Identifying the Property from DerivedProperty/Multilink"
Very similar to https://github.com/phetsims/axon/issues/187, but this time for listeners to DerivedProperty and Multilink. In separate meetings with @twant and @jessegreenberg today I ran into two cases where it would be nice to know what Property triggered a listener. Has anyone ran into this before?

Both of the cases have to do with description implementation. Basically it boils down to how we

[2019-08-07 01:51] zepumph commented on #235
In case more is needed. . . I think it is likely that in the future we will have a single `TextIO`, hiding all of our different "implementation detail" text types behind a single api. In which case the `phetioType` would be `TextIO`, but the `valueType` could be `RichText`.

I understand that! The choice is between keeping both, and removing `valueType` when it is redundant with `phetioType.valida

[2019-08-07 02:46] pixelzoom commented on #235
I said:

@samreid said:

I would like to see something related to this in the "How to Instrument" document before closing.

[2019-08-07 04:40] zepumph commented on #235
Please review.

[2019-08-07 15:04] pixelzoom commented on #235
Doc looks good, fixed a typo. Closing.

[2019-08-07 15:04] #235 closed

[2019-08-07 17:52] chrisklus opened #260 "Replace phetioType with phetioValueType"
@zepumph, @samreid, and @chrisklus think it would be nice to replace `phetioType` with `phetioValueType` for Properties. This would eliminate the use of PropertyIO all over in sim code, since it would be part of the default options. From GQModel.js (note: redundant valueType has been deleted for clarity).

[code]

would become:

[code]

This would be a minor change, but we feel that it should be d

[2019-08-07 18:04] pixelzoom commented on #260
GREAT suggestion. There is currently a semantic mismatch between `valueType` and `phetioType`.  So when converting from `valueType` to `phetioType`, I'm constantly forgetting to add the `PropertyIO` or `DerivedPropertyIO` wrapper. And it always feels like I'm adding redundant info that could be added by `Property` and `DerivedProperty` respectively.  Based on decisions in https://github.com/phetsi

[2019-08-07 18:08] pixelzoom commented on #259
Instead of making this the responsibility of the listener for the DerivedProperty or Multilink (which should not care which Property changed), could you add a listener directly to the Property that you are interested in?

[2019-08-07 18:11] pixelzoom commented on #217
#222 is closed and we decided against before/after options.  So I believe that this issue can be closed.  @samreid if you agree, please close.  If you disagree, please describe what still needs to be done.

[2019-08-07 18:14] pixelzoom commented on #194
It seems like we addressed this in https://github.com/phetsims/axon/issues/189, where we concluded that these options will _not_ be unified.  @samreid @zepumph Can this issue be closed?

[2019-08-08 16:42] samreid commented on #217
Agreed, we shouldn't pursue the before/after strategy, closing.

[2019-08-08 16:42] #217 closed

[2019-08-08 17:17] samreid commented on #194
That sounds right to me, leaving up to @zepumph in case he has other thoughts or recommendations.

[2019-08-08 18:01] zepumph commented on #194
I think that you and I understand this in the same way @pixelzoom, though I want state the decision for this issue. Though they won't be unified via a mutual exclusion assertion, phetioType does cover `valueType` in most cases and, by convention, can/should be removed when the `phetioType` is provided. For example `phetioType: NullableIO( BooleanIO )` is a superset of information of `valueType: [

[2019-08-08 18:01] #194 closed

[2019-08-08 22:46] samreid commented on #257
Summarizing notes from above about remaining work:

- [ ] There is a todo in the code to make the map work better. We should also test the memory footprint of that solution, and see if we can't use a more general map.
- [ ] There are other todos in the code mainly have to do with optimization. I'm sure I forgot something though.
- [ ] Micro-optimize all logic above because it will be used in every

[2019-08-08 22:52] samreid commented on #257
It's called 415 times in Graphing Quadratics with assertions enabled.  0 times with assertions disabled.  It seems these extra allocations with assertions enabled should not block publication.

[2019-08-10 14:25] samreid commented on #260
DerivedProperty may also need to provide the equivalent of `outerTypeIO` or some other way to indicate that its supertype Property should not create `PropertyIO`.

[2019-08-10 23:48] samreid commented on #259
Perhaps we should move toward a paradigm where user interface components also trigger listeners (along with changing a `Property`).  For molarity, that would mean the alert text is set by the volume property slider or the solute amount property slider.  For Gravity Force Lab Basics, there would be a listener on the constant radius checkbox and another on the mass controls.  I don't know if it's pr

[2019-08-14 04:04] samreid commented on #256
Discussed a bit Aug 8, @kathy-phet said she will take a closer look.  We will refine the Enumeration text (committed above).

[2019-08-15 19:18] jonathanolson commented on #259
One workaround is to add independent listeners to each "source" Property, and turn the DerivedProperty into a normal read-only Property that is modified by each listener.

We've also used boolean flag-based systems in the past (like DynamicProperty) where it tracks the source of the change. Additionally https://github.com/phetsims/axon/issues/251 is related, where it may be beneficial to know when

[2019-08-15 21:06] jbphet commented on #251
This issue was referenced in a meeting today, see the link above.

Since we've decided, at least for now, not to encourage external usage of the `notifying` flag, I think the essential question has been answered, and I'll go ahead and close.

[2019-08-15 21:06] #251 closed

[2019-08-20 20:42] pixelzoom opened #261 "DerivedProperty should not support reset"
Discovered while working on https://github.com/phetsims/vector-addition/issues/114.

DerivedProperty is a subclass of Property, and inherits its `reset` implementation.  So it's possible to call `reset` on a DerivedProperty.  But that should not be done, because it may become out of sync with its dependencies.  Instead, `reset` should be called for the dependencies.

Discussed on Slack, and there

[2019-08-20 20:54] pixelzoom commented on #261
Never mind, this is already implemented:

[code]

[2019-08-20 20:54] #261 closed

[2019-08-21 19:49] zepumph commented on #259
In https://github.com/phetsims/gravity-force-lab-basics/issues/168 I used flags like this to see what had been updated since the last step, and this was able to give the context necessary. I think that in the future, I will likely use the view driven approach of adding listeners to UI components instead of model Properties when possible. Thanks all for the advice. I think we should add these strat

[2019-08-22 00:27] zepumph opened #262 "PropertyIO.unlink would never work"
Functions are serialized into `functionHandle` strings based on the current message, so there is no way to unlink a function. Let's look at the following code:

[code]

The async nature of the callback means that the link will be sent in message X and then the unlink will be sent in message X + Y, such that the same function will never be serialized to the same thing on the sim side. Furthermore,

[2019-08-22 17:40] samreid commented on #262
Let's remove this for now.  I think we should work on getting this working for the long term--we can't assume wrappers will never need to unlink.

[2019-08-22 19:18] chrisklus commented on #259
From 08/22/19 dev meeting: @zepumph will add a link to this issue under the unfinished "observer" section in the design patterns doc.

[2019-08-22 19:20] zepumph commented on #259
Added above. This will be added to design patterns. Closing.

[2019-08-22 19:20] #259 closed

[2019-08-23 19:59] zepumph opened #263 "Action phetioDocumentation shows up in overrides when not changed"
Discovered as part of https://github.com/phetsims/gravity-force-lab/issues/174.

Looks like newlines get stripped in inputs, so getting the `input.value` ends up being different from the baseline documentation (which has newlines in it). An easy commit coming in shortly to solve the newline added to Action's phetioDocumentation.

I also think that we should add an assertion in PhetioObject for thi

[2019-08-23 20:58] zepumph commented on #263
There is now an assertion, and I removed Action's usage of `\n` in its phetioDocumentation. @samreid please review these changes. Sorry that most are just grunt updates.

[2019-08-23 20:59] zepumph commented on #263
Actually @chrisklus would you like to review this one?

[2019-09-03 16:08] zepumph commented on #258
How about just

[code]

That way we only make a new object if assert is false. What do you think?

[2019-09-04 14:40] samreid commented on #258
That sounds good @zepumph.  I also took that same idea a step further in the commit.  Can you please review?

[2019-09-04 15:26] chrisklus commented on #263
Changes in Action.js look good and the assertion in PhetioObject.js looks good, ready to close.

[2019-09-04 19:32] zepumph opened #264 "Remove "initialArray" feature of ObservableArray"
Discovered by @chrisklus, @samreid, and @zepumph during phet-io team meeting. We found this unused except in tests. It also complicated the reset function. This would involve removing the optional constructor parameter.

"It seems like extra baggage that we should jettison."
-- Sam Reid

Marking for developer meeting.

[2019-09-04 21:04] zepumph commented on #258
Oh that is so very nice. How do you like my minor tweak to remove duplicated documentation?

[2019-09-04 22:21] #263 closed

[2019-09-05 02:41] samreid commented on #258
Looks great, thanks!  I'm ready to close if you are.

[2019-09-05 06:46] #258 closed

[2019-09-05 16:43] jessegreenberg commented on #264
Can you comment on why how this complicates the reset function? It looks to me like it is required for the reset function.

[2019-09-05 16:53] zepumph commented on #264
Without this optional `intialArray`, @samreid, @chrisklus, @zepumph thought that `clear` would be the same as `reset` (so we would only need `clear`).

[2019-09-05 16:58] samreid commented on #264
Here's an untested patch that demonstrates some or all of the simplification.  It saves around 14 lines of code:

<details>

[code]

</details>

[2019-09-05 17:06] jessegreenberg commented on #264
I understand now, thanks. OK with me to remove.

[2019-09-05 18:18] jonathanolson commented on #264
Looks technically used in unit-rates' DoubleNumberLine.

[2019-09-05 18:25] zepumph commented on #264
Yes, but that is initialized to an empty array:

[code]

[2019-09-05 18:37] samreid commented on #264
@jonathanolson says he hasn't encountered cases where ObservableArray should be initialized with values.
@jbphet says it would be odd to create an ObservableArray for the purpose of listening for when items are added, but not being able to listen to those first initial items.

[2019-09-05 18:38] samreid commented on #264
We could add something like:

[code]

[2019-09-05 18:40] samreid commented on #264
@zepumph volunteered to investigate, thanks!

[2019-09-05 19:12] zepumph commented on #264
I got started on this a bit, we need to convert the map/filter functions in ObservableArray still:

<details>

[code]

</details>

[2019-09-05 21:04] zepumph commented on #264
- [ ] Also I should remove the usage of `new ObservableArray( [] )`
- [ ] Also I should do this work, and then bring it back to dev meeting to see if we should remove it or keep it as a convenience function. (I'm leaning towards keeping it, with the implementation calling `clear`.

[2019-09-09 18:46] samreid commented on #207
I'm not sure what is better between the preceding two comments.  @zepumph what do you think?

[2019-09-09 18:59] samreid commented on #262
I commented this out.  To solve this in the future, perhaps `link` can return a handle which can be used to `unlink`.

[2019-09-10 14:40] samreid commented on #202
@Denz1994 can you please consider this issue as you prepare for the upcoming patterns meeting?

[2019-09-19 17:13] zepumph commented on #264
Feel free to make another issue if it bothers you. Personally it doesn't bother me too much, especially seeing that is has a fair few usages. Up to you! Please close this issue when you have completed that thought (either made the issue or decided not to).

[2019-09-19 23:06] zepumph commented on #260
I can take this one on.

[2019-09-19 23:28] zepumph commented on #207
I really like that all logic is islotated in `ValidatorDef` I think I prefer my recommendation in https://github.com/phetsims/axon/issues/207#issuecomment-468064504. What do you think? Here is a patch that exercises it:

<details>

[code]

[2019-09-19 23:57] samreid commented on #207
That looks great, thanks!

[2019-09-20 00:24] zepumph commented on #195
arrayElementType was added in the above commit. @samreid please review this when you review #228.

[2019-09-20 00:29] zepumph commented on #207
Excellent! Committed above. @pixelzoom thank you so much for this solution. I'm really happy with it. It is clean and precise, unlike the last one. Closing

[2019-09-20 00:29] #207 closed

[2019-09-20 16:08] samreid opened #265 "ObservableArray.filter and map should return Array"
From https://github.com/phetsims/axon/issues/264#issuecomment-531087745

ObservableArray filter and map are odd because they return ObservableArray, which would almost never be useful.  They also require ._options which could be eliminated.

[2019-09-20 16:09] samreid opened #266 "ObservableArray should have public member .array"
To enhance usability, ObservableArray should have a public member .array.  Discovered during https://github.com/phetsims/axon/issues/265

[2019-09-20 16:09] samreid commented on #264
Thanks, I created a new issue, closing.

[2019-09-20 16:09] #264 closed

[2019-09-25 17:28] chrisklus opened #267 "Grunt update after public phet-io API changes"
From https://github.com/phetsims/axon/commit/3d343ff5c96a561f76385ae4e4638882698280bf.

Whenever there are changes to the public phet-io API (even documentation, because right now validation is a deep equality check), `grunt update` needs to be run on all sims that have their API being validated. CT is currently broken from relevant changes. In the future, we'll just check for backwards compatibil

[2019-09-25 17:36] pixelzoom commented on #267
If there’s an urgent need to fix this, someone else please handle. Otherwise I’ll get to it when I can.  And it sure would be nice if there was something that prevented this type of mistake, like a precommit task.  Or something in the “How to instrument” doc about when grunt update needs to be run.

[2019-09-25 23:02] pixelzoom commented on #267
PhET-iO API files were updated in the above commits. I'll leave this open until CT shows green.

[2019-09-26 01:12] pixelzoom commented on #267
CT is green. Closing.

[2019-09-26 01:12] #267 closed

[2019-09-27 00:33] zepumph commented on #188
If we feel that way, then I would recommend creating an IOType specifically to be used a this placeholder for a private arg. That way we aren't overloading VoidIO. @samreid what do you think about something like `PrivateIO` or `HiddenIO`?

[2019-09-27 19:46] chrisklus opened #268 "How to handle calls to a disposed Property"
From https://github.com/phetsims/charges-and-fields/issues/170.

@zepumph, @samreid and I needed to add a small check in `setDeferred` that only notifies listeners if that Property is not already disposed. We noticed that methods like `set` and the beginning of `setDeferred` don't check if the Property is disposed, and we're wondering if they should handle that case gracefully or with an assert. I

[2019-09-27 19:48] chrisklus commented on #268
We committed one guard that handles this case gracefully, and would like to know what @pixelzoom thinks.

[2019-09-27 23:09] pixelzoom opened #269 "problems with Property setDeferred"
Noted while reviewing https://github.com/phetsims/axon/issues/268.

In https://github.com/phetsims/axon/commit/636fc05d8ab5334d747455c811211fb014326e25, @samreid made this change to the logic in Property`setDeferred`:

[code]

Problems:

(1) The assertion should be:

`assert && assert( typeof deferred === 'boolean', 'bad value for isDeferred' );`

(2) The `else if` expression is unnecessary (and c

[2019-09-27 23:12] pixelzoom commented on #268
If "gracefully" means treating the call as a no-op, then this looks like it does the job.  If that's consistent with how other calls are treated when something has already been disposed, then it's probably fine.

[2019-09-28 00:44] samreid commented on #269
Thanks, I committed updates based on your recommendations.  Ready for review.

[2019-09-28 00:50] samreid commented on #188
Would `PrivateIO` end up in the API files?  Also, I'm having trouble identifying the pros and cons between:
(a) using `PrivateIO` vs
(b) using `VoidIO` with a comment that says /*actually an integer, but only used in the sim side*/
especially since it is possible to forget the comment or accidentally use `VoidIO` where `PrivateIO` should have been used.

[2019-09-28 01:38] pixelzoom commented on #269
👍 closing.

[2019-09-28 01:38] #269 closed

[2019-09-30 19:50] zepumph commented on #188
Without these usages, `VoidIO` is only used in IO types to specify public function metadata. Perhaps this increase in functionality is acceptable, but it still feels like it is vague and not clear what that `VoidIO` is doing there, both publicly (in studio) and to devs (me).

If we had a specific item that meant "hide this from public consumption," it would be much easier to cut that out of the pu

[2019-10-01 16:24] samreid commented on #188
In https://github.com/phetsims/axon/issues/257 @zepumph added `phetioPrivate: true` which looks much better to me than `VoidIO` or `PrivateIO`. Can we proceed with that?

[2019-10-01 17:08] samreid commented on #266
The proposal is that:

[code]

would change to

[code]

[2019-10-01 17:17] pixelzoom commented on #266
I think that's a very dangerous direction, as is a getter.  It's too easy to accidentally modify the "underlying array" and introduce subtle bugs.   It also breaks encapsulation by exposing the implementation of how values are stored inside ObservableArray.

[2019-10-01 17:42] samreid commented on #266
How would you characterize the existing implementation, which is `ObservableArray.getArray()`?

[2019-10-01 18:24] pixelzoom commented on #266
I try to avoid using `getArray` -- or `ObservableArray in general (see #5).  I've used `ObservableArray` in only 2 sims (graphing-lines, equality-explorer), and I was stuck with it in 2 sims that I inherited (unit-rates, vector-addition).   When I've had to use `getArray`, I've made a defense copy using `slice`.  See for example `EQUALITY_EXPLORER/TermCreator`.

[2019-10-01 21:16] samreid commented on #266
For sims that are using `ObservableArray`, would you prefer to see:

[code]

or
[code]

What pattern do you recommend when a sim needs to listen for when items are added or removed?

[2019-10-01 21:30] pixelzoom commented on #266
Ideally, I'd like `electrons.getArray()` to return an Array of the elements in `ObservableArray`, so that the implementation of how those elements are stored isn't exposed, and so that the internal storage mechanism (currently Array) is not modified directly.  The primary downside to that would be iteration performance.

The current API for listening for items added/removed seems fine.  Concerns a

[2019-10-01 21:33] pixelzoom commented on #266
... and i the context of my previous comment, I don't care for `electrons.array`.  Assuming it was an ES5 getter, it looks too much like a field, and every usage of `electrons.array`.  Having to call `electrons.getArray()` is clearer and (perhaps) more likely to be used judiciously.

[2019-10-01 21:33] samreid commented on #266
How would you feel if we change `ObservableArray.map` and `filter` to return `Array` instead of `ObservableArray`?  That would address many client usage sites.

For cases that need maximum performance, should they be able to access the underlying array?  Or will they be discouraged from using ObservableArary in the first place?

[2019-10-09 18:33] pixelzoom commented on #266
That would be fine with me. I've never used either, and it seems like returning an Array would be more useful.

In cases where performance needs to be maximized, I would avoid using `ObservableArray` altogether if possible (as in Gas Properties.)   For situations where you have no other choice, we will probably need to provide access to the underlying array.  But that access should be well-documen

[2019-10-12 00:19] zepumph commented on #188
Yes that is very good. Sorry I totally forgot about that. Currently there are no usages of `VoidIO` as a way to hide args. `phetioPrivate` is documented in Action.js. Ready to close?

[2019-10-12 15:25] samreid commented on #265
Even better would be for filter and map to return [] instead of ObservableArray.

[2019-10-12 16:42] #188 closed

[2019-10-14 19:38] samreid commented on #265
From https://github.com/phetsims/axon/issues/266#issuecomment-537240398, I asked:

and @pixelzoom replied:

[2019-10-14 19:39] samreid opened #270 "ObservableArray should be implemented with Emitter or TinyEmitter."
Discovered while working on PhetioGroup, it seems ObservableArray predates emitter and duplicates a lot of its code.

[2019-10-14 22:17] samreid commented on #265
Fixed and a local pass of aqua didn't show related symptoms.  I'll notify slack and close.

[2019-10-14 22:18] #265 closed

[2019-10-15 05:28] samreid commented on #215
It seems inappropriate to combine listener order scrambling with input fuzzing.  Let's introduce a separate query parameter `?shuffleListeners` for randomizing listener order.  We can also add it to the code review checklist and optionally open issues for sims that have trouble with that at the moment.  After we get many sims working with shuffled listener order, we can considering having CT run w

[2019-10-15 05:33] samreid commented on #248
In #249 we agreed all listeners present at start of emit should be called, so it seems this issue can be closed.  We also discussed in https://github.com/phetsims/axon/issues/215 that we would like sim's runtime behavior to be independent of the listener order.

[2019-10-15 05:33] #248 closed

[2019-10-15 05:36] samreid commented on #249
One more note in case others pass this way in the future, in https://github.com/phetsims/axon/issues/215 we discussed that the sim behavior should be independent of listener order.  Having a listener remove itself could satisfy that constraint, but having one listener remove another generally would not.

[2019-10-15 05:40] samreid commented on #215
I shuffled listener order in TinyEmitter, which powers Emitter and Property (though not yet ObservableArray, see https://github.com/phetsims/axon/issues/270 ) via this patch:

<details>

[code]

</details>

I ran local aqua fuzz on phet brand and saw errors for the following sims:

* acid-base-solutions
* area-builder
* build-a-fraction
* build-a-molecule
* circuit-construction-kit-black-box-study

[2019-10-15 06:01] samreid commented on #215
The above commit adds `?shuffleListeners` query parameter flag.

The behavior is also buried behind `assert` so it will be stripped from production build and won't impact production performance at all.  There was some other issue about not leveraging assert to strip things from builds but I can't find it at the moment.

I also added a note to the CRC for checking runtime behavior with this flag en

[2019-10-15 06:02] samreid commented on #215
Also, is there a QA checklist where this would be documented as well?

[2019-10-15 06:02] zepumph commented on #215
My guess is that the above is only a piece of the errors that this may have caused. Though it is a code smell, I could foresee a case in which creating a Property and immediately linking to it feel so linked, that assertions aren't created making sure that that listener's logic happened before other logic, but it would still change something in the sim.

[2019-10-15 06:04] samreid commented on #215
I agree, we would need to manually test simulation behavior to see how the listener order impacts it.  I would expect some but not all of it to be caught in automated testing.

[2019-10-15 06:05] zepumph commented on #215
I really like this query parameter, and I think it is a step in the right direction. When creating this issue, it was clear that it is definitely PREFERRED to have all of these errors fixed. That said, I'm not sure what the priority of it would be. For example, in gravity force lab (having just worked on it and encountered this listener dependency order before), it is not an obvious fix, and may n

[2019-10-15 06:06] zepumph commented on #215
I also really like its role in the CRC. That will help this issue not proliferate.

[2019-10-15 06:15] zepumph commented on #215
Perhaps it would be good to try to fix one or two before passing this off to another for further discussion. That would inform our next steps here.

For example, if all of these issues were <10 mintues each, we would likely try to fix them up front. Perhaps a dev meeting chip away issue is needed. That said this really feels like an order of magnitude more costly than we will want to investigate.

[2019-10-15 15:19] samreid commented on #215
I fixed the waves-intro fuzz problem in the preceding commit.  It took around 10 minutes.  This seemed to be a good use of time, because it wasn't evident why that bug wasn't being triggered in the first place.  So this fix seems to have made the code more tolerant and refactor-proof.  I made a cursory look through the rest of the sim and didn't see other errors.  I don't expect all problems will

[2019-10-15 19:13] jonathanolson commented on #215
Also I can use this with snapshot comparison, which is already good at determining whether sims are purely deterministic based on the seed. We can also verify that changing listener order results in no visual differences in sims.

[2019-10-15 21:07] zepumph commented on #215
That sounds excellent.

[2019-10-18 16:32] samreid opened #271 "Remove ObservableArray.toArray or most of its usages"
Most or all usages of `ObservableArray.toArray` are no longer necessary after #265.  It would be good to clean up as many as we can.

[2019-10-23 18:39] pixelzoom opened #272 "prefer type-specific Properties in API definitions"
This issue originated with https://github.com/phetsims/vector-addition/issues/233 from Vector Addition postmortem.

The [CRC](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md) has these 2 items:

These items are somewhat contradictory.  The first item says that we should instantiate type-specific Properties whenever possible. The second items says that we shoul

[2019-10-24 16:38] jonathanolson commented on #272
If we have a listener added, we can have assertions there on changes (where the value is actually used).

Overall I can't agree with this, because the disadvantages are big. Yes, there is more concise and improved validation when only BooleanProperty is used, but the instant you NEED to use a Derived/Dynamic Property in that case, then you have to gut the "nice" code and put in the slightly more v

[2019-10-24 16:52] pixelzoom commented on #272
@jonathanolson Any thoughts on fixing the type `Property` hierarchy so that `Derived/DynamicProperty` can reap the benefits of type-specific Properties, and so that `BooleanProperty` includes derived/dynamic subtypes?  For example, having to do this for "a dynamic Property whose value is boolean" is a drag:

[code]

[2019-10-24 17:19] jonathanolson commented on #272
I'm still not sure why we have a hierarchy for type-specific versions here. The type things the Property contains seems completely orthogonal to how it is computed, or whether you can change it with setters. Having `new Property( ..., { type: Boolean } )` and `new DynamicProperty( ..., { type: Boolean } )` or having things be concise sounds like a better long-term method. Then it would be possible

[2019-10-24 18:52] pixelzoom commented on #272
10/24/19 dev meeting notes.

Consensus for APIs that have parameters of type `Property`...

* Type expressions that use type-specific Properties (e.g.`{BooleanProperty}`) are generally undesirable, because they exclude `DerivedProperty` and `DynamicProperty`.
* Specify APIs using type expressions of the form `{Property.<{{TYPE}}>}`.
* There are 4 levels of argument type checking, see examples belo

[2019-10-31 19:35] chrisklus commented on #215
From 10/31/19 dev meeting:

To do for this issue:

1. Create issues for each sim from https://github.com/phetsims/axon/issues/215#issuecomment-542046063 so devs can fix the individual cases.

Then we will reconvene and consider the following steps:

2. Shuffle listener order as a test via query parameter so we can catch them in the future
3. Add step to CRC and QA that says to run with this new qu

[2019-11-05 22:47] samreid commented on #202
The proposal in the preceding comment looks really nice.  Perhaps we would rename `validate` to `required`?  Everything else seems to be going in a good direction.  However, I wouldn't want to finalize decisions here until we have an opportunity to discuss https://github.com/phetsims/phet-info/issues/122

[2019-11-07 00:10] zepumph commented on #202
Moving this logic into object literal definitions passed to `merge` will not work in the general case. Unfortunately that will only validate the option default. So far, I can't think of a way in which that could apply to validating the passed in option, from the object passed to merge (i.e. BEFORE the merge step has occurred).

My preference is that it is actually easier and simpler that have that

[2019-11-09 00:47] pixelzoom opened #273 "TODO with no issue number in ObservableArray"
By @samreid:

[code]

[2019-11-09 04:43] samreid commented on #273
I added an assertion that there are elements in the ObservableArray when pop is called, and it didn't trigger anything on an aqua test (though some repos had other issues), so I committed this and we can be on the lookout for it on CT.

[2019-11-09 04:56] pixelzoom commented on #273
I think that's fine.  The other option would be to make ObservableArray `pop` have the same behavior as Array `pop`.  I.e.:

[code]

[2019-11-10 13:44] samreid commented on #273
I considered matching existing JavaScript behavior of return `undefined` from empty array pop, but thought we could catch logical problems sooner with the assertion.  Based on this reasoning, it seems we should add this for `shift` as well.  I'll add this in an upcoming commit.

[2019-11-10 13:49] samreid commented on #273
I added the assertion-style guard on shift as well, closing.

[2019-11-10 15:53] pixelzoom commented on #273
Should a similar assertion be added for `get`?

[code]

[2019-11-10 15:56] pixelzoom commented on #273
`find` is also questionable. What should be expected if `index` is out of range? There is currently no `@returns` annotation, so it's not clear what is best.

[2019-11-11 13:13] samreid commented on #273
It seems best to check both of those bounds, I added docs and assertions in the above commit.  In testing, it revealed a problem in density/buoyancy, I'll open an issue.  @pixelzoom can you please review the changes to ObservableArray?

[2019-11-11 20:55] pixelzoom commented on #273
I the above commit, I added the bad index value to assertion messages. For example:

[code]

This assertion in `find`, where`findIndex` is optional, is a tad ineffective:

[code]

It doesn't handle the case where `findIndex` is not a number, and the implementation doesn't result in an error. For example:

[code]

... but maybe that's OK.  Back to @samreid to decide.

[2019-11-12 01:00] samreid commented on #273
I added a test that `fromIndex` is numeric, if provided.

[2019-11-12 15:25] pixelzoom commented on #273
👍 closing.

[2019-11-12 15:25] #273 closed

[2019-11-21 22:11] zepumph commented on #256
We discussed this more in today's PhET-iO meeting. Designers liked how it looked in Studio. @pixelzoom wondered about how to supply documentation regarding the Enumeration.
* Even though `Enumeration` instances don't get instrumented, we support passing `phetioDocumentation` to them. This then get's filled in in the documentation in the `EnumerationIO` that parametrically wraps individual instance

[2019-11-21 22:11] #256 closed

[2019-12-05 19:39] samreid opened #274 "Should NumberProperty.range optionally be a Property?"
As part of https://github.com/phetsims/gravity-force-lab/issues/191 and  https://github.com/phetsims/projectile-motion/issues/192, @zepumph made NumberProperty.range optionally a Property.  @pixelzoom would you like to review this and determine whether there is a better strategy to use?

[2019-12-05 19:48] pixelzoom commented on #274
I don't like overloading options in this manner, because the implementation then violates our naming convention for Properties - e.g. `this.range` might be a Property and should have name `this.rangeProperty` -- and that makes the code more difficult to grok and maintain.   But I can't think of a better way to address this.

I skimmed the changes, and I don't see anything amiss.   But I don't see

[2019-12-05 19:49] samreid commented on #274
Thanks @pixelzoom, @zepumph can you please take a look at your convenience?

[2019-12-05 22:38] zepumph commented on #274
What about two mutually exclusive options to NumberProperty, `range` and `rangeProperty`? That doesn't solve the access issue, `this.range` and `this.rangeProperty`.

I will add unit tests.

[2019-12-05 22:39] zepumph commented on #274
Furthermore, https://github.com/phetsims/axon/commit/45582851a500981de9fe933cb3f00c5124281f9a should have been linked to its own issue in axon and given to someone for review. I apologize for this oversight.

[2019-12-05 22:55] pixelzoom commented on #274
I think I prefer the overriding to 2 options.

[2019-12-07 00:28] pixelzoom commented on #202
The approach shown in https://github.com/phetsims/axon/issues/202#issuecomment-549903553 is generally redundant:

[code]

There's no need to do the `merge` because `numberOfSources` will already be set to the value of `config.numberOfSources`.

This is equivalent:

[code]

@zepumph said:

I agree.  Validation after config is fully formed.

[2019-12-09 18:02] Denz1994 commented on #202
From our Core Hours meeting on 12/09/19:

Note the comment [here](https://github.com/phetsims/axon/issues/202#issuecomment-450897219), we decided that it is best for readability that the options should be combined in a single object instead of splitting into different statements.

Validation should come after the object merge call.

[2019-12-09 20:51] #202 closed

[2019-12-31 02:48] samreid commented on #228
Everything looks really great.  Can `if ( options.validateValidator !== false` be changed to `if ( options.validateValidator`?  It seems so but I thought it best to double check.  After that, I think this issue can be closed.

[2019-12-31 02:51] samreid commented on #195
Everything looks great, and the unit tests have good coverage, nice work!  Thanks.  Closing.

[2019-12-31 02:51] #195 closed

[2019-12-31 22:18] samreid commented on #225
This patch works well in practice:

[code]

I was concerned about the module loading order (like maybe phet.dot.Vector2 or phet.axon.DerivedProperty aren't defined at that time), but if all modules are loaded before we construct our first Property that wouldn't be a problem.  But what if a `new Property` is constructed statically (outside of `main`)?  Then this could fail.

@zepumph what do you th

[2020-01-02 23:57] zepumph opened #275 "OberservableArrayIO should support reset case automatically"
from https://github.com/phetsims/phet-io-wrappers/issues/296, just like Property, setting the state of an OberservableArray should be the "initial" value, which is the value that a reset will go back to.

[2020-01-03 03:50] zepumph commented on #228
good call!

[2020-01-03 03:50] #228 closed

[2020-01-03 19:58] zepumph commented on #225
I think that this is worth proceeding with, because it seems complete and straight forward (hopefully not too much grunt work in up converting old usages).

Thoughts:
* Though assertions like these are helpful, they wouldn't cover all cases, like if a `Property.<Vector2|null>` was passed null to begin with. Does Vector2Property even allow `null`?
* Also do we worry about false positives, what if a

[2020-01-04 02:22] samreid opened #276 "Propagate values to DerivedProperties before notifications are sent out"
From https://github.com/phetsims/molarity/issues/189#issuecomment-570748713

[2020-01-04 02:51] samreid commented on #276
For initial investigation, I tried adding a separate channel for DerivedProperties, so they can be updated before any notifications are sent out.  I tested in the unit test harness.

Before Changes:
[code]

After Changes:

[code]

<details>

[code]
</details>

My implementation is missing improved `Property.dispose` to get rid of the derived properties, and I haven't tested that it is fully genera

[2020-01-04 04:44] samreid commented on #209
Transaction appears unused.  Can it be deleted?

[2020-01-04 04:46] samreid commented on #276
The problem described in https://github.com/phetsims/phet-io-wrappers/issues/229#issue-397432747 is not between a Property and a chain of DerivedProperties, so this solution is insufficient to solve that problem. `setDeferred` still works for that problem.

[2020-01-04 04:54] samreid commented on #276
Also, if we know we have to keep `setDeferred`, should this feature (of getting DerivedProperty values right) be implemented using that feature?

[2020-01-06 03:11] chrisklus commented on #209
Fine with me to delete, we can always bring it back if needed. Also, @pixelzoom expressed concern for added complexity in https://github.com/phetsims/axon/issues/209#issuecomment-454071632.

[2020-01-08 22:04] zepumph opened #277 "NumberProperty + dynamic range Property need to be set as an atomic operation"
Currently validation for setting a Property occurs immediately when setting it. This is challenging when using a `range` `Property` than can be mutated, because often the currently value could be outside of the new range, or vice versa depending on what is being set first.

This is in part the issue explained in https://github.com/phetsims/projectile-motion/issues/192#issuecomment-554585069.

[2020-01-08 22:17] zepumph opened #278 "Should NumberProperty.range be mutable for PhET-iO?"
While working in https://github.com/phetsims/axon/issues/277 @chrisklus and I saw that NumberPropertyIO.setValue is setting the `range` of a NumberProperty, but that isn't doing anything because all the validation logic is set up to read from `options.range`, not `this.range`:

[code]

This seems fine with me on paper, but I think we should remedy this discrepancy and either
1. convert these `opti

[2020-01-08 22:18] zepumph commented on #278
I added a TODO in NumberPropertyIO:

[code]

[2020-01-08 22:24] zepumph commented on #277
The solution that @chrisklus @samreid and I came up with was to add `NumberProperty.setValueAndRange` which defers validation until both the new range and new value are set. This also helped to solve https://github.com/phetsims/projectile-motion/issues/192#issuecomment-554585069 by adding additional and similar code to NumberPropertyIO that will use `setValueAndRange` when the state of the NumberP

[2020-01-08 22:30] zepumph commented on #274
What about making `this.range` and es5 getter that either gets the range, or gets the value of the range Property. So it always returns a `Range`. And then we add `this.rangeProperty {Property.<Range>|null}`  if the range provided is of type `Property`?

[2020-01-11 16:47] pixelzoom commented on #274
I like this general direction a lot - option `range` can be `{Range|Property.<Range|null>}`, but the field is `{Property.<Range|null>} this.rangeProperty`.   If you want to add `get range()`, that would be fine as a convenience.  But it's unnecessary if `this.rangeProperty` is public (which I believe it should be).   And you'll need to treat `this.rangeProperty` like we do `enableProperty`.  The `

[2020-01-11 16:57] pixelzoom commented on #277
I can't think of a better option, and I think this is a fine approach.  But the implementation of `setValueAndRange` looks suspect.  For all of the reasons recently mentioned in https://github.com/phetsims/natural-selection/issues/43#issuecomment-572233507, you should definitely not be mutating the value of `this.range`, you should be setting it to the new value that was passed to `setValueAndRang

[2020-01-11 16:59] pixelzoom commented on #277
I didn't reply to this question because I don't understand.

[2020-01-13 01:02] zepumph commented on #277
I agree it makes sense to handle the above comments when working on #274.

For that please look at the change in `Property.js` where we changed a private annotation to be `protected`, as well as looking more generally at all of the Property members and functions being used by NumberProperty for foul play.

[2020-01-14 14:32] pixelzoom commented on #277
It looks like you're referring to `this.validate`.  Changing that to `@protected` seems appropriate.

I don't see any evidence that you identified or addressed "foul play", but maybe I missed something.  If there's something specific you want me to review, please identify and assign back to me.

[2020-01-15 20:38] zepumph commented on #275
Over in https://github.com/phetsims/tandem/issues/139 the phet-io team tried and failed to handle dynamic elements. Instead we are going to look into resetting the entire sim (or screen) at once instead of trying to support each Type separately. Closing.

[2020-01-15 20:38] #275 closed

[2020-01-18 21:17] samreid commented on #209
Using setDeferred directly and/or the solution from https://github.com/phetsims/axon/issues/276 seems more promising than Transaction, so I'll delete Transaction and its tests.

[2020-01-18 21:20] samreid commented on #209
I think I'll close this issue and we can continue in https://github.com/phetsims/axon/issues/276

[2020-01-18 21:20] #209 closed

[2020-01-18 21:21] samreid commented on #244
This code was removed as part of #209, closing.

[2020-01-18 21:21] #244 closed

[2020-01-18 21:56] samreid commented on #266
I improved documentation in the commits.  I noticed there are 86 occurrences of `.getArray()` across the codebase.  Many of these could be converted to use ObservableArray.filter and ObservableArray.map which were improved in https://github.com/phetsims/axon/issues/265 or other ObservableArray methods.  Others may have simple solutions, and the ones that remain should be documented accordingly as

[2020-01-18 21:58] samreid opened #279 "Clean up usages of createObservableArray.getArray"
As described in https://github.com/phetsims/axon/issues/266#issuecomment-575941906

I improved documentation in the commits.  I noticed there are 86 occurrences of `.getArray()` across the codebase.  Many of these could be converted to use ObservableArray.filter and ObservableArray.map which were improved in https://github.com/phetsims/axon/issues/265 or other ObservableArray methods.  Others may

[2020-01-21 18:37] pixelzoom commented on #266
Seems appropriate to close.

[2020-01-21 18:37] #266 closed

[2020-01-22 01:59] zepumph commented on #274
@pixelzoom, I agree with everything above except that I think thought the typedef was a bit strange. I thought that rangeProperty could be null, not that it could store a value of null. My thoughts are reflected in the above commit. Let me know if you disagree. I think that everything was straight forward and exactly as discussed except that I am just changing `this.range` whenever the Property ch

[2020-01-22 02:03] zepumph commented on #277
Over in https://github.com/phetsims/axon/issues/274 I added unit tests. One of which demonstrated the mutation concern @pixelzoom shared in https://github.com/phetsims/axon/issues/277#issuecomment-573333881.

@samreid, @chrisklus and I struggled a bit with this function, because the main use case is when the Property is already deferred, so we can't use that to accomplish the delay in notification

[2020-01-22 02:23] pixelzoom commented on #274
I don't see any problem with`this.rangeProperty` being `{Property.<Range>|null}`.

I really don't like having both `this.range` and `this.rangeProperty`.  I think having ES5 get/set for range is preferable, and more similar to what we've done in other PhET code.  If you disagree, solicit other opinions.

You're not using the proper pattern for cleaning up `this.rangeProperty` in `dispose`.  See th

[2020-01-22 02:35] pixelzoom commented on #277
A few problems...

(1) Property `setPropertyValue` is documented as:

`@protected - for overriding only`

NumberProperty `setValueAndRange` is calling `this.setPropertyValue`.  That's not an override, and is therefore a violation of the API (as documented).

(2) NumberProperty `setValueAndRange` is mutating Property values directly:

[code]

Observer functions of the form `( newValue, oldValue ) =

[2020-01-22 12:40] samreid commented on #274
@pixelzoom said:

arithmetic : phet-io-tests : assert
7 out of 8 tests passed. 1 failed.
SimTests: arithmetic: iframe api failed:
Uncaught Error: Assertion failed: unexpected Range: undefined
https://bayes.colorado.edu/continuous-testing/snapshot-1579658474411/phet-io-wrappers/js/tests/SimTests.js?bust=1579660703515:341

[2020-01-22 13:05] samreid commented on #274
I started investigating this, but wasn't confident enough to push.  The main ideas are:

* Assign this.range properly at the beginning
* Validate based on this.range rather than options.range
* Rearrange assertions so it is clearer that they are run after initial state is ready

<details>
[code]
</details>

@zepumph can you please take a look, or we can chat about it at our PhET-iO meeting today?

[2020-01-22 20:20] zepumph commented on #277
Over in https://github.com/phetsims/axon/issues/274 the phet-io team did major refactoring, adding a rangeProperty to each NumberProperty and making other optimizations. From this we were able to completely overhaul `setValueAndRange` to be based on deferring the validation to when the listeners fire. From this we no longer have either of the concerns you mentioned above. We also added tests for t

[2020-01-22 20:25] zepumph commented on #274
CT error was caused by phet-io tests clashing with the current approach we had for serializing and deserializing NumberPropertyIO state.

The PhET-iO team took a new approach to handling range, and made an instrumented rangeProperty for every NumberProperty. This simplified a lot of code. Here is a summary of changes:

* We addressed @pixelzoom's requests from https://github.com/phetsims/axon/issu

[2020-01-22 21:46] chrisklus commented on #274
@pixelzoom how do you feel about now adding RangeProperty to #221? The number of reported instances in https://github.com/phetsims/axon/issues/221#issuecomment-466432708 will greatly increase to be more on the order of the number of NumberProperty instances.

[2020-01-23 01:18] pixelzoom commented on #274
Adding `RangeProperty` sounds OK to me.

[2020-01-23 02:56] samreid commented on #221
In https://github.com/phetsims/axon/issues/274 we discussed adding RangeProperty.

[2020-01-23 06:25] zepumph commented on #274
@pixelzoom please take a look at https://github.com/phetsims/axon/issues/274#issuecomment-577369798 also.

[2020-01-23 15:42] KatieWoe commented on #274
CT issues appearing that look like:
[code]
@samreid suggested it was related to this issue.

[2020-01-23 15:43] pixelzoom commented on #274
Please assign back to me for review when CT is fixed.

[2020-01-23 17:11] pixelzoom commented on #277
I'm holding off on reviewing this until #274 is ready for review.

[2020-01-23 17:20] samreid commented on #274
I made an improvement that should fix some of the CT problems, not sure if there are more.

[2020-01-23 17:23] samreid commented on #274
The related CT failures from this morning are resolved in my working copy.  Please reassign me or @zepumph if you see other trouble.

[2020-01-23 17:36] zepumph commented on #274
I do not agree with https://github.com/phetsims/axon/commit/d4b681297503cd91bb83ef1cdc78f162e48fa881

the error was caused because of a buggy options being passed, and I don't think options.range should support `undefined`.

In my opinion for this issue:
* @samreid I would revert that undefined conversion
* Then assign @pixelzoom for review

[2020-01-23 17:49] samreid commented on #274
Thanks! I'll take a look.

[2020-01-23 17:58] samreid commented on #274
I reverted the undefined conversion, @zepumph can you please double check everything before sending to @pixelzoom

[2020-01-23 18:00] zepumph commented on #274
Yes excellent thanks. Over to you @pixelzoom.

[2020-01-23 18:07] zepumph commented on #274
Fixed unit tests when `?ea` not provided above.

[2020-01-23 23:39] chrisklus commented on #274
There was significant pushback from designers today regarding NumberProperty always having an instrumented RangeProperty. The main reason was that there's added clutter throughout Studio under all of the `opacityProperty`s. They like that `opacityProperty`, `pickableProperty`, and `visibleProperty` had a uniform structure as leaves for every Node, but now `opacityProperty` has a child. This also a

[2020-01-24 00:12] zepumph commented on #274
That would be fine with me. We already have `rangePropertyOptions`, so if you want to instrument the rangeProperty then you can just pass in a tandem that way. I'll implement.

[2020-01-24 00:40] pixelzoom commented on #274
It sounds like this is still in progress, so I'm self-unassigning.  Assign back to me when it's ready for review.

[2020-01-24 00:54] zepumph commented on #274
Yes thanks @pixelzoom for your patience while we work out design and dev kinks here. In the above commits I optionally instrumented rangeProperty, and added an assertion to make sure that if instrumented, the tandem is "rangeProperty" for the default `rangeProperty`. Currently there are no instrumented rangeProperties, but we can add more as we see fit and design more phet-io instrumented sims. Th

[2020-01-24 01:38] zepumph commented on #274
I just found another two bugs and added some tests. I am getting more and more confident about our cleanup by the minute!

Allow me to summarize the changes in this issue as they pertain to a review from @pixelzoom:
* `options.range` supports `{Range|null|Property.<Range|null>}`
* If options.range is not a `Property` (`null` or `Range`), then NumberProperty creates its own `rangeProperty`.
* a Num

[2020-01-24 19:11] pixelzoom opened #280 "incorrect type expressions in validate.stringWithoutTemplateVars"
validate.js:

[code]

The type expressions look incorrect here. Shouldn't they both be `{string}`?

[2020-01-24 19:51] pixelzoom opened #281 "how to handle gotchas related to Property setDeferred"
Over in #277, I encountered Property `setDeferred` for the first time.  This feature seems to have gotchas that are not at all guarded.

For example, after a `set`, you may still `get` the old value:

[code]

[2020-01-24 20:04] pixelzoom commented on #277
Implementation of `setValueAndRange` looks much nice, good work!  I added some comments in the above commit.  And I have some issues with the robustness of `setDeferred`, but we'll track those in #281.

Closing.

[2020-01-24 20:04] #277 closed

[2020-01-24 21:05] zepumph opened #282 "NumberProperty reset can break when it resets range and value together."
From https://github.com/phetsims/axon/issues/274, I should write tests to expose this, and fix this by calling `setValueAndRange` when applicable in NumberProperty.reset.

[2020-01-24 21:07] pixelzoom commented on #274
@zepumph and I collaborated on a bunch of changes in the above commit -- corrections and improvements.

We'll leave this open until CT verifies.

[2020-01-24 22:40] zepumph commented on #274
Looks like CT is clear! Closing

[2020-01-24 22:40] #274 closed

[2020-01-25 00:54] zepumph commented on #281
Looking through Property functions, perhaps `reset` also?

This is a pretty serious bug; one that I am unsure how to solve easily but which is easy to demonstrate.

1. Add this line to the top of Properyt.get():
`      assert && assert( !this.isDeferred, 'value may be stale if this Property is deferred' );`
2. Add a `debugger;` to `assert.js`
3. Fuzz the state wrapper for Charges And Fields.

In t

[2020-01-25 01:32] pixelzoom commented on #281
`reset`does seem like a problem.  If `reset` is called while `this.isDeferred === true`, then the reset is deferred.

I understand the reason for this "deferred" feature.  But it seems like something that should be avoided.  And it's not robustly instrumented or adequately tested (only 1 unit test!)

[2020-01-25 02:20] zepumph commented on #276
I have a calendar event set for Feb 5.

[2020-01-25 02:20] samreid commented on #276
Excellent, thanks!

[2020-01-25 04:13] samreid commented on #281
I don't think so--that would break its interface.  You should be able to get a Property value at any time.  When a property is deferred, you should still be able to read the old value.  This behavior is also tested in the unit test:

[code]

Reset also makes sense to me.  Resetting a deferred property is equivalent to setting the original value.  So it should behave the same as any defer.

Agreed,

[2020-01-25 06:44] pixelzoom commented on #281
I disagree. What is the use case for reading a Property's value while it's in a deferred state? Imo this encourages a certain type of code that should be avoided.

Again, I disagree. What is the use case?

And there are other things that don't seem to have been considered (or maybe just not documented?):
* `notifyListenersStatic` can be called while deferred. Why?
* Listeners can be added/remove w

[2020-01-27 18:27] samreid opened #283 "ObservableArray: don't slice() on forEach()"
Discovered during https://github.com/phetsims/axon/issues/279, it seems a waste of CPU and memory to slice on every forEach, this should be changed to omit the slice().  If a client needs a slice they can do that manually.

This will require a thorough test of all sims to see if anything was relying on the slice(), say for concurrent modifications.

[2020-01-27 18:30] samreid commented on #279
In the preceding commit, I implemented one of the conversions.  I first ran the code to make sure worked correctly, and that I could understand when it was being called in the sim.  Then I converted usage, and added a console.log() to double check the new code was being run in the sim.  I removed the console.log before committing.  When committing, I referenced this issue URL so the change is easy

[2020-01-27 23:39] zepumph opened #284 "NumberProperty: should `validValues` and `range` options be mutually exclusive?"
From #274, @samreid and I were wondering if this would be a good assertion to have.

@pixelzoom can you think of a reason why both of these would want to be specified? Does using `assertMutuallyExclusiveOptions` here seem appropriate?

[2020-01-28 00:09] pixelzoom commented on #284
I can't think of a use case where I'd use both `range` and `validValues`. And I also wonder about `range` and `isValidValue`.

I guess I could invent cases like these, where I only want specific values in a range:

[code]

But those seem odd, difficult for me to justify why a `range` is specified.

The 1st example really seems bad, since I have to change both `validValues` and `range` if I want to

[2020-01-28 03:31] ariel-phet commented on #279
@SaurabhTotey -- @samreid committed an example above for you to follow. Probably have a brief conversation with him if you get a chance to do this work.

[2020-01-28 18:33] pixelzoom opened #285 "incorrect doc for ObservableArray.reset"
Over in https://github.com/phetsims/axon/issues/264, the initialArray feature was removed from ObservableArray.  Now the doc for `reset` is incorrect.

[code]

[2020-01-29 02:20] samreid commented on #281
`setDeferred` does not mean the property is "bad" and should not be read.  It means that sometime soon it may take a new value.  A case that @zepumph described in https://github.com/phetsims/axon/issues/281#issuecomment-578357628 follows this basic pattern:

* We want to set the state with the PhetioStateEngine
* The model Properties are deferred at the beginning of setState
* The PhetioGroup of C

[2020-01-29 02:27] samreid commented on #281
Could we prevent reads from deferred properties if we change the PhetioStateEngine sequence to hold off of creating new elements until the Properties have all taken their new values?  I'm not sure whether that is technically feasible.

[2020-01-29 04:17] zepumph commented on #281
What about children Properties of dynamic elements, is that ok? How does the PhET-iO state engine know when it has done all it can without dynamic elements?

[2020-01-30 00:07] pixelzoom commented on #281
I don't have anything else to add here, so unassigning.

[2020-02-03 01:33] samreid commented on #271
We'll complete this issue in https://github.com/phetsims/axon/issues/279

[2020-02-03 01:33] #271 closed

[2020-02-19 04:38] pixelzoom opened #286 "Action.dispose is unnecessary"
Action `dispose` is unnecessary:

[code]

[2020-02-20 23:41] zepumph commented on #286
Good call!

[2020-02-20 23:41] #286 closed

[2020-02-22 01:28] zepumph opened #287 "Action shouldn't serialize phet-io arguments in phet brand"
As part of https://github.com/phetsims/gravity-force-lab/issues/256 I saw that Action was emitting a data stream even with `data` instead of `getData`. This mean that args were being serialized in phet brand. I think we should put that inside a closure instead.

[2020-02-22 01:33] zepumph commented on #287
@samreid the above commit does three things:

* use `getData` instead of `data` to prevent argument serialization in phet brand
* Adds an assertion that phet-io data is only retrieved in phet-io brand
* remove redundant `isPhetioInstrumented` calls because that is the first line of `phetioStart/EndEvent()`

Please review.

[2020-02-22 01:42] samreid commented on #287
I reviewed these changes with @zepumph.  We confirmed that the arguments work in the arrow function OK via:

[code]

Everything else looks great, and this will improve performance in phet brand.  Nice!

[2020-02-22 01:45] zepumph commented on #287
Thanks!

[2020-02-24 21:02] pixelzoom commented on #208
We're just shy of 1 year on requesting whether there's anything else to do here.  It looks to me like the answer is "no", so I'm going to close this issue.

[2020-02-24 21:02] #208 closed

[2020-02-26 23:32] zepumph commented on #287
Leaving open to make sure this gets into the GFL branch, though there isn't anything needed for QA, so once that is done I can close.

[2020-03-03 02:09] zepumph commented on #287
Cherry-picked

[2020-03-03 02:09] #287 closed

[2020-03-05 20:40] zepumph commented on #281
Perhaps we need to tweak our state setting algorithm:

* Run though setting all items that currently exist (don't create anything)
* When we are no longer changing anything (meannign everything else is dynamic), then try to create dynamic elements.

This way the order of "undeferring" (firing Property listeners) at the end of state set would first do static items, then it would do dynamic elements

[2020-03-11 17:54] samreid commented on #276
Today @pixelzoom and @chrisklus and I discussed this problem in the context of
 https://github.com/phetsims/gas-properties/issues/182

We tried storing all of the DerivedProperty instances globally, then after all Property instances had taken their final value (but before notifying listeners), we defer DerivedProperties, and update their values.

This addressed at least one problem in Gas Properti

[2020-03-11 19:16] samreid commented on #141
Let's cover this in https://github.com/phetsims/axon/issues/276, closing as duplicate.

[2020-03-11 19:16] #141 closed

[2020-03-16 23:05] zepumph commented on #276
I am happy to discuss. I poked around with the patch, but I wasn't quite able to understand how this might apply in a general, commitable way (without the global). It also isn't totally clear to me how this applies to phet-io state set vs whenever any Property value is set, and what the desired behavior is for those cases. Let's chat!

[2020-03-19 01:39] zepumph commented on #276
@samreid and I discussed this more today, and he brought me up to speed on the above two patched. We decided that it made the most sense to try to tackle this in a general way in axon instead of something specific to the phet-io state engine. As a result we started from the original patch and then added to it.

@samreid I worked further on this, mainly with tests. There are a few TODOs with open q

[2020-03-19 23:39] zepumph opened #288 "EnumerationProperty should accept validValues"
@jbphet mentioned on slack that it would be nice to let EnumerationProperty accept a subset of Enumeration values as its valid values. Currently it is hard coded to state all possible Enumeration values as its validValues option to Property.

In my current thought, this wouldn't effect the studio control, because it is based solely on looking at `validValues`, but I should test that.

In my other

[2020-03-19 23:43] pixelzoom commented on #288
Values do not uniquely define an Enumeration, and therefore do not sufficiently describe an EnumerationProperty.   Even more true when you allow an EnumerationProperty to use subsets of values.

Example:

[code]

How does `PropertyIO<EnumerationIO(LEFT|RIGHT)>` tell me which of the above Enumerations this refers to?

[2020-03-20 00:00] zepumph commented on #288
I removed the assertion above. Most of the work for this one-line change was writing tests and adding an example in phet-io-test-sim. Here is what it looks like in studio. Notice the current difference between the type name and the valid values:

![image](https://user-images.githubusercontent.com/6856943/77125453-a63d5800-69fa-11ea-8ccc-a92b149eaded.png)

Tagging @jbphet because this should unbloc

[2020-03-20 00:01] zepumph commented on #288
@pixelzoom in response to https://github.com/phetsims/axon/issues/288#issuecomment-601466296 I'm a bit torn. I understand your concern because the typeName is not unique to an Enumeration instance, but I also recognize that from the context of phet-io clients, they would just pass strings to set values, and "LEFT" would correctly set a value for either enumeration. @samreid do you have any thought

[2020-03-20 00:12] pixelzoom commented on #288
It's nice that you can get away with setting an Enumeration value using a string, so that `'LEFT'` will work for any Enumeration that has value `LEFT`.  But that breaks the opaqueness of Enumeration values, and has a smell to it.  Hopefully that won't need to change in the future, e.g. if we want the client to set values the way we do programmatically (e.g. `Edges.LEFT`).

I'm also not suggesting

[2020-03-20 15:55] samreid commented on #288
I don't have much to add beyond what's been said above.  I agree you should be able to restrict a `Property` to a subset of `Enumeration` values, and that in the future it may be interesting to investigate non-string values for `Enumeration` values, but that doesn't seem important now.

[2020-03-20 16:46] pixelzoom commented on #288
Nothing to add.

[2020-03-20 23:16] samreid commented on #276
@zepumph discussed this a bit more,  particularly about how to make sure the Property listeners are notified before the DerivedProperty listeners.  Here's a patch which may or may not be helpful!  We are struggling to get all of these features working in concert:

* callback with (newValue,oldValue)
* setDeferred
* the ordering as we described
* Arbitrary nesting of DerivedProperties

<details>

[

[2020-03-21 00:03] jbphet commented on #288
I just used this in States of Matter (SOM), and it worked great.  I you'd like to see how it looks in Studio, launch SOM in Studio and look at `statesOfMatter.statesScreen.model.substanceProperty`, note the lack of `ADJUSTABLE_ATOM` as a selection, then look at `statesOfMatter.statesScreen.model.substanceProperty`, where `ADJUSTABLE_ATOM` *is* a valid option.

If you'd like to see the code where t

[2020-03-21 00:42] pixelzoom commented on #288
@jbphet is there a copy-paste error in the previous comment? You have the same `phetioID` for the "is" and "is not" an option examples.

[2020-03-21 15:35] jbphet commented on #288
Yep, sorry, I've fixed it now.

[2020-03-28 21:00] samreid commented on #276
I considered whether `Multilink` should take precedence like we are discussing for `DerivedProperty`.  It seems many occurrences of `Multilink` may be better off using `DerivedProperty`, such as:

[code]

May be written as:
[code]

On second thought, that doesn't seem like a clear win.

It seems like many occurrences of `Multilink` are treated like `Property` listeners, and may not need precedence

[2020-03-28 21:20] samreid commented on #276
Is it important that the Property keeps its current value when changing to a deferred value?  If not, maybe it would be simpler if both Property and DerivedProperty could mark `dirty=true` if they take a value that doesn't match their current value, and they have not sent notifications yet.  But I'm wondering if PhET-iO requires the Property to keep its old value.  But there's another issue about

[2020-03-29 16:51] samreid commented on #276
I worked on this more today, with a new philosophy:

* Setting a Property value always happens immediately
* Setting a DerivedProperty value happens immediately
* Notifications are done separately
* Notifications are withheld when setDeferred=true
* Notifications for Property go out before DerivedProperty notifications
* Property keeps track of the last "notified" value, and doesn't notify if the

[2020-03-29 21:44] samreid commented on #276
Another idea that may help.  At the end of `_notifyListeners` check if the current value has changed.  If so, run `_notifyListeners` again.  I'm also curious if a Property should notify for every single value change, or if some (such as re-entrant ones) should be "batched" and omitted.  But I wonder if the batching/skipping is causing the PaintColorProperty disposal problem.  It seems Property in

[2020-04-01 00:10] pixelzoom opened #289 "how to use NumberProperty with dynamic range?"
Here's a real world problem that I'm having with NumberProperty in Natural Selection.   I've condensed it into this simplified example:

The model has a "generation clock" that advances in integer steps over time:

[code]

The view has a spinner that selects which generation to display in the view.

[code]

`selectedGenerationRangeProperty` must be defined first, because it's an option to `selecte

[2020-04-01 01:32] samreid commented on #289
Would `NumberProperty.setValueAndRange` help?

https://github.com/phetsims/axon/blob/ac530d0779c759ae4dd636965ca139fa42303bbe/js/NumberProperty.js#L183-L207

[2020-04-01 02:11] pixelzoom commented on #289
Not in the case where the range is a DerivedProperty, because it can't be set directly.  I could resort to using a Property instead of a DerivedProperty for the range:

[code]

But that seems like a workaround vs a solution.

The way I've solved this in Natural Selection (so far) is to move all of the Properties to the model, and make sure that `selectedGenerationProperty` is reset before `generat