[2021-12-02 19:03] zepumph commented on #364
@samreid showed me that the commit to look at is https://cuboulder.zoom.us/j/971965732

[2021-12-02 19:04] zepumph commented on #364
@samreid showed me that the commit to review is https://github.com/phetsims/axon/commit/89a3c74863ea5d0f717ff3cb7d4d4f3e5d273cc5

[2021-12-02 21:35] jonathanolson commented on #370
We could presumably lose some type safety AND get this by doing something like `link<U extends T>( listener: PropertyLinkListener<U>, options?: any )`, however then you could add an overly-specific link listener (e.g. add a Path listener to a Node Property).

[2021-12-06 20:28] pixelzoom commented on #370
Now that I understand this better, I don't think we should try to circumvent TS's variance implementation.  I agree with @samreid that the correct approach in geometric-optics would be `Optic<T extends OpticsShapes>`.  I probably won't actually do that in geometric-optics, and will stick with a "one size fits all" OpticsShapes.

So closing this issue.

[2021-12-07 20:20] jonathanolson commented on #370
I'm able to get the following to typecheck:

[code]

It looks like it was a combination of linkAttribute and TinyProperty not using the IProperty interface in its emitter parameters.

[2021-12-07 20:23] jonathanolson commented on #370
@samreid can you review and verify?

[2021-12-08 01:26] jonathanolson commented on #370
I'm adding back in linkAttribute that returns `any` in another commit.

[2021-12-08 01:27] jonathanolson opened #371 "DerivedProperty/Multilink with TypeScript type parameters"
It looks like we should have property parameterized and type-safe DerivedProperty/Multilink.

For this, it's adding in an inferrable DerivedProperty type parameter (for the derivation parameters). Due to things needing IReadOnlyProperty (and instead of manually including the type parameter for DerivedProperty a lot), a lot of sim conversion has been done.

[2021-12-08 03:03] jonathanolson commented on #371
Applied the commits above. @samreid can you review?

[2021-12-10 15:44] samreid opened #372 "Generic type 'EnumerationProperty<T>' requires 1 type argument(s)."
@KatieWoe pointed out that a number of sims are failing CT with:

[code]

This is because EnumerationProperty was made generic without visiting all instantiation sites.

I'll take a look at high priority, but I have a few meetings this morning.

[2021-12-10 15:57] samreid commented on #372
I put an `<any>` band-aid on until I can focus on this more.

[2021-12-13 16:21] samreid commented on #370
Good discovery @jonathanolson.  The main idea is that `IReadOnlyProperty` and even `IProperty` omit the problematic methods with contravariant parts from their interface.  Therefore I'm able to put:

[code]

and it passes the type checker.

From the example in the top comment, if we change `abstract thing: Property<Parent>` to `abstract thing: IProperty<Parent>`, everything else works and type che

[2021-12-13 17:15] samreid commented on #372
I rolled EnumerationProperty back to *.js and removed the type parameters.  We will proceed with the proposals in https://github.com/phetsims/chipper/issues/1106 instead, closing.

[2021-12-13 20:54] jonathanolson commented on #370
But what about cases supporting TinyProperty?

Somewhat designed, I want to keep it covariant.

I don't see how that's possible. Property includes a lot of fields we don't want on TinyProperty (and wouldn't want to fake).

[2021-12-14 02:56] samreid commented on #370
Thanks, let's hear from @pixelzoom next, and see if he wants to use this strategy in the Geometric Optics case where this problem was reported.

[2021-12-14 17:27] pixelzoom commented on #370
Reopening https://github.com/phetsims/geometric-optics/issues/273 to investigate whether this works in practice in Geometric Optics.

[2021-12-14 17:47] pixelzoom commented on #370
Working nicely now in Geometric Optics, see https://github.com/phetsims/geometric-optics/issues/273#issuecomment-993826654.  Thanks!

[2021-12-14 17:47] pixelzoom commented on #370
Not sure what (if anything) still needs to be done. So assigning to @samreid and @jonathanolson to discuss.

[2021-12-14 17:48] samreid commented on #370
Sounds good, I think this issue can be closed.

[2021-12-14 17:48] #370 closed

[2021-12-22 01:00] pixelzoom commented on #371
Something seems wrong in DerivedProperty.  I was under the impression that the types of callback params were inferrable from the types of the dependencies.  But if I omit types for the callback params, I get TS errors.

Here's an example in geometric-optics.SecondPoint.js:

<img width="828" alt="screenshot_1468" src="https://user-images.githubusercontent.com/3046552/147017007-9ba1687e-690c-4aff-84

[2021-12-22 16:06] jonathanolson commented on #371
The specific error seems to be that it's not inferring the tuple correctly (and instead an array which the types get unioned).

![image](https://user-images.githubusercontent.com/480878/147121111-ddd30934-d80a-4df9-8c8e-b7339b97c89c.png)

This is what confuses me, since it should have 4 elements in the array.

[2021-12-22 16:08] pixelzoom commented on #371
I don't have time to dive into DerivedProperty.  So I guess I'll just continue to specify types for callback parameters.

[2021-12-22 18:06] samreid commented on #371
I experimented with the idea in https://stackoverflow.com/a/45869621/1009071

<details>

[code]

</details>

[2022-01-03 20:09] zepumph commented on #364
* Can we rename `Listener2`?
* In PropertyIO, can we make `this` be of type `Property` instead of `any`?

It would be nice to convert ValidatorDef at some point soon, but presumably we may be able to deprecate it since it is basically duplicating typescript functionality.

Thanks for this conversion!

[2022-01-05 01:35] jonathanolson commented on #349
That looks like it doesn't have a significant impact for this.

[2022-01-05 18:17] samreid commented on #349
Thanks, this issue is ready to close.

[2022-01-05 18:17] #349 closed

[2022-01-11 21:10] zepumph commented on #363
This issue has been assigned to me to review for a really long time. I'm unsure if it is still the right place for it, but here is a review of axon files being converted to typescript, which seems to have occurred here. Please let me know if there is more that I should do here, or assign me a side issue if this one is on hold or too long.

Review:

Property,ts
* Can we rename `Listener2`, or do yo

[2022-01-13 00:58] zepumph opened #373 "Delete StringEnumerationProperty"
From https://github.com/phetsims/chipper/issues/1106

[2022-01-13 01:10] zepumph commented on #373
@samreid, does this feel right to you, once all usages have been changed?

[2022-01-13 17:33] zepumph commented on #373
There are currently 9 usages of `new StringEnumerationProperty`. Presumably these will be refactored to use Enumeration.js

[2022-01-13 19:16] samreid commented on #373
At today's design meeting, we agreed to eliminate `StringEnumerationProperty` and use `EnumerationValue` instead.

[2022-01-20 17:22] zepumph commented on #373
There are still 9 usages of StringEnuemerationProperty. I'll add deprecated markings to it.

[2022-01-28 21:11] samreid commented on #373
I'll be doing some of this work in https://github.com/phetsims/circuit-construction-kit-common/issues/827

[2022-01-28 21:29] samreid commented on #373
Deleted, closing.

[2022-02-09 04:28] pixelzoom opened #374 "Problems with EnumerationProperty"
A few of problems that I encountered when trying to use EnumerationProperty in geometric-optics:

(1) You can't set `validValues`, so you can't use EnumerationProperty with a subset of enumeration values:

[code]

This is problematic for many sims where I've used enumerations, and blocks my use of EnumerationProperty in geometric-optics.  Since PropertyOptions provides type-checking for `validValu

[2022-02-09 04:34] pixelzoom commented on #374
Problems addresses in the above commit.

@samreid would you mind reviewing, since you and I discussed this issue on Slack?

[2022-02-09 04:45] samreid commented on #374
I reviewed the commit, and it seems good.  Thanks also for removing the other assertion which is now unnecessary.  Closing.

[2022-02-09 04:45] #374 closed

[2022-02-28 21:34] zepumph opened #375 "DerivedProperty listener must provide all parameters to pass type check"
None of these parameters are used:

https://github.com/phetsims/ratio-and-proportion/blob/def1127874b5e2b7fe470f065a78549480789506/js/discover/view/DiscoverScreenSummaryNode.ts#L90

But if I remove them, then the DerivedProperty creation fails with this error:

@jonathanolson, do you have any ideas about how to make this more flexible?

[2022-02-28 21:39] zepumph commented on #375
Look what I just found as a workaround from a couple months ago.

https://github.com/phetsims/ratio-and-proportion/blob/95e7ea7adbc1522d9f518719664674f397d972be/js/common/view/BothHandsPDOMNode.ts#L218

Looks like you are likely aware of this problem then!

[2022-03-02 00:03] pixelzoom opened #376 "Missing modifiers for DerivedProperty fields?"
Are these fields in DerivedProperty really supposed to be public and directly mutable?  Or is `private` and `readonly` missing from some of these?

[code]

[2022-03-02 00:11] samreid commented on #376
I added some modifiers.  Type check is passing on my side.  @pixelzoom would you like to review?

[2022-03-02 00:16] pixelzoom commented on #376
👍🏻 closing

[2022-03-02 00:16] #376 closed

[2022-03-02 16:46] samreid commented on #373
We have discussed that the string literal enumerations are nice and it would be good to have support for them.

[2022-03-04 15:35] pixelzoom commented on #373
This is an odd way to vote for an “OR” choice.  Nothing preventing me from :+1::skin-tone-2: for both, so I’m going to do so.  Imo `StringUnionProperty` is a superior name, more idiomatic, and distances us from attempts to prohibit union types in favor of EnumerationValue.

[2022-03-04 15:58] pixelzoom commented on #373
Changing my vote. I haven’t felt any need for QSM support of EnumerationValue.  Very slight :+1::skin-tone-2: for `StringUnionProperty`, if time permits.  I haven’t felt inconvenienced by this pattern, not sure if it’s worth the effort to remove 2 (?) lines of bolierplate:

[code]

[2022-03-04 17:55] pixelzoom commented on #373
Some additional thoughts about supporting `EnumerationValue` in QSM...

The 'custom' type is already supported by QSM, and I use it regularly to support types like Range, RangeWidthValue, Color,... See GOQueryParameters.ts for examples of RangeWidthValue.  So it should be relatively easy to add support for a specific EnumerationValue.  And I wonder whether it's really necessay to add native suppor

[2022-03-04 18:03] pixelzoom commented on #373
When @samreid announced this poll in Slack, he said:

... which is:

[code]

This looks like a nice place to use a string union.  I would change  to `validValue: PlotTypeValues`, and define the union like this:

[code]

[2022-03-05 00:03] samreid commented on #373
The results of the poll are:

@pixelzoom voted for `StringUnionProperty`, as described in https://github.com/phetsims/axon/issues/373#issuecomment-1059287885.  There were no other votes.

@chrisklus and I tried using the custom feature of Query String machine and it worked great, thanks!

[2022-03-07 20:12] pixelzoom opened #377 "Add ReadOnlyProperty"
This work was started without an issue, but seemed like we should have one, so here it is.

[2022-03-07 20:14] pixelzoom commented on #377
@jonathanolson commited ReadOnlyProperty in the above commit, but there were some problems.  See Slack discussion below.

<details>
<summary>Slack</summary>

[onathan Olson](https://app.slack.com/team/U6E4HHSTF)  [6:09 PM](https://phetsims.slack.com/archives/D6FNMP2LX/p1646356162283089)
Added ReadOnlyProperty, see https://github.com/phetsims/axon/commit/2dc362b17edb24f6f465ef1ee46596eee1c071ce (di

[2022-03-08 01:55] jonathanolson commented on #358
I ran into needing this to port something in Density/Buoyancy.

Defined initial types and type guards in NumberProperty: https://github.com/phetsims/axon/blob/7f0b33caffc1ebc5a19087096dfe4012b7f152f6/js/NumberProperty.ts#L44-L59

With asRanged() and friends that gives an initial check + cast in a safe-ish way:
https://github.com/phetsims/axon/blob/7f0b33caffc1ebc5a19087096dfe4012b7f152f6/js/Number

[2022-03-08 02:04] jonathanolson commented on #358
Also, UnitConverstionProperty can do non-linear things. Just provide map/inverseMap instead of factor (and it will still handle the range, typing, etc.)

[2022-03-08 15:41] pixelzoom opened #378 "CT: test EmitterIO failed"
[code]

[2022-03-08 16:52] KatieWoe opened #379 "CT cannot read properties of undefined reading 0"
[code]

[2022-03-08 20:21] zepumph commented on #378
Thanks for catching this. Emitter was not validating its arguments to emit() so many assert.throws() were incorrect. This also fixed a failing unit test for createObservableArray type validation.

[2022-03-08 20:21] #378 closed

[2022-03-08 23:17] pixelzoom commented on #377
In https://github.com/phetsims/scenery-phet/issues/726#issuecomment-1062117397, @jonathanolson said:

Yes, probably so.

[2022-03-09 18:22] zepumph opened #380 "Multilink thinks second parameter can be null when it cannot"
I found a bug with the typing of Property.multilink. I'm unsure how to fix it, but it has a really easy reproducible case. By having the third Property which is of type `string|null`, the second arg in the callback thinks it could be null, but it can't. The assignment in the callback fails with this error:

[code]

[code]

[2022-03-09 18:22] zepumph commented on #380
@jonathanolson, can you assist?

[2022-03-09 18:23] zepumph commented on #380
I was able to easily workaround this by providing the parameters to multilink manuall (`<[string, string, string|null]>`), but likely we want this fixed generally since my workaround is a code smell when it could infer them.

[2022-03-12 02:32] pixelzoom commented on #358
This all sounds reasonable, and nice to know that these exist. Code looks clean, and it's nice that there are examples in the docs. I don't have time for a detailed test-drive right now, so may have some feedback in the future. Self unassigning.

[2022-03-15 20:58] pixelzoom opened #381 "Property<true> is not assignable to type Property<boolean>"
This seems wrong.

[code]

[2022-03-15 21:00] pixelzoom commented on #381
I guess TypeScript is inferring that Property(true) is a Property whose only possible value is true? So I would need to instantiate as:

[code]

Do I understand that correctly?

[2022-03-16 19:55] samreid commented on #381
There must be some other ingredient at play here, since just instantiating `new Property(true)` infers type `Property<boolean>`:

<img width="548" alt="image" src="https://user-images.githubusercontent.com/679486/158678608-2b040bfe-2430-4fb6-a862-56a10ecd57ac.png">

But without understanding that nuance, yes, I think either `new Property<boolean>( true );` or `new BooleanProperty( true );` would b

[2022-03-16 19:57] #381 closed

[2022-03-24 19:52] pixelzoom opened #382 "addLinkedElement is causing APIs to use Property instead of IProperty/IReadOnlyProperty"
Slack discussion:

[Chris Malley](https://app.slack.com/team/U6EMFARV2)  [11:59 AM](https://phetsims.slack.com/archives/C029UG5BVU3/p1647453589410429)
As I’m doing these conversions, it makes me sad that I have to type parameters as Property instead of IProperty  because some ancestor class calls addLinkedElement and therefore requires a PhetioObject.  Typing as Property provides access to things

[2022-03-24 20:32] jbphet commented on #382
I just ran into an example case of this.  I had this code in `AmplitudeModulatorDemoNode.js`

[code]

The `enabledProperty` on the modulator is present because it extends `EnabledComponent`, and the type for it is `IProperty<boolean>`.  When I changed  `AmplitudeModulatorDemoNode` to TypeScript, my IDE was complaining that the type for the `enabledProperty` was incorrect, so I ended up adding `as

[2022-03-28 21:12] samreid commented on #382
This proposal introduces `LinkableElement` and demonstrates how it can address cases like the one the preceding comment:

<details>

[code]

</details>

[2022-03-28 21:29] pixelzoom commented on #382
Re https://github.com/phetsims/axon/issues/382#issuecomment-1081154975 ...

* I'm not excited about having to do `IProperty<boolean> & LinkableElement` wherever some part of the implementation (often in a superclass, far from where I'm adding LinkableElement) needs to call `addLinkedElement`.   But maybe that's what we're stuck with, give the Property/TinyProperty "problem".

* When we discover so

[2022-03-28 21:45] samreid commented on #382
Thanks, I agree fully.  Here is a better proposal:

<details>

[code]

</details>

This adds the LinkedElement API to IReadOnlyProperty, and TinyProperty implements `get phetioFeatured` as a constant false, like it already does for `isPhetioInstrumented`.

[2022-03-31 13:20] samreid opened #383 "Add Property fuzzing"
We recently discussed that many options aren't exercised during fuzz testing, see https://github.com/phetsims/aqua/issues/136.  We can improve fuzzing coverage by fuzzing the Property values directly, without requiring mouse/touch input to trigger them.  For instance, we could automatically switch between discrete valid values like so:

[code]

A similar approach could be applied for `isSettable`

[2022-03-31 20:52] pixelzoom commented on #383
It's a nice thought, but @samreid already identified the main problem:

Game state definitely does not take any value at any time; there's a sequence that makes sense of the game's "state machine".

Even if individual Properties don't object, by fuzzing all Properties that have `validValues`, you'll likely be putting the sim in states that it would never reach in practice, and which it may not be

[2022-03-31 21:27] zepumph opened #384 "Convert ValidatorDef to typescript"
From https://github.com/phetsims/tasks/issues/1096, I ran into this because of https://github.com/phetsims/studio/issues/253, so I'm converting now.

[2022-03-31 22:12] zepumph commented on #384
Excellent! That was easier than expected. A lot of the unit tests are now covered by typescript, but I had a hard time deleting them, so I just kept them with ts-ignore statements. Closing.

[2022-03-31 22:12] #384 closed

[2022-03-31 22:53] pixelzoom commented on #382
I applied the above patch and reviewed. That looks like a readable way to address the needs of `addLinkedElement`.

[2022-04-01 03:01] samreid commented on #382
I applied the patch from above.  Not sure if this issue should be closed or left open for further discussion or PSA.

[2022-04-01 15:22] pixelzoom commented on #382
We probably need an issue to go back and change all the places where we were previously forced to use Property, and use IProperty or IReadOnlyProperty as appropriate.

[2022-04-01 15:25] pixelzoom commented on #382
.... for example, I'm going to clean up Geometric Optics in this issue: https://github.com/phetsims/geometric-optics/issues/416.   But there are definitely cases in sun/scenery-phet/joist that need to be revised.

[2022-04-04 18:27] zepumph opened #385 "Use assertion signatures in NumberProperty"
I noticed over in https://github.com/phetsims/axon/issues/358#issuecomment-1061325586 that @jonathanolson said:

But can we instead use assertion signatures instead?

https://www.carlrippon.com/typescript-assertion-signatures/

[2022-04-04 20:33] zepumph opened #386 "Remove NumberProperty.step?"
Over in https://github.com/phetsims/studio/issues/245 we got rid of sliders as a UI control for Properties in PhET-iO studio. This means that the `step` option is no longer used in studio. Should we remove this? Does it serve any other purpose? It isn't part of the validation when the NumberProperty is set, it is just part of the metadata when the instance is created. If it sticks around, it shoul

[2022-04-04 20:47] zepumph commented on #385
Actually, I prefer usages I see of asRanged() to using assertion signatures which require an argument.

[2022-04-04 20:47] #385 closed

[2022-04-04 20:48] zepumph opened #387 "NumberProperty typescript updates"
This file is not up to our standards. I'll update documentation, options pattern, and whatever else I see while I am here for https://github.com/phetsims/studio/issues/253

[2022-04-04 20:50] zepumph commented on #387
@samreid will you please take a quick look at the commits, and then the file and see if there is anything more to do?

[2022-04-05 17:19] pixelzoom commented on #382
In the above commit, I attempted to replace `Property` with `IProperty` where appropriate in sun and scenery-phet APIs.

[2022-04-06 13:14] samreid commented on #387
Great commits, thanks!  Some more questions about NumberProperty:

* I don't think PhET-iO state should be able to change whether a number is integer vs floating.  Can this be changed to private readonly?  Same for `step`.
[code]

* For step, should we use questionmark instead of `|null`?  It currently reads:
[code]

But should it be changed to read like so?  Same with `validateNumberAndRangePrope

[2022-04-06 14:10] samreid commented on #386
Removed, can you please review?

[2022-04-06 14:11] samreid commented on #387
Please also be aware of the removal of `step` in https://github.com/phetsims/axon/issues/386

[2022-04-06 14:15] pixelzoom commented on #382
@samreid There's still something missing from this API -- access to `tandem`.

General example:

[code]

`myProperty` if flagged with `TS2339: Property 'tandem' does not exist on type 'IProperty<boolean>'`.

Getting the tandem name from the element is a very common pattern that I've used everywhere. It ensures that the tandem name used for the link is the same as the element.  And it's essential w

[2022-04-06 14:20] pixelzoom commented on #377
It's been 30 days since we discussed deleting ReadOnlyProperty .  If ReadOnlyProperty is not going to be fixed, can we please remove it? More than once, I've accidentally ended up with `ReadOnlyProperty` when I wanted `IReadOnlyProperty`.

[2022-04-06 14:27] samreid commented on #382
Thanks, I committed a proposed fix.  Can you please review?

[2022-04-06 14:31] samreid commented on #377
I'll work on removing it momentarily.

[2022-04-06 14:32] samreid commented on #377
Removed.  Type checking and linting is passing locally.  There were no usages.  @pixelzoom can you please review?

[2022-04-06 14:34] pixelzoom commented on #382
Looks good, thanks.

I think the only thing left to do here is https://github.com/phetsims/axon/issues/382#issuecomment-1086037626.

[2022-04-06 14:35] samreid commented on #382
Thanks, it seems the next step for https://github.com/phetsims/axon/issues/382#issuecomment-1086037626 is discussion in dev meeting.

[2022-04-06 22:23] pixelzoom commented on #377
👍🏻

[2022-04-06 22:23] #377 closed

[2022-04-08 16:04] pixelzoom opened #388 "DerivedProperty does not have DerivedPropertyOptions and does not use optionize"
DerivedProperty does not have DerivedPropertyOptions and does not use optionize.  Since this is such a foundational class, this should be fixed immediately.  @samreid FYI.

[2022-04-08 19:39] samreid commented on #388
The new options pattern in DerivedProperty looks great, thanks.  Closing.

[2022-04-08 19:39] #388 closed

[2022-04-18 22:28] zepumph commented on #260
You can find all the "outer types" by case insensitive search here: `new IOType.*Property`

[2022-04-18 22:52] zepumph commented on #260
We hit this today over in https://github.com/phetsims/studio/issues/253#issuecomment-1101754581. It would be nice to solve this at some point soon. @samreid and I both don't really seem to have the bandwidth, but I'll co-assign him just in case.

[2022-04-19 15:00] samreid opened #389 "Review the in/out covariant/contravariant type parameter annotations"
In #370, we designed the Property interfaces to support covariant usages and I think that issue is at a good point.  TypeScript 4.7 Beta introduced a new feature that overlaps with that somewhat:

Optional Variance Annotations for Type Parameters
https://devblogs.microsoft.com/typescript/announcing-typescript-4-7-beta/#optional-variance-annotations-for-type-parameters

It allows you to specify `in

[2022-04-20 01:30] pixelzoom commented on #389
Thanks, I read the reference.  Variance annotations sounds like a feature to be used judiciously. It also isn't clear to me whether TS will prevent you from (for example) using the `in` annotation for something that is actually used as an output.

[2022-04-20 21:05] zepumph commented on #364
@samreid and I decided to remove validateOnNextFrame today. WorkaroundRange is a bummer, but in the future it may be best to have the ability to have a Property that holds the min/max/value altogether.

[2022-04-21 17:38] zepumph opened #390 "Rename ValidatorDef -> Validation"
From https://github.com/phetsims/studio/issues/253 and this file's recent rename.  The `*Def.js`  pattern is deprecated as a way to document types, now that we have a Typescript pattern. Instead lets name this `Validation.ts`

[2022-04-21 19:08] samreid commented on #364
Can this issue be closed?

[2022-04-22 00:56] samreid opened #391 "IReadOnlyProperty as an option doesn't support setting value on that Property"
Like https://github.com/phetsims/build-a-nucleus/issues/13 but for all repos

[2022-04-22 00:59] samreid commented on #342
Relates to #391

[2022-04-22 01:08] samreid commented on #391
I used this bad-text rule to find many occurrences:

[code]

However, changing `DerivedProperty.and` and `DerivedProperty.not` yields type errors in `PlayPauseStepButtonGroup.ts` related to `EnabledComponent`, which requires `IProperty`.  @zepumph can you please comment how we should deal with this in `EnabledComponent`?

[2022-04-22 17:15] jbphet opened #392 "getArrayCopy was removed from createObservableArray, but it was being used, and CT is failing"
In this commit the function getArrayCopy was removed from createObservableArray https://github.com/phetsims/axon/commit/5b5880392cbf8f827b1ef2b8e071ad975a54dde2.

This is causing CT failures, such as this one:

[code]

[2022-04-22 17:38] #392 closed

[2022-04-22 17:38] zepumph commented on #392
Good catch. Sorry about that. Looks like I deleted a newline

[2022-04-25 18:38] zepumph commented on #364
Sure!

[2022-04-25 18:38] #364 closed

[2022-04-25 18:48] zepumph commented on #386
This is great. Thanks!

[2022-04-25 18:48] #386 closed

[2022-04-25 19:13] zepumph commented on #387
It is @jonathanolson's code, and at one point I spent ~30 minutes poking around with other ideas and couldn't find anything. It doesn't bother me too much, but it is nice, when possible, to not defer to assumptions about runtime conditions.

Better code has been committed from https://github.com/phetsims/studio/issues/253

Everything else was committed. Anything else here?

[2022-04-25 22:52] zepumph commented on #390
Done above. I love it. Thanks for the idea @jbphet.

[2022-04-25 22:52] #390 closed

[2022-04-26 00:33] jonathanolson commented on #387
It's more descriptive and on the type-end. Mixins would presumably change the behavior. If we have a DerivedProperty or DynamicProperty, they can be massaged into the correct type.

[2022-04-28 23:33] samreid commented on #371
@jbphet and I ran into this again today.

[2022-05-02 16:24] jonathanolson opened #393 "PropertyStatePhase deprecation warning"
Came up in https://github.com/phetsims/geometric-optics/issues/402 code review:

[code]

@zepumph do you know if this would be difficult to convert?

[2022-05-02 19:31] pixelzoom opened #394 "Use StringEnumerationProperty for TypeScript string unions"
For https://github.com/phetsims/geometric-optics/issues/402, @jonathanolson added REVIEW comments to the cases where I'm creating a Property whose values are members of a string union.

For example, in GOOptions.ts:

[code]

I did not use `StringEnumerationProperty` because it was annotated as `@deprecated` by @samreid.

@samreid why is `StringEnumerationProperty` deprecated? It certainly looks li

[2022-05-05 21:15] pixelzoom commented on #394
Maybe I misunderstood.  But did we have concerns about type-checking if we move the first param to `validValues` option?  And the inconvenience of having to use `as const` for `validValues`?

[2022-05-06 01:39] samreid commented on #387
It seems this issue is ready to close.

[2022-05-06 01:39] #387 closed

[2022-05-06 17:22] pixelzoom commented on #394
In Optic.ts, `opticSurfaceTypeProperty` is an example of a StringEnumerationProperty that uses a subset of values from OpticSurfaceType.   I experimented with moving StringEnumerationProperty's first parameter (`values`) to a required `validValues` option, and discovered that `as const` was not needed.

[2022-05-09 21:25] zepumph opened #395 "Can Multilink/DerivedProperty infer the callback parameter types?"
@samreid and I ran into this while trying to figure out how to get rid of unused parameters in callbacks for DerivedProperty and Multilink (in https://github.com/phetsims/chipper/issues/1230). The current behavior is that you must provide the right types for the callback, because that is how the Parameter types are inferred. They aren't seeming to be inferred from the dependencies arrays (unfortun

[2022-05-09 21:27] zepumph commented on #395
Here is a snippet I made that gave me hope that Typescript itself is OK with provided less parameters for a callback. The issue seems to be about how the type inference is happening for Multilink. Furthermore Emitter is a great example of how we always provide the types, so perhaps that could be a worst-case.

<details>

[code]

[2022-05-09 21:29] zepumph commented on #395
Here is a snippet from stack overflow to help me see that we could create a tuple type of length N, but I didn't know if it would be possible to do that by inferring from a parameter type where all we know is that it extends `any[]`.

https://stackoverflow.com/questions/52489261/typescript-can-i-define-an-n-length-tuple-type

<details>

[code]

[2022-05-09 21:35] zepumph commented on #395
Here is our working copy trying to get a hard coded number of dependencies to work:

<details>

[code]
</details>

[2022-05-09 21:53] zepumph commented on #395
@samreid and I left this investigation thinking it would be good to create a minimal case and see if any typescript experts can assist with this challenge. Likely exactly what I want is impossible, something like this:

[code]

[2022-05-10 02:56] samreid commented on #395
There is an interesting example here:

https://stackoverflow.com/a/70568063/1009071

[code]
I don't know how it works, but I tried putting `| []` a few places in Multilink but couldn't get it working.

[2022-05-10 03:52] samreid commented on #395
This patch has correct inference of the type and supports an arbitrary number of parameters in the callback:

<details>

[code]

</details>

<img width="879" alt="image" src="https://user-images.githubusercontent.com/679486/167538226-adc84312-df6c-444a-a201-1a04cef6e381.png">

The cost of this approach:
* as mentioned in https://stackoverflow.com/a/63322898/1009071 we need to specify `as const` on

[2022-05-10 16:29] zepumph commented on #395
It was helpful to just refresh myself on const assertions for this https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-4.html#const-assertions

[2022-05-10 16:31] zepumph commented on #395
I personally really like the approach of having `as const` as the typing for Multilink and DerivedProperty dependencies. It is definitely a lot of of changing, but it also makes sense that that is how you infer the parameter types for the instance. It should not come from the callback. I'll take a look at the patch and report back.

[2022-05-10 16:43] zepumph commented on #395
All the ts-ignores seem to be because Array.map doesn't preserve the tuple-ness of Parameters. I am getting closer, but https://stackoverflow.com/questions/57913193/how-to-use-array-map-with-tuples-in-typescript is really helping me understand. I'll report back.

[2022-05-10 16:53] zepumph commented on #395
Ahhh, perhaps "Mapped Tuples" in https://stackoverflow.com/questions/51672504/how-to-map-a-tuple-to-another-tuple-type-in-typescript-3-0.

[2022-05-10 17:03] zepumph commented on #395
https://github.com/phetsims/axon/issues/395#issuecomment-1122642720 is making me optimistic that we can potentially do either, since it is mostly about converting between tuples of the same length, but different types. This is what we want to get from MappedProperties to Parameters, using Parameters for the callback and other items in the file.

[2022-05-10 17:39] zepumph commented on #395
@samreid, I'm not sure your solution or my further investigation here will work in it's current form. While it successfully knows when you pass it a good callback, it doesn't infer the parameter types of a parameter that doesn't have a type added to the callback:

![image](https://user-images.githubusercontent.com/6856943/167689330-d849e6d8-1a93-468f-8cc9-7eb3d40d5b34.png)

I still believe that th

[2022-05-10 17:52] pixelzoom commented on #382
... and go back and correct places where IProperty or IReadOnlyProperty should have been used?

[2022-05-10 20:36] samreid commented on #395
This patch has the following behavior:

<details>

[code]

</details>

### callback parameter types are inferred correctly
### arbitrary number of parameter types

<img width="669" alt="image" src="https://user-images.githubusercontent.com/679486/167716937-65f2c072-6226-4cef-a76f-185b7e6f32cc.png">

### Type error if you specify too many callback parameters

<img width="1171" alt="image" src="http

[2022-05-10 21:20] zepumph commented on #395
Very fun! Good on ya. I just used this code snippet to note that area model algebra has a multilink with 9 dependencies. I'm still running to get a grand total, but I could totally see a case where some crazy multilink needed to link to 50 Properties. Is that a deal breaker?

<details>

[code]

[2022-05-10 21:36] zepumph commented on #395
Expression Exchange has a multilink with 10 listeners.

[2022-05-11 00:06] samreid commented on #395
Maybe we should target 10 and cases that need more can use multiple multilinks, or use a ts-ignore?

[2022-05-11 15:45] zepumph commented on #395
I think we can update your patch to use a `Tuple` type instead of duplicating all those IReadOnlyProperties. I'll work on that now.

What about a runtime assertion for that number, and whenever anyone hits it, we just increase the number? And start it at 15 and chances are good that it will be a while before we do hit it.

[code]

[2022-05-11 21:10] samreid commented on #394
Here's a patch that makes `validValues` required:

<details>

[code]

</details>

It seems to be superior to having a required first arg. Want to commit it?

Type inference seems to work when specifying `options.validValues` instead of just `values`.

Anything else for this issue?

[2022-05-12 00:26] zepumph commented on #395
I made only minor improvements I believe. I think that we could use this, or perhaps expand it to factor out some of the duplicated code. The internet seem to be in alignment that the way to type a tuple from an array is the intersect it with `{ length: X }` for an X length Tuple.

`type MapToPropertiesTuple<TItem extends readonly any[], TLength extends number = TItem['length']> = [ ...MappedPrope

[2022-05-12 19:57] zepumph commented on #382
We discussed this as a whole dev team today. We are having trouble as the Property interface intersects with PhET-iO.

On one hand, if we have a Checkbox, PhET devs should pass a `Property` in there to decrease technical debt when we convert to PhET-iO (because it will have to be an instrumented Property). But that cascades all the way through to the model, and isn't necessarily that helpful to ex

[2022-05-12 22:58] pixelzoom commented on #373
We're not deleting StringEnumertionProperty, and in fact have updated it for TypeScript. See https://github.com/phetsims/axon/issues/394.  Closing.

[2022-05-12 22:59] pixelzoom commented on #394
I applied the patch, looks good in geometric-optics.

I noticed a note in CAVQueryParameters.ts, and changed the TODO to point to this issue.  Back to @samreid to decide whether to address it.

[2022-05-13 01:55] samreid commented on #394
Thanks, I removed the comment.  It seems this issue is ready to close.  Anyone please reopen if there's more to do.

[2022-05-13 01:55] #394 closed

[2022-05-14 18:39] samreid commented on #395
Some extensive changes on the way for Multilink.  Summarizing, and the benefits are also described in https://github.com/phetsims/axon/issues/395#issuecomment-1122835967

* Type safety for 15 dependencies.
* Type inference based on passed-in Properties.  I've updated many sims to take out the manually specified type parameters.
* Type inference on parameters in the callback.  I've updated many sim

[2022-05-14 18:45] samreid commented on #395
All changes pushed.

[2022-05-14 22:10] samreid commented on #395
Multilink and DerivedProperty complete.  From https://github.com/phetsims/axon/issues/395#issuecomment-1126792124, the remaining steps are:

Next steps will be:
- [ ] Review with @zepumph.  Including but not limited to using https://github.com/phetsims/axon/issues/395#issuecomment-1124405828 to simplify the tuples?
- [ ] Touch base in Dev Meeting

[2022-05-16 05:33] samreid opened #396 "Eliminate Validation.valueType and Validation.arrayElementType"
As noted in https://github.com/phetsims/studio/issues/253#issuecomment-1097511671, those parts are now checked by the type checker and not necessary for our validation engine.  This will prune 2 of the 7 current Validation keys.

@zepumph and @pixelzoom sound reasonable as a long-term goal?  (May be difficult to implement).  Or are there enough cases where we will wish we kept it.  Maybe after loa

[2022-05-16 05:50] samreid commented on #395
CT is showing errors like:

[code]

and
[code]

Which seem related to this issue.  Probably introduced an issue, but there is a small chance it may have uncovered a pre-existing issue.  I may need help on this part on Monday.  The changes in this file would not be easy to revert--alternatively, devs blocked by this issue may prefer to comment out parts of the `DerivedProperty.dispose` body, like `

[2022-05-16 15:27] samreid commented on #395
@marlitas and I pushed a proposed fix

[2022-05-17 15:34] zepumph commented on #396
Type checking across the PhET-iO featureset is really the only thing that worries me here. Let's really dive into what it is doing for us so we can see if it is valuable.

An IOType has a validator that is used in cases like when a Property value is set, when an emitter emits arguments, and other sim internal items. This in general seems like it is most likely now superfluous checking.

An IOType

[2022-05-19 15:59] pixelzoom commented on #396
Validation.arrayElementType looks like it only has a few usages, so might be reasonable to elminate in the near term.

Validation.valueType has many uses, not just for PhET-iO, and not just for the `valueType` option.  And TypeScript isn't going to make these usages redundant until the code is converted to TypeScript.   So examples like the Natural Selection usage mentioned in https://github.com/p

[2022-05-23 22:51] samreid commented on #395
Commits in the way to move things to Multilink.

[2022-05-23 23:01] samreid commented on #395
Latest checklist in case it gets hidden by commits: https://github.com/phetsims/axon/issues/395#issuecomment-1132032206

[2022-05-24 00:26] jonathanolson commented on #395
Fixed some aqua imports above

[2022-05-24 17:17] samreid opened #397 "Clear the deferred value"
In https://github.com/phetsims/mean-share-and-balance/issues/21, @marlitas and I saw there were stale deferred values.

[2022-05-25 15:54] zepumph commented on #395
@samreid, I see a couple of changes that may have broken the PhET-iO API. For example https://github.com/phetsims/joist/commit/4128a846f6b16567861be0bd2adbd99f369e3a69. Can you recommend how to proceed? I wasn't sure why we change PhET-iO metadata as part of this issue, but I also don't want to just revert things before discussing with you.

[2022-05-25 20:28] zepumph commented on #395
I'm really not sure about any way to improve this. I played around with a couple of changes, but it cascaded to a real headache. Thanks for doing all of this. It is awesome!

[2022-05-25 20:42] samreid commented on #397
I'm not aware of any problems being caused by this change, closing.

[2022-05-25 20:42] #397 closed

[2022-06-01 16:38] pixelzoom commented on #193
Reopening.

In Property.ts, we now have:

[code]

And that results in having to use the non-null assertion operator in cases like this:

[code]

So...  I agree that a read-only Property doesn’t need to have an initial value. But for mutable Properties (derived or otherwise) I don’t agree that the ability to reset has any relevance on whether the initial value is stored. Reset is not the only legit

[2022-06-01 17:04] jonathanolson commented on #193
Would `storeInitialValue` default to false for DerivedProperty (but true for Property in general)? If storeInitialValue is false, wouldn't this break the type system if we had `_initialValue: T`? Is the proposal to have `_initialValue: T` (and if so, we could error out if trying to access an un-initialized value?)

[2022-06-01 17:17] samreid commented on #193
The proposed patch would be something like this:

<details>

[code]

</details>

FractionLevel and MatchingLevel already have a sim-specific workaround for the memory issue.  Would more sim-specific workarounds be needed to accommodate this patch?

[2022-06-01 22:39] pixelzoom commented on #193
And if `initialValue` was removed from DerivedProperty and DynamicProperty to save memory, why is was it done for those 2 classes?  It seems like a general issue for Property and all of its subclasses.

[2022-06-01 23:06] pixelzoom commented on #193
@samreid and I did a live mini review of what he's working on.  His decoupling of Property and DerivedProperty (via AbstractProperty) looks nice.  I'm OK with not having initialValue in DerivedProperty.  We can deal with that if/when someone needs it.

[2022-06-01 23:07] samreid commented on #342
This issue came up today in the context of https://github.com/phetsims/axon/issues/193 and I have factored out AbstractProperty.  @jessegreenberg and @pixelzoom took a quick look at the proposal and agreed it is a good direction.  I have changes in 88 files so far, but there are still regressions indicated in multi-snapshot-comparison.html, so I'm not ready to commit yet.

[2022-06-02 01:33] samreid commented on #193
Sounds good, I'll put this issue on hold and continue in the related issue https://github.com/phetsims/axon/issues/342

[2022-06-02 01:56] samreid commented on #342
Also, `RangedMappedProperty` doesn't appear to have any usages so will be removed in this commit.

[2022-06-02 12:19] samreid commented on #193
Commits for https://github.com/phetsims/axon/issues/342 are pushed.

[2022-06-02 12:23] samreid commented on #193
In the commit, I removed the non-null assertion operator in MOTHA.  Heads up to @pixelzoom

[2022-06-02 12:29] samreid commented on #193
The last part mentioned is in DynamicProperty:

[code]

@pixelzoom and I discussed that it seems OK to omit initialValue from DerivedProperty, and I'm wondering if it would be OK to also omit from DynamicProperty.  I removed that code and related parts, and observed that the type checker passed, linting passed and multi snapshot comparison with stride=10 indicated no problems.  So I think I'll com

[2022-06-02 12:35] samreid commented on #342
After the commits, we have 12 TODOs labeled for this issue

[2022-06-02 12:41] samreid commented on #342
For the TODO labeled in DynamicProperty, I experimented with this patch:

<details>

[code]

</details>

But wasn't too confident about it.  @jonathanolson can you please advise?

[2022-06-02 16:01] pixelzoom commented on #193
Thanks for doing this work @samreid. Overall, this is a nice improvement to the Property type hierarchy.   I'm OK with DerivedProperty and DynamicProperty not having initialValue for now - we can address that if it's needed in the future. And having to use IReadOnlyProperty were appropriate is also a nice aspect of this change.

[2022-06-02 18:11] samreid commented on #193
We looked at initialValue at today's dev meeting, and agreed it seems reasonable.  @jonathanolson commented that removing initialValue from DynamicProperty seemed OK.  So we will close and continue in https://github.com/phetsims/axon/issues/342

[2022-06-02 18:11] #193 closed

[2022-06-02 18:17] samreid commented on #342
Assigning to @jonathanolson for review.  @zepumph do you have time in the next week or two to review the phet-io aspect and see if work is required before the batch release?

[2022-06-03 19:25] jonathanolson commented on #342
[code]

Is that for circular dependency issues?

[2022-06-03 19:27] jonathanolson commented on #342
Looks good, TODOs mark the things that look like they should be improved upon.

[2022-06-09 19:10] samreid commented on #382
Today we agreed to remove

[code]

[2022-06-09 20:14] samreid commented on #382
I made it very far on the recommendations from today, but ran into roadblocks from DynamicProperty.  Rather than abandon the work, I decided to commit and add ts-ignores.  @jonathanolson can you please search the codebase for `https://github.com/phetsims/axon/issues/382` to see the remaining problems, two of which are in density?

[2022-06-09 21:21] zepumph commented on #342
Let me know if you want additional review, but it looks like JO got to it.

[2022-06-29 03:49] samreid commented on #380
This appears fixed in the latest implementation of multilink.  I added that test code and saw it seemed to be type checking OK.

<img width="589" alt="image" src="https://user-images.githubusercontent.com/679486/176347338-f849eb92-e5b4-4f33-b89b-c3000002c498.png">

@zepumph can this issue be closed?

[2022-06-29 14:52] #380 closed

[2022-07-01 21:13] samreid commented on #375
I think this was fixed in https://github.com/phetsims/axon/issues/395, closing (but please reopen if I'm wrong).

[2022-07-01 21:13] #375 closed

[2022-07-01 21:14] samreid commented on #352
@jonathanolson do we still need this branch?

[2022-07-01 21:38] jonathanolson commented on #352
It seems useful to keep around if we continue work on it (seems possible).

[2022-07-07 19:37] pixelzoom opened #398 "Attempting to opt-out of instrumentation for NumberProperty rangeProperty results in failure"
If I have a NumberProperty that has no range, I'd like to opt-out of rangeProperty instrumentation, so that we don't have this in the Studio tree:

<img width="926" alt="screenshot_1760" src="https://user-images.githubusercontent.com/3046552/177857393-1eff906b-f444-42fd-976e-90d7ba5d5294.png">

Presumably `rangePropertyOptions` was provided as a way of (among other things) opting out. For example:

[2022-07-07 19:40] pixelzoom commented on #398
A couple of related questions:

(1) Is it desirable to require opt-out for NumberProperty instances that have null or static range?

(2) Have existing PhET-iO sims been checked, to see if there are any rangeProperty cases where opt-out is desired?

[2022-07-07 19:54] zepumph commented on #398
How about this patch?

[code]

[2022-07-08 03:26] samreid opened #399 "Review UnitConversionProperty and MappedProperty"
In https://github.com/phetsims/chipper/issues/1224 I simplified UnitConversionProperty to address optionize.  I noticed there were no usages. I had to ts-ignore the super call because ts was confused.  @jonathanolson can you please review UnitConversionProperty and MappedProperty, possibly as part of the upcoming TypeScript sprint?

[2022-07-09 02:34] samreid commented on #342
I addressed several TODOs for this issue.  The remaining two are for DynamicProperty and MappedProperty.  Assigning to @jonathanolson to collaborate on those parts, perhaps during the upcoming TypeScript sprint.

[2022-07-09 14:32] samreid opened #400 "Can we delete ReadOnlyProperty.valueOf?"
In https://github.com/phetsims/axon/issues/363 @zepumph said `Documentation is needed for the valueOf function`.  To me, it seems it should be deleted, but I wanted to check with @jonathanolson first.  @jonathanolson does it seem safe to delete `ReadOnlyProperty.valueOf`?

[2022-07-09 14:38] samreid commented on #363
Regarding the review in the preceding comment, as far as I can tell all those issues have been resolved in other work.

We no longer need the generic described in https://github.com/phetsims/axon/issues/363#issuecomment-965535469.

We have discussed Strategy B from https://github.com/phetsims/axon/issues/363#issuecomment-965443445 in dev meeting, it seems useful sometimes.

@zepumph and @pixelzoom

[2022-07-09 15:23] zepumph commented on #363
Not for me!

[2022-07-11 22:23] pixelzoom commented on #363
Me neither. Closing.

[2022-07-11 22:23] #363 closed

[2022-07-11 23:02] pixelzoom commented on #398
Here's a similar patch that's more consistent with other places where `tandem.supplied` is being checked.

But I can't apply this patch (or the one above) because it fails NumberProperyTests (unit tests).   There's more to be done here -- if `options.range` is a Property, then the tandem verification is different than if `this.rangeProperty` is create by NumberProperty.  The former case should req

[2022-07-13 18:15] jonathanolson commented on #400
I don't mind if it's deleted!

[2022-07-18 15:32] samreid opened #401 "ObservableArray.get should return type T, not T|undefined"
ObservableArray.get should return type T, not T|undefined.

Related to https://github.com/phetsims/tandem/issues/262

[2022-07-18 23:16] samreid commented on #401
Fixed, closing.

[2022-07-18 23:48] samreid commented on #400
Removed, closing. Tagging https://github.com/phetsims/tasks/issues/1111

[2022-07-18 23:48] #400 closed

[2022-07-19 17:29] zepumph opened #402 "Emitter deserves an interface"
@samreid and I discussed this today, and thought it was a bit weird to not have Emitter and TinyEmitter implementing an interface. This will at the very least keep their APIs in sync (they are almost identical currently but not quite, and we should work that out).

This is also helpful for the cases where Emitters are dependency injected, for example:

https://github.com/phetsims/phet-io/blob/917a

[2022-07-19 20:10] samreid commented on #402
Working progress:

<details>

[code]

</details>

[2022-07-20 15:41] samreid opened #403 "Can we get rid of getListenerCount?"
From https://github.com/phetsims/axon/issues/402, @marlitas and I would like to remove getListenerCount from the Emitter and Property interfaces.  Current usages seem to only be in tests.  Can we get rid of the tests?  If not, perhaps subclass and make that method public?

[2022-07-20 15:58] samreid commented on #402
@marlitas and I added `IEmitter` in the commit and converted declarations of `TinyEmitter` to `IEmitter`.  But despite yesterday's conversation about choosing the appropriate return/declare type, we thought in some cases it might be appropriate to look at declarations so the developer can instantly see it is the "low memory" variant even though details from that interface are not used.  Anyways, w

[2022-07-20 17:17] samreid commented on #402
This has been implemented and seems to be working well.  Some notes:

* We left `isDisposed` out of the interface since it differs dramatically between Emitter and TinyEmitter.  TinyEmitter only allocates space for that when assertions are enabled.
* We opened #403 to ask about getting rid of getListenerCount, which is only used in tests.

Outstanding topics for discussion:
* Should it be called I

[2022-07-20 19:01] samreid commented on #403
@zepumph said maybe use the classes instead of the IEmitter type here.

[2022-07-20 19:03] zepumph commented on #403
Ideally a test file should be tied to a class anyways, so using that specific class seems best. That said I have no nice ideas about how to keep this item on the class private when using it in tests, but I run into this all the time and I hate marking these fields as public.

[2022-07-21 19:03] zepumph commented on #391
@pixelzoom, @samreid and I found that Node.mutate was greatly facilitating a lack of type safety for allowing derivedProperties to be set into fields that were IProperty. Basically we have:

* visibleProperty option is a ReadonlyProperty
* setVisibleProperty takes an IProperty

So you could never call `myNode.setVisibleProperty( myDerivedProperty )`, but mutate allows us to bypass this via this li

[2022-07-21 19:08] zepumph commented on #403
How about this? It doesn't solve the general sentiment about wanting to use private items in tests. I would almost prefer hacking the types in tests, likely with `ts-ignore` statements, but that is likely not a universal preference across the team.

[2022-07-21 19:32] pixelzoom opened #404 "Revist the Property hierarchy"
The current Property hierachy has gotten really complex - so complex that I don't have a complete picture of it in my head.

It's also confusing.  In https://github.com/phetsims/chipper/issues/1281#issuecomment-1185933099 (Notes on bringing TS code up to the current standards) I said:

[2022-07-22 15:31] KatieWoe opened #405 "CT: should forward after set to DerivedProperty after dependencies change"
[code]

[2022-07-27 20:57] samreid opened #406 "DerivedProperty options not flagging excess properties"
@marlitas and I observed this code was not failing the type check:

[code]

Despite the excess properties at the bottom.  Perhaps something about the overloaded DerivedProperty constructor is confusing it.

[2022-07-27 21:22] samreid commented on #406
I found this is not a problem in some cases:

<img width="947" alt="image" src="https://user-images.githubusercontent.com/679486/181374741-1023b0da-7fef-4955-88cf-5d3f8f1882e2.png">

[2022-07-27 21:42] jonathanolson commented on #391
It seems like setVisibleProperty should take a ReadonlyProperty then, and that fixes this case, no?

[2022-07-27 22:13] zepumph commented on #391
But that isn't correct. You are allowed to set a property passed to a Node, so it still isn't correct.

[2022-07-29 17:26] jonathanolson opened #407 "Measuring maximum listener counts (and erroring out) for memory leak detection"
I'm adding a `?listenerLimit` query parameter, which (when assertions are enabled) should be able to help track down common memory leaks. I've run into this many times (I usually hack in code temporarily into TinyEmitter, then remove it), so it will be a very helpful permanent feature for me.

If you set `?listenerLimit=2000`, when the 2001st listener is added to ANY TinyEmitter (e.g. Property, et

[2022-08-01 15:53] zepumph commented on #402
Yes. That is totally right in my opinion.

 https://github.com/phetsims/chipper/issues/1287 is no longer blocking. We want to name the interface `Emitter` and name Emitter.ts to something else. What should that be?

We discussed this at a dev meeting. The public declaration should be an IEmitter if that is all users of the type need to know. The implementation can still be TinyEmitter.

[2022-08-01 16:53] samreid commented on #402
@marlitas and I reviewed `TinyEmitter`, `IEmitter`, `Emitter` and several usage sites and we recommend the following steps:

- [ ] Rename Emitter => PhetioEmitter. This makes sense because PhET-iO is the biggest difference compared to TinyEmitter (in terms of behavior, code complexity, memory footprint, etc.). PhetioEmitter extends PhetioDataHandler and in turn extends PhetioObject. So PhetioEmitt

[2022-08-01 21:14] samreid commented on #398
Here is a patch that says: if the range is instrumented, then the containing numberProperty must be instrumented as well.  The patch also remove the failing unit test, since we will now allow NumberProperty instances with uninstrumented ranges.  The patch also shows an example usage in a sim:

@zepumph what do you think?

<details>

[code]

</details>

[2022-08-02 05:02] samreid commented on #406
I sampled several `new DerivedProperty` instantiation sites with options, and could not trigger this problem.  I think it was due to the inconsistent callback signature, but that has been corrected in MSB by using `deriveAny`. Closing.

[2022-08-02 05:02] #406 closed

[2022-08-02 05:15] samreid commented on #405
Axon top level unit tests appear to be complete and clear in several recent columns.  Perhaps this issue can be closed.  @KatieWoe can you please double check?  Please close if CT seems clear on this problem.

[2022-08-02 05:22] samreid commented on #403
I removed `hasListeners` from the Emitter type alias.  Thankfully `getListenerCount` was already missing from the type alias.  I think it's OK that the concrete Emitter class has these extra methods, but it's nice to have them out of the type alias.  I also observed that ReadOnlyProperty has:

[code]

which is called many times in unit tests--but that's working because the unit tests are in *.js i

[2022-08-02 05:22] #403 closed

[2022-08-02 15:06] zepumph commented on #398
Excellent! I thought about going one step further and not instrumenting the rangeProperty by default, but I think that this is a bit clearer and simpler. Anything else?

[2022-08-02 15:46] #405 closed

[2022-08-02 22:46] samreid commented on #371
Fixed in https://github.com/phetsims/axon/issues/395, closing.

[2022-08-02 22:46] #371 closed

[2022-08-03 04:18] samreid commented on #369
Progress in issues like https://github.com/phetsims/axon/issues/342 and the recent TypeScript sprint.  Closing.

[2022-08-03 04:18] #369 closed

[2022-08-03 23:01] samreid commented on #383
I tried adding

[code]

and testing Geometric Optics, and it seemed like it was testing reasonable things.  But it didn't seem to add a lot of value beyond input fuzzing, and had incomplete coverage. For example, booleans weren't toggled on and off. Also, having to visit sites and opt-in to this level of testing seems like additional burden. Perhaps we should close this issue until a stronger need

[2022-08-03 23:43] samreid commented on #389
We applied a usage of this (incorrectly) in Joist as part of https://github.com/phetsims/joist/issues/783 and had some discussion as a team. Any more effort here can be done on-demand in the future when necessary.  Closing.

[2022-08-03 23:43] #389 closed

[2022-08-04 18:53] zepumph commented on #343
Is this a duplicate of https://github.com/phetsims/axon/issues/404?

[2022-08-04 18:53] zepumph commented on #404
Is this a duplicate of https://github.com/phetsims/axon/issues/404?

[2022-08-04 18:56] zepumph commented on #402
We discussed this at developer meeting today.

In general, we feel like the `Phetio` prefix for these central types is not the best choice. While that prefix means something to us, it isn't quite as valuable to describe these types to others (perhaps new members of the project).

We don't feel like this rename would be worth the cost. "bang for the buck" was said about 12 times during our conversa

[2022-08-04 19:03] zepumph commented on #407
There was a PSA at dev meeting today. @chrisklus and @samreid are out today. Please unassign yourself when you have ready this, and last person feel free to close.

[2022-08-08 21:06] samreid commented on #398
That seems good to me and I think this issue can be closed. Since the issue was opened by @pixelzoom it seems good to check in with him as well.

[2022-08-09 16:56] samreid commented on #260
Working copy patch:

<details>

[code]

</details>

[2022-08-10 22:34] samreid commented on #260
I'm ready to start committing this change.  Local unit tests, lint & type checking are passing. Spot checked sims are running ok in phet brand, phet-io brand and studio.  Aqua is looking good so far.

[2022-08-10 22:44] samreid commented on #260
All pushed.  Merge conflicts in 3 repos, all resolved.  This seems like a good change.  Will monitor CT for trouble, but closing for now.

[2022-08-11 17:48] zepumph commented on #391
Oops forgot to reassign.

[2022-08-12 21:30] pixelzoom commented on #398
Looks good to me. Closing.

[2022-08-12 21:30] pixelzoom commented on #398
Looks good to me. Closing.

[2022-08-12 21:34] #398 closed

[2022-08-12 22:55] samreid commented on #396
I eliminated `arrayElementType` and validator got a lot simpler.  There were only a few usage sites, which converted to `isValidValue` easily.  Perhaps someday in the future when more sims are TS we may have less of a need for `valueType`, but this issue seems good to close.

[2022-08-12 22:55] #396 closed

[2022-08-12 23:24] samreid commented on #402
I renamed IEmitter to TEmitter.  I checked for type annotations that should be changed and only saw one.

[2022-08-12 23:25] samreid commented on #402
I think this issue is ready to close.  @marlitas can you please spot check?  Close if all is well.

[2022-08-15 20:56] samreid opened #408 "PhET-iO Instrumented DerivedProperties should link to instrumented Dependencies"
From today's phet-io meeting, we discussed that PhET-iO Instrumented DerivedProperties should link to instrumented Dependencies.  This will help track back across all kinds of Properties, including the context of derived StringProperties for text.

[2022-08-15 21:01] samreid commented on #408
Here's a working Prototype that has several good examples in Geometric Optics:

<details>

[code]

</details>

[2022-08-16 03:02] samreid commented on #408
My first draft named them as `dependency1` etc, but that didn't seem stable, so next I tried naming the child dependencies based on the dependency tandems.  I used the same workaround @jonathanolson demonstrated by joining with commas. When I tried creating nested tandems, it looked awkward.

[2022-08-16 18:15] marlitas commented on #402
Did a quick spot check, and all looks good. Will add IEmitterListener & IEmitterParameter to our list in: https://github.com/phetsims/chipper/issues/1287
Closing.

[2022-08-16 18:15] #402 closed, assigned to marlitas

[2022-08-16 18:44] zepumph commented on #408
We had good luck with this! @samreid and I decided it would look cool to convert then entire phetioID of the dependency and replace the `.` for `-` and then next each under a `dependencies` tandem name. It is working well! We had to leave before I felt good enough for a commit. We should decide if this is the right of implementation detail to expose. We have migration rules that can support change

[2022-08-19 00:00] samreid commented on #408
I'll take the lead on this.

[2022-08-19 00:13] samreid commented on #408
I committed an implementation for this which seems to be working well. I almost abandoned it by considering that we don't want dependencies to end up in the API, but since they don't seem that operational (i.e. clients should not call `phetioInvoke` on linkedElements, perhaps it is OK.  If it causes API tracking headaches for detecting differences, we can re-evaluate.  @zepumph can you please revi

[2022-08-19 16:22] zepumph commented on #408
Seems reasonable to me, but don't we think that at some point LinkedElements will forward methods to their core elements?

[2022-08-19 21:07] samreid commented on #408
This proposal is failing when a dynamic element appears as a dependency.  In CCK DC studio, drag out a resistor:

It is looking for one with a dependency on resistor_0 in the archetype.  Possibly it needs to look for one here??

[2022-08-19 21:26] samreid commented on #408
In discovering this problem and writing up a working (but non-robust) solution, I considered whether we should abandon this feature, or opt-in to it. My current sense is that if we see a few additional problems of that nature we may need to abandon. But I'm ok to continue for now, but it would be great for @zepumph to review that problem and commit.

[2022-08-23 17:47] samreid opened #409 "Instrumented stateful Properties should only accept values from the state during state set"
@marlitas and I discovered this during working on Mean: Share and Balance and @zepumph says it sounds promising.  Instrumented stateful Properties should only accept values from the state during state set.

Hopefully we can get rid of all of the manual guards for `joist.isSettingPhetioStateProperty`

[2022-08-23 22:02] chrisklus commented on #407
PSA received, closing!

[2022-08-23 22:02] #407 closed

[2022-08-24 02:19] samreid commented on #409
This patch works great.  I was able to remove all of the `isSettingPhetioStateProperty` guards in Mean: Share and Balance and it still worked without any of the bugs those workarounds addressed.

<details>

[code]

</details>

Next steps:
- [ ] Discussion/review of that proposal with @zepumph
- [ ] Reviewing the 88 occurrences of `isSettingPhetioStateProperty` across around 25 repos and see which

[2022-08-24 16:27] samreid opened #410 "Separate BidirectionalDynamicProperty from DynamicProperty"
In https://github.com/phetsims/density-buoyancy-common/issues/74, I asked:

@jonathanolson replied:

@marlitas and I sketched out what BidirectionalDynamicProperty would look like, and it didn't exactly solve the problem from https://github.com/phetsims/density-buoyancy-common/issues/74 but we wanted to put a patch here in case we want to pursue BidirectionalDynamicProperty anyways.  We saw around

[2022-08-24 16:28] samreid opened #411 "ReadOnlyProperty should have isSettable: false by default"
@marlitas and I were shocked to see that ReadOnlyProperty specifies:

[code]

This sounds very incorrect.  We would like to change it to `false`.

[2022-08-24 16:50] marlitas commented on #411
Attempted patch.

<details>

[code]
</details>

[2022-08-24 17:29] samreid commented on #411
There was another incorrect value in DynamicProperty.  Fixed and local aqua is looking good so far, so I committed.  Closing.

[2022-08-24 17:29] #411 closed

[2022-08-24 18:53] zepumph commented on #409
I believe that you are on a great track! Thanks for implementing. I believe that many cases will indeed be fixed by this, but in general there are more stateful items than just Properties. We don't want to be adding/removing/mutating dynamic elements during state setting, or also updating observable arrays etc. So we will likely not be able to cover all usages.

For example these usages in Project

[2022-08-24 18:56] zepumph commented on #409
I made a couple of adjustments, ensuring the unguarded set was private. Looks great though! Committed above. Thoughts?

[2022-08-24 19:55] samreid commented on #409
After the commit, instrumented DerivedProperty instances cannot get updated during PhET-iO state set.  So I'll add a step for those to opt out.

[2022-08-24 21:28] zepumph commented on #409
Love it!

[2022-08-25 15:48] samreid commented on #408
Today @kathy-phet said that allowing LinkedElements to forward API calls would create too much API burden and complexity for migration support.  We do not have support for that but may reconsider it if it is important for a PhET-iO client.

[2022-08-25 21:47] #408 closed

[2022-08-26 22:15] samreid commented on #409
Here's a chip-away for the remaining cases.  The main rule:

* If there is a guard like `isSettingPhetioStateProperty.value` that is powered by an instrumented, `phetioState: true` Property that is not a DerivedProperty, then the guard can probably be removed.  The sim state should be tested before (to make sure it was already working OK) and after (to make sure it still works correctly after the

[2022-08-27 13:34] pixelzoom commented on #409
Self assigning to chip away.

[2022-08-29 22:29] pixelzoom commented on #409
Discussed with @samreid.  I'm relucant to remove `isSettingPhetioStateProperty` checks from existing code. First, the behavior of the guard that was added to `ReadOnlyProperty.set` is not equivalent -- listeners are still called once, so code that was guarded by `isSettingPhetioStateProperty` will be called once instead of not at all. Second, @samreid reported that he was only able to remove `isSe

[2022-08-29 22:31] pixelzoom commented on #409
In ReadOnlyProperty.ts:

[code]

Why are we not checking `this.equalsValue( value )` earlier in this method?  We may be deferring a value that is effectively a no-op.

[2022-08-31 20:31] pixelzoom opened #412 "PhET-iO problems with EnabledComponent"
Problems with EnabledComponent, encountered during https://github.com/phetsims/molecule-polarity/issues/145 while trying to instrument a DragListener.

(1) It duplicates the definition of `tandem` instead of getting it from PhetioObject:

`tandem?: Tandem;`

(2) Its other options are confusing, because Node has the same options, some with different types: `enabledProperty`, `enabled`, `enabledProp

[2022-08-31 20:39] pixelzoom commented on #412
Here's an example from TriatomicMoleculeNode.ts of how I need to instrument MoculeAngleDragListener.  Upon converting to TypeScript, I discovered that `phetioDocumentation` is not supported for DragListener and its subclasses.

[code]

[2022-08-31 20:45] pixelzoom commented on #412
Workaround in MoleculeAngleDragListener, see below. This blocks publication of molecule-polarity, unless designers want to punt on the phetioDocumentation.

[code]

[2022-08-31 22:29] samreid opened #413 "Can we eliminate some order dependency code now that Properties self-guard?"
https://github.com/phetsims/axon/issues/409 seems like another solution to the order dependency and inconsistent states problems.  Can we relax/remove any of the order dependency code now that https://github.com/phetsims/axon/issues/409 is in place?

@zepumph and I discussed it briefly.

[2022-08-31 23:18] samreid commented on #412
In the workaround, it is unclear to me how that `phetioDocumentation` would end up in Studio, since the DragListener is not instrumented.  Should we make DragListener extend PhetioObject?  Should EnabledComponent extend it too?

[2022-09-01 00:17] samreid commented on #409
@zepumph I'm unclear about whether the deferred value can be the same. What do you think?

[2022-09-01 02:56] pixelzoom commented on #412
There's no expectation that the the workaround will result in `phetioDocumentation` showing up in Studio.  It simply s that I don't need to delete `phetioDocumentation` at MoleculeAngleDragListener  instantiation sites. The documentation says:

... which is why this is blocking for molecule-polarity.

Yes, I believe that DragListener needs to extend PhetioObject.  I routinely need to extend Phetio

[2022-09-01 15:12] pixelzoom commented on #412
Same problem with molecule-polarity BondAngleDragListener, same "workaround".

[2022-09-02 19:22] samreid commented on #412
One more question before I begin on this, `EnabledComponent` has 6 direct subclasses and 1 instantiation site.  Should `EnabledComponent` itself extend PhetioObject, or only certain places like `DragListener`?

[2022-09-02 19:28] pixelzoom commented on #412
I'm not familiar with how EnabledComponent is used, and what it's intended to be used for.  And I suspect that the doc is stale, particularly:

Property?... I see it being used for things that are not Property (buttons, listeners, announcers,..) And while I may have missed something, I don't see it being used anywhere related to Property.

So... I don't know the answer to that question. If @zepump

[2022-09-03 02:42] samreid commented on #413
I tried commenting out large parts of `setDeferred`, `propertyStateHandlerSingleton` and `phetioDependencies` and in testing several sims, it seems like things still worked.  Gas properties state did not work (box width not correct in the state), but I reverted and saw that it also did not work.  Therefore, I think we should pursue this more.  Since the changes span many repos and any observation

[2022-09-03 03:01] samreid commented on #413
I tried these shutoff valves, and gravity and orbits worked ok:

<details>

[code]

</details>

However, natural selection failed with:

[2022-09-06 16:26] pixelzoom opened #414 "TReadOnlyProperty is not linkable"
Having to add `& LinkableElement` in cases like this seems unfortunate:

[code]

It seems like any "read-only Property" should be linkable, since writeability is not required for something to be a PhET-iO linked element. (It is required to be a PhET-iO element.)

I've had to do this in 9 places during pH Scale conversion to TypeScript https://github.com/phetsims/ph-scale/issues/242.

Probably low

[2022-09-06 19:37] zepumph commented on #412
I think much of the confusion here is about the object that is EnabledComponent. It is not meant to do anything but compose an enabledProperty that can be PhET-iO instrumented. It used to be a mixin, which provided the flexibility that I think @pixelzoom is desiring, but now it isn't, which has caused my to use composition with it in a variety of cases where I need multiple inheritance.

In this c

[2022-09-06 20:00] pixelzoom commented on #412
@zepumph said:

I'll leave it up to @arouinfar to decide whether DragListener (and PressListener) needs to be documented. My recollection is that we wanted to be able to document scenery input listener _in general_ bedcause Nodes often have more than 1 associated listener.

More specifically, in molecule-polarity, the following document as requested.  These sim like useful descriptions. And they a

[2022-09-06 21:49] samreid commented on #414
We currently have axon/js/LinkableProperty.ts:

[code]

Should we add `LinkableReadOnlyProperty`?  Some places like Checkbox require a writable linkable property.

[2022-09-06 22:19] pixelzoom commented on #414
Probably yes.  I still don't have a good picture of the "Property" class/type hierachy in my head. It's much too complicated. See https://github.com/phetsims/axon/issues/404

[2022-09-07 15:01] pixelzoom commented on #414
I just discovered that Properties in {repo}String.ts are of type `TReadOnlyProperty<string>`.   So I can't create a linked element for any translated string Property.   This is a problem in ph-scale, where you should be able to inspect the static Solute instances in `global.model.solutes` to find out how to change their name.

So Strings.ts needs to either use type `TReadOnlyProperty<string> & Lin

[2022-09-07 15:47] samreid commented on #414
I believe we can change the types in {repo}String.ts from `TReadOnlyProperty<string>` to `LinkableProperty<string>`.  They are already `DynamicProperty<string>` which already implements `LinkableProperty<string>`.  @jonathanolson or @zepumph sound good to you?

[2022-09-07 21:30] zepumph commented on #414
Yes sounds great to me. I was wondering how far we were going to get using the type instead of the actual Property hierarchy. There is no reason (in my opinion) to keep these as readonly, and instead we should rely on a keen eye from the dev team while using these in sims to narrow the type to readonly as needed.

[2022-09-07 22:00] pixelzoom commented on #414
I added a TODO linked to this issue in ph-scale Solute.ts.

[2022-09-07 22:13] zepumph commented on #260
Perhaps It would be worth a review over here. @samreid and I just noticed that we are no longer using NumberPropertyIO, which presumably has changed the API and needs to be fixed.

[2022-09-08 00:39] samreid commented on #260
I fixed the known issue in NumberProperty, over to @zepumph for a closer review.

[2022-09-08 00:47] samreid commented on #414
I was about to change `TReadOnlyProperty<string>` to `LinkedProperty<string>` in the simStrings.ts files, but wanted to double check first if we would prefer to just be specific and return `DynamicProperty<string, string, string>`?   `LinkableProperty` doesn't even know that it is a PhetioObject--maybe that interface is too restrictive. So perhaps `DynamicProperty<string,string,string>` is best fo

[2022-09-08 04:10] samreid commented on #382
In https://github.com/phetsims/density-buoyancy-common/issues/74 we established LinkableProperty which will work well here.

[2022-09-08 04:11] samreid commented on #382
I was able to address the remaining ts-ignore.  I think this issue can be closed.

[2022-09-08 04:11] #382 closed

[2022-09-08 04:25] samreid commented on #342
Since DerivedProperty no longer extends Property, I think this issue can be closed.  I'll move remaining work to side issues, then close.

[2022-09-08 04:27] samreid opened #415 "Review/adjust defaults for DynamicProperty type parameters"
In https://github.com/phetsims/axon/issues/342, we had a TODO:

[code]

[2022-09-08 04:28] samreid opened #416 "Review MappedProperty"
In https://github.com/phetsims/axon/issues/342 there was a TODO to review MappedProperty:

[code]

Reaching out to dev meeting to see if this is still necessary, and who has time for this.

[2022-09-08 04:30] samreid commented on #415
The defaults don't actually seem like they are being used much at the moment.  I tried removing the defaults and the type checker still passed.  I'm not sure what's best here.

Raising for dev meeting to ask: is this still important, and who should be in the subgroup?

[2022-09-08 04:31] samreid commented on #342
Issues created and TODOs moved.  Closing.

[2022-09-08 04:31] #342 closed

[2022-09-08 17:48] jonathanolson commented on #409
@samreid will document this.

[2022-09-08 17:49] zepumph commented on #409
We determined today that this was not worth the time to go back to change/remove this workaround. It also has a low rate of success (most aren't removed). As a result, we will document this nuance in PhET-iO doc, and try to be more sparring with usages of `isSettingPhetioStateProperty` in the future.

[2022-09-08 18:24] jonathanolson commented on #415
SR will remove the defaults

[2022-09-08 21:30] samreid commented on #373
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:30] samreid commented on #416
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-09 01:14] samreid commented on #373
I moved the sim-specific TODO to a sim-specific issue, closing.

[2022-09-09 01:14] #373 closed

[2022-09-09 04:49] samreid commented on #415
I removed the defaults.  We may want to adjust this when we start porting more JS sims that use DynamicProperty to TypeScript.  But for now perhaps it is OK to close.

[2022-09-09 04:49] #415 closed

[2022-09-09 04:56] samreid commented on #416
Fixed, closing.

[2022-09-09 04:56] #416 closed

[2022-09-10 00:06] pixelzoom commented on #414
I'm not familiar with why localized strings are of type `DynamicProperty`, and I've always steered clear of using it.  So I'm going to recue myself from the decision about what's "best for this case".   I just need to be able to create a linked element.

[2022-09-12 22:24] arouinfar commented on #412
I don't think listeners always need documentation, but there are definitely cases where it is useful, such as molecule-polarity. It seems like optional documentation would be helpful here.

[2022-09-12 22:32] pixelzoom commented on #412
Thanks @arouinfar. To clarify, phetioDocumentation is typically optional.  The problem here is that it's currently impossible to provide it, not even optionally.

[2022-09-16 21:42] pixelzoom opened #417 "DerivedProperty and Multilink types cannot be inferred when dependencies are computed."
DerivedProperty and Multilink have a similar problem when their dependencies are computed. For example:

[code]

The usage of `dependencies` on the 2nd line results in TS error:

I've also tried this, which results in the same error:

[code]

DerivedProperty and Multilink have multiple constructors, and the number of values in the first arg (`dependencies`) is used to infer type.  When `dependenci

[2022-09-16 21:43] pixelzoom commented on #417
The current implementations of DerivedProperty and Multilink are limited to 15 dependencies. In the above example, I could certainly have more than 15 atoms.

[2022-09-16 21:46] pixelzoom commented on #417
For 2 real-world examples of this problem, see equality-explorer EquationNode.ts, and the multiple `// @ts-ignore` comments related to `relationalOperatorMultilink` and `termsMultilink`.

[2022-09-17 02:54] samreid commented on #417
This kind of problem is best solved with `multilinkAny` which returns type `UnknownMultilink`.  Here is a working patch which demonstrates its use in EquationNode.ts:

<details>

[code]

</details>

For DerivedProperty, the analog is  `deriveAny` which returns `UnknownDerivedProperty`.

[2022-09-19 15:50] pixelzoom opened #418 "Document Multilink.multilinkAny"
There is currently no documentation for `Multilink.multilinkAny`, and the documentation for UnknownMultilink could be improved.  Some vergabe about when one might need to use them would be helpful.

[2022-09-19 15:51] pixelzoom commented on #417
Great thanks. I had no idea that Multilink.multilinkAny or UnknownMultilink existed.   The former has no documentation, the latter has inadequate documentation, see https://github.com/phetsims/axon/issues/418.

[2022-09-19 15:51] #417 closed

[2022-09-20 01:45] jonathanolson commented on #410
Seems like a good direction. Would it prevent TProperty with a non-bidirectional DynamicProperty?

[2022-09-20 01:48] jonathanolson commented on #414
LinkableProperty sounds great.

[2022-09-20 02:10] jonathanolson commented on #391
Similar to https://github.com/phetsims/scenery/issues/1446

[2022-09-20 02:12] jonathanolson commented on #391
Pending on https://github.com/phetsims/scenery/issues/1446, I believe it might be good to just set the setters all as taking read-only Properties, and we'll have runtime failures if those happen. @zepumph thoughts?

[2022-09-22 01:05] samreid commented on #412
I made some good progress on converting EnabledComponent to PhetioObject, but at runtime there are too many tandem collisions from newly instrumented things.

<details>

[code]

</details>

[2022-09-23 15:23] samreid opened #419 "Add graceful option for Property/Emitter"
In https://github.com/phetsims/phet-io/issues/1881#issuecomment-1255667686 we discussed that (at least for PhET-iO), `localeProperty` should behave gracefully when trying to set a non-existant locale.  If that behavior is also deemed acceptable for PhET brand, then it would make sense to add a Property option `graceful` which has the following behavior:

* Check `isValidValue` before setting the v

[2022-09-23 18:02] samreid commented on #419
@arouinfar and @kathy-phet and I discussed this today, and were surprised to see that

[code]

Ended up with x.value = 11.  Same with

[code]

We also discussed that a graceful method would take more CPU.  We could say that `graceful` only defaults to true for phet-io instrumented things.  Or maybe always defaults to `graceful: true`.  But @kathy-phet thinks the main benefit may be around phet-io.

[2022-09-26 17:55] pixelzoom commented on #414
This is now a requirement for https://github.com/phetsims/ph-scale/issues/246, and is blocking.

[2022-09-26 17:59] pixelzoom commented on #414
Also presumably blocking for https://github.com/phetsims/beers-law-lab/issues/292.

[2022-09-26 18:09] samreid commented on #414
I changed modulify, and I'll start adding commits soon.

[2022-09-26 18:19] samreid commented on #414
Implemented above, @pixelzoom can you please test in your context?

[2022-09-26 20:53] pixelzoom commented on #414
👍🏻 Working great in ph-scale and beers-law-lab. Thanks!

[2022-09-27 21:16] samreid commented on #418
After the commits, there is now documentation for `multilinkAny` `deriveAny` and `UnknownDerivedProperty` and `UnknownMultilink`. Some of the docs are terse, but I wasn't sure how to elaborate.  Ready for review.

[2022-09-27 21:19] pixelzoom commented on #418
👍🏻 closing

[2022-09-27 21:19] #418 closed

[2022-09-28 19:10] pixelzoom opened #420 "ValueType does not support abstract classes."
I ran into this during equality-explorer https://github.com/issues?utf8=✓&q=is%3Aopen+is%3Aissue+assignee%3Apixelzoom (convert to TypeScript), in the context of Emitter.

In Validation.ts, `ValueType` does not support abstract classes:

[code]

And the problem seems to be in the definition of `Constructor`.  From Constructor.ts:

[code]

Here is a minimal example:

[code]

[This Stackoverflow thre

[2022-09-28 19:16] pixelzoom commented on #420
In the context of `ValueType`, we're interested in being able to determine the type of the value, not in being able to call `new` on the constructor.  So while `Constructor` is likely useful and correct in other places that it's used, it does not seem like a good fit for `ValueType`.  So I don't think that the solution here is to modify Constructor.ts. The solution is likely to replace `Constructo

[2022-09-28 19:22] pixelzoom commented on #420
equality-explorer workarounds are shown in the above commit, https://github.com/phetsims/equality-explorer/commit/bda0a1514a4e34f3f15cb6b11c7b1c05dbeeaa40.

[2022-09-28 19:32] samreid commented on #420
I wrote this code to ask TypeScript what type an `instanceof` check must be against:

[code]

TypeScript replied:

Therefore, it seems appropriate to replace Constructor with Function in ValueType.  I'll do so momentarily.

[2022-09-28 19:37] samreid commented on #420
I updated ValueType and updated the occurrences that were using the `isValidValue` workaround, including in equality-explorer.  @pixelzoom can you please review?

[2022-09-29 13:48] pixelzoom commented on #420
I can now use `valueType`with abstrat classes in equality-explorer.  But since I'm not very familiar with with Validation.ts or this validation in general, I think that @zepumph should take a quick look.

[2022-10-03 16:03] samreid commented on #419
I'd also like to request @zepumph's opinion on this issue (even before we have performance data).

[2022-10-03 20:45] zepumph commented on #419
I'm unsure exactly what I'm commenting on. In built versions when assertions are not enabled, we have long had the philosophy to do the best we can, so the example in https://github.com/phetsims/axon/issues/419#issuecomment-1256516874 makes sense if validation isn't occurring.

If we want to have a property where we turn validation off, don't we already have that ability by just using a Property w

[2022-10-03 20:52] zepumph commented on #420
I am pretty sure that https://github.com/phetsims/phet-io/commit/546046240fe6f47ce5c122da8b1297239cafb698 will cause problems, as that global may not be available at load time. That is why I remember making a closure around it.  Otherwise this all makes sense to me.

[2022-10-04 22:36] zepumph commented on #391
That is fine with me! What about the getters though? Do we want to support settable as return values still?

[2022-10-04 22:45] zepumph commented on #260
https://github.com/phetsims/axon/blob/81f8b66cfc1186bdb6592c4585e22557041afa3e/js/ReadOnlyProperty.ts#L146

This seems like the most important part of the code, to catch future issues.

What do you think about this patch?

[code]

[2022-10-06 16:35] jonathanolson commented on #391
We would have getters return the "settable" type presumably.

[2022-10-06 16:35] jonathanolson commented on #391
We would have getters return the "settable" type presumably.

[2022-10-06 16:52] jonathanolson commented on #358
@samreid I was assigned here. Is there anything I should do?

[2022-10-06 17:22] zepumph opened #421 "Convert remaining files to typescript"
There are multiple tests and smaller files that are still in javascript. I would say we don't need to convert any files that are deprecated, like  EnumerationDeprecatedProperty and its tests.

[2022-10-07 03:36] samreid commented on #260
I liked the recommendation so much, I went ahead and committed it.  Anything else to do for this issue?

[2022-10-07 03:56] samreid commented on #420
Great point!  I reverted that and didn't see any other occurrences.  Closing, but @zepumph or @pixelzoom please reopen if there's more to do.

[2022-10-07 03:56] #420 closed

[2022-10-07 04:58] samreid commented on #410
This proposal seems reasonable but also like a lot of work.  I don't think it is a priority at the moment.  Unassigning for now.

[2022-10-07 17:57] samreid commented on #412
@marlitas and I investigated this, and produced this patch:

<details>

[code]

</details>

Note this patch includes the new API for gravity and orbits.  This patch does the following:

* In many (all?) Button classes, creation of the buttonModel is now `tandem.createTandem('buttonModel')` instead of `tandem: tandem // pass through the parent tandem to hide the implementation detail and make it lo

[2022-10-07 21:46] zepumph commented on #412
Wanna talk on Tuesday. I am pretty firmly in the "buttonModel is an implementation detail" camp, but I don't think I quite understand why it is valuable to instrument it directly for enabledComponent.

[2022-10-07 22:54] samreid commented on #412
Jotting down some notes to streamline our talk on Tuesday.

ButtonModel extends EnabledComponent. If EnabledComponent is changed to extend PhetioObject, then we cannot safely pass tandem and other phet-io metadata to ButtonModel (without collisions).  We create a lot of buttonModels like `buttonModel = new MyButtonModel(tandem: tandem)` so it thinks it has the same tandem as the parent Button.  Th

[2022-10-10 20:20] samreid commented on #358
It's unclear to me whether we have addressed all of @pixelzoom requests, or if we will need something like DynamicPropertyIO as discussed in https://github.com/phetsims/axon/issues/358#issuecomment-891127785.

[2022-10-10 21:39] samreid commented on #419
Results of 1st experiment, copy/pasted from excel.  Times are in milliseconds, smaller is faster=better.

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=

[2022-10-10 22:27] samreid commented on #419
Here is the same test but with built sims.  Surprisingly, the mean for the guarded code is faster, but not statistically significantly so:

### Built Gravity and Orbits, assertions are stripped out, Mac OS/Chrome
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

[2022-10-10 22:31] samreid commented on #419
I observed that gravity and orbits is running that validation 2330 times during startup.  But it is running many more times during animation and interaction.  Animating gravity and orbits for 10 seconds runs that validator 23600 times.

[2022-10-10 22:50] jonathanolson commented on #358
I definitely don't know what the desired behavior would be for a DynamicPropertyIO.

[2022-10-11 00:01] samreid commented on #419
Sampling over 35000ms in a built debug version of gravity and orbits, it says 68ms were sampled in getValidationError.  That is 0.2% of the total time.  I'm feeling that is an acceptably low level.  I feel this issue is at a good point to check in with @zepumph, perhaps at an upcoming zoom meeting.

[2022-10-11 03:57] samreid commented on #343
Yes, that issue is solving the same problem and shows much more progress.  Closing, but anyone including @pixelzoom feel free to reopen if there are remarks above that still need attention.

[2022-10-11 03:57] #343 closed

[2022-10-11 19:31] samreid commented on #419
@zepumph and I wrote this patch, we like the PropertyIO guard and want to do the same for EmitterIO.

<details>

[code]

</details>

[2022-10-20 20:06] zepumph commented on #391
Waiting for feedback over in https://github.com/phetsims/scenery/issues/1446 to continue here.

[2022-10-21 12:45] pixelzoom opened #422 "Document IOTypeOptions"
I'm trying to create an IOType in equality-explorer. I'm trying to understand the `supertype` options. And it doesn't help that not a single option for IOType is properly documented.  Did we not agree to document options in their type definitions?

[code]

[2022-10-21 18:52] samreid commented on #414
Do we need a LinkableReadOnlyProperty?

[2022-10-23 19:56] pixelzoom opened #423 "Why does NumberProperty with `range: null` have instrumented `rangeProperty`?"
Related to instrumentation of equality-explorer https://github.com/phetsims/equality-explorer/issues/192 and other PhET-iO sims ...

I often have a NumberProperty that has no range. And in those cases, I get a default `rangeProperty` that is instrumented, has a `null` value, and is `phetioReadOnly: true`.

For example:

<img width="787" alt="screenshot_1937" src="https://user-images.githubusercont

[2022-10-24 03:19] pixelzoom commented on #423
Maybe this is a complicated way to telling the user that "this Property has no range".  If that's the case, I think it would be preferrable to simply not instrument `rangeProperty`.  And if a NumberProperty has no rangeProperty, then it should be clear that it has no range.

[2022-10-24 14:25] samreid commented on #423
@zepumph, you have more experience in this area, can you please advise?

[2022-10-28 18:34] arouinfar commented on #423
No, not that I'm aware of. I've asked for a `rangeProperty` to be a particular range, but I've never explicitly asked for a `null` range.

I vaguely remember @zepumph mentioning that `rangeProperty` had been over-instrumented at some point and it was being scaled back. (But I could be wrong.)

[2022-11-01 23:31] samreid commented on #423
@zepumph said if the default value for range is null, skipping the rangeProperty instrumentation sounds good.

[2022-11-01 23:57] pixelzoom commented on #423
I've been working around this in equality-explorer Variable.ts like this:

[code]

[2022-11-03 01:45] samreid commented on #423
I committed a proposed solution, @zepumph or @pixelzoom does that look correct to you? If so, @pixelzoom would you like to visit your workarounds like https://github.com/phetsims/axon/issues/423#issuecomment-1299371146 to remove them?

[2022-11-03 13:49] zepumph commented on #423
Looks great Thanks.

[2022-11-03 14:44] pixelzoom commented on #423
I see a problem. `options.rangePropertyOptions` should always be applied. But it is now (silently!) ignored if `options.range` is `null`.  This makes it impossible to optionally instrument `rangeProperty` when it's initial value is `null`, and I intend to set its value to non-null later.

For example `rangePropertyOptions` is ignored in this example, and I end up with an uninstrumented `rangePrope

[2022-11-03 14:46] pixelzoom commented on #423
From my original comment:

So perhaps the correct answer is: Yes, this was a design decision, but not sufficiently documented.  And if you have a range that will always be null, then you should opt-out with rangePropertyOptions: { tandem: Tandem.OPT_OUT }.

[2022-11-03 14:48] pixelzoom commented on #423
@samreid @zepumph let's hope on a quick Zoom call to decide what to do here. It will save some back-and-forth.

[2022-11-03 16:42] zepumph commented on #423
I totally agree with you. @pixelzoom, ignoring some of the Tandem.VALIDATION improvements I snuck into this commit, do you like this sentiment better?

[2022-11-03 22:06] zepumph commented on #409
Doc updated. Closing

[2022-11-03 22:06] #409 closed

[2022-11-03 23:44] pixelzoom commented on #423
Very nice, thanks.

I've removed the workaround for equality-explorer in the above commit.

Closing.

[2022-11-03 23:44] #423 closed

[2022-11-04 01:31] pixelzoom opened #424 "CT: PropertyStateHandler: Order dependency between NumberProperty and its Range failed"
Probably related to changes to NumberProperty rangeProperty that were made in https://github.com/phetsims/axon/issues/423.  This CT error seems to have started immediately after those changes were made:

[code]

This is down in PhET-iO, and I don't understand what an "order dependency" is in the context of PropertyStateHandler.  So assigning to @zepumph and @samreid.

[2022-11-04 23:09] samreid commented on #424
Fixed, closing.

[2022-11-04 23:09] #424 closed

[2022-11-09 16:53] samreid commented on #419
@marlitas and I implemented this yesterday and felt reasonably confident about it, so we committed it to master.  We followed the precedent from the patch about leveraging phetioType validation where possible -- we were less certain about that part.  @zepumph can you please review?

[2022-11-10 20:59] zepumph commented on #391
All is good over in https://github.com/phetsims/scenery/issues/1446, I'll update here too.

[2022-11-10 22:55] zepumph commented on #391
Excellent! Thanks @jonathanolson. You can pass DerivedProperties into Node and Text property setters.

[2022-11-11 23:32] marlitas commented on #421
PropertyStateHandler unit tests are giving me some problems. This patch is passing tsc, but not QUnit, and I am not sure how to move forward. Requesting help from @zepumph when he has the chance.

<details>

[code]
</details>

[2022-11-14 18:47] marlitas commented on #421
@samreid helped me address the problems I was coming up against, and I can continue to move forward on the Axon conversion. Thanks @samreid! Un-assigning @zepumph until the rest is done and ready for review.

[2022-11-15 18:35] #391 closed

[2022-11-25 20:47] zepumph commented on #419
RE: https://github.com/phetsims/tandem/commit/112e3b29a8d3e0d5c759981870466fa0252923d1#diff-33850d210557136dc4ace95e99c3236a9016399cf89e8ca1a05a789e412998daR189

would it be better to emit4 and return [ error, null, null, error], or [error, error]? In PhET-iO we decided the first one for giving errors/returnValues back to the wrapper. I believe that is more clear.

I'm worried that there is no "op