[2013-06-06 23:22] pixelzoom opened #1 "delete addObserver/removeObserver, after replacing use sites with link/unlink"

[2013-06-07 16:56] samreid opened #2 "should we add event channels, like 'on' and 'trigger'?"
Backbone and jquery have nice event channel patterns that we may wish to integrate into PropertySet.  Let's discuss.

[2013-06-11 20:32] jbphet opened #3 "Add capability for finer grained event observation on observable arrays"
As of this writing, observable arrays only support monitoring of all changes, and not of individual events such as item added, item removed, array cleared.  Finer grained resolution would simplify code and potentially improve performance.

[2013-06-14 05:17] #2 closed, assigned to nobody

[2013-07-12 03:31] #1 closed, assigned to nobody

[2013-08-22 16:44] pixelzoom opened #4 "ObservableArray has no reset"
The client currently has to keep track of the initial state of the array, perform a clear, then reinitialize the array.  This should all be handled by ObservableArray, similar to Property.

[2013-09-04 21:25] pixelzoom opened #5 "rework ObservableArray"
After more experience with ObservableArray, I'm really not digging the listener interface. A listener has the form function({Array}added, {Array}removed, array ).  But one of added or removed is always null, and there is never more than 1 item in the arrays.  But I can rely on this in client code, so I'm having to write boilerplate in every callback that iterates over 2 arrays.

Proposed new inter

[2013-09-07 17:37] samreid opened #6 "Experiment with allocation-free messaging"
In axon, if you want to have a 2d-position property you would traditionally use a Property instance wrapped around a Vector2 (possibly created with PropertySet).  Normally we would create a new Vector2 and set it to the PropertySet to fire notifications, but this requires allocating a new Vector2 (unless pooling was used).  An alternative that @jonathanolson suggested would be to mutate the existi

[2013-10-06 04:08] samreid opened #7 "ES5 Getters sometimes return different values than property.get()"
In https://github.com/phetsims/forces-and-motion-basics/issues/55 we observed that sometimes calling object.someProperty.get() returned different values than just object.some.  It is not clear what is causing the problem (could be something specific to Forces and Motion: Basics or more general) and where else the problem may manifest.

[2013-10-10 20:09] #3 closed, assigned to nobody

[2013-10-17 22:10] pixelzoom opened #8 "review TODO items in code"
Review the 22 TODOs in source code, including 9 in PropertySet. Address them, or make GitHub issues.

[2013-10-31 21:28] samreid opened #9 "remove model logging"
In the future we are planning to do sim event data collection through input recording, not through model recording.  So that should be removed, and this ticket can be a paper trail for if we ever need to find it again easily.

[2013-11-01 01:32] #9 closed, assigned to nobody

[2013-11-01 01:37] samreid opened #10 "Deep comparisons like .equals for Property values?"
Currently, property values send notifications if newValue!==oldValue.  But this could send a false positive when the value didn't truly change.  For example if setting

[code]

that will send two notifications, because the 2nd Vector2 !== the 1st Vector2.  We may wish to implement .equals() functions for comparing instances.  However, this would increase the complexity of implementation for values

[2013-11-01 02:22] samreid opened #11 "Implement DerivedProperty based on Property.js"
DerivedProperty is loosely based on Property.js, but could extend it to get all its functionality and stay in sync.  We may have to rename the set() method but I think it could be made to work.

[2013-11-01 05:22] #8 closed, assigned to samreid

[2013-11-01 05:31] #4 closed, assigned to nobody

[2013-11-01 05:34] samreid opened #12 "Modify Property.js so that it can be mixed in or used in core classes like Vector2"
At a recent developer meeting we discussed modifying Property.js so that it can be mixed in or used in core classes like Vector2, to support allocation-free messaging as discussed in #6 .  @jonathanolson said he had some ideas about how to proceed with this.

The main reason for this idea is so that the listener pattern can be used easily and uniformly without requiring new allocations each time a

[2013-11-01 05:44] samreid opened #13 "Don't allocate listener array before sending notifications"
As discussed in a recent developer meeting, we could skip allocation of the listener array when sending Property.js notifications.  It seems the fastest way would be to maintain two lists and sync after the set method if one changed.
Flag 1. Are you in an iteration over observers flag (true in slice and false after the loop).
Flag 2. Was the observer list modified during the loop traversal
Central

[2013-11-01 15:37] samreid opened #14 "Too many listeners getting removed"
@dkras said:

Our developer has a question regarding an issue we have in the Friction app.
He believes that the bug is caused by an issue in the underlying framework Axon.
The issue is due to the way the listeners to the model changes are being removed from the active list.
The particular line of the code is in the file  https://github.com/phetsims/axon/blob/master/js/Property.js
 120) this._obser

[2013-11-01 16:07] #14 closed, assigned to nobody

[2013-11-03 21:58] samreid opened #15 "Sims don't launch on IE10 or Firefox"
Sims are crashing on IE10, just showing the splash screen, and showing this error message:

[code]

It is referring to this line of code:

[code]

However, the source line is:

[code]

Perhaps the argument was trimmed out during compilation?

[2013-11-06 00:41] #15 closed, assigned to samreid

[2013-11-06 23:04] #12 closed, assigned to nobody

[2013-12-03 21:42] samreid opened #16 "Allow access through propertySet.property('propertyName')"
Currently when a PropertySet is created with a Property called, say, 'mass', the mass property can be accessed as `propertySet.massProperty`.  This shows up in IDEA as an unknown variable, and cannot be navigated to.  However, if we made the getter work like `propertySet.property('mass')` then it won't be marked as an undefined var and you can use navigation to navigate to the source.  Should we d

[2013-12-18 21:54] samreid opened #17 "Make it possible to use Events independently of PropertySet"
Make it possible to use Events independently of PropertySet

[2014-01-15 22:13] samreid opened #18 "Make it possible to pass "part" of a model"
An issue that comes up in code reviews is that passing an entire model to a dependency breaks encapsulation, and only the necessary parts should be passed.  We can provide support for this in axon.Events by creating a method that passes a reduced Events interface, so that the dependent class won't have access to the entire Events.  Something else may be possible for PropertySet.

[2014-01-29 21:26] samreid opened #19 "Add PropertySet.get or equivalent"
PropertySet has a set function to set multiple values at once, and it would be good to have a get function to get all state in a JS object (e.g., for serialization).

[2014-03-09 16:45] samreid opened #20 "Should listeners be the 'this' in callbacks?"
In https://github.com/phetsims/balancing-act/issues/7 @jonathanolson pointed out code like this is being used:

[code]

Which causes a problem on the last line since the this is not the function.  The current solution is to use a named anonymous function:

[code]

But we could also consider adding support to axon and other listener patterns to make `this` be the listener function.

[2014-03-14 04:40] samreid opened #21 "undefined in derived property"
@jonathanolson reported:

FAMB is throwing an assertion for:

[code]

in GoPauseButton.The last line causes setVisible( undefined ) to be called, because the derived property is undefined (hasn't been initialized yet).

[2014-03-14 21:28] #21 closed, assigned to nobody

[2014-03-14 21:29] #20 closed, assigned to nobody

[2014-03-14 21:30] #18 closed, assigned to nobody

[2014-03-14 21:33] #11 closed, assigned to nobody

[2014-03-14 21:55] #16 closed, assigned to nobody

[2014-03-17 18:38] pixelzoom opened #22 "should derived properties be updated before observers are notified?"
This came up in the context of https://github.com/phetsims/ph-scale/issues/40.

Would it be generally useful if derived properties were updated before notifying general observers? That would ensure that derived properties had been updated and weren't 'stale' if consulted by the observers.

[2014-03-18 16:37] #22 closed, assigned to nobody

[2014-03-24 16:51] pixelzoom opened #23 "Property has no unlinkAttribute"
This came up in acid-base-solutions.AcidBaseSolutionsAbstractModel, where observers are rewired when the solution changes.  We'd like to use linkAttribute to link to strength and concentration, but there is no unlinkAttribute. So the implementation resorts to using functions.

[2014-04-02 13:54] samreid opened #24 "Rename derivedNot to not"
In order to match the naming of other higher order Property derivations such as and, or, I recommend to rename derivedNot to not, and rename what is currently not to invertibleNot or something, so all of the non-invertible properties will have the same naming conventions.

[2014-04-11 04:11] samreid opened #25 "Rename map to mapValues"
I think the more general map function that would be useful in axon.Property take a function as an argument rather than a lookup table.  I recommend to rename `map` to `mapValues` and adding a function map as the new `map`.  Another possibility would be to overload `map` to take a function or options hash (based on input type), but it is usually our convention to avoid that, thinking that may save

[2014-04-14 22:03] pixelzoom opened #26 "repository has no LICENSE file"
I would add one, but I'm unclear what's going on with licenses. Looks like common-code repos have a different license than sims.

[2014-04-16 16:16] #26 closed, assigned to nobody

[2014-04-30 05:24] samreid opened #27 "Add a listener for when Emitter listeners are added or removed"
For scenery, it is important to receive callbacks when events listeners are added or removed.  For now, this feature is implemented in scenery using a custom solution, but we wanted to create this issue in case it makes sense to add this feature into axon in the future.

[2014-04-30 05:32] samreid opened #28 "Rename notifyObserversUnsafe to notifyObserversStatic in Property"
To match naming conventions in axon.Events, we decided to rename notifyObserversUnsafe to notifyObserversStatic in Property.

[2014-04-30 05:35] #28 closed, assigned to nobody

[2014-06-06 00:19] pixelzoom opened #29 "add support for registering an observer with multiple Properties"
PropertySet.multilink provides this functionality, but if your Properties aren't part of the same PropertySet (or any PropertySet), you're out of luck.

It was suggested that I look at using (@static) DerivedProperty.multilink. A couple of problems with that. I don't need or want a DerivedProperty, and the observer function is not going to return a derived value. So this feels like an abuse of Der

[2014-06-06 00:22] pixelzoom opened #30 "DerivedProperty.multilink is abusive, should be deprecated"
See #29.

[2014-06-16 23:16] jbphet opened #31 "Property.once can be fired multiple times if the observer triggers other changes to the property"
The Property.one function doesn't unlink the observer until after it fires it, which means that if the observer causes some action which triggers another change to the property, the observer can get fired again.  It would be better to first unlink the observer and then invoke it so the observer doesn't end up getting called multiple times.

For reference, this issue was discovered while working on

[2014-06-18 05:43] samreid opened #32 "Axon listeners could provide support for binding to thisArg"
In LineFormsGraphNode.js I saw this usage:

[code]

We could potentially add support to axon for the binding argument.  The above case could be made to read like so:

[code]

However, I don't know how prevalent this binding pattern is, or if it would need to be applied to other kinds of link/multilink/lazy/etc.

[2014-09-30 00:04] samreid opened #33 "Performance testing for the arch branch"
We'd like to merge the arch branch to master, but are concerned that it could decrease performance.  We need to test the performance of the arch branch and compare it to master branch.

[2014-09-30 04:47] samreid opened #34 "Review the arch branch and see if it is ready to merge to master"
Performance tests do not seem like the arch changes will slow things down (when phetEvents.active = false).  The performance test results #33 were high variance, but there is a guard on every phetEvents message and that may be sufficient.

So I think this is a good time to perform a larger review of the arch implementation and see if it is suitable (a) for master and (b) if the design seems scalab

[2014-09-30 21:24] #34 closed, assigned to pixelzoom

[2014-10-01 23:17] jbphet opened #35 "Add data collection in support of UCB study using Balancing Act"
UCB is requesting support for a study where they collect data on student usage.  This ticket is primarily for tracking commits.

[2014-11-19 21:17] #25 closed, assigned to samreid

[2014-12-05 09:52] samreid opened #36 "Add support for summarizing Properties and how many observers they have"
In https://github.com/phetsims/reactants-products-and-leftovers/issues/18, @pixelzoom said:

Suggestions for an API?

[2014-12-09 21:07] pixelzoom opened #37 "memory leak in DerivedProperty"
DerivedProperty.detach does this:

[code]

But it neglects to clear the arrays this.dependencies and this.dependencyListeners. Both of these contain references to the derived properties (through a function closure in dependencyListeners). So while the observers are unlinked from the derived properties, the derived property still holds references to the properties that it's derived from.

Here's an

[2014-12-09 21:53] pixelzoom opened #38 "rename DerivedProperty.detach to dispose?"
I've been following the scenery/scenery-phet/sun convention of using `dispose` as the name of the function that does cleanup at the end of an object's lifetime.  Should we rename `DerivedProperty.detach` to `dispose`, so that it's consistent with this naming convention? (And rename similarly for other AXON APIs.)

Assigning to @samreid as the author of DerivedProperty.detach, but other developers

[2014-12-15 16:47] #37 closed, assigned to pixelzoom

[2014-12-30 14:16] AshrafSharf opened #39 "convenience methods on Property"
The PropertySet object treats all its members as plain Property items, because of this we couldnt use NumberProperty methods such as __lessThanNumber__ and __greaterThanNumber__. This limitation is forcing us to explicitly define many such NumberProperty members on a Object that already extends PropertySet. It would simplify the make the code consistent If __lessThanNumber__ and __greaterThanNumbe

[2015-01-05 22:55] pixelzoom commented on #36
This would be a good topic for a developer-meeting discussion.

And idea (but no concrete suggestion for how to implement it):
- add a global AXON flag that enables debugging
- for every 'link' that occurs, record a stack trace
- for every 'unlink' that occurs, delete the associated stack trace
- provide a way to print out how many links exist (coarse means of seeing if this continues to go up)
-

[2015-01-06 18:21] samreid commented on #39
We discussed this at today's developer meeting.  It looks like the majority of usages of DoubleProperty.java and IntegerProperty.java are in Sugar and Salt Solutions and Fractions Intro.  For the reasons @pixelzoom described above, we concluded that Property.js should *not* contain the convenience methods like `lessThanNumber` etc.  Instead required derived properties should be created like so:

[

[2015-01-06 18:23] samreid opened #40 "Add a non-array DerivedProperty constructor"
At today's meeting, @jonathanolson suggested a varargs derived property constructor like:

[code]

instead of what we have now:
[code]

This would affect several of the DerivedProperty creation methods as well.  We would have to decide whether we want to support both array and varargs construction, or to update all old references to use varargs.

No specific deadline on this, just something on our

[2015-01-06 18:46] pixelzoom commented on #36
At 1/6/2015 design meeting, we discussed this, no one had any concrete solutions. Some type of coarse tool for determining if leaking is occurring would probably be the first thing to implement.  If anyone has ideas, please record them here.  In the meantime, low priority, unassigning.

[2015-01-07 01:28] AshrafSharf commented on #39
Ok. Will refactor the SugarAndSaltSolutions model to reflect the suggestions. Thanks

[2015-01-15 22:59] pixelzoom opened #41 "duplicate code and erroneous doc in Multilink and DerivedProperty"
Multilink and DerivedProperty contain a lot of duplicate code, looks like a copy-paste job. This should be factored out.

Additional support for the copy-paste theory is this erroneous comment in Multilink.detach:

[2015-01-20 02:40] samreid commented on #41
How about rewriting DerivedProperty to extend Multilink?  Do you think that would work?

[2015-01-26 17:22] pixelzoom commented on #39
What's the plan for removing these convenience methods from Property, and (as @samreid mentioned above) "work with PropertySet to make it easier to add derived properties that automatically get the ES5 get/set methods created" ?

[2015-01-27 17:04] samreid commented on #39
I started looking at the convenience functions in Property.js and saw:

valueEquals: 18 usages.  All but one of these are for the lifetime of the application and do not require cleanup.  So from @pixelzoom's issues above, the only issues that apply to the majority here are:
+(1) function names are misleading (IMO this could be fixed by renaming the method once we have consensus about how to do so)

[2015-01-27 18:20] pixelzoom commented on #39
Discussed again at 1/27/15 dev meeting. The consensus is still to expunge this API.  @samreid will continue on this. Let me know if you'd like to divide up the work.

[2015-01-27 18:26] jonathanolson opened #42 "Add ability to add ES5 getter/setter and property reference to non-PropertySet objects"
Proposed API:

[code]

[2015-01-27 21:09] samreid opened #43 "Remove PropertySet.property"
Our group's recent convention has been to use:

[code]

instead of

[code]

Let's reopen discussion briefly on this.  Can/should we remote the latter?  Having two ways of doing the same thing may create maintenance issues here.

[2015-01-27 21:09] samreid commented on #43
@jbphet @pixelzoom @jonathanolson can you weigh in briefly?

[2015-01-27 21:09] jonathanolson commented on #43
I prefer locationProperty over property( 'location' )

[2015-01-27 22:54] pixelzoom commented on #43
I also prefer locationProperty over property( 'location' ). I don't believe I've ever using property( 'name' ).

[2015-01-27 23:30] pixelzoom commented on #38
@jbphet @samreid @jonathanolson What do you think of changing AXON to use `dispose` rather than `detach`?

[2015-01-27 23:51] pixelzoom commented on #43
Presumably the fate of `link( propertyName, observer )` and `linkAttribute: function( propertyName, object, attributeName )` are tied to `property( propertyName )`. I've never them either. And the API lacks a corresponding `unlink` and `unlinkAttribute`.

[2015-01-28 00:12] pixelzoom opened #44 "inconsistencies/holes in multilink API"
Some inconsistencies/holes in the AXON API related to 'multilinks'...

(1) Different objects created for similar functions.
Property.mulitlink creates a Multilink.
PropertySet.multilink creates a DerivedProperty.
Should we changePropertySet.multilink to create a Multilink? (looks pretty trivial, but should be tested)

(2) Missing functionality.
PropertySet has unmultilink.
Property has no such fun

[2015-01-28 01:27] pixelzoom commented on #41
@samreid wrote:

DerivedProperty extends Property. So I think it would be preferable to use Multilink to implement DerivedProperty through composition.  I haven't tested this, but here's the general idea:

[code]
@samreid do you think this is worth pursuing?

[2015-01-28 01:59] pixelzoom commented on #41
I edited the above code example so that it works.  Does this look like an acceptable approach?

[2015-01-28 02:34] samreid commented on #39
Rewriting all of the valueEquals and testing it will take some time.  There are a few different kinds of use cases, and several uses which will all need to be thoroughly tested.

[2015-01-28 02:58] samreid commented on #6
I believe the occurrence above was related to the notorious Heisenbug we saw in previous safari versions.  I think we have a better understanding of allocation free messaging now and I don't have further plans to work on this issue.  Perhaps after WebGL support is done, if we are seeing a lot of allocations through axon, then we can reinvestigate.

[2015-01-28 02:58] #6 closed

[2015-01-28 02:59] samreid commented on #7
Haven't seen this bug for a long time, it looks like it disappeared with iOS6.  Closing.

[2015-01-28 02:59] #7 closed

[2015-01-28 03:06] samreid commented on #23
For symmetry, I think we should add unlinkAttribute, which just calls unlink.

[2015-01-28 03:06] samreid commented on #23
something like this:

[code]

[2015-01-28 03:44] samreid commented on #23
@pixelzoom what do you think about the above API.  Is it acceptable that the args are different?  Not sure of a technical way around it.

[2015-01-28 03:46] samreid commented on #19
PropertySet.set currenty looks like so:

[code]

Can some combination of @jonathanolson @jbphet @pixelzoom chime in on whether this should be called `set` or `setState` or `setValues` or something else?  Same for `get'.

[2015-01-28 03:47] samreid commented on #24
We are getting rid of all derived properties in #39, so these will probably be removed too.  I'll close this and we can continue work in #39.

[2015-01-28 03:47] #24 closed

[2015-01-28 03:49] samreid commented on #27
@jonathanolson is this still true?

[2015-01-28 03:54] samreid commented on #30
I'd prefer to just replace DerivedProperty.multilink with Property.multilink.  Sound OK @pixelzoom ?

[2015-01-28 03:57] samreid commented on #31
Both Property.once and Events.once look like they are unlinking before callbacks are made.  @jbphet anything else to be done here?

[2015-01-28 03:58] samreid commented on #32
I think our current convention to pass anonymous functions and bind references ourselves is working nicely, I no longer think this change would be valuable.  Closing.

[2015-01-28 03:58] #32 closed

[2015-01-28 04:00] samreid commented on #35
This study was completed in 2014.  Closing.

[2015-01-28 04:00] #35 closed

[2015-01-28 04:03] samreid commented on #38
I like that the same name gives a sense of symmetry to the Axon/Sun APIs, but practically it also means that searching for all usages of axon.dispose will be more difficult because sun.dispose will show up in text searches as well.  Not sure what is best here.  I'd like to hear from others.

[2015-01-28 04:15] jonathanolson commented on #27
Yes. The current code:
[code]

[2015-01-28 04:18] samreid commented on #27
Ok looks good.  Anything else to do for this axon issue?

[2015-01-28 17:24] pixelzoom commented on #23
API proposal looks OK. Does the proposal to remove the property('name') API affect this See https://github.com/phetsims/axon/issues/43

[2015-01-28 17:25] pixelzoom commented on #23
This also seems related: https://github.com/phetsims/axon/issues/44

[2015-01-28 17:27] pixelzoom commented on #23
@samreid Presumably what you've proposed above is for Property. Note that PropertySet has the same issue - it has linkAttribute, but no unlinkAttribute.

[2015-01-28 17:29] pixelzoom commented on #19
Is there a use case that we think is valuable for PropertySet.set and get? I've haven't yet needed it.

I'd be fine with set and get, or setValues and getValues.

[2015-01-28 17:30] pixelzoom commented on #30
Sounds good to me.

[2015-01-28 17:34] samreid commented on #19
I have used PropertySet.get and PropertySet.set to implement save/load as well as record/playback.  I guess at the moment I'm leaning toward setValues/getValues because get/set conflict somewhat (conceptually though not programatically) with ES5 `get` and `set` getter/setter declarations.

[2015-01-29 03:30] pixelzoom commented on #38
Yes, I'd like to hear from others too. @jbphet and @jonathanolson again, your feedback is requested.

[2015-01-29 03:49] jonathanolson commented on #38
From the words alone, I would have the intuition "I can't use the derived property after dispose()", but "I could use the derived property after detach(), but it just won't update from its dependencies".

If it's truly the "end of lifetime" for the property (i.e. don't call property.value afterwards), then I slightly prefer "dispose". Otherwise "detach" seems to work better.

[2015-01-29 20:33] pixelzoom commented on #38
We discussed either leaving as is, or changing to dispose and removing all of its listeners. Consensus was to leave as is.

[2015-01-29 20:43] jonathanolson commented on #27
I'd like to not have to override the methods and use super calls, but potentially have this in Events itself.

[2015-01-29 21:01] samreid commented on #42
Seems like a great proposal. I wasn't sure why you assigned it to yourself--feel free to work on it if you wish.  I would also be happy to work on this but wouldn't get to it for quite some time.

[2015-01-30 17:01] samreid opened #45 "PropertySet.id collides with subclass.id"
See https://github.com/phetsims/molecule-shapes/issues/99

I recommend to rename as PropetySet.propertySetID.

Will try to get to it today.

[2015-01-30 20:48] samreid commented on #45
Fixed above, closing.

[2015-01-31 02:16] pixelzoom opened #46 "move arch stub out of Property"
The stub for arch is created by axon.Property.initArch, and it's called from joist.Sim. Let's find a better place for this.

[2015-01-31 02:17] pixelzoom commented on #46
Moved this to https://github.com/phetsims/arch/issues/21, since it's really an arch issue.

[2015-01-31 02:17] #46 closed

[2015-01-31 11:24] samreid commented on #38
I should have been a bit more vocal at the meeting--though I do not feel very strongly about it, I do think it would be a good move to switch to dispose() but that this is not a very high priority issue.  Thoughts?

[2015-01-31 12:14] samreid commented on #44
I agreed with @pixelzoom recommendations and pushed changes to a branch above so it could be reviewed before merging to master.  I tested several sims (including forces and motion-basics which appears to use this pattern in several places) and didn't see any problems.  Reassigning to @pixelzoom for review, and at his discretion, merging back to master and deleting the branch.

[2015-01-31 17:14] jonathanolson commented on #38
I don't mind either way.

[2015-01-31 23:31] samreid commented on #41
I think the above proposal would probably work.  But I am wondering if this solution below (untested) would be simpler and more straightforward?

[code]

[2015-01-31 23:34] samreid opened #47 "Instead of erroring on DerivedProperty methods, just remove the methods?"
DerivedProperty has these methods:

[code]

Maybe it is better to remove these methods from the instance's interface instead?  This could be done in the constructor, I suppose.  @jonathanolson @pixelzoom @jbphet any thoughts?

[2015-02-01 02:31] samreid commented on #23
OK, in this issue let's add unlinkAttribute in Property.js and PropertySet.js and we can tackle the other work in #44 and #43

[2015-02-01 02:43] samreid commented on #23
Fixed above, would you like to take a look @pixelzoom?

[2015-02-01 02:44] samreid commented on #23
Note that my implementation uses PropertySet.property() which is marked for deprecation in another issue.  Perhaps useful to keep this method for internal private use in PropertySet (or rename to _property()).  We'll address that issue in #43

[2015-02-01 05:05] samreid commented on #19
Renamed above.  Usages of .get() and .set( are very hard to find in the source code since there are many false positives.  The one case I was certain about was in Sim.js and has been fixed above.  Hopefully we can discover any others as we go and address them when discovered.  Closing.

[2015-02-01 05:05] #19 closed

[2015-02-01 05:20] samreid commented on #30
@AshrafSharf can you please make sure these changes are compatible with your sims?  I think you are working with fixed SHAs for neuron and I want to check if there is a problem or not.

[2015-02-01 05:30] pixelzoom commented on #47
Is there any potential performance penalty to removing properties from instances? I suspect so, since I seem to recall discussion of such a penalty when adding properties to instances.

[2015-02-01 05:31] samreid commented on #47
Well, it would be better if this could all be done on the prototype--but I'm not sure whether that is technically possible for this case.

[2015-02-01 05:46] samreid commented on #38
@pixelzoom are you ok to leave this as a "to do" item at low priority as described above?

[2015-02-01 05:57] pixelzoom commented on #38
Yes, ok leaving low priority.

[2015-02-01 06:08] samreid commented on #27
Seems like it is worth more discussion.  I only see one usage of onEventListenerAdded across our simulations (in Node.js).  I'm concerned about complexity in Events as well as performance concerns.  On the other hand, if we can isolate and solve performance problems in Axon, perhaps axon should send the notifications?  Like this.trigger('eventListenerAdded',...) or using an ObservableArray for eac

[2015-02-01 13:54] AshrafSharf commented on #30
@samreid There is no dependencies.json defined for Neuron,I am creating one and will commit it

[2015-02-01 13:57] samreid commented on #30
Thanks @AshrafSharf.  And to clarify (from my email):

http://www.colorado.edu/physics/phet/dev/html/neuron/1.0.0-dev.8/dependencies.json

[2015-02-01 14:03] samreid commented on #30
Ah sorry, I think I understand--since you are developing with fixed SHAs, it will be difficult to test the latest version of axon.  That's OK.  Once neuron is published, we can (at lower priority) work on making sure it works with the master version of all repositories.

[2015-02-01 14:34] AshrafSharf commented on #30
@samreid  @jbphet Have added dependencies.json (axon now pointing to 5ee82d888ca4639a7b4d59e5e83843e8e09c6425).

[2015-02-01 14:35] samreid commented on #30
Sounds good, thanks!

[2015-02-01 14:35] samreid commented on #30
I'll leave this issue open until we have been able to test it sufficiently.

[2015-02-02 20:02] pixelzoom commented on #41
@samreid Don't you also have to override set() and the ES5 set/get for value?  This seems like the wrong relationship, and Multilink is using DerivedProperty for something that it wasn't intended for.

[2015-02-02 20:26] pixelzoom opened #48 "Property and PropertySet internal naming issues"
Property and PropertySet interchange 'observer' and 'listener', in both documentation and variable names. Observer should be used throughout.

PropertySet.unmultilink refers to a derivedProperty, when in fact it's a Multilink.

[2015-02-02 20:27] pixelzoom commented on #48
Done, closing. Feel free to review if anyone wants to.

[2015-02-02 20:27] #48 closed

[2015-02-02 20:33] pixelzoom commented on #23
This was resolved in some other issue.

[2015-02-02 20:33] #23 closed

[2015-02-02 20:37] pixelzoom commented on #44
Changes in branch look good. I merged with master and deleted the branch.

I noticed one additional omission; PropertySet has link( propertyName, observer ), but no corresponding unlink. I've added that. Assigned to @samreid for review.

[2015-02-02 20:59] pixelzoom opened #49 "cleanup in PropertySet"
A bunch of misc cleanup needed in PropertySet:

- @param name and propertyName used interchangeably
- @param propertyNames and dependencies used interchangeably
- @param dependencies used in cases where there's no DerivedProperty involved
- no documentation for many function
- no documentation for propertyID (apparently related to data communication)
- creation of array index duplicated repeatedly

[2015-02-02 21:18] pixelzoom commented on #49
I did everything except the last item above (propertyName + 'Property'). Is there any concern that encapsulating that in a function might have a negative performance impact?

[2015-02-02 21:21] jonathanolson commented on #49
I'm not particularly concerned about encapsulating it.

[2015-02-02 21:30] pixelzoom commented on #49
I didn't encapsulate propertyName + 'Property', but I did factor out 'Property' as a constant.

Closing. Feel free to review if anyone is so inclined.

[2015-02-02 21:30] #49 closed

[2015-02-04 00:59] samreid commented on #44
Looks good, thanks! Closing.

[2015-02-04 00:59] #44 closed

[2015-02-12 19:59] samreid commented on #39
@aaronsamuel137 can you look into this?  Perhaps start with the least-frequently used higher-order Property methods above?  Also, before working on this, please make sure you have all of the `active-repos` checked out so you can be sure to find all usages across sims.

[2015-02-13 18:22] aaronsamuel137 commented on #39
I've started this process with the "or" method, which was only in a few sims. I'll keep chipping away at this as times goes on.

[2015-02-18 06:02] jonathanolson commented on #39
Just ran test-sims for a Scenery check, and noticed Seasons' IntensityModel is using .or().

[2015-02-18 15:24] aaronsamuel137 commented on #39
Good catch. Turned out that there was a newline between the "." and the "or", so searching for ".or(" didn't find it.

Looks like I'll have to go regex when searching for these methods - something like "\.\s*or\("

[2015-02-24 17:01] pixelzoom opened #50 "store Property observers "correctly""
Property.js has this comment:

@jonathanolson can you please elaborate on how to store observers "correctly"?

[2015-02-25 18:27] aaronsamuel137 commented on #39
I forgot to update the commit message for the last 3 commits... it should be: remove "greaterThanNumber" instead of "and".

[2015-03-04 19:26] aaronsamuel137 commented on #39
OK I've finished removing all of the methods from Property that we wanted to eliminate from the API. I did my best to search through the code for all uses of the methods, but it's possible some were overlooked.

In particular, it is very difficult to search for plus, times, map, mapValues, and not, since these are used all of the place on classes other than Property. I caught all of the errors tha

[2015-03-11 00:24] samreid commented on #39
@aaronsamuel137 thanks for all your work on this.  I'll put it on my todo list to review everything.

[2015-03-11 04:57] samreid commented on #30
@pixelzoom anything else to do here?

[2015-03-17 23:46] samreid commented on #39
I have done numerous spot checks and haven't seen any issues.  I was really hoping to use fuzz tester to look for problems that might have been introduced here, but we still aren't to a good point where sims are passing that test regularly.  So I think it is safe to close this issue--any sim-specific issues that come up will be caught before publication during QA testing.  Thanks for your work on

[2015-03-17 23:46] #39 closed

[2015-03-18 17:15] samreid commented on #41
No plans to work on this at the moment, unassigning.

[2015-03-20 19:33] pixelzoom commented on #30
Looks like this is done, closing.

[2015-03-20 19:33] #30 closed

[2015-03-30 18:51] pixelzoom opened #51 "delete arch branch?"
Is there anything in the 'arch' branch that hasn't been merged into master? Or can this branch be deleted?

[2015-03-31 02:13] samreid commented on #51
Deleted, closing.

[2015-03-31 02:13] #51 closed

[2015-04-01 20:00] #42 closed

[2015-04-03 03:54] samreid opened #52 "ObservableArray.addAll was broken"
ObservableArray.addAll was broken--not sending notifications on addAll()

Fixed in this version: https://github.com/phetsims/axon/commit/20e3d6d694e3a968cfc56f063f547dc297a9a4a5

Raising this issue since fixing this bug may have created issues if code was depending on this buggy behavior--want to bring it to the attention of @pixelzoom @jonathanolson @aaronsamuel137 @jbphet.

[2015-04-03 05:01] pixelzoom commented on #52
Searching for ".addAll(" ... The only uses of ObservableArray.addAll are in energy-skate-park-basics (1) and neuron (3).

[2015-04-03 05:02] pixelzoom commented on #52
Searching for ".addAll(" ... The only uses of ObservableArray.addAll are in energy-skate-park-basics (1) and neuron (3).  So this can be closed after @samreid and @jbphet have verified that these sims weren't depending on the buggy behavior.

[2015-04-03 18:10] samreid commented on #38
I'm about to add Property.dispose and PropertySet.dispose.  Note that renaming DerivedProperty.detach=> dispose will have a conflict after I add those.

[2015-04-03 18:13] samreid commented on #38
I added PropertySet.dispose and Property.dispose above.

Wondering if this could cause any problems in existing PropertySet subclasses that also declare dispose. (Other than the fact that they would probably want to call super.dispose()).  @pixelzoom do you think this will be a problem?

[2015-04-03 19:21] pixelzoom commented on #38
In an uninstrumented sim, pairing of link/unlink and new/dispose is required to prevent memory leaks. So when instrumenting code that has properly paired link/unlink and new/dispose, Property.dispose should have to remove 0 observers.  If it removes any observers, then it's masking a memory leak.  So I think that calling dispose should throw an assertion if there are any observers registered for t

[2015-04-09 18:27] samreid commented on #52
I tested ESPB and did not see any problems.  Reassigned to @jbphet to look into neuron.

[2015-04-09 18:31] samreid commented on #38
@aaronsamuel137 are you available to familiarize yourself with this thread, see if asserts make sense there, and test a few sims out to see if they are throwing assertion errors for this case?

[2015-04-09 21:49] aaronsamuel137 commented on #38
I can take a look. What's the priority of this? Next week is the earliest I could get to it.

[2015-04-09 23:08] samreid commented on #38
Anything within 2 weeks would be fine.  If you don't get time before then, just let me know.  Thanks!

[2015-04-16 22:39] samreid opened #53 "Events.trigger sends arguments even when there were no arguments"
Events.trigger0 sends 0 arguments.  Events.trigger1 sends 1 argument.  Events.trigger('started'), which has no arguments, sends 1 argument, which is the word "started".  This is causing some complication for together, which is enforcing the number of arguments.  Here is the problem in Events:

[code]

@jbphet & I would like to change this to

[code]

However, we are unsure if any PhET code is rely

[2015-04-17 18:10] pixelzoom commented on #53
I have not explicitly used Events.trigger* in any code that I've written.  I'm guessing that @jonathanolson might be the biggest client of this feature, so reassigning to him.

As for the current implementation and API design...  I don't see anything in the current implementation that tracks how many parameters are required for an eventName, and I don't see anything in the various trigger function

[2015-04-20 14:50] samreid commented on #53
Here is the documentation for trigger1:

[code]

The important line is:

That is the entire reason for using triggerN instead of trigger, so that we don't have to deal with extra overhead from using dynamic `arguments`.

[2015-04-21 09:50] jonathanolson commented on #53
I haven't to my knowledge used trigger()'s arguments ability, and I'm fine with the replacement described.

Scenery doesn't use the arbitrary arguments version. @pixelzoom, basically ```Array.prototype.slice.call( arguments, 1 );``` is the most expensive part, since the mere presence of ```arguments``` prevents almost all JIT optimizations, so the code will always run in interpreted mode, and it's

[2015-04-21 15:05] pixelzoom commented on #53
Might be good to put some of the specifics about the reasons for having multiple trigger calls in the code documentation.  It solves a performance problem, and "Should get optimized in browsers better than trigger" tells me very little what that problem is, or how having multiple trigger calls resolves it.

[2015-04-22 18:42] samreid commented on #53
I improved the docs above, and will remove the name argument from trigger shortly.

[2015-04-22 18:44] samreid commented on #53
I removed the bogus trigger argument as described above.  I tested RPAL and did not see any issues.  We should remain vigilant and report any issues that this may have caused.  @pixelzoom want to review the documentation or anything here?

[2015-04-23 14:52] samreid opened #54 "Property needs a dispose function"
@pixelzoom pointed out that if Property is calling tandem.addInstance() then it should have a dispose function that calls tandem.removeInstance.

Additionally, we will need to iterate over all sims and see if there are Properties that need to be dispose()d of, i.e. Properties that don't persist for the lifetime of the sim.

@pixelzoom suggested that we can probably identify Properties that require

[2015-04-23 15:31] pixelzoom opened #55 "PropertySet needs to check tandemSet for presence of bogus keys"
Related to https://github.com/phetsims/together/issues/85

[2015-04-23 15:31] pixelzoom commented on #55
@samreid commit: 99c3766e14d70fc8bad618fdb611d53f3d01142a

[2015-04-23 15:34] pixelzoom commented on #55
The first iteration of the assertion required a separate function, which contained unreachable code. I rewrote it to use lodash, and moved verification to the earliest possible point in the constructor.  Tested by in faradays-law.CoilModel, like this:

[code]

[2015-04-23 15:35] pixelzoom commented on #55
Assigning to @samreid for review.

[2015-04-23 16:19] pixelzoom opened #56 "ObservableArray needs tandem support"
Related to https://github.com/phetsims/together/issues/85

[2015-04-23 16:21] pixelzoom opened #57 "Property subtypes need tandem support"
Related to https://github.com/phetsims/together/issues/85

All subtypes of Property need options parameter, to pass options.tandem. Currently missing from NumberProperty, BooleanProperty, ToggleProperty.

[2015-04-23 16:21] pixelzoom commented on #57
[4/23/15, 8:59:26 AM] Sam Reid: Can we delete NumberProperty, BooleanProperty, ToggleProperty?
[4/23/15, 9:00:47 AM] Chris Malley: usages: NumberProperty 4, BooleanProperty 8, ToggleProperty 1
[4/23/15, 9:06:37 AM] Sam Reid: I recommend deletion
[4/23/15, 9:07:06 AM] Chris Malley: ok with me. i've never been a fan of these.

[2015-04-23 16:22] pixelzoom opened #58 "PropertySet needs a dispose function"
... that iterates over all of its Properties and calls Property.dispose.

[2015-04-23 16:26] pixelzoom opened #59 "PropertySet support for tandem is incomplete"
Stuff that needs to be added, not necessarily a complete list:

- [x] addProperty needs options.tandem
- [x] removeProperty should call Property.dispose
- [x] toDerivedProperty needs options.tandem
- [x] addDerivedProperty needs options.tandem

[2015-04-23 16:29] pixelzoom commented on #58
Hmmm... PropertySet does have a dispose function, and it calls Property.dispose.  Which did not exist, see https://github.com/phetsims/axon/issues/54.  Wondering how this was working. Perhaps no one was tested PropertySet.dispose?

[2015-04-23 16:56] pixelzoom commented on #54
I added the dispose function, using our new pattern for dispose (i.e., @private this.diposeProperty). @samreid please review.

How should we go about identifying sims where Property.dispose needs to be called?

[2015-04-23 17:07] pixelzoom commented on #58
We'll also need to identify sims where PropertySet.dispose needs to be called, to prevent the introduction of memory leaks when a sim is instrumented for together/tandem.

[2015-04-23 17:27] pixelzoom commented on #53
Looks good, closing.

[2015-04-23 17:27] #53 closed

[2015-04-23 19:16] samreid commented on #55
This seems good, thanks!  Closing.

[2015-04-23 19:16] #55 closed

[2015-04-23 19:19] samreid opened #60 "Delete NumberProperty, BooleanProperty, ToggleProperty"
See #57

[2015-04-23 19:19] samreid commented on #57
Let's delete NumberProperty, BooleanProperty, ToggleProperty in #60 and close this issue.

[2015-04-23 19:19] #57 closed

[2015-04-23 19:38] samreid commented on #60
NumberProperty.js is gone and tested in the 3 sims where it appeared.

[2015-04-23 19:50] samreid commented on #60
BooleanProperty.js is gone too.

[2015-04-23 19:51] samreid commented on #60
I had difficult testing Energy Forms and Changes.  @phetsims/jessegreenberg can you take a look and make sure everything seems good?

[2015-04-23 19:55] samreid commented on #60
Everything is deleted.  Would be good to hear from @phetsims/jessegreenberg about whether EFAC is ok after this.

[2015-04-24 05:10] samreid commented on #54
Change set looks good, thanks.

This is a tricky problem in general probably warrants carefully examining whether Properties are being dynamically created--which may indicate that they should be disposed as well.

For the specific case of together.js, if two properties are registered with the same name before one is disposed, together.js will error out.  This will help us detect some cases where p

[2015-04-27 17:22] jessegreenberg commented on #60
All is well in EFAC after removing BooleanProperty.  Sorry the sim was not in an easily testable state!

[2015-04-30 15:20] #56 closed

[2015-04-30 15:20] samreid commented on #56
I added support above, testing in Molecules and Light for the observablearray of photons.  Closed above.

[2015-05-22 18:36] pixelzoom commented on #60
Looks like this is done, closing.

[2015-05-22 18:36] #60 closed

[2015-05-22 18:38] pixelzoom commented on #59
This is still half-baked. I'm not comfortable doing a redeploy of sims when something this fundamental is in this state.

[2015-05-22 18:41] pixelzoom commented on #58
Looks like this is done. dispose iterates over each Property and calls its dispose function, which calls tandem.removeInstance.

Closing.

[2015-05-22 18:41] #58 closed

[2015-05-22 18:43] pixelzoom commented on #54
So... This issue is done, but we don't have a way to identify sims where Property.dispose needs to be called.  I guess the best we can do is to be on the lookout for this problem as we instrument sims.

Closing.

[2015-05-22 18:43] #54 closed

[2015-05-22 18:44] pixelzoom commented on #52
@jbphet please verify in neuron.

[2015-05-22 18:44] pixelzoom commented on #50
Asking again... @jonathanolson can you please elaborate on how to store observers "correctly"?

[2015-05-22 18:46] pixelzoom commented on #45
Looks like @samreid did this but forgot to close. Closing.

[2015-05-22 18:46] #45 closed

[2015-05-22 18:47] pixelzoom commented on #33
This repos no longer has an "arch" branch. Closing.

[2015-05-22 18:47] #33 closed

[2015-05-22 18:48] pixelzoom commented on #29
axon.Multilink was implemented to fill this need. Closing.

[2015-05-22 18:48] #29 closed

[2015-05-22 18:49] pixelzoom commented on #17
@jonathanolson What is left to do on this issue?

[2015-05-22 18:50] pixelzoom commented on #13
@jonathanolson what is left to do on this issue?

[2015-05-22 18:55] jonathanolson commented on #50
I had thought of a way of not having to slice() when notifying most observers, but I don't think it's still applicable. OK to remove TODO from source?

[2015-05-22 18:58] pixelzoom commented on #50
OK with me.

[2015-05-22 18:59] #50 closed

[2015-05-22 19:02] jonathanolson commented on #17
Should be done, trigger0/trigger1 satisfying needs. Closing.

[2015-05-22 19:02] #17 closed

[2015-05-22 19:16] jonathanolson commented on #13
I'm satisfied with onStatic/offStatic. I believe the above stated case may be impossible to do (as noted elswhere) since we wouldn't just need two lists, it could be many more (with the below devious case).

In particular, for event E if you had N normal listeners, and then a final listener with 2 steps when called: "Remove a normal listener, or if none, remove this listener", and "trigger event E

[2015-05-23 04:33] jonathanolson commented on #13
Didn't see any objections, closing for now.

[2015-05-23 04:33] #13 closed

[2015-05-26 17:53] pixelzoom commented on #59
Looks like addProperty has been handled.

[2015-05-26 18:02] pixelzoom opened #61 "DerivedProperty has both detach and dispose functions"
DerivedProperty is a subtype of Property, which now has a dispose function. Two issues with this:

1. Currently, calling dispose does not call tandem.removeInstance, which is a memory leak.

2. DerivedProperty now has both dispose and detach functions. What is the use case for detach?

[2015-05-26 18:09] pixelzoom commented on #61
Here's how I fixed the leak in DerivedProperty.dispose:

[code]

When instrumented with data collection, I suspect that most (all?) client uses of DerivedProperty.detach will need to be replaced with DerivedProperty.dispose.

@jonathanolson @samreid @jbphet Please comment on why we need both detach and dispose for DerivedProperty.

[2015-05-26 18:51] pixelzoom commented on #59
I added tandem support to toDerivedProperty and addDerivedProperty.  There was one bogus call to addDerivedProperty in color-vision.RGBModel, and I fixed that too.

[2015-05-26 19:00] pixelzoom commented on #59
PropertySet.removeProperty now calls dispose on the Property that is being removed. Note that removeProperty currently has no clients.

All work completed. Assigning to @jonathanolson for review.

[2015-05-26 19:01] pixelzoom commented on #59
Btw... I looked through PropertySet and didn't see any additional places where tandem support is required. But it would be good for @jonathanolson to take a quick look while verifying.

[2015-05-28 01:05] jonathanolson commented on #61
I haven't worked with dispose/detach on DerivedProperty, I'd defer to the others.

[2015-05-28 08:08] jonathanolson commented on #59
Not sure if it's related to this issue, but I don't see any documentation on what tandemSet should be in the constructor of PropertySet.

[2015-05-28 08:33] jonathanolson commented on #59
Otherwise looks good to me.

[2015-05-28 15:23] pixelzoom commented on #59
@jonathanolson wrote:

Reopening to fix that.

[2015-05-28 18:18] pixelzoom commented on #61
5/28/15 dev meeting: Consolidate into dispose, delete detach - there is no value to a DerivedProperty that has been detached from its dependency properties.

[2015-05-28 18:18] pixelzoom commented on #61
@samreid If you have a contrary opinion about this, please comment ASAP.

[2015-05-28 19:47] samreid commented on #61
Sounds good, thanks for keeping me in the loop.

[2015-05-29 17:18] pixelzoom commented on #59
Documentation added. Closing.

[2015-05-29 17:18] #59 closed

[2015-05-29 17:34] pixelzoom commented on #61
This also applied to Multilink, detach should be rename to dispose.

[2015-05-29 17:36] pixelzoom commented on #61
Work on this is done. Most of the usages of 'detach' were for scenery nodes, and those were of course not touched.  The number of usages of 'detach' for DerivedProperty and Multilink was very small, and that's a bit disconcerting - either most such objects exist for the lifetime of a sim, or sims are leaking memory.

Assigned to @aaronsamuel137 to review the changes. Thanks!

[2015-05-30 16:56] aaronsamuel137 commented on #61
Changes look good to me. Closing the issue.

[2015-05-30 16:56] #61 closed

[2015-06-01 17:22] pixelzoom opened #62 "verify arg count to Events.trigger0, trigger1 and trigger2"
In light of https://github.com/phetsims/together/issues/131, I suggest that we add code to Events.trigger0, trigger1 and trigger2 that verifies that the number of arguments matches the expected number of parameters.

[2015-06-01 17:32] pixelzoom commented on #62
Done. Beware that you may experience failures when running with ?ea, especially if you have data collection features enabled.

Assigning to @jbphet for review.

[2015-06-01 17:33] pixelzoom commented on #62
Before "Summer 2015 redeploy", we should probably track down and fix all of the bogus calls to trigger0/1/2.

[2015-06-01 18:46] pixelzoom commented on #62
This wasn't sufficient to catch the programming errors in https://github.com/phetsims/together/issues/131.  In many cases, the trigger call was used correctly, but the callback in TogetherCommon.js had the wrong number of parameters. For example:

[code]

So I added an assertion to each callback, to confirm the number of arguments. For the above example:

[code]

Testing with beaker, this assertio

[2015-06-02 22:08] pixelzoom commented on #62
Based on https://github.com/phetsims/together/issues/131#issuecomment-107768678, omitting the args in the "endCallbacks" events was a "feature".  So I'm going to remove the assertions.

[2015-06-02 22:20] pixelzoom commented on #62
Closing this since these seems to be general agreement that verifying the number of args to Events.trigger0/1/2 is useful.

[2015-06-02 22:20] #62 closed

[2015-06-02 22:21] samreid commented on #62
I thought the assertions were a great idea, see https://github.com/phetsims/together/issues/131#issuecomment-108114169.  Are you still thinking about removing them?  If so, why?

[2015-06-02 22:23] pixelzoom commented on #62
I'm removing the assertions from TogetherCommon.js because you said (in https://github.com/phetsims/together/issues/131#issuecomment-107768678) that ignoring args was being done by design.  I am leaving the assertion in Events.trigger0/1/2.

[2015-06-02 22:27] samreid commented on #62
Ah sorry, I was unaware of the assert statements introduced in https://github.com/phetsims/together/commit/4e904d893488353d0ff647e22cb5f0477abc3e9d . Yes I agree those should go and the Events.trigger0/1/1 assertions should stay.

[2015-06-02 22:28] samreid commented on #62
Upon reflection--I'm not sure why you added the assert statements https://github.com/phetsims/together/commit/4e904d893488353d0ff647e22cb5f0477abc3e9d in the first place--instead of being deleted, they could be updated to reflect the correct number of args.  But since I am not sure why you introduced them in the first place, I am not sure whether this would be useful.

[2015-06-02 22:30] pixelzoom commented on #62
The reason for introducing them is described in https://github.com/phetsims/axon/issues/62#issuecomment-107668233.

[2015-06-02 22:31] pixelzoom commented on #62
The reason for introducing them is described in https://github.com/phetsims/axon/issues/62#issuecomment-107668233. But you indicated that this was incorrect because the client was ignoring the API arg (in this case `value`) by design.

[2015-06-02 22:32] samreid commented on #62
Understood--I'll leave it up to you whether it will be better to remove these asserts or keep them and update them to have the right numerical values.

[2015-06-02 22:34] pixelzoom commented on #62
They are removed. The decision now (in https://github.com/phetsims/together/issues/131#issuecomment-107768678) is whether to add the ignored `value` parameter to the function signatures in TogetherCommon.js, or to delete the `value` argument from trigger calls in sim/common code.

[2015-06-08 23:16] jbphet commented on #52
Verified in Neuron, no reliance on the previously buggy behavior.  Closing.

[2015-06-08 23:16] #52 closed

[2015-07-14 17:14] samreid opened #63 "Should we create methods as well as es5 get/set"
Should we create methods as well as es5 get/set?

[code]

[code]

@jonathanolson says he prefers the es5 syntax
@pixelzoom seems like the advantage of the proposed approach would be encapsulation of the loopsProperty, but we still need to make the property publicly accessible anyways.

[2015-07-14 17:14] samreid commented on #63
We decided not to proceed with this, closing.

[2015-07-14 17:14] #63 closed

[2015-08-02 18:18] samreid commented on #43
I'm seeing 169 occurrences of the string `.property(` in our codebase across about 7 sims.  It will take some time to complete and I am not planning to work on this now.  Unassigning for now.

[2015-08-06 15:38] jbphet commented on #31
Nope, closing.

[2015-08-06 15:38] #31 closed

[2015-08-26 02:04] samreid opened #64 "Improve support for allocation-free notifications"
For cases like Vector2, we sometimes see a workaround that just instantiates the Vector2 once, sets the values with Vector2.set(), then calls Property._notifyObservers().  It would be good to investigate other patterns that might work here.  Ideally we would support the following features:
1. Using a public API (no underscores)
2. Straightforward integration with PropertySet, and consistent api wi

[2015-08-31 19:18] pixelzoom opened #65 "add visibility annotations"
Add a @public, @protected or @private annotation to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-09-01 17:49] pixelzoom opened #66 "rename ObservableArray.setElements"
`setElements` is poorly named. All other parts of the ObservableArray refer to the members of the array as "items" (e.g., `item` params, "item" in docs, `addItemAddedListener`, `removeItemAddedLister`,...).  It should be renamed to `setItems`, and its param and doc changed accordingly.

[2015-09-01 17:58] pixelzoom commented on #65
Done, closing.

[2015-09-01 17:58] #65 closed

[2015-09-01 18:07] pixelzoom opened #67 "questionable functions for poking a Property's stored and initial value"
axon.Property has these public functions:

[code]

Both of these look dubious. Setting the value without notification, and changing the initial value. These are used in a handful of sims: fluid-pressure-and-flow, pendulum-lab, seasons, under-pressure. I'm especially leary of this in non-PhET code.

In the case of storeValue... It looks like this is used for setting a value without triggering notif

[2015-09-01 20:05] pixelzoom commented on #66
The only occurrence of ".setElements" that I find is in TogetherCommon.js, in TArray.   And now I've run into issue https://github.com/phetsims/together/issues/132.  I suspect that there's a relationship between TArray and ObservableArray, but I figure out how to be certain of that.

[2015-09-01 20:11] pixelzoom commented on #66
Ah... The call to setElements is actually in TObservableArray.  Guessing there's a good chance that's paired with axon.ObservableArray :)

[2015-09-01 20:17] pixelzoom commented on #66
Trying to figure out how to regression test this... Searching for TObservableArray shows that it appears only in molecules-and-light-api.js. Searching for "molecules" in all together files, I don't see any demo that uses molecules-and-light. So there doesn't appear to be any existing test for this.

This was a pretty small change, so guess I'll just cross my fingers. Assigning to @samreid to inspe

[2015-09-01 20:29] pixelzoom commented on #66
TogetherCommon.js was changed in https://github.com/phetsims/together/commit/d835e80ecaa4f2bef607a8f2c6e0fd8900315425.

[2015-09-01 20:39] pixelzoom commented on #66
Tested with

[2015-09-01 20:40] pixelzoom commented on #66
Tested with
http://localhost/~cmalley/GitHub/together/examples/mirror.html?url=http://localhost/~cmalley/GitHub/together/html/molecules-and-light-together.html

Verified that ObservableArray.setItems is called.

Closing.

[2015-09-01 20:40] #66 closed

[2015-09-08 18:01] samreid opened #68 "Avoid typos in event names"
While we discussed https://github.com/phetsims/scenery/issues/460, we discussed the problem of listening for an unsupported event in Events.js

For instance:

[code]

One possible solution for this problem would be for each Events instance to know what events it can trigger when it is created.  Perhaps something like this:

[code]

This could take away some of the freedom from dynamically creating

[2015-09-08 18:07] samreid commented on #68
Something else that would be possible if passing the event names on Events construction:

[code]
etc.  The methods could be dynamically created.

[2015-09-10 18:39] pixelzoom opened #69 "change behavior and names of "on" and "onStatic""
Factored out of https://github.com/phetsims/scenery/issues/460:

Proposal to change behavior of 'on' and 'onStatic'. Have 'on' operate on actual listener list (not a copy), and 'onVolatile' operate on a copy.  Set a flag in during notification that indicates that functions that modify the list (e.g. addListener, removeListener) will become unsafe, and throw and Error if one of those functions is c

[2015-09-10 18:57] pixelzoom commented on #68
9/10/15 dev meeting notes:

`var eventChannel = new Events(['up','down']);`

... seems promising. We should schedule some time to investigate this.

[2015-09-11 02:20] samreid opened #70 "Unify event and listener APIs and implementations"
Currently axon has three event types:
1. Property.link
2. Events.on
3. ObservableArray.addItemAddedListener

While these are indeed three different kinds of events, there is no reason that they must be implemented in such different ways.  Why not listen to a Property with

[code]

or listen to events with:

[code]

or listen to observable array methods like:

[code]

Unifying these APIs may lead t

[2015-09-11 18:21] samreid commented on #67
The only occurrence of storeValue outside of axon is in Pendulum Lab's Movable.js.  I'll delete it from axon and create an issue in Pendulum Lab to find another solution to the problem.

[2015-09-11 19:39] samreid commented on #67
OK Property.storeValue is gone.  Next I'll look into storeInitialValue.

[2015-09-12 02:28] samreid commented on #64
While working on #67 I noticed ObservableVector2, ObservableMatrix3, etc. which provide the Property API but also operate without allocations.  This may be a good approach to expand on?

[2015-09-12 02:29] samreid commented on #67
It looks like ObservableVector2, ObservableMatrix3, etc. are making good usage of storeInitialValue.  See https://github.com/phetsims/axon/issues/64 for some discussion about what ObservableVector2 etc are doing.  So perhaps we should change storeInitialValue to protected (use in subclasses OK but usage to work around buggy initial value not OK).  @pixelzoom what do you think of that plan?

[2015-09-12 02:33] samreid commented on #67
On second thought, I think the subclass usages of storeInitialValue can/should probably move to the constructor.  I'll take a closer look before @pixelzoom's attention is needed.

[2015-09-16 03:55] samreid commented on #70
Related to #68:

One possibility would be to have Events parallel PropertySet it its usage:

[code]

We abandoned the `propertySet.property('name')` approach--isn't events.trigger('eventName') sort of exactly the same thing? (I'm coining the phrase "sort of exactly" here :)  Also, I'm not tied to any of the names above, if there are better suggestions, we should use them.

:arrow_up: Everything ab

[2015-09-16 04:01] samreid commented on #70
If we proceed with the above suggestion, then one way to unify the axon properties and events would be to say that each property has an event channel associated with it which triggers a change event.  Something like:

[code]

Axon events support parameters, so we could even think of a way to pass the new name through that callback.  Then instead of properties being the common denominator, event ch

[2015-09-16 04:05] samreid commented on #70
While we are brainstorming, another (extremely quirky!) way to unify events with properties would be to turn events into states (the above ideas discussed getting events from properties).  For instance, if there is a 'itemDropped' event, we could envision a dragState property, and when it transitions from dragging to dropped, that callback would be like the event.on('itemDropped').  However, this

[2015-09-16 04:14] samreid commented on #70
To draw a symmetry between link and on: on is like lazyLink for events, in that it is not called back right away.  If there were ever any events that we wanted to call the callback right away when registering a listener, we could have something like `eagerOn`.  Or we could rename everything to accentuate the symmetry:

[code]
Though we probably shouldn't mix names between Events and Properties.

[2015-09-16 16:20] samreid commented on #70
We also have another divergence in our event types.  Some event types are done like this:

[code]

And some are done like this:

[code]

Why are these so different?  Can we simplify our lives by unifying or only using one type?

[2015-09-22 18:10] samreid commented on #70
@pixelzoom says it is valuable to use the same API for properties whether they were created as singles or single properties or propertyset, and just use the propertyset for creating the group and resetting as a group.  He pointed out it is also awkward when changing the type from PropertySet to Property and having things still "work" (fail silently).

@samreid would like to investigate this and in

[2015-09-22 18:51] samreid commented on #70
Not sure what to name the single event emitter.  IntelliJ IDEA treats `new Event()` as an interface and provides wacky highlighting for it.  `EventEmitter` already means something pretty different in Node.js.  We could go with Emitter or EventEmitter?

[2015-09-22 18:51] samreid commented on #70
The composite one could be EmitterSet? or EventEmitterSet?

[2015-09-22 18:59] samreid commented on #70
Also, Event seems more like *what happens* when trigger is called, not the name of the object that calls back the listeners.

[2015-09-22 19:19] samreid commented on #70
Not sure emitter is the best name.  Perhaps event source?  If we went with emitter, then the method should probably be `emit` instead of `trigger`.

[2015-09-22 20:53] samreid commented on #70
I'm (a) concerned about the amount of time it will take to redo pre-existing simulations that are relying on PropertySet extending Events, but on the other hand (b) if EmitterSet works out nicely it would be good to switch together.js to it as soon as possible.  I'll mark this for discussion in https://github.com/phetsims/together/issues/175

[2015-09-23 00:07] samreid commented on #70
EventSource is already something else: https://developer.mozilla.org/en-US/docs/Web/API/EventSource

[2015-09-23 00:07] samreid commented on #70
I'm already seeing a nice place where Emitter would come in handy in https://github.com/phetsims/axon/issues/67

[2015-09-23 02:08] pixelzoom commented on #70
I think this is a great topic, and that we should continue to discuss and brainstorm. But are you thinking about making changes to axon while we're trying to meet the S2015R milestone?  Imo, we should be minimizing changes to common code, except where we need to make progress on data collection.

[2015-09-23 02:13] samreid commented on #70
As noted above:

We could also discuss a middle-of-the-road solution in which we leave all pre-existing axon things alone (until S2016R complete or later) and just add the proposed items to axon.  This would leave pre-existing code 100% safe until it is a good time to switch over.

[2015-09-23 02:14] samreid commented on #64
While thinking of how to unify events and properties in #70 and looking at DOT/ObservableVector2 I realized that Event emitters/channels could be a way to do allocation free notifications.

[code]

Now we just need a wrapper that does link/unlink/etc.

[2015-09-23 02:24] samreid opened #71 "Alternative to PropertySet"
At today's developer meeting, @pixelzoom said the primary features he wants from PropertySet are: (a) ease of creating a group of Properties and (b) resetting them as a group.

Whenever we dynamically create instance attributes, such as `visibleProperty`, my IDE has a horrible time trying to track them down for navigation and highlighting.

If we switch to a paradigm where PropertySet is predomina

[2015-09-23 02:26] samreid commented on #71
We could do the same for EmitterSet (proposed in #70).  Though in that case, since there is no "fire all emitters at once" functionality, EmitterSet may be completely unnecessary and we could just stick with one Emitter per event type in that case.

[2015-09-23 02:36] samreid commented on #67
The issue comes from our MVC initialization pattern: (1) create the model.  (2) create the view.  If the location of an item in the view depends on layout constraints, then the original model position may be incorrect.  That is where I see this pattern being used.  However, there are better ways to solve this--one way would be to move the model property out of the model (maybe it should have been

[2015-09-23 02:41] samreid commented on #67
@pixelzoom I'm ready for your feedback here, at your convenience.

[2015-09-23 16:59] samreid commented on #67
The parts that would be good to review/discuss are:

* Look at the change sets: https://github.com/phetsims/axon/commit/1591786f5c5aef0c57bf5a3efa905dc1f2c9f4e0 and https://github.com/phetsims/axon/commit/537bd373fd52940b12da20d60369af9b88c8e93c and think about whether they will have unintended consequences

* what do you think about sims that create the model at some coordinates, then create the

[2015-09-23 17:05] pixelzoom commented on #67
I have no idea if removing storeValue and storeInitialValue will unintended consequences. I've never used them. And it looks like you've removed all call sites, so any consequences will probably be identifiable during testing.

Sounds like a sim design problem to me.  Assuming that the location (coordinates) need to be in the model, then I don't see why the model shouldn't be initialized to the pr

[2015-09-23 17:23] samreid commented on #67
@pixelzoom and I discussed the latter point.  One suggestion was to have switchable coordinates for the model tools and a property to indicate which coordinate frame the tool is in.  We are good to close this issue though.

[2015-09-23 17:23] #67 closed

[2015-09-25 12:47] samreid commented on #70
Unassigning until after we discuss at an upcoming phet-io-meeting or developer meeting.

[2015-09-25 13:16] samreid commented on #70
Please see https://github.com/phetsims/axon/issues/71 for a description of why we do *not* need EmitterSet, and would be best just to have Emitter.

[2015-09-30 17:10] samreid commented on #71
I guess I'd like to investigate this when I'm starting on a new sim.  Unassigning for now.

[2015-10-08 19:43] samreid commented on #70
We could reimplement Events in terms of Emitter.

[2015-10-08 19:47] samreid commented on #70
@jonathanolson suggests using Emitter, with trigger1, trigger2, etc.  Would be good to start using this soon.

@jbphet I've also seen places I would use this.

[2015-10-08 19:48] samreid commented on #70
@samreid will proceed with Emitter.

[2015-10-11 04:13] samreid commented on #70
There is also the matter of deciding what the addListener method will be named.  Naming it `on` seems too ambiguous for a single Emitter.  I recommend something like addListener.  Method names in Events will remain the same.

[2015-10-11 04:16] samreid commented on #69
As I mentioned in https://github.com/phetsims/axon/issues/70#issuecomment-147152633

Perhaps we should go with addListener (operates on actual listener list, not a copy) and addVolatileListener (operates on a copy).

[2015-10-11 04:27] samreid commented on #70
Another proposed simplification for Emitter: We could make the number of args explicit.  emit() has no args, emit1() has 1 arg, etc.  This may be best for cases where Emitter is appropriate.

[2015-10-11 04:44] samreid commented on #70
Also, if you want more than N args, then you should be passing an object literal.  I'm thinking 2 is a fine limit, though would change my mind later if we have excessive compeling N>2 examples.

[2015-10-11 05:01] samreid opened #72 "Create Emitter.js"
It should be a single event type variant of Events.js.  Events.js can use it in its implementation.  See #70

[2015-10-11 05:04] samreid commented on #72
I'd like to investigate unifying the standard and volatile listeners.  I think we can optimize for the standard case (no array copy) and if we detect a listener was removed during processing callbacks, then automatically copy the array.  This will simplify the API significantly without harming performance.

[2015-10-11 05:07] samreid commented on #72
I'm confused about the desired behavior and our current behavior.

Let's say I have listener A and listener B.  Listener A removes listener B.
Then when I emit(), should listener B get a callback?

I believe with our copy() semantics, B does get a callback.  However, this seems odd since it should have been removed.  Also at the end of the A callback, if you check emitter.containsListener(B) then

[2015-10-11 05:38] samreid commented on #72
With the caveats noted above, and the following implementation of Emitter.removeListener:

[code]

Processing callbacks in a defensive and performant way has become extremely simple:

[code]

Compare this to the more complex implementation that was used in Events.js to support static/nonstatic listeners and various number of args.

[code]

[2015-10-11 05:42] samreid commented on #72
I've also checked in a unit test that demonstrates the behavior of dispatching to all listener that were registered at the time of the emit call, and making sure they were removed:

[code]

I believe we could achieve the behavior of: removing a listener during callbacks prevents it from getting a callback, it would just be a bit more complex and may slow down things slightly.  But it would still b

[2015-10-11 05:46] samreid commented on #72
Likewise we need to discuss the current/desired behavior of addListener during an emit() call.  Currently in Emitter.js if you add a listener during an emit() call, there are 2 possibilities:

1. if you haven't removed a listener previously during the emit callbacks, then the newly added listener will be called back during callbacks
2. if you have removed a listener previously during the emit call

[2015-10-11 05:47] samreid commented on #72
Another note: I'm disallowing re-entrant emit calls, if emit calls a listener that calls emit on the same emitter, that will be an assertion error.  Seems likely to be buggy and interferes with the optimizations described above.

[2015-10-11 05:55] samreid commented on #72
I've made addListener have a behavior parallel to removeListener when it comes to add/remove during callbacks, see code comments in the code.

[2015-10-11 22:52] samreid commented on #69
As described in #70 I believe we can get away from the static/volatile distinction while still maintaining optimal performance for the case where nothing is removed from the list.  Hopefully if that issue gets solves then this issue becomes irrelevant.

[2015-10-11 22:57] samreid commented on #72
I should also note: if we decide we want the behavior of "if you add a listener while callbacks are being processed, then the newly added listener will get called back during that same event", it would be straightforward--mainly some index & counting calisthenics. We could keep track of the index of iteration and when listeners are added or removed, we could update the index of iteration according

[2015-10-11 22:59] samreid commented on #72
I'm ready for feedback on this approach and the desired behavior.  @jonathanolson and/or @pixelzoom may be good ones to chime in--let me know if you have time & interest.

[2015-10-11 23:09] samreid commented on #70
Since create Emitter.js is tracked in #72, I'll enumerate the remaining items for this issue:

1. Should we create EmitterSet or change the Events constructor to have the names of accepted event types?
2. Emitter's add listener method is going to be called addListener--perhaps it is still valuable to call Property's add listener method `link` and `lazyLink` since link has the automatic callback.
3

[2015-10-11 23:41] samreid commented on #70
The questions above are lower priority so  I'll unassign for now.

[2015-10-13 15:02] samreid commented on #72
Labeling for developer meeting to discuss states and discuss review.  Also note: this appears in https://github.com/phetsims/joist/issues/301 and should be reviewed before publication.

[2015-10-13 16:30] jonathanolson commented on #72
Yes, defensive copy there sounds good, looks like this was done already.

Instead of a single defensive copy location, we could use a stack pattern to allow re-entrant emit calls. This is an issue, since bounds in Scenery is potentially re-entrant.

[2015-10-13 16:40] samreid commented on #72
@jonathanolson says he can review this.

[2015-10-13 16:45] samreid commented on #72
Consensus from meeting: the behavior from copying the listener list is preferable.

[2015-10-13 17:57] samreid commented on #72
Would it be sufficient to permit only up to 1 level of re-entry?  Then instead of the complication of stacks and multiple different copies of listener lists, we would have the following:

* at the beginning of emit(), it checks if emit is already being processed.  If so, it will set `this.emitAgain=true` and return immediately.
* at the end of emit, it checks if `this.emitAgain` is true.  If so, i

[2015-10-13 18:03] pixelzoom commented on #72
1 level of reentry seems like a difficult constraint to keep track of in the client.

[2015-10-13 18:03] samreid commented on #72
It would be handled completely by Emitter.js.  Multiple calls to emit() during an emit() would essentially be batched.

[2015-10-13 18:49] jonathanolson commented on #72
Mind if I take a shot at re-entrance in a branch?

[2015-10-13 18:50] samreid commented on #72
I don't mind, but it would be great if you can also explain why single re-entry batching is insufficient.

[2015-10-13 19:00] jonathanolson commented on #72
It's fairly easy to cook up an example like below, and these types of things did seem to arise previously.
[code]

Or alternatively, you could have one listener that may take a few attempts before it stops changing the transform, etc. Listeners like this are supported by Scenery (as we've basically been using them), so that would mean we may not be able to use Emitter if it doesn't support this ty

[2015-10-13 20:20] samreid commented on #72
@jonathanolson & I discussed the problem and the issue is that Events.js `on` always creates a copy so it supports nested listeners lists.  We also tinkered with this qunit test example:

[code]

The desired behavior is listed below and the single re-entry doesn't work in this case because it doesn't have the right copy of listeners to use at each level.

One solution we discussed: put
[code]
in E

[2015-10-13 21:29] samreid commented on #72
I did the straightforward implementation of a listener list stack, emit now looks like this:

[code]

This passes the "abb" test.

@jonathanolson is one push/pop per emit too much overhead?  What do you recommend here?

[2015-10-13 21:31] samreid commented on #72
I decided to push my changes, but we still need to discuss whether push/pop every emit is OK, or if there are other ways to proceed.

[2015-10-13 21:44] jonathanolson commented on #72
Performance testing sounds useful. Try with no re-entrance support, push/pop, direct array assignment (e.g. arr = []; arr[0] = x) with no pop, conditional push with no pop (e.g. if( index >= arr.length ) { arr.push( x ); } else { arr[ index ] = x }, or maybe other options.

Maybe not having to push/pop on the first call (before re-entering) is an option?

[2015-10-13 23:01] samreid commented on #72
Using the push/pop emitter, creating one and calling emit with a listener that just does x++ on an otherwise unused global, incrementing by powers of 10, I got to 100,000 emit calls before the performance dropped to 30fps in GAO on iPad3 (when nothing is animating).

Removing the push/pop for 100,000 emits gets the performance back to 60fps.  Then when I went to 1,000,000 emits/frame the performan

[2015-10-14 04:27] samreid commented on #72
The performance cost of push/pop seems negligible on iPad3 in the test cases above.  Still, we know this pattern will be widely used and perhaps it is worth investing in the complexity of a push/pop-less top level emit.  @jonathanolson can you review my notes and discuss?

[2015-10-14 15:25] samreid commented on #72
We could create an abstraction MyStack.js which hard codes the first few elements and uses an array after n>N.  This could keep the implementation in Emitter really simple.

[2015-10-14 19:29] jonathanolson commented on #72
Let's call that good for now, and only work at further optimization if we find it's a bottleneck.

[2015-10-14 19:47] samreid commented on #72
Sounds good.  Remaining work here:

* emit1 and emit2 should be updated to match emit's push and pop.
* I believe the current implementation also has a bug that could occur if addListener or removeListener was called twice during one emit frame, if the defend() is called twice, the second time could end up with the wrong thing.

[2015-10-16 04:47] samreid commented on #71
I'll be starting Circuit Construction Kit soon and am thinking of taking this strategy for a test drive.  Thoughts from @jbphet @jonathanolson @aaronsamuel137 before I start?  I'll flag for dev-meeting in case we don't get a chance to discuss it before then.

[2015-10-20 16:15] jonathanolson commented on #71
I've personally found it helpful to support ```this.visible``` as an access pattern, so that if 'visible' doesn't have to be a Property anymore, it's easy to convert back to a normal object property (and vice versa).

The proposed way of supporting this:
[code]
sounds way more verbose and harder to read than:
[code]

[2015-10-21 14:23] pixelzoom commented on #71
I prefer the PropertySet pattern.

[2015-10-21 17:42] samreid commented on #72
Proposed fix is above, it should be reviewed and discussed.  @jonathanolson do you have time to look at this with me?

[2015-10-21 21:31] samreid commented on #72
@jonathanolson pointed out the unit tests are failing--I'll look into this before review.

[2015-10-21 23:09] samreid commented on #72
Fixed the logic issue above.  @jonathanolson if you can find me more problems to solve I will be grateful.

[2015-10-22 17:55] jonathanolson commented on #72
Looks good except for the case where defendCallbacks needs to defend multiple undefended arrays.

Added failing test case with documentation of what is the expected order.

[2015-10-23 05:51] samreid commented on #71
Here is a crazy hack that lets us gain navigation and highlighting (without developing our own plugin) and still using PropertySet object literal constructor.  After declaring the PropertySet, assign the Properties to themselves.  We could strip this out for production, or enable it only in assert:

[code]

[2015-10-23 05:52] samreid commented on #71
Screenshot of the latter two statements:

![image](https://cloud.githubusercontent.com/assets/679486/10685492/e8f8c4f0-7917-11e5-822e-feebffe6acef.png)

[2015-10-23 17:45] samreid commented on #72
@jonathanolson & I fixed the multiple defended arrays issues yesterday, and @jonathanolson said he thought everything else was good to go here, so I'll close.

[2015-10-23 17:45] #72 closed

[2015-10-29 20:56] pixelzoom commented on #10
If a client needs deep equality, they can extend Property and override equalsValue. @samreid is that sufficient? If so, please close this issue.

[2015-10-29 21:00] pixelzoom commented on #68
@samreid In light of the Emitter.js work, is this issue still relevant?

[2015-10-30 15:13] samreid commented on #10
I added docs to equalsValue and will close this issue.  However, I discovered a related issue which I will open shortly.

[2015-10-30 15:13] #10 closed

[2015-10-30 15:15] samreid opened #73 "onValue uses the wrong equals definition"
See https://github.com/phetsims/axon/issues/10

onValue currently uses ===, but it should use something like equalsValue.  I couldn't update it to use equalsValue right away because equalsValue compares input to this.value, not input1 to input2.  We may need to change this in the future.

This is a purely latent bug at the moment because all of the 19 usage sites are currently testing values of bo

[2015-10-30 15:37] samreid commented on #68
Emitter.js sounds like the best solution to this problem.  Let's leave existing usages of axon.Events as they are (or can be converted on a case-by-case-basis), but let's prefer Emitter for future events of this sort.

@jessegreenberg @jonathanolson @pixelzoom @aaronsamuel137 @jbphet please make a note to use Emitter instead of Events for future events.

[2015-10-30 15:37] #68 closed

[2015-10-30 18:29] pixelzoom opened #74 "incomplete/incorrect jsdoc in Emitter.js"
Various problems with the jsdoc in Emitter.js:

(1) No type expression for various parameters (listener, arg1, arg2, ...)

(2) Visibility modifier missing for some functions (hasListener, emit, ...)

(3) Visibility modifier should be on it's own line, not followed by the function description. Eg:

[code]

Should be:

[code]

[2015-10-30 18:29] pixelzoom commented on #74
@samreid please verify.

[2015-10-30 18:35] pixelzoom opened #75 "delete Property._set ?"
Here's the current jsdoc for Property._set:

[code]

No function prefixed with underscore should be public.  And I see zero uses of this. Can we delete this?   If a client really needs to do this, they can handle the bind themselves.

[2015-10-30 18:35] samreid commented on #74
The change set was in https://github.com/phetsims/axon/commit/fd6908bf9c95c518bd91fdff46029ae694ee3eab

[2015-10-30 18:37] samreid commented on #74
Looks good, thanks.

[2015-10-30 18:37] #74 closed

[2015-10-30 18:41] samreid commented on #75
Deleted in https://github.com/phetsims/axon/commit/202abb277f47a2fee77ebb980cdea7fc8f5a98ae
Closing.

[2015-10-30 18:41] #75 closed

[2015-10-30 18:42] pixelzoom commented on #74
Btw... I think it's OK to put the visibility modifier on the same line as a the description of single-line (non-jsdoc) comments.  Eg in FireOnHoldInputListener:

[code]

[2015-10-30 20:08] jonathanolson opened #76 "Axon unit tests failing"

[2015-11-04 19:02] samreid commented on #73
Fixed above, tested in Under Pressure, which uses onValue.  @jbphet can you review or re-delegate to someone else for review?

[2015-11-05 22:17] pixelzoom commented on #76
Unit tests are failing and I published RC versions based on this ?!?!  Why isn't this high priority?

[2015-11-05 22:38] samreid commented on #76
This code isn't used by the RC versions.

[2015-11-05 22:43] pixelzoom commented on #76
Please clarify: Is production code failing unit tests, or are the unit tests failing to run? And if the latter, how do we know the former isn't true?

[2015-11-05 22:48] samreid commented on #76
To run the unit tests for axon, please visit:

http://localhost/axon/tests/qunit/unit-tests.html

I am seeing:

The failed 2 assertions are in "Emitter Tricks" from a test added Oct 22 which only test features in Emitter.js.  Emitter is only instantiated in scenery.Input and currently the only listeners are added to it via together.js, which is unused in our production sims.  The failing tests are

[2015-11-06 19:05] ariel-phet commented on #38
Looks like this is an old issue. @samreid can you take care of, close, or reassign (not to @aaronsamuel137 ) if further action is needed.

[2015-11-06 20:58] samreid commented on #76
I addressed the issue in the above commit using a strategy @jonathanolson described to me more than a week ago.  @jonathanolson can you take a look at your convenience?

[2015-11-06 20:58] samreid commented on #76
By the way, all unit tests are passing and I confirmed that no slice occurs if no listeners are added/removed during an emit.

[2015-11-06 20:59] samreid commented on #76
I also dropped the high-priority label because the unit tests are passing and the review requested from @jonathanolson is regular priority rather than high.

[2015-11-07 02:54] samreid commented on #38
The main problem in this issue has been addressed, the reason the issue is still open is described in https://github.com/phetsims/axon/issues/38#issuecomment-89396284 .  I'll create a separate issue for that and close this one.

[2015-11-07 02:54] #38 closed

[2015-11-07 02:57] samreid opened #77 "Assert that number of listeners === 0 in Property/PropertySet/Emitter/Events dispose"
From https://github.com/phetsims/axon/issues/38#issuecomment-89396284 @pixelzoom said:

@samreid responded:

Assigned to myself for the moment to see if this is easy, if difficult it may be deferred.

[2015-11-09 18:10] jonathanolson commented on #76
Looks good to me.

[2015-11-09 18:10] #76 closed

[2015-11-10 19:56] jonathanolson opened #78 "Property uses Multilink without requiring it"
This could potentially lead to a failure if only Property is required in require.js.

[2015-11-10 21:14] samreid commented on #78
It looks like Multilink no longer requires Property, so we could probably require(Multilink) in Property now.

[2015-11-14 04:51] samreid commented on #77
I'm running the fuzz test on all of our sims alphabetically.  Currently up through 22 sims and only one problem of this sort identified, and it is in balancing-chemical-equations:

[code]

I'll report back after more tests have completed.  But if there are a small number of other issues of this sort, then it seems beneficial to turn on the assertions in the dispose function, and fix the small numb

[2015-11-14 05:05] samreid commented on #77
I'm up through molecule-shapes with no other issues of this sort.  (Jotting that down here in case tests are truncated or we need to pick up from there for any other reason).

[2015-11-14 05:27] samreid commented on #77
Tests finished.  Also, I identified that my test wasn't failing if there were no observers--it was failing if dispose was ever called.  No other occurrences other than the BCE one identified above, which means no other sims are calling Property.dispose.  I'll fix the assertion, test it and commit and create an issue in BCE about removing listeners before disposal.

[2015-11-14 05:29] samreid commented on #77
Also, I should say I am fuzzy on the logic above:

But if listeners are removed in dispose(), there would be no memory leak, right?  Or is there some other memory leak that is masked?

[2015-11-14 05:31] samreid commented on #77
Fixed above and committed.

PropertySet.dispose delegates to Property.dispose so no additional work is required.  I'll close this issue and open up one for BCE.

[2015-11-14 05:31] #77 closed

[2015-11-15 06:17] samreid commented on #78
Fixed above, tested with a few sims and did not see any issues.  Closing.

[2015-11-15 06:17] #78 closed

[2015-11-19 04:48] jonathanolson opened #79 "Failing DerivedProperty.detach unit test"

[2015-12-04 13:41] #79 closed

[2015-12-08 22:34] jonathanolson opened #80 "Check Emitter performance for no-listener case"
It may be beneficial to wrap emit() bodies with a check to see if there are currently any listeners that would be notified.

Some bottlenecks in Kite are currently with Events that would be emitting with no listeners, so it would be beneficial if this is a fast operation.

Worth a performance check for "no listeners" and "some listeners" both before and after adding a guard, to make sure we don't

[2015-12-15 19:45] samreid opened #81 "How to name emitters?"
There was discussion over skype today about how emitters should be named:

[12/15/15, 11:27:49 AM] Jonathan Olson: Also, how have people named emitters? Always with the suffix 'Emitter', e.g. 'visibilityEmitter', or something like 'visibilityChanged (or a verb suffix in general).
[12/15/15, 11:30:45 AM] Chris Malley: The only usage I've found in a sim is build-an-atom.PeriodicTableCell:
[12/15/15,

[2015-12-15 19:48] samreid commented on #81
It seems like the recommendation from above concluded with the suggestion:

[code]

[2015-12-15 19:55] samreid commented on #81
For consistency with our Property API conventions, it seems like the usage should be something like:

[code]

However, this seems at odds with @jonathanolson's comment above:

Perhaps for our typical objects, we should use the strategy to match the Property API and only opt-in to a different convention in the special cases where objects have tons of properties.

[2015-12-15 19:55] samreid commented on #81
Marked for developer-meeting unless we can get it sorted out before then.

[2015-12-15 20:12] samreid commented on #81
Here is the related issue in build-an-atom: https://github.com/phetsims/build-an-atom/issues/112

[2015-12-16 23:39] pixelzoom commented on #81
Re https://github.com/phetsims/axon/issues/81#issuecomment-164876217 ...

EmitterSet was not the primary topic of discussion. That was proposed as a possible solution for the situation where a type has many fields and/or many Emitters.

The primary topic of discussion was the naming convention for Emitters, motivated by the anti-pattern discovered in https://github.com/phetsims/build-an-atom/issue

[2015-12-17 04:23] samreid commented on #81
As noted in https://github.com/phetsims/build-an-atom/issues/112#issuecomment-165304090

In the skype thread above, I saw several votes for omitting the "emitter" suffix, but no explanations of why it should be omitted.

It would be confusing to have object properties named like booleans which are not booleans.  For instance: Node.boundsChanged sounds like a boolean value, not an emitter.  Also, w

[2015-12-17 19:30] samreid commented on #81
@jbphet said keeping the Emitter suffix sounds like a good idea.

@jonathanolson suggested using past tense for the verb if we are notifying about something that has already happened.

[2015-12-17 19:38] samreid opened #82 "Consider rewriting Property using Emitter"
At the Dec 17 meeting, we wondered what it would look like for Property to be implemented using Emitter instead of its own custom emitter-like implementation.

[2015-12-17 19:53] pixelzoom commented on #81
Can this be closed?

[2015-12-17 19:56] samreid commented on #81
I wasn't sure that all of @jonathanolson's thoughts had been adequately captured in the comment above.

But since we have a consensus about using "Emitter" suffix and typically using past tense, I think the issue can be closed.  Perhaps reassign to @jonathanolson to see if he has anything to add, then close after that?

[2015-12-17 20:16] samreid commented on #81
Looking at #82 I was thinking of adding an emitter to notify on changes, and I have to admit that `changeEmitter` sounds more natural than `changedEmitter`.

[2015-12-17 20:34] samreid commented on #82
This change is fairly straightforward and in the end, trades a slice (for safe array copy in Property) for a push/pop (in Emitter).  I guess (but am not sure) this will be a net win for CPU usage & garbage collection.  I'm running the simulation fuzz tests to catch any edge cases.

[2015-12-17 20:41] samreid commented on #82
Tagging @pixelzoom and @jessegreenberg so they are aware of this upcoming change, please see above.

[2015-12-17 21:00] samreid commented on #82
Axon unit tests are all passing.

[2015-12-17 21:18] samreid commented on #82
Here's the full list of assertions when running the requirejs fuzz tests:

[code]

It looks like only the 1st issue is attributable to the Property changes.  Area-builder was using a private Property field.

[2015-12-17 21:24] samreid commented on #82
After changing area-builder to use the new internal Property structure, it is passing fuzz test.  I'll take another quick look through before committing.  After commit, it would be good for another developer to take a look since this is a fundamental data structure used widely in our sims.

[2015-12-17 22:11] samreid commented on #82
Change committed above, @jessegreenberg are you available to perform a micro-review?

[2015-12-17 22:14] samreid opened #83 "Property.events should be converted to Emitter"
Discovered during #82, Property uses this code for phet-io:

[code]

Perhaps this should use Emitter as well.

[2015-12-18 05:13] samreid commented on #82
Something is suspicious, axon tests failing now... I'll look into it.

[2015-12-18 05:20] samreid commented on #82
Fixed above, ready for review again, @jessegreenberg are you available to perform a micro-review?

[2015-12-21 17:53] jessegreenberg commented on #82
Changes involving use of Emitter.js look good to me @samreid.  I notice two things worth discussing:

1. ```this.changedEmitter``` is marked as ``` @public (unit-tests)```.  Does this mean:
   * "Private except for the functions required by unit tests" or
   *  "Public, heavily used by functions in unit tests" ?
   - If it means the first Item, I might prefer ```@private (unit-tests)``` to mark pr

[2015-12-21 17:59] samreid commented on #82
@jessegreenberg thanks for this review.  Indeed I meant `@private (unit-tests)`, nice catch.  Regarding the isListener thanks for pointing this out, I was not aware that this was a recent change.  I originally started with `isListener` but in context it seemed very confusing:

[code]

I suppose I would have the same confusion about `Node.isChild`

[code]

The method names that I think work best fo

[2015-12-21 18:02] samreid commented on #82
Fixed the public/private annotation above.  @pixelzoom and @jonathanolson should weigh in on the naming of the methods, since they were both involved.  I'll unassign for now, with a `developer-meeting` label in case @pixelzoom @jonathanolson @jessegreenberg and I cannot work things out before the next developer meeting.

[2015-12-21 18:19] pixelzoom commented on #82
The change to `isListener` was vetted at 12/17/2015 developer meeting, see https://github.com/phetsims/axon/commit/fe3b65dfc633cacd425faace965b987d59d58e46. Looks like you explicitly changed it back to `containsListener` in https://github.com/phetsims/axon/commit/a7940fa67f38e82fc761ab7eede706f4e3b3958e.

`containsListener` implies that Emitter is a container (not the case) or uses a container to

[2015-12-21 19:07] jessegreenberg commented on #82
My favorite is ```hasListener```, but I can appreciate the possibility for confusion with ```hasListeners```.  Accidentally calling
[code]
would be tricky to catch because ```hasListeners``` will also return a boolean without failure.
Could we catch this with something like
[code]

[2015-12-21 19:19] samreid commented on #82
`hasListener` sounds great to me.  I'm not too concerned about mixing up hasListener/hasListeners, but if others are concerned I think @jessegreenberg's suggestion will solve that problem.  (Could also put a similar assertion in hasListener.)

[2015-12-21 19:24] pixelzoom commented on #82
+1 for assertions in hasListener and hasListeners.

[2015-12-22 17:15] samreid commented on #81
@jbphet says either way is OK, though would prefer consistency
@jonathanolson originally advocated for `changeEmitter` and fine with either or both
@jessegreenberg recommends present tense, because the listeners will change something.
@phetsims/matt-p says changeEmitter sounds more natural

**Consensus is that let's try `changeEmitter`** as the past tense one just seems too odd.

[2015-12-22 17:17] samreid commented on #81
@jbphet pointed out that `actionPotentialReachedCrossSection` seems like it sounds best as past tense.

** New Consensus: we will permit either kind, choosing in each case which seems most natural **

[2015-12-22 17:17] #81 closed

[2015-12-22 17:20] samreid commented on #82
@jonathanolson prefers changing isChild to hasChild in scenery as well.

**Consensus: `has` sounds preferable to `is`**

@samreid will create a scenery issue for renaming isChild to hasChild.

[2015-12-22 17:21] samreid commented on #82
@jonathanolson said if it is easy to do global query replace (across axon and scenery), ok to do so.

[2015-12-28 18:42] samreid commented on #82
I'm seeing 0 occurrences of isListener across our repos.  I renamed `containsListener` to `hasListener`.  I added assertions into both `hasListener` and `hasListeners`.  Axon unit tests are passing.  Bending Light is launching and running without exceptions.  Will commit shortly.

[2015-12-28 18:43] samreid commented on #82
Fix committed above.  I'll create a separate issue for scenery and reassign this one to @pixelzoom for review at his discretion.

[2015-12-28 21:30] pixelzoom commented on #82
Looks good, closing.

[2015-12-28 21:30] #82 closed

[2015-12-29 17:24] samreid opened #84 "Automatically pair links and unlinks"
During the meeting on Dec 29, we discussed an API that automatically pairs link/unlink and addListener/removeListener, etc.  This is not exclusive to axon, but would also appear in scenery, etc.

We discussed an API like this:

[code]

Discussed in the context of https://github.com/phetsims/chipper/issues/418

[2016-01-05 16:52] jonathanolson commented on #84
Most Scenery objects are reused, so they have initialize() and dispose(). Thus dispose would be called multiple times.

So if Scenery internal code were to use this:
1. dispose() would need to be callable multiple times (actually clear the array)
2. autolink shouldn't create a new function closure every time it's called (avoiding creation of objects, particularly when our disposable thing is pulle

[2016-01-21 20:36] samreid opened #85 "ObservableArray should use Emitters instead of Events"

[2016-01-22 19:51] pixelzoom commented on #47
I prefer having the Errors, since they provide a description of the programming error.  If we remove the "methods", then the error becomes less obvious.

[2016-01-22 19:52] pixelzoom commented on #47
Btw... Each of these methods in DerivedProperty should be annotated with `@override`.

[2016-01-22 19:57] pixelzoom commented on #40
There are 145 occurrences of `new DerivedProperty` and 10 occurrences of `DerivedProperty.call`.  I suspect that we would need to support both array and varargs construction.  But I don't really see a significant advantage in the convenience of a varargs constructor, it saves your from typing 2 chars, while complication the implementation.  So imo this is an "enhancement" that isn't desirable.

[2016-01-22 19:58] pixelzoom commented on #40
Proposal to close this issue as "will not implement".

[2016-01-22 19:59] pixelzoom commented on #27
Events has been replaced by Emitters.  Can we close this? Do Emitters require a similar feature?

[2016-01-23 03:26] samreid commented on #27
All of @jonathanolson's cases above apply to Emitters or Events, so this still requires discussion.

[2016-01-23 03:37] jonathanolson commented on #27
Medium-low. Changes will be very invasive, but it may have performance benefits, but will make code cleaner.

I also have a similar construct for Instances' root transforms, where 1+ listeners will trigger computation. It's generally fairly rare.

Due to that, Node and Instance could just override the methods on Events/Emitter if that's cleaner and higher-performing overall.

Thoughts?

[2016-01-23 18:01] pixelzoom commented on #27
@samreid said:

Do we intend to do this for both Events and Emitters, or just Emitters? My understanding is that Events are deprecated.

[2016-01-23 23:50] samreid commented on #27
We wouldn't implement @jonathanolson's suggestions for Events, if we proceed it would only be with Emitters.

[2016-01-26 05:28] samreid commented on #40
I also recommend closing this issue as "will not implement".  It seems that using variable types in constructors disables js runtime optimizations and makes the implementation more complex.

[2016-01-26 20:42] pixelzoom opened #86 "Property: add set/get for initialValue"
Following up on the function-builder discussion that I had with @samreid, @jbphet and @jonathanolson today...  We concluded that it was OK to initialize some portion of the model after the view has been created.  And to do that properly, there are some instances of `axon.Property` (for {Vector2} locations, in function-builder) whose initial value needs to be adjusted, so that "Reset All" works pro

[2016-01-26 20:47] pixelzoom commented on #86
Btw... I advocated for the removal of (among other things) `storeInitialValue` in https://github.com/phetsims/axon/issues/67, where `storeInitialValue` was an interface to setting the initial value.  I'm still not wild about having this exposed. But I think that doing it via a uniform setter/getter interface is preferable to having `get initialValue()` and `storeInitialValue`.

[2016-01-26 20:48] pixelzoom commented on #86
Btw... I advocated for the removal of (among other things) `storeInitialValue` in https://github.com/phetsims/axon/issues/67, where `storeInitialValue` was an interface to setting the initial value.  I'm still not wild about having this exposed, and I think we should be judicious about using it. But I think that exposing the initial value it via a uniform setter/getter interface is preferable to h

[2016-01-26 21:28] pixelzoom opened #87 "PropertySet.unlinkAll?"
Shall we add `unlinkAll` to PropertySet?

[code]

This would be useful when implementing `dispose` for instances of PropertySet.  Attempting to dispose of a Property that has observers results in an assertion failure (Property line 56).

[2016-01-26 21:40] pixelzoom commented on #87
Whoops, the above implementation won't work. `getProperties` requires an array of Property {string} names.

[2016-01-26 21:42] pixelzoom commented on #87
Revised:

[code]

[2016-01-26 21:44] pixelzoom commented on #87
I went ahead and added this, tested in `function-builder.Movable`.  @samreid can you take a peek?

[2016-01-27 05:22] samreid commented on #87
Looks great, I just fixed the docs a bit, closing.

[2016-01-27 05:22] #87 closed

[2016-01-28 17:25] jonathanolson commented on #40
+1 for "will not implement"

[2016-01-28 17:26] pixelzoom commented on #27
Then I'll change the title of this issue to indicate "Emitters".

[2016-01-28 17:27] pixelzoom commented on #40
Since everyone who has commented on this issue has also weighed in with "will not implement", I'm going to close this issue.

[2016-01-28 17:27] #40 closed

[2016-01-28 21:40] jonathanolson opened #88 "Add DerivedProperty convenience constructors"
Mirroring https://github.com/phetsims/axon/issues/39 but like:

[code]

with signature `function( {Array.<Property.<boolean>>} properties, {Object} [options] ) : Property.<boolean>`, and similarly for the numeric/binary ones.

[2016-01-29 00:40] pixelzoom commented on #86
@samreid, @jbphet, @jonathanolson  I could use this feature in function-builder before the next developer meeting. Please weigh in on the proposal in https://github.com/phetsims/axon/issues/86#issue-128936523.

[2016-01-29 01:26] samreid commented on #86
Generally it would be nice if Properties could be created after their initial values are known.  @pixelzoom, @jonathanolson @jbphet and I discussed ways to implement this, which may include a separate model startup phase (after view parameters are known).  However, in some cases `setInitialValue` may be the simplest solution to a difficult problem.  Feel free to implement at your convenience.

[2016-01-29 19:49] jonathanolson commented on #88
@samreid, do you mind reviewing? I'd also like to discuss implementation of not().

[2016-01-29 22:20] samreid commented on #88
I'm seeing ` // TODO: fix`, can you comment?

[2016-01-29 22:26] samreid commented on #88
Can the accumulator be eliminated for the case of `and` and `or`?

[2016-01-29 22:29] samreid commented on #88
Perhaps renaming `conjunctionWithProperty` to `orCombination` or something else with the word `or` would be simpler for many programmers.  Likewise for the other functions declared near the top of DerivedProperty.

[2016-01-29 22:35] samreid commented on #88
What do you think about moving the derivations closer to the functions that create them?  For instance, valueEquals is

[code]

What about inlining conjunctionWithProperty here?  It seems that `conjunctionWithProperty` is not reused and a new function is already being declared with `bind`.  The for-loop version can also bail early:

[code]

[2016-01-29 22:37] samreid commented on #88
I like how you've named `derivedNot` like the Java, it will make porting easier.

[2016-01-29 22:38] samreid commented on #88
Can you add a unit test or two covering at least some of the DerivedProperty cases?  At least enough to demonstrate that the idea works.

[2016-01-29 22:38] samreid commented on #88
I've finished my review, nice work @jonathanolson, everything seems like it is in good shape.

[2016-02-02 16:34] samreid commented on #27
How about an Emitter subclass in Axon that does this?

[2016-02-02 17:18] pixelzoom commented on #27
2/2/16 dev meeting: Deferred to 2/4/16 when @jonathanolson is present.

[2016-02-02 17:28] pixelzoom commented on #86
2/2//16 dev meeting: OK to add this, but I'm going to continue to look for a better way to handle this in function-builder before I add it.

[2016-02-02 18:18] samreid commented on #27
Reassigning to @jonathanolson to look into once he is looking into related scenery code, using an Emitter subclass in Axon for now.

[2016-02-02 22:58] samreid commented on #86
My 2 cents that I also mentioned in today's meeting, it worked well when I modeled the positions of the cards in the view rather than the model for build-a-fraction.

One additional complication you may not have considered is that if the carousel on the left may be aligned to the left side of the screen, in which case resetting the initial coordinates of the value cards may not be sufficient, depe

[2016-02-03 16:48] pixelzoom commented on #86
Thanks @samreid, I hadn't thought of that additional complication. I'd check with my design team on the probability of that feature being desired.

[2016-02-03 17:31] #85 closed

[2016-02-05 05:33] samreid opened #89 "Test for 2nd arg instanceof Tandem"
More than once a Tandem has been supplied as a 2nd arg of Property, but it should appear in an options object instead.  See https://github.com/phetsims/beers-law-lab/issues/158

Can we detect Tandem instances and throw an assertion error in cases like this?

[2016-02-05 16:28] samreid commented on #89
This will put a dependency from axon->tandem, but this seems OK since tandem is already in common libs.

[2016-02-05 16:29] samreid commented on #89
Fixed above, tested with a synthetic case, builds/lints pass, closing.

[2016-02-05 19:09] samreid commented on #89
@jbphet said:

[2016-02-05 19:21] samreid commented on #89
OK I'm using duck typing above so that axon, dot, kite, scenery do not have a direct dependence on Tandem.

[2016-02-05 19:22] samreid commented on #89
Thanks for alerting me to this problem, I’ve removed the explicit Tandem check in Axon and moved to a duck-type check for now.  In the future if/when all repos depend on tandem, we can add back an Axon->Tandem dependency and do a direct type check.

[2016-02-05 20:44] pixelzoom commented on #89
The current implementation is not arg type verification. Verification of arguments should confirm an *expected type*, not check to see if the type is some specific unexpected type. In this case specifically, if you pass in a {Tandem} by mistake, you get an assertion failure.  But if you in some other type by mistake, then you're out of luck.  Proper type verification would check for the expected t

[2016-02-05 20:47] samreid commented on #89
Tandem instances also pass the test `typeof options === 'object'`, so we need a way to distinguish them.

[2016-02-05 21:30] pixelzoom commented on #89
How about this?

`assert && assert( !options.constructor );`

An object literal has no constructor.

[2016-02-06 00:56] samreid commented on #89
It does seem unlikely (though not impossible) that someone would pass in an options object with a `constructor` property, like:

[code]

It seems like whatever check we put here will have to be a heuristic that cannot be guaranteed to be accurate 100% of the time.  Alternatively, we could make all repos depend on Tandem and just do an instanceof check instead.

[2016-02-09 16:48] jonathanolson commented on #89
It's also possible to have ```isTandem: true``` on Tandem's prototype. It is very unlikely we would unintentionally pass a non-Tandem object with that set.

[2016-02-09 16:50] samreid commented on #89
That seems great to me @jonathanolson, I'll go for it.  I'll remove the developer-meeting flag but if others want to discuss further, please do so.

[2016-02-09 18:24] #89 closed

[2016-02-10 16:19] pixelzoom commented on #86
Checked with my design team regarding the "one additional complication" in https://github.com/phetsims/axon/issues/86#issuecomment-178874447.  This feature is not desired in function-builder, where we want to (1) maintain proximity of the inputs and outputs so they can be easily compared, and (2) have a fairly short "drag distance" between carousels and the builder.

[2016-02-10 16:23] pixelzoom commented on #86
Tracking the issue of anchoring carousels in https://github.com/phetsims/function-builder/issues/9.

[2016-02-15 16:49] pixelzoom commented on #86
By populating the carousels after they are realized in the view, I no longer need to resort to adjusting the initial locations of the cards and functions in the model.  So I'm not going to do this.  I'll leave this open for now. But this experience suggests that this feature is not needed, and situations where it might seem to be needed can be better addressed by reconsidering how (and when) a sim

[2016-03-18 22:26] jbphet commented on #73
Looks okay to me.  For anyone looking at this in the future, the key to understanding why this is done is that the equality test is being put into a method so that it can be overridden in subclasses if a different equality test is needed.  Closing.

[2016-03-18 22:26] #73 closed

[2016-03-21 17:25] pixelzoom opened #90 "mark Events as @deprecated?"
My understanding is that we should be using Emitter, not Events. Should Events be marked as @deprecated?

[2016-03-22 03:18] samreid commented on #90
Yes, but the road to deletion will be long since PropertySet *and* Node extend Events.  I've marked Events as deprecated in the above commit.  Anything else to discuss here @pixelzoom?

[2016-03-22 14:57] pixelzoom commented on #90
I should have noted in the first comment...This came up when pairing with @andrewadare, and he was wondering how he was supposed know that Emitter had replaced Events.  Marking as deprecated with a note to "use Emitter instead"  (as you've done) addresses that concern.  Closing.

[2016-03-22 14:57] #90 closed

[2016-04-14 18:02] pixelzoom opened #91 "implement Emitter.dispose"

[2016-04-14 18:02] pixelzoom opened #92 "implement Events.dispose"
... even though Events is deprecated, it's going to be around for awhile.

[2016-04-14 18:08] pixelzoom commented on #92
Events already has dispose, closing.

[2016-04-14 18:08] #92 closed

[2016-04-14 18:15] samreid opened #93 "Investigate pattern for automatically wiring up dispose"
Currently link/unlink, addListener/removeListener, addTandem/removeTandem are spread out, with all the add's together and all the removes together.  Today we discussed an idea to couple each link/unlink add/remove etc instead of scattering them.  It could be mediated through a disposeEmitter.

From 4/14/16 dev meeting notes:

* @pixelzoom will commit DisposeExampleNode to phet-info
* @samreid will

[2016-04-14 18:36] pixelzoom commented on #93
DisposeExampleNode committed in https://github.com/phetsims/phet-info/commit/3b9cc3532f22a54e99085e6f0b540a28c590aac6.

[2016-04-14 18:49] samreid commented on #93
Previous discussion is in https://github.com/phetsims/axon/issues/84

[2016-04-14 20:02] samreid commented on #93
I committed sample usage of the proposed API, and @pixelzoom and I reviewed it.  We were on the fence about whether `linkWithDispose` should be used vs `link(observer,options)`; the former seemed more readable while the latter is more consistent with `new Property(initialValue,{disposeEmitter:disposeEmitter});`

@pixelzoom and I agreed this pattern was worth further investigation.

[2016-04-14 20:04] samreid commented on #93
It would be great if @andrewadare @jessegreenberg @jbphet and @jonathanolson could review example usage of the proposed API in https://github.com/phetsims/phet-info/blob/be0d86f262bed4cbb5734db48626a6ee41021725/js/DisposeExampleNode.js Review will be important here because this would be a widely used API.

[2016-04-14 20:28] samreid commented on #93
The latest version is available at https://github.com/phetsims/phet-info/blob/master/js/DisposeExampleNode.js

[2016-04-14 22:42] andrewadare commented on #93
I am inclined to prefer the `link(observer,options)` approach to `linkWithDispose` because the `*withDispose` syntax, while short to type, is less clear than it could be (so I guess I disagree with SR about it being more readable).

For example, the [.withDisposal](https://github.com/phetsims/phet-info/blob/38ba1fe81f4ac789c18894f2974dcf1b632596bc/js/DisposeExampleNode.js#L52-L55) functions don't

[2016-04-15 01:28] samreid commented on #93
@andrewadare thanks for your thoughts

The main problem with `link(observer,options)` is that the observer function may be many lines of code, and hence the options would appear many lines from the link site.  This is why many APIs put the callback function last in the list of arguments.  For instance, here is how a Hooke's Law link would read with the options style:

[code]

Perhaps a better name

[2016-04-15 03:37] samreid commented on #93
Other review notes from @jonathanolson:

* match the names, use dispose or disposal consistently
* Emitter should iterate in reverse order to dispose items
* DisposeEmitter could be a reverse-order Emitter subclass

And he will send a copy of his notes/thoughts about factoring out more dispose boilerplate.

[2016-04-15 14:58] andrewadare commented on #93
I see your point that if the observer callback is large, the syntax looks unwieldy. @pixelzoom and I were discussing yesterday that using named callbacks more often is something we might benefit from. That's a general remark, but may help some with readability here, with the side-benefit of improved call stack readability.

And going back more in your direction, giving a clear name for the link fu

[2016-04-19 18:58] jbphet commented on #93
There is a pattern that occurs frequently in our simulations where things come and go from a model and the corresponding view watches an ObservableArray for added items, attaches listeners to these items, then hooks up removal listeners that clean up view representations when the model representation is removed from the model.  Such code could be made more compact if a single dispose emitter could

[2016-04-21 18:13] samreid commented on #93
Assigning to @jonathanolson to elaborate on a new pattern that factors out even more boilerplate.  Leaving tagged for developer meeting for next week.

[2016-04-21 20:43] samreid commented on #93
Not sure if this is what @jonathanolson was thinking, but one possibility would be to create a Disposable mixin that supports the common things that need to be registered for unlinking, including Property, DerivedProperty, Emitter, Events, Tandem.  Could lead to API usage like:

[code]

[2016-04-21 20:45] samreid commented on #93
Thoughts on the above pattern:
* it eliminates the need to pass `disposeEmitter` everywhere
* it eliminates the need for a `dispose` implementation
* it can handle the ordering of disposal

Questions:
* does it put too much logic in one class?
* does it deal with subclasses properly?

[2016-04-21 21:25] pixelzoom commented on #93
Correct me if I'm wrong, but it sounds like Disposable implements `dispose`, which does 2 things:

(1) Calls `unlink/removeListener/off` for things that were registered using `Disposable.link/addListener/on`.

(2) Iterate over instance properties (that's lowercase properties), looks for property types that need to be cleaned up (Property, DerivedProperty, Emitter, Events,...), and calls their appr

[2016-04-21 23:08] samreid commented on #93
I was picturing that internally Disposable would use a queue like we discussed with Emitter.  For instance, calling `createProperty` would create the property and add a list item that handles the cleanup.

This would necessitate a large number of instanceof checks, and may run the risk of false positives.  Any problem with Disposable having a creation function for everything it knows how to clean

[2016-04-21 23:12] samreid commented on #93
We could separate responsibilities by having a DisposablePropertyFactory mixin, DisposableTandemFactory mixin, etc.  And a convenience "combo" mixin for something that needs most/all of them.

[2016-04-21 23:23] samreid commented on #93
We could use Proxy `handler.set` to intercept set calls, and (based on `instanceof` check) wire up dispose/removal listeners.  It looks like Proxy isn't too widely supported now but perhaps there is some kind of polyfill?

[2016-04-21 23:26] samreid commented on #93
I'm also wondering if we should investigate garbage-free patterns?  Or if they break modularity too much?

[2016-04-22 00:48] pixelzoom commented on #93
I really dislike having to call a function to create a Property, DerivedProperty, Emitter, etc., its awkward and has a smell about it.  And now the programming error that cause a memory leak has been shifted from forgetting to call something's cleanup function to forgetting to use a creation function.  I'm starting to feel like maybe our original pattern wasn't so bad. Yes, it's a bit boilerplate.

[2016-04-22 01:50] samreid commented on #93
+1 for keeping it obvious and +1 for not having to use a different way for creating emitters, properties, etc.

How about a compromise where create emitters and properties using the usual syntax, then wire them to a disposal like so:

[code]
and
[code]

This would allow us to deal with disposal close to the site of creation instead of getting the disposes separated.  The link syntax is a bit diffe

[2016-04-22 01:53] samreid commented on #93
Well, you could do:

[code]

[2016-04-22 01:57] samreid commented on #93
We could redesign our `addListener` and `link` style functions so that they return a 0-arg function which can be used to `removeListener` or `unlink` the same thing.  Or could return a handle with an `unlink` function, to make it more clear?  But this may risk creating new memory leaks or damaging performance in every case (there may be many cases where we do not want to spend time + memory creati

[2016-04-23 12:13] samreid commented on #93
Summarizing the problems with the traditional approach and reasons I'm interested in finding a superior approach:

1. Having the link function and the unlink function separated by potentially hundreds of lines of code seems like a code smell to me.  It would be better if the two were co-located.
2. It would be nice for there to be a semi or fully automated way to tell if things like `link` or `new

[2016-04-23 15:26] samreid commented on #93
According to https://unspace.ca/dev/2013/avoiding-memory-leaks-in-backbone-js

Sweet, we should check it out.

[2016-04-28 17:56] jonathanolson commented on #93
Here's a draft of my proposal where it uses a Disposable super-type, but without the functions to create things. Instead, we pass through a disposable object in options, so that our links/addListeners/etc. would be able to notify the Disposable that they have been added. E.g. link() would have ```options.disposable && options.disposable.registerLink( ... )``` or equivalent.

[code]

[2016-04-28 18:39] samreid commented on #93
We are generally in favor of the approach proposed above, next step is to implement Disposable, make common code changes to accept disposable as an option and try it out in a sim.

[2016-04-28 18:44] samreid commented on #93
@jonathanolson will investigate this in the context of Charges and Fields.

[2016-05-03 19:25] samreid opened #94 "Capacitor Lab Basics shows null=>null in the data stream"
Run capacitor lab basics and see many null=>null notifications.  Why is this happening?

[2016-06-08 21:34] pixelzoom commented on #5
Oh ObservableArray, how I loathe thee.  Against my better judgement (again), I attempted to use ObservableArray in function-builder, substituting it for a plain old Array that I had.  A couple of omissions that made this substitution a pita:

• ES5 getter for `length`, instead of having to do `array.lengthProperty.get()` or similar
• `splice` function, so it's possible to do more than push.

Posts

[2016-06-08 22:37] samreid commented on #5
This was added by @pixelzoom in 2a76c11e6879fd81ae06086643337b3da9c90f18

[2016-06-08 22:39] samreid commented on #5
The thing that bothers me most about ObservableArray is switching between array.get(i) vs array[i].

Crazy idea hat on: what if we autogenerate array[i] as es5 getters for the first N elements?  We should probably never do this.

[2016-06-08 22:39] pixelzoom commented on #5
Well I'll be... Guess I must've been assuming that the standard PhET pattern was used, and searched for `getLength`.

[2016-06-09 01:08] samreid commented on #5
Some interesting ideas about wrapping or extending Array at http://perfectionkills.com/how-ecmascript-5-still-does-not-allow-to-subclass-an-array/

[2016-06-09 02:06] samreid commented on #5
Splice was added in https://github.com/phetsims/axon/commit/b71cc337f6748ee080e97b50497f05972b498de0

[2016-06-16 02:16] samreid commented on #94
They were due to NaN, closing.

[2016-06-16 02:16] #94 closed

[2016-07-09 22:24] samreid opened #95 "Simplify multilink"
While debugging https://github.com/phetsims/circuit-construction-kit-common/issues/172 I realized multilink could be simpler by using forEach instead of IIFE.

[2016-07-09 22:26] samreid commented on #95
I've implemented the fix above, and axon unit tests are still passing.  Could I trouble @jbphet, @jessegreenberg or @pixelzoom for a quick review to make sure everything is good to go?

[2016-07-11 15:49] pixelzoom commented on #95
This new implementation looks buggy:

[code]

The function provided to `forEach` only takes 1 parameter, you're using 2 parameters. Where is the value of `i` coming from? It will be undefined, and promoted to zero when evaluating `multilink.dependencyValues[ i ]`.

[2016-07-11 16:03] pixelzoom commented on #95
Ah, I stand corrected.  General form of `forEach` is:

`someArray.forEach( function( item, index, array ) {... } );`

where `item` is an item in the someArray, `index` is the index of `item` in someArray, and `array` is the array being traversed.

[2016-07-11 16:11] samreid commented on #95
@pixelzoom took a look and said it's looking good enough to close.

[2016-07-11 16:11] #95 closed

[2016-07-18 14:55] samreid opened #96 "branch: phet-io-types"
See https://github.com/phetsims/phet-io/issues/489

I emailed the developer list:

PhET Developers,

I'm about to create branches in 6 repos to support the work-in-progress for moving phet-io types to simulations as part of https://github.com/phetsims/phet-io/issues/489

This approach seems feasible, so please keep in mind that changes to these repos will eventually need to merge.

Currently the r

[2016-07-21 20:44] samreid commented on #96
Merged to master and deleted branch, see https://github.com/phetsims/phet-io/issues/498

Closing.

[2016-07-21 20:44] #96 closed

[2016-07-27 01:49] samreid opened #97 "addDerivedProperty creates new Property"
addDerivedProperty creates new Property, it should probably create a Derived Property.  This showed up when I instrumented ESPB for phet-io for this line:

[code]

and I saw this in the instance proxies:

![image](https://cloud.githubusercontent.com/assets/679486/17161363/15172c7a-536a-11e6-9329-9682f788dcdb.png)

[2016-07-28 16:23] pixelzoom opened #98 "tandem-related bug in DerivedProperty"
Noted while reviewing https://github.com/phetsims/phet-io/issues/534...

There's a bug in the tandem-related code in DerivedProperty:

[code]

The bug occurs when `dispose` is called for a DerivedProperty that has no options. This line will fail:

[code]

In general, rather than prefixing things with `options &&` (which is error prone in general), I like to add this as the first line of the constr

[2016-07-28 16:26] samreid commented on #98
I like the suggestion to have `options = options || {};` or `options = _.extend(...)` instead of `options &&`.  I'm seeing 43 occurrences of `options &&` across our repos.

[2016-07-28 16:28] pixelzoom commented on #98
I fixed this specific bug, assigning to @samreid for review.  Up to you whether to create another issue to rid PhET code of `options &&`.

[2016-07-28 16:31] samreid commented on #98
Change set looks good, I'll close this issue and create a separate issue for getting rid of `options &&`

[2016-07-28 16:31] #98 closed

[2016-07-29 16:36] andrewadare opened #99 "is there a `typeof` bug in PropertySet?"
This line appears in `setValues`:
[code]
The most recent change to this line is attributed to me, which had me concerned, but it was just a formatting change. My linter flags it with the message "Unexpected constant condition", yet there are no complaints when running `grunt lint`.

Sorry if this is a misguided question, but the line looks strange to me at best, and maybe I'll learn something by a

[2016-07-31 21:42] samreid commented on #99
Yes, this line is very buggy.  I'll fix it.  Or we could work on deprecating/removing this method altogether, not too widely used and could have unpredictable behavior for non-commutative properties.

[2016-08-01 03:59] samreid commented on #99
I fixed the logic above.  The previous version was always returning true because:

[code]

evaluated to false

and

[code]

evaluated to "boolean", which is truthy.

Let's save it for future work for deprecation.  @andrewadare can you review the changes and let me know your thoughts?

[2016-08-01 14:51] andrewadare commented on #99
@samreid this looks much better. Thanks for fixing so quickly. I'll close this, and if you want to open a new issue for deprecating setValues, go for it.

[2016-08-01 14:51] #99 closed

[2016-08-30 16:52] samreid opened #100 "Remove phet-io from Events"
Events is deprecated and TEvents is only used in Beaker.  @andrewadare and I would like to remove the phet-io/tandem support from Events and recommend that Emitter be used instead in the future. (or TandemEmitter for a phet-io instrumented simulation). See https://github.com/phetsims/phet-io/issues/562

[2016-08-30 16:54] samreid commented on #100
Fixed above and tested with a few sims, closing.

[2016-08-30 16:54] #100 closed

[2016-09-20 16:12] pixelzoom opened #101 "add value validation option(s) to Property"
It would be nice to have the option to specify valid values to `Property`, especially for `{Property.<string>}`.   I'm finding that this pattern appears repeatedly in my code:

[code]

Besides that fact this is boilerplate, we're relying on the order that observers are called (first linked) to validate the value before other observers are called.  Even if Property guarantees that, it doesn't seem

[2016-09-22 19:19] samreid commented on #101
QueryStringMachine used: `allowedValues` and `validate`, it may be good to be consistent.

[2016-09-22 19:21] pixelzoom commented on #101
9/22/16 dev meeting consensus:
Use `allowedValues` and `validate` (optional, mutually exclusive). I'll do this.

[2016-09-22 19:36] pixelzoom commented on #101
We'll also need to work out how to do this for PropertySet.

[2016-09-22 19:37] pixelzoom commented on #101
Before I start working on this... We need to define the API for PropertySet.

[2016-09-22 19:50] pixelzoom commented on #101
I discussed `PropertySet` API wil @samreid.  There are many other issues with that API (including whether it should be deprecated) that need to be addressed before figuring out how to add that feature.  So I'm not sure how to proceed.

[2016-09-23 03:31] samreid commented on #71
Here's a proposal for a pattern that would replace usage of PropertySet:

[code]

It parallels our current strategy for dispose. (Note that our dispose strategy is under discussion for a different pattern).

[2016-09-23 18:42] pixelzoom commented on #71
@samreid said:

I've been unsuccessful in locating the issue where we were discussing this.

[2016-09-23 18:43] pixelzoom commented on #71
@samreid said:

I've been unsuccessful in locating the issue where we were discussing this.  Would be good to review, since I recall that we decided on an approach similar to what @samreid has proposed, then put the brakes on due to some concerns.

[2016-09-23 18:48] samreid commented on #71
I found the issue over here: https://github.com/phetsims/axon/issues/84

[2016-09-23 18:48] pixelzoom commented on #71
In https://github.com/phetsims/axon/issues/71#issuecomment-249094002, @samreid proposed a pattern that would replace PropertySet.   Looks like the proposal is to dump `PropertySet` (which imo creates more problems than it solves), have the client instantiate all `Property` instances directly, and have the client write their own `reset` function.  I like it. This is what I was doing in my earlier s

[2016-09-23 18:51] pixelzoom commented on #71
#84 is where discussion about an alternative started. But it's not the issue where we discussed various patterns and decided on our current pattern.

[2016-09-23 19:56] samreid commented on #71
Perhaps it was https://github.com/phetsims/axon/issues/93 ?

[2016-09-23 20:02] pixelzoom commented on #71
Yep thanks, #93 it was.  And the related example is phet-info `DisposeExampleNode`, which has been changed so many time that it no longer resembles the original pattern.

[2016-09-23 20:24] samreid commented on #71
Do you like this pattern?

[code]

If so, we could expand it to cover resettable too.

[code]

In my opinion, dispose and reset are very similar and we should solve them similarly.

[2016-09-23 20:31] samreid commented on #71
Upon reflection, the pattern above seems somewhat "magical", and perhaps we should stick with the traditional pattern:

[code]

It is unfortunate that the creation/disposal/reset get spread out, but perhaps it is better than the alternative.

[2016-09-23 20:32] pixelzoom commented on #71
@samreid asked in https://github.com/phetsims/axon/issues/71#issuecomment-249293425

-1

[2016-09-23 20:36] samreid commented on #71
Do you like this pattern? https://github.com/phetsims/axon/issues/71#issuecomment-249294946

[2016-09-23 20:42] pixelzoom commented on #71
@samreid asked:

+1. Keeps it simple and obvious.

[2016-09-23 22:17] samreid commented on #101
Based on #71 we are going to deprecate PropertySet, so this issue can restrict its focus to Property.

[2016-09-23 22:35] samreid opened #102 "Deprecate PropertySet"
As discussed in #71 and #101, PropertySet creates more problems than it solves and should be deprecated.  The recommended pattern is described here https://github.com/phetsims/axon/issues/71#issuecomment-249094002

with reset and disposal as described here:
https://github.com/phetsims/axon/issues/71#issuecomment-249294946

If anyone wants to argue that PropertySet should be kept/fixed/etc, that sh

[2016-09-24 02:47] samreid commented on #71
Putting this issue on hold until we discuss #102

[2016-09-24 05:43] jonathanolson commented on #71
The above code example was:
[code]
yet I'm wondering why there is a separate disposal function (particularly one that is a different function for every instance). Why not:
[code]

Also additionally, why don't we use Property.addProperty or something that lets us access ```person.age``` instead of ```person.ageProperty.value```?

[2016-09-24 16:49] samreid commented on #71
You are right, if all of the things to be reset are member variables, then there is no need for a closure function.  If there are closure variables in the constructor, then we can use the `this.resetPerson` pattern.

For simulation code, @pixelzoom and I have discussed getting rid of the "automatically generate es5 getter/setter" pattern, because it makes it impossible to know if there will be sid

[2016-09-26 20:26] pixelzoom commented on #101
Value validation options were added to Property in the above commit.

`allowedValues` tests in console:

[code]

`validate` tests in console:

[code]

Property with no constraints:

[code]

@samreid Could you please review this, since you are most familiar with the issue?

Note that I did not add this feature to static `Property.addProperty`.  Besides looking generally questionable, that function

[2016-09-26 20:58] pixelzoom commented on #101
Test driving these new options in models-of-the-hydrogen-atom, see above commit.

One thing I noticed immediately is that I'd like to have a boolean Property, to avoid repeating `allowedValues: [ true, false ]`, like in models-of-the-hydrogen-atom.Light, line 23:

[code]

I'd prefer to see:

[code]

Or if you don't like inheritance:

[code]

[2016-09-26 21:10] pixelzoom commented on #102
I'm test driving this approach (using Property instead of PropertySet) in models-of-the-hydrogen-atom, where I had 5 PropertySets. See https://github.com/phetsims/models-of-the-hydrogen-atom/commit/534a9c0aa0931bfd53f93b5592e6c50c7a019560 to compare the approaches. Having to implement reset is (as expected) a bit of a pain. But being able to navigate to Properties is wonderful, and this approach l

[2016-09-26 21:12] pixelzoom commented on #71
I'm test driving the approach of using Property instead of PropertySet in models-of-the-hydrogen-atom, where I had 5 PropertySets. See https://github.com/phetsims/models-of-the-hydrogen-atom/commit/534a9c0aa0931bfd53f93b5592e6c50c7a019560 to compare the approaches. Having to implement reset is (as expected) a bit of a pain. But being able to navigate to Properties is wonderful, and this approach l

[2016-09-26 21:30] pixelzoom commented on #71
Here are the number of PropertySet usages in my sims:

graphing-lines: 5
hookes-law: 5
litmus: 1
molarity: 1
molecule-polarity: 4
ph-scale: 3
reactants-products-and-leftovers: 5

I've avoided PropertySet's ES5 set/get features. Based on my experience converting models-of-the-hydrogen-atom, I should be able to convert these at the rate of about 5/min per Property, or 125 minutes total (just over 2

[2016-09-26 22:42] pixelzoom commented on #71
Experimented with converting a couple of sims (molarity, function-builder).  The estimates for my sims are perhaps a tad optimistic, due to usages of `addProperty`, `addDerivedProperty` and `multilink`.  But still not very difficult to convert.

[2016-09-26 22:50] samreid opened #103 "Clear shouldn't copy"
[code]

Can we clear without a slice?

[2016-09-27 03:04] pixelzoom commented on #71
RPAL was apparently a sim where I experimented with using the ES5 setters/getters for Properties. Converting it (see commit above) was not fun, was error prone, and required a lot of regression testing.

[2016-09-27 05:11] samreid commented on #71
This will be a problem in porting.  Will swapping out the bodies of the ES5 getter setters for informative assert statements help with this step?  I'm thinking of something like changing:

[code]

to

[code]

or we could aggregate stack traces like done in phetAllocation.js and make a large report about places that need to be ported for each sim.

[2016-09-27 17:48] samreid opened #104 "Add BooleanProperty"
See https://github.com/phetsims/axon/issues/101#issuecomment-249695611

@pixelzoom said:

Test driving these new options in models-of-the-hydrogen-atom, see above commit.

One thing I noticed immediately is that I'd like to have a boolean Property, to avoid repeating `allowedValues: [ true, false ]`, like in models-of-the-hydrogen-atom.Light, line 23:

[code]

I'd prefer to see:

[code]

Or if you

[2016-09-27 17:48] samreid commented on #101
BooleanProperty will be tracked in a separate issue, this issue will focus on `allowedValues` and `validate` for Property.js, the next step is for me to review it.

[2016-09-27 17:52] samreid commented on #101
Let's consider giving these similar terminology.  Currently `allowed` and `valid` are different words that mean the same thing.  Here are some pairs that may be superior (and whatever we decide we should backpropagate to QSM).

(1) validValues/validate
(2) validValues/validateValue
(2) validValues/isValidValue
(3) allowedValues/isValueAllowed

Adding @pixelzoom to thread to get feedback on these o

[2016-09-27 18:07] samreid commented on #101
Other review comments:

* Let's change the error message for `onValue` so that it is clear the listener was trying to *listen* to a value the property cannot take.
* It seems confusing for this.validate to take a non-null value even if options.validate was null.  See also next point:

* Many of our simulations have hundreds of Property value changes every second.  Now every property change require

[2016-09-27 20:21] jonathanolson commented on #103
We could presumably handle this similarly to other cases with re-entrant behavior, and only slice our internal array when ```this.remove()``` calls a callback that modifies our array.

That opens us up a bit easier for infinite loops, e.g.:
[code]

[2016-09-27 20:22] samreid commented on #103
What about:

[code]

Would that work?

[2016-09-27 21:15] samreid commented on #104
I created BooleanProperty above, @pixelzoom would you like to take a look?

[2016-09-27 21:24] jonathanolson commented on #103
To me it is unclear how to handle clear() with an observer that will add additional content (maybe assertion failure).

Besides detecting that, looping with pop() would be more efficient.

[2016-09-27 22:22] jonathanolson commented on #71
I noted in October in this issue:

I'm fine with removing PropertySet usage from my sims, but I find ES5 getters to be beneficial (I'd like to use Property.addProperty), and prefer assigning persistent variables to fields to have dispose() functions on the prototype, rather than duplicated closures for every object instance.

Do others mind if I replace the PropertySet pattern with the (slightly m

[2016-09-28 03:03] samreid commented on #71
I agree Node.js (for instance) needs a `visible` ES5 getter/setter.  Are you arguing that simulations should have ES5 get/set for all Properties as well?  Automatically generated functions have been clumsy for my IDE navigating and highlighting, and @pixelzoom has said development/maintenance has been better when using direct property references instead of automatically generated ES5 getters and s

[2016-09-28 03:11] samreid commented on #102
@jonathanolson proposed keeping ES5 get/set in https://github.com/phetsims/axon/issues/71#issuecomment-250016697 and I responded in https://github.com/phetsims/axon/issues/71#issuecomment-250059917

[2016-09-28 04:34] jonathanolson commented on #71
Didn't mean all, but it seems like a potentially appropriate default.

Setting ```this.heightProperty``` and having another statement to add ES5 getter/setter seems quite clumsy. I was thinking as a single statement (```Property.addProperty( this, 'height', ... )```) that takes care of all of the settings.

Having addProperties (similar to PropertySet's constructor) would help for defining a big b

[2016-09-28 05:42] samreid commented on #103
I was hesitant to change the removal order (currently FIFO), but FILO makes more sense to me, should we go for it?  What level of testing would be necessary?

[2016-09-28 15:12] jonathanolson commented on #103
Sounds like something that IF there is a bug, it will be hard for us to find it initially without having pre-recorded user input and verifying instrumented output. We could run fuzz tests potentially?

[2016-09-28 16:11] pixelzoom commented on #71
@samreid said:

And when it is necessary, I think that it's actually beneficial to have to change the var name.  The ES5 set/get not only obfuscates what's really going on, but makes it difficult to locate Property usage.

[2016-09-28 16:36] pixelzoom commented on #104
BooleanProperty looks good.

But there's a more general issue here that we should discuss: What are the common types of validation and what can we provide to make make that validation easier?

For example, here's another boilerplate validation:

[code]

Something like this would be better:

[code]

So should we discuss this? Or do you think that inheritance (ala BooleanProperty) is an appropriate

[2016-09-28 16:40] pixelzoom commented on #101
Re https://github.com/phetsims/axon/issues/101#issuecomment-249943908...  My preference is

[2016-09-28 16:48] pixelzoom commented on #101
Addressed in above commit.

For the performance reason that you mentioned, agreed that we should not default to a no-op for `this.validate`.  But if `allowedValues` is provided, I think it still makes sense to define `this.validate` rather than have to deal with `allowedValues` as a separate test everywhere validation is required. Addressed in above commit.

[2016-09-28 16:49] pixelzoom commented on #101
Addressed in above commit.

For the performance reason that you mentioned, agreed that we should not default to a no-op for `this.validate`.  But if `allowedValues` is provided, I think it still makes sense to define `this.validate` rather than have to deal with `allowedValues` as a separate test everywhere validation is required. Addressed in above commit.

[2016-09-28 16:51] pixelzoom commented on #101
Considering that these tests don't appear to be maintained or run automatically (they currently fail with 'phet is not defined'), I'm not enthusiastic about having to fix them before adding my tests.

[2016-09-28 17:03] samreid commented on #101
In my browser, it looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/18923825/0b5a1a34-856b-11e6-938c-de45b10c41dc.png)

Let's try to figure out what is wrong here.

[2016-09-28 17:10] pixelzoom commented on #101
Ah... I was opening http://localhost/~cmalley/GitHub/axon/tests/example.html, which fails.  Is that something that should be fixed or deleted?

I'll proceed with adding unit tests.

[2016-09-28 17:23] phet-steele opened #105 "Automated Testing Error (9/28/2016 9:30 AM)"
Error seen in BAM, ESPB, EE, M&S, Seasons, and UR.
[code]

[2016-09-28 17:55] pixelzoom commented on #104
Really don't like this pattern that I see in the BooleanProperty unit tests:

[code]

Problems:
(1) message is duplicated
(2) message should describe the test, not what should have happened
(3) There must be a better way than this try/catch pattern.

[2016-09-28 17:59] pixelzoom commented on #101
Review comments addressed, @samreid please review https://github.com/phetsims/axon/issues/101#issuecomment-250226503.

Regarding the option names... I'd really like to resolve that quickly, since I'm using these options in models-of-the-hydrogen-atom, the options appear in unit tests, QueryMachineStrings and FBQueryParameters may need to change, etc.   Setting priority to high.

[2016-09-28 18:05] samreid commented on #101
That sounds good, proceed if you wish.

[2016-09-28 18:23] jonathanolson commented on #105
So far could not reproduce in BAM.

[2016-09-28 18:23] samreid opened #106 "Expand/Improve Property validation"
From #104 and #101 @pixelzoom said:

BooleanProperty looks good.

But there's a more general issue here that we should discuss: What are the common types of validation and what can we provide to make make that validation easier?

For example, here's another boilerplate validation:

[code]

Something like this would be better:

[code]

So should we discuss this? Or do you think that inheritance (al

[2016-09-28 18:25] samreid opened #107 "Better unit test for testing errors"
In https://github.com/phetsims/axon/issues/104#issuecomment-250245634

@pixelzoom said:

Really don't like this pattern that I see in the BooleanProperty unit tests:

[code]

Problems:
(1) message is duplicated
(2) message should describe the test, not what should have happened
(3) There must be a better way than this try/catch pattern.

Addressed (1) and (2) in https://github.com/phetsims/axon/co

[2016-09-28 18:26] samreid commented on #104
@pixelzoom said:

So I'm going to close this issue.  I've moved the side issues to #106 and #107.

[2016-09-28 18:26] #104 closed

[2016-09-28 18:32] jonathanolson commented on #107
Scenery uses a pattern to conditionally enable unit test assertion checks if assertions are enabled:
[code]
(example from where d.getUniqueTrail() should fail an assertion).

The assert guard is not needed if it's a throw that you expect.

See QUnit documentation on throws for more you can do with it.

[2016-09-28 19:13] pixelzoom commented on #101
Property options have been renamed, unit tests pass.

Corresponding QueryStringParameter options are renamed in https://github.com/phetsims/query-string-machine/issues/13.

@samreid please review.

[2016-09-28 19:17] pixelzoom commented on #106
I'm test driving BooleanProperty in models-of-the-hydrogen-atom, see above commit.  If our approach to boolean Properties changes, this client will need to be changed too.

[2016-09-28 20:21] samreid commented on #71
@andrewadare also mentioned a preference to move away from automatically generated property variables, we should discuss this in person on Thursday.

[2016-09-28 21:38] samreid commented on #101
I deleted it above.

[2016-09-28 22:08] samreid commented on #101
Review looks good, my only recommendation is to use Qunit.throws for the unit tests, which is being tracked in https://github.com/phetsims/axon/issues/107

Closing.

[2016-09-28 22:08] #101 closed

[2016-09-28 23:38] jonathanolson commented on #71
I'll make a brief case for why I like the ES5 getters/setters in general:

### Interfaces for getting and setting things

To me, it's about interfaces. Using height as an example, you either want to retrieve the current height of an object, or set the current height of an object. It leaks information and makes things hard to change when internal implementation details of the object are exposed in

[2016-09-29 02:13] samreid commented on #103
Let's try this:

[code]

Committing shortly.

[2016-09-29 02:15] samreid commented on #103
I should run through the automated tests after this order change.

[2016-09-29 02:19] samreid commented on #103
So far so good:
![image](https://cloud.githubusercontent.com/assets/679486/18938839/d5a94c68-85b8-11e6-85fb-00af3dc30390.png)

[2016-09-29 02:21] samreid commented on #103
How might we detect that?  Also, is that something that should be left for QA or caught in code?

Anything else to do for this issue?

[2016-09-29 02:31] samreid commented on #105
I cannot reproduce this problem in BAM or ESPB on my localhost.  @phet-steele can you give more context?  Is this from phettest.colorado.edu?  More than one browser?

[2016-09-29 02:37] samreid commented on #106
Yes, inheritance seems like a good solution here.

Let's proceed with adding Property subclasses and validation as we go and see where it leads us.  Assigning back to @pixelzoom for work on https://github.com/phetsims/axon/issues/106#issuecomment-250270474 or further discussion.

[2016-09-29 03:19] samreid commented on #107
Works great @jonathanolson, thanks!  @pixelzoom please take a look.

[2016-09-29 15:43] jonathanolson commented on #103
It would likely cause an infinite loop and stall out the sim tests. If the sim tests completed, I don't think we have to worry.

Don't think so, closing.

[2016-09-29 15:43] #103 closed

[2016-09-29 16:17] pixelzoom commented on #107
Much nicer!

@samreid, I wondering why the test description is the empty string for this test:

[code]

[2016-09-29 16:49] pixelzoom commented on #106
To vet the use of inheritance, I created `NumberProperty` and used it in MOTHA.  Seems to be working nicely.  @samreid If this looks good to you, feel free to close this issue, and we'll do as you suggested ("proceed with adding Property subclasses and validation as we go").

[2016-09-29 16:54] pixelzoom commented on #71
@jonathanolson said:

I think you're confusing obfuscation with encapsulation. Obfuscate means to render obscure, unclear, or unintelligible; bewilder. I don't think that's the intention in scenery.

Scenery fully encapsulates Properties (e.g. node.center, node.cursor) -- there's no need for the client to know that these things are Properties.  Usage of PropertySet does *not* encapsulate Propertie

[2016-09-29 17:31] phet-steele commented on #105
@samreid yes. Anything entitled "Automated Testing.... (Date & Time)" or with the "type:automated-testing" label is running from phettest.colorado.edu from the weekly testing.

However, I too cannot repro (in the past it was a simple fuzzMouse test). Maybe some commit that came after 9:30 AM yesterday fixed this? I can investigate a little further...

[2016-09-29 17:36] phet-steele commented on #105
Repeating automated testing (that now has up-to-date master at ~11:30 AM 9/29) does not immediately show this issue anymore.

[2016-09-29 17:46] jonathanolson commented on #71
I'm aware, it just seemed from previous comments that the word "obfuscate" was being used to describe how ES5 getters/setters made the encapsulated behavior unclear (because it was hidden whether Property was used or not).

But in my experience, most usage was access, followed by retrieval, and many (most?) clients did not need to use the other features Property provides. If something starts off g

[2016-09-29 18:02] pixelzoom commented on #71
In my experience this is not the case is sim code, where PropertySet is most commonly used for model elements and collection of view-specific Properties.  Sims need to link/unlink from Properties, and pass Properties to other functions, where they are no longer part of a PropertySet and the Property API must be used directly.

[2016-09-29 18:07] pixelzoom commented on #71
@jonathanolson I'm also wondering why you keep using scenery as an example. It does not use PropertySet.

[2016-09-29 18:33] jonathanolson commented on #71
It uses ES5 getters/setters in much the same way, and the main argument against Property.addProperty (not PropertySet) seems to be the ES5 getters/setters. If there are arguments to not use ES5 setters/getters in general, they would apply to Scenery.

[2016-09-29 18:42] samreid commented on #71
I agree with @jonathanolson points, but some of my main complaints about PropertySet are about practical use in my IDE.  If I declare a hello property, my IDE flags these usages as an error because they are dynamically created:

![image](https://cloud.githubusercontent.com/assets/679486/18967378/30d19fe4-8642-11e6-82f0-aec6aa18a7bd.png)

If I use `this.helloProperty = new Property(...)`, this prob

[2016-09-29 18:50] samreid commented on #71
@pixelzoom says one problem is there are too many ways to do the same thing.  We could address this by making the Property instance private, and exposing link functions such as `linkHello` or something.

[2016-09-29 19:03] jessegreenberg commented on #71
@ariel-phet recommends that all developers try to remove PropertySet from a place in a sim.  This would give us more context to really feel what it would be like to try the alternative.  Leaving developer-meeting label so that we can all discuss next week.

[2016-09-29 19:06] samreid commented on #71
Another place where PropertySet has been awkward, subclassing and adding properties in the subclass.  For instance:

[code]

[2016-09-29 19:06] samreid commented on #102
We have to decide in https://github.com/phetsims/axon/issues/71 before doing anything here.

[2016-09-29 19:15] samreid commented on #71
This syntax highlights properly:

![image](https://cloud.githubusercontent.com/assets/679486/18968541/a7ad21ac-8646-11e6-9182-67a95e54a7f2.png)

And highlights and navigates properly from external usage:

![image](https://cloud.githubusercontent.com/assets/679486/18968558/b8bc602a-8646-11e6-859c-37b84ef40677.png)

[2016-09-29 23:59] samreid commented on #105
@phet-steele let's reopen this issue if the problem appears again.

[2016-09-29 23:59] #105 closed

[2016-09-30 00:01] samreid commented on #106
NumberProperty looks great, let's continue with this pattern.

[2016-09-30 00:01] #106 closed

[2016-10-01 01:34] samreid commented on #107
I inlined the test descriptions and added the missing description above.  @pixelzoom would you like to spot check?

[2016-10-04 02:38] pixelzoom commented on #107
👍 Closing.

[2016-10-04 02:38] #107 closed

[2016-10-06 06:05] jonathanolson opened #108 "Unit test fixes for compiled unit tests"
Since window.assert is falsy, assertions are NOT thrown in compiled unit tests, so the throws() statements don't actually throw any errors, resulting in test failures.

Adding conditionals so that those checks only apply when assert is enabled.

[2016-10-06 06:06] jonathanolson commented on #108
@samreid, can you verify changes to the unit tests look OK?

[2016-10-06 16:15] samreid commented on #71
I experimented with using Property and Object.defineProperty in BlackBoxScreenModel.

[2016-10-06 18:04] jessegreenberg commented on #71
I am experimenting with replacing PropertySet in molecules-and-light.  Since PropertySet extends Events, this also helps deprecate Events since ```trigger``` and ```on``` are no longer available for model types that extended PropertySet.

[2016-10-06 18:24] samreid commented on #71
Consensus: We'll proceed with using vanilla properties without ES5 get/set, with the option to revisit Object.defineProperty in the future.

[2016-10-06 18:41] samreid commented on #93
Automatically wiring up dispose and reset is more complex than we thought and decided to proceed with the existing strategy where the simulation implements a `disposeClass` function or `resetClass` function as necessary, closing.

[2016-10-06 19:17] pixelzoom commented on #71
All sims that I'm responsible for no longer use PropertySet. See https://github.com/phetsims/axon/issues/71#issuecomment-249703484.

[2016-10-06 19:42] samreid commented on #93
Reassigning myself to clean up the Dispose example and make sure the recommended process is well documented.

[2016-10-07 03:27] samreid commented on #93
ComboBox.js has a good example of dispose.  I removed DisposeExampleNode.

[2016-10-07 03:27] #93 closed

[2016-10-07 20:28] jonathanolson opened #109 "Helper methods for Property"
I'm doing some sim work, and moving it away from ES5 getters/setters, but turning

[code]

into

[code]

just makes it difficult to read.

Could we have:

[code]

The general pattern:

[code]

could also benefit with readability:

[code]

From a code readability perspective, I feel like those would help a lot, even though it feels somewhat wrong to put typed (numeric/string) methods on something g

[2016-10-07 20:29] jonathanolson commented on #109
Actual example here (https://github.com/phetsims/making-tens/issues/99), recommended old ES5 getter/setter method in February.

[2016-10-08 02:23] samreid commented on #109
Since @pixelzoom and I started creating Property subclasses, it seems like it would be straightforward to add a method like this to NumberProperty.  Do we need increment/decrement/subtract in the API, or is `add` sufficient?  For instance, `add(1)`.  But still good to leave assigned to developer meeting to see if this would be clear for other developers or suffer from "too many ways to do the same

[2016-10-08 05:45] jonathanolson commented on #109
```add(1)``` seems sufficiently readable.

[2016-10-10 15:44] andrewadare commented on #109
This puts the main pro and con nicely. I'd rather live with a little extra verbosity for the sake of safety and transparency. But, if I'm outvoted (which is fine), I'd at least advocate for type-checking with assertions in any new methods that are intended for specific types.

[2016-10-10 16:00] samreid commented on #109
@jonathanolson said:

@samreid replied:

This means we do not need to put typed methods on something generic.  We would put the number functions on NumberProperty.

@andrewadare said:

This will not be necessary because `add` would be defined on `NumberProperty`, not `Property`.

[2016-10-12 21:48] andrewadare commented on #91
@pixelzoom I took a look at this and realize I don't know how to implement dispose() in Emitter. Here is my best guess on how to stub it out:

[code]
Assigning back over to you for a bit of guidance on how to proceed.

[2016-10-13 00:08] samreid commented on #91
I looked at Property.dispose for inspiration, and it seems like Emitter dispose should be implemented like so:

[code]

@andrewadare what do you think?

[2016-10-13 15:29] samreid commented on #109
# VOTING COMMENT

"add your reaction" as 👍  : This is a vote for creating axon/NumberProperty and adding a method `add` as described above.  Main reason to vote for this: to simplify readability when working with numeric Property instances, like `myProperty.add(7);`

"add your reaction" as 👎  : This is a vote to continue using Property as it is and change its value using the existing `get/set` met

[2016-10-13 15:48] jonathanolson commented on #71
Anything relevant for developer meeting today?

[2016-10-13 17:51] samreid commented on #71
@andrewadare and I identified a way to catch calls to es5 get/set: in PropertySet.js, modify the get/set implementations to output an error for when your property is accessed.

[2016-10-13 17:57] samreid commented on #109
# Voting comment

Vote for adding `subtract` here.

[2016-10-13 17:59] samreid commented on #109
Assigned to @samreid to implement as prescribed.

[2016-10-14 03:57] samreid commented on #109
I added the methods and tested them in the console:

![image](https://cloud.githubusercontent.com/assets/679486/19375315/0e7d04b6-9190-11e6-8489-524802411bf2.png)

Committing shortly.

[2016-10-14 03:58] samreid commented on #109
Added above, @jonathanolson can you please review and exercise the new methods in your context?

[2016-10-14 15:32] pixelzoom commented on #109
In case anyone is confusing "don't like ES5 setter/getter for PropertySet" with "don't like ES5 setter/getter in general"...  I don't have any problem with the ES5 setters/getters on Property.  E.g.

[code]

... is perfectly acceptable.

So not a fan of adding `add` and `subtract` to NumberProperty. Because next will be `multiply`, `divide`, ...

[2016-10-14 17:08] samreid commented on #109
Comparing options:

[code]

For times:
[code]

I'm trying to apply @pixelzoom's argument to another value type that has a lot of convenience methods: Vector2.  In that case, it seems sensible to have methods like `Vector2.add`, `Vector2.times`, etc instead of just having to operate on each of the x,y values, or a more general `Vector2.mutate` function.  I wonder if Vector2 sets a precedent that me

[2016-10-14 18:28] jonathanolson commented on #109
To me, code becomes more readable with:
[code]
instead of the ```get()``` and ```set()```, and also do prefer method 3 above.

Since that's duplication of functionality, should we consider preferring using property.value instead of get() and set()?

One disadvantage of using property.value is the inability to easily bind the getter/setter:
[code]
but I don't think that's a common pattern.

[2016-10-16 20:43] pixelzoom commented on #109
@jonathanolson said:

I don't think we necessarily need to prefer one over the other.  Both make it clear that a Property's value is being accessed or modified.   Promoting consistency might be a good thing.  E.g., I would avoid examples like this that mix approaches:

[code]

[2016-10-17 16:12] jbphet commented on #71
I have updated Expression Exchange to no longer use PropertySet, and @aadish has been assigned to do the same for Build an Atom.  I miss the conciseness of the PropertySet way of doing things, but IMO it is clearly more explicit to have models that don't use it.

[2016-10-18 04:39] samreid commented on #109
I'm interested in pursuing usage of `Property.value` instead of `NumberProperty.add` and `NumberProperty.subtract`.  I'll remove them from NumberProperty.  @jonathanolson if you are using them already, you'll need to port away from them.

[2016-10-19 02:33] pixelzoom commented on #109
@samreid said:

I'm going to try using Property.value instead of Property.set and Property.get in unit-rates.  That sim (which I inherited) didn't use one approach consistently, but was mostly Property.value. It's now using Property.value exclusively.

[2016-10-19 02:43] samreid commented on #109
In loops that do many computations (more than 100x/frame), Property.get() and Property.set() may be preferable due to better performance (may be in the noise on a standard profiler though.)

[2016-10-19 17:22] samreid commented on #108
Yes, adding a check for assert before throws seems appropriate.  Closing.

[2016-10-19 17:22] #108 closed

[2016-10-20 18:17] jbphet commented on #71
@aadish has completed this for Build and Atom and Isotopes and Atomic Mass.

[2016-10-20 18:18] jbphet commented on #71
Discussed in 10/20/2016 developer meeting and we agreed to move forward with this.  Closing the issue. @andrewadare will add this to the code style guidelines.

[2016-10-20 18:19] #71 closed

[2016-10-20 18:38] andrewadare commented on #71
Done, added this:

The use of Property is preferred to PropertySet in new sim code. This is primarily for clarity: PropertySet supports ES5 setters and getters, so that e.g. this.positionProperty could be accessed as this.position or modified as this.position = new Vector2( 1.23, 4.56 ). This leads to ambiguity for the reader as to whether this.position is an ordinary var, or whether it’s shorthan

[2016-10-25 21:59] jonathanolson commented on #71
Just noting this for the future (I'm fine with decision made above):

Converted make-a-ten to use Property instead of PropertySet. It has 28 usages of *Property.link* and 1 usage of *Property.unlink* (probably indicates memory leaks), compared to 103 usages of *Property.value, continuing my observation above:

[2016-10-31 00:17] pixelzoom commented on #102
Over in https://github.com/phetsims/axon/issues/71, we decided to move away from PropertySet.  So it's constructor should be annotated as `@deprectated`.

[2016-10-31 00:19] pixelzoom commented on #86
In https://github.com/phetsims/axon/issues/86#issuecomment-184295522, I said:

Since no one else has needed this feature in 8+ months, I'm going to close this issue.

[2016-10-31 00:19] #86 closed

[2016-10-31 16:54] pixelzoom commented on #102
PropertySet constructor and its public public functions as now annotated as `@deprecated`.

Labeling for developer meeting to decide how to proceed with refactoring away from PropertySet.

[2016-11-03 16:54] pixelzoom commented on #102
The repositories below use PropertySet.  Shall we make an issue for each repository?

**common code:**
joist
scenery-phet
sun
vegas

**simulations:**
area-builder
arithmetic
balancing-act
balloons-and-static-electricity
bending-light
blackbody-spectrum
build-a-molecule
capacitor-lab-basics
charges-and-fields
circuit-construction-kit-common
color-vision
curve-fitting
energy-skate-park-basics
farada

[2016-11-03 16:58] samreid commented on #102
There are 160 occurrences of `PropertySet.call` and 20 occurrences of `new PropertySet`.

[2016-11-03 17:21] pixelzoom commented on #102
I removed PropertySet from simula-rasa, blast, chains and vegas.

[2016-11-03 18:32] samreid commented on #102
@ariel-phet recommended to create 30+ issues, one per each repo.  Even better: Let's add a note to the "how to instrument" doc to this effect.

@pixelzoom says we should fix the common code that uses propertyset.  @pixelzoom will create issues for that.

@jbphet will tackle ButtonModel.

[2016-11-14 18:06] zepumph opened #110 "Rename elementType to phetioValueType"

[2016-11-14 21:40] samreid commented on #110
Done above, and I tested a few sims and wrappers.  Lint is passing.  No problems noted.  @zepumph please be aware of this change in case it impacts Forces and Motion: Basics, and please review at your convenience (to make sure my changes are good and that I didn't miss anything).

[2016-11-15 01:47] zepumph commented on #110
This looks good to me, and the FAMB ca wrapper hasn't run into any problems. Closing.

[2016-11-15 01:47] #110 closed

[2016-11-18 17:32] pixelzoom opened #111 "delete Property.addProperty"
Related to https://github.com/phetsims/chipper/issues/515.

`Property.addProperty` (not to be confused with `PropertySet.addProperty`) is deprecated.  It's used in a handful of places:

- [x] bending-light (1)
- [x] charges-and-fields (1)
- [x] masses-and-springs (5)
- [ ] scenery (1)

Seems like we should be able to clean these up relatively quickly.

[2016-11-18 18:05] pixelzoom commented on #111
@jonathanolson There is 1 remaining usage of Property.addProperty, in scenery.Display:

[code]

Can you please take care of this one?  Then either delete Property.addProperty, or assign this issue back to me to do so.

[2016-11-18 18:08] jonathanolson commented on #111
Will do.

[2016-11-18 18:15] pixelzoom commented on #102
I'm going to reopen this issue until we actually delete PropertySet.

[2016-11-22 02:04] jonathanolson commented on #111
Done.

[2016-11-22 02:15] pixelzoom commented on #111
Property.addProperty deleted. Closing.

[2016-11-22 02:15] #111 closed

[2016-11-22 02:21] pixelzoom opened #112 "incorrect doc for Property.multilink and unmultilink ?"
Added by @samreid in @aa5bfb9e96d9e3ded8308d3dfc036ae99d49e540, here's what `Property.unmultilink` currently looks like in master:

[code]

This documentation looks suspicious to me.

First, the "from this Property" bit can't be the case, since this is a static function, not an instance function.

Second, `multilink` and `lazyMultilink` both return a `Multilink`, not a `DerivedProperty`.   And the

[2016-11-22 02:26] pixelzoom commented on #112
`multilink` and `lazyMultilink` are convenience functions, and (more importantly, I suspect) a way to instantiate a Multilink without assignment - something that lint would complain about.

So why do we even need `Property.unmultilink`?  Can't the client simply call `dispose` directly on the Multilink instance?  (Worth mentioning again - `unmultilink` is used on in 1 place.)

[2016-11-22 02:29] pixelzoom commented on #112
`multilink` and `lazyMultilink` are convenience functions, and (more importantly, I suspect) a way to instantiate a Multilink without assignment - something that lint would complain about.

I.e.:

[code]

So why do we even need `Property.unmultilink`?  Can't the client simply call `dispose` directly on the Multilink instance?  (Worth mentioning again - `unmultilink` is used on in 1 place.)

[2016-11-22 02:31] pixelzoom commented on #112
More incorrect doc?   Property.multilink:

[code]

But `Multilink` constructor indicates that the `observer` (aka `callback`) parameters **does** take parameters:

[code]

[2016-11-24 17:49] samreid commented on #112
Fixed docs above:

I recommend using multilink/unmultilink for symmetry with link/unlink.

@pixelzoom anything else to do here?

[2016-11-28 17:01] #112 closed

[2016-11-30 08:51] jonathanolson commented on #102
Can this be un-tagged for developer meeting?

[2016-11-30 18:26] pixelzoom commented on #102
PropertySet has been expunged from common code, and is currently used only in sim-specific repositories.  And we decided that we'll expunge from sim-specific code as we instrument for PhET-iO. So yes, looks like we can remove the developer meeting label.  And I believe that we can also close this issue.

[2016-12-06 18:30] samreid commented on #102
Hello,

I added a method to Property.js to help in porting away from PropertySet.  Consider the PropertySet code:

function SomeConstructor(){
  PropertySet.call(this,{name:'test',age:123});
  ...
}

When converting to Property, you can add this check to make sure you catch all ES5 getter setter references:

function SomeConstructor(){
  this.nameProperty = ...
  this.ageProperty = ...
  Property.

[2016-12-06 19:22] pixelzoom commented on #102
Linked to commits related to `preventGetSet`.   I marked it as `@deprecated`, since it should not appear in production code, and should be deleted once PropertySet is gone.

[2016-12-06 19:25] samreid commented on #102
That seems good, should we also recommend putting it behind asserts so it is stripped for production code?

[code]

[2016-12-06 19:41] pixelzoom commented on #102
Why would it be in production code?

[2016-12-06 19:42] pixelzoom commented on #102
Why would it be in production code? It's presumably a debugging tool.  Developers should add it, run tests, then remove it.

[2016-12-06 22:59] pixelzoom commented on #102
How about moving `preventGetSet` to PropertySet, instead of Property?  Then it will go away when we delete PropertySet.

[2016-12-06 22:59] pixelzoom commented on #102
... and developers will be encourage to remove it from their code so that they can remove the `var PropertySet = require(...)` statement.

[2016-12-06 23:13] pixelzoom commented on #102
I created "convert from PropertySet to Property" issues for all sims that haven't been published yet. For new sims, I don't see any reason why the conversion shouldn't be done before publishing.

[2016-12-06 23:14] pixelzoom commented on #102
Reopening this because @samreid and I seem to still be working on it.

[2016-12-08 18:10] pixelzoom commented on #102
Re https://github.com/phetsims/axon/issues/102#issuecomment-265300832...

Changed my mind - I think it's fine in Property.

[2016-12-08 18:13] pixelzoom commented on #102
Before closing this, let's confirm our decisions regarding "conversion of PropertySet to Property" at the next developer meeting. My understanding is:

• Convert new sims before publishing.
• Convert existing sims when they are instrumented for PhET-iO.
• Do not create any new code the uses PropertySet.

[2016-12-08 18:56] samreid commented on #91
I'll take a look.

[2016-12-08 19:35] pixelzoom commented on #102
... and feel free to convert earlier, at developer discretion.

[2016-12-08 19:38] mattpen commented on #102
Developers agree with the bullet points above, there was a suggestion to give this to Denzell as a chip-away task.

[2016-12-11 06:18] samreid commented on #91
Added above, closing.

[2016-12-11 06:18] #91 closed

[2016-12-29 18:33] samreid opened #113 "remove ObservableArray.addListeners"
ObservableArray.addListeners is rarely used and somewhat confusing.  It would be better just to use addItemAddedListener and addItemRemovedListener.

[2016-12-29 18:51] samreid commented on #113
Fixed above and all affected sims are passing fuzz tests.   Unit rates still uses the `addListeners` pattern internally, but it is in a file prefixed by `OLD`, so it may be scheduled for deletion.  Tagging @pixelzoom so he is aware, and closing.

[2016-12-29 18:51] #113 closed

[2016-12-29 18:53] samreid commented on #97
It is now creating DerivedProperty.  Also deprecated and scheduled for deletion.  Closing.

[2016-12-29 18:53] #97 closed

[2016-12-29 18:54] samreid commented on #84
We agreed the current convention (dispose functions) is very clear and we do not want to investigate auto-unlink.

[2016-12-29 18:54] #84 closed

[2016-12-29 18:54] samreid commented on #83
Property now uses Emitter, closing.

[2016-12-29 18:54] #83 closed

[2016-12-29 18:59] samreid commented on #80
Another possibility: for client code that is a bottleneck and likely to have no observers, put the check in the client code.  For instance, in this case, Kite could check if there are listeners before calling emit.

[2016-12-29 19:02] samreid commented on #70
No.  And Events is deprecated.

For me the only question is whether lazyLink should be renamed to addListener.  I'll create a separate issue for that.

Already tracked in #71

[2016-12-29 19:02] #70 closed

[2016-12-29 19:03] samreid opened #114 "Should Property.lazyLink be called Property.addListener?"
From https://github.com/phetsims/axon/issues/70

Should Property.lazyLink (the one that doesn't get an automatic callback with the current value) be called Property.addListener?

[2016-12-29 19:06] samreid commented on #43
This will get removed as we port away from PropertySet.

[2016-12-29 19:06] samreid commented on #43
And, in fact, will never be removed until PropertySet is removed, so this issue doesn't require work.  Closing.

[2016-12-29 19:06] #43 closed

[2017-01-05 18:31] pixelzoom opened #115 "add "deep equality" option to Property"
This issue started in https://github.com/phetsims/balloons-and-static-electricity/issues/235#issuecomment-270707026:

@samreid said:

[2017-01-05 18:32] pixelzoom commented on #115
I would proceed with great caution on this.  There are pitfalls to using deep equality. Let's discuss via voice, but the 2 big ones are:

(1) If the client isn't also using deep equality, then weird/subtle problems may occur. Example:

[code]

The `if` statement on line 4 is unlikely to ever evaluate to `true`, because the expression should be `location.equals( homeLocation )`.  And that assumes t

[2017-01-05 18:32] pixelzoom commented on #115
Looking at the examples above, I don't like:

[code]

It's not communicating the feature that's being enabled for the Property.  This is clearer:

[code]

[2017-01-05 18:39] pixelzoom commented on #115
Pitfall (3):

In https://github.com/phetsims/balloons-and-static-electricity/issues/235, a Property's equals comparison was changed from `===` to `equals` in order to address a PhET-iO issue.  And I'm guessing that this will be a common scenario.  And unless you closely examine how the Property is being used by the client, you may introduce a non-obvious bug (see pitfall 1 above).

[2017-01-05 18:45] pixelzoom commented on #115
Answers to the questions in https://github.com/phetsims/balloons-and-static-electricity/issues/235#issuecomment-270722145 (duplicate PhET-iO messages) may also determine whether this feature is really necessary.

[2017-01-12 01:15] pixelzoom commented on #115
Unassigning myself. @samreid let me know if/when you want to discuss.

[2017-01-19 18:06] ariel-phet commented on #102
Let's remove what has been done so far, so I can see how many sims are left on this checklist

- [ ] area-builder
- [ ] arithmetic
- [ ] balancing-act
- [ ] balloons-and-static-electricity
- [ ] bending-light
- [ ] blackbody-spectrum
- [ ] build-a-molecule
- [ ] capacitor-lab-basics
- [ ] charges-and-fields
- [ ] circuit-construction-kit-common
- [ ] color-vision
- [ ] curve-fitting
- [ ] energy-s

[2017-01-19 18:31] pixelzoom commented on #102
I updated the above checklist, by removing sims that no longer use PropertySet.

[2017-01-19 18:34] jonathanolson commented on #102
- [ ] area-builder
- [ ] arithmetic
- [ ] balancing-act
- [ ] bending-light
- [ ] blackbody-spectrum
- [ ] build-a-molecule
- [ ] capacitor-lab-basics
- [ ] charges-and-fields
- [ ] circuit-construction-kit-common
- [ ] color-vision
- [ ] curve-fitting
- [ ] energy-skate-park-basics
- [ ] faradays-law
- [ ] fluid-pressure-and-flow
- [ ] forces-and-motion-basics
- [ ] fraction-comparison
- [ ] frac

[2017-01-21 05:15] samreid opened #116 "BooleanProperty should specify its own phetioValueType"
Currently phetioValueType: TBoolean is scattered everywhere instrumented BooleanProperties are used.  Instead, we should factor this out into axon.

[2017-01-21 05:16] samreid commented on #116
Fixed in the above commits and tested in CLB (with and without phet-io).  Leaving open until further testing is complete.

[2017-01-22 01:07] jonathanolson commented on #116
Fixed BooleanProperty usage where options is not specified in the commit above (proportion-playground wasn't loading).

[2017-01-22 01:30] samreid commented on #116
Thanks @jonathanolson!

[2017-01-26 19:24] samreid commented on #116
This seems like it is working well, closing.

[2017-02-09 22:47] samreid commented on #115
Perhaps it would be sufficient to implement Vector2Property with value-based equality semantics.  Users that would need instance-based equality could use Property.  I don't know of any other types in practice that currently would require value-based equals semantics.

[2017-02-09 22:59] pixelzoom commented on #115
https://github.com/phetsims/axon/issues/115#issuecomment-270723269 said:

The questions are:
• How often was this happening, and why was it happening?
• Is there another way that this could be solved, perhaps on the client side?
• Would it be acceptable to make the analysis code responsible for ignoring these notifications?

[2017-02-28 17:12] pixelzoom opened #117 "ObservableArray: are anyElementMatchesPredicate and count necessary?"
@samreid added `anyElementMatchesPredicate` and `count` to `ObservableArray` in @8ed4fc2202620d5cbd28857f79a43361434d8594.  Looks like circuit-construction-kit-common (the only client) was the motivation for adding these.

Imo, these are unnecessary.  ObservableArray doesn't need the extra baggage, and this type of "predicate test" is handled very nicely by lodash.

`anyElementMatchesPredicate` du

[2017-02-28 17:19] pixelzoom commented on #117
This issue was noted while using ObservableArray in Unit Rates, and discovering that some documentation needed fixing (including for these functions, which were both missing visibility annotations).

[2017-02-28 17:23] pixelzoom commented on #117
How the usages in circuit-construction-kit-common would be replaced:

Circuit line 581 before:

[code]

after:

[code]

Circuit line 437 before:

[code]

after:

[code]

[2017-02-28 17:59] jonathanolson commented on #117
I feel like we should have a general count() function that does what ObservableArray does (I run into this with regular arrays a lot, and it feels unclean).

Also instead of `!!_.find( ... )`, use `_.some( ... )`, and if we keep functions on ObservableArray, I'd recommend a name change to observableArray.some( ... ).

In general, I have a slight preference towards including helper functions, as it

[2017-02-28 18:07] pixelzoom commented on #117
Why should ObservableArray be different than plain old JS arrays?  If you can use the same API that one would use for JS arrays, that is (to me) a bonus.  Even if it's slightly less "clean".

The  helper functions that we added have this identical structure:

[code]

When someone wants to return all elements that matches a predicate, are we going to add yet-another function to do that?  Where do w

[2017-02-28 18:55] jonathanolson commented on #117
I didn't check the implementation. Presumably it could use the lodash replacements you recommended.

Seems like a slippery slope (note ObservableArray.filter/map already exist, so we have array.filter(), observableArray.filter and _.filter).

One one hand, I'd like to simplify client code and help prevent easy silent bugs from happening. On the other hand, I don't want to have multiple implementat

[2017-03-01 14:27] samreid commented on #117
I'm a big fan of @jonathanolson's recommendation above, with the additional thought that we should  forward to native js array functions where possible and forward to lodash methods where native array methods are not possible.

[2017-03-01 14:48] jonathanolson commented on #117
Map exists on Array, but I prefer the Lodash version because it allows for the example in my previous comment, so would prefer lodash even when native is available.

[2017-03-01 17:03] jbphet commented on #115
@samreid came across issues with notifications for changes to Vector2 values when they were being set to the same value, and @samreid asked me to show the example in this issue.  The case is in Build an Atom, and it occurs on a reset when the particles are all positioned back into the buckets.  Some of the particles where already there.  The output is shown below, and you can see that the position

[2017-03-01 17:07] samreid commented on #115
Based on discussion with @jbphet, we added useDeepEquality to Property.js and will test it out in Build an Atom.

[2017-03-01 17:27] samreid commented on #115
@jbphet reviewed the changes and said everything seems OK.  It would be great if/when @pixelzoom has time to double check the changes.

[2017-03-01 17:35] samreid opened #118 "Allow ObservableArray access by bracket operator"
Currently when using ObservableArray, the client must use observableArray.get(i) instead of observableArray[i], which has led to some bugs in refactoring.  I realized it is possible to use bracket operator for observable array (though not without some drawbacks).  Some ideas for implementing this are described here:
http://stackoverflow.com/questions/1711357/how-would-you-overload-the-operator-in-

[2017-03-01 18:28] jonathanolson commented on #118
Notable: http://caniuse.com/#feat=proxy (and we'll want to check to make sure it doesn't crater performance). I recall browser support was insufficient beforehand, but there are a lot of things that proxy can help.

[2017-03-01 18:32] samreid commented on #118
Proxy seems like the right solution to this problem (if we decide to investigate it), but a read-only "hack" is possible where we assign values like this:
[code]

This could also tank performance.  And Proxy sounds interesting for investigation.

[2017-03-01 19:04] jonathanolson commented on #118
Probably would happen when you remove the first element (needs to reassign all indices). Would recommend waiting for Proxy to handle this.

[2017-03-01 20:09] samreid commented on #118
@jonathanolson or @oliver-phet, can you please report on current IE11 usage from our analytics?

[2017-03-01 20:37] pixelzoom commented on #115
(1) As stated in https://github.com/phetsims/axon/issues/115#issuecomment-270719556 and https://github.com/phetsims/axon/issues/115#issuecomment-270721351, I think adding this functionality is (in general) a bad idea. That said...

(2) You didn't address the "polymorphism pitfall" identified in https://github.com/phetsims/axon/issues/115#issuecomment-270719556. This looks like an attempt to do so

[2017-03-01 21:02] jonathanolson commented on #115
What if we resolve the potential pitfalls by implementing the recommended equals behavior specified in Effective Java (so it can handle subtypes and polymorphism)? It seems to be a solvable problem, and being able to use equals() sounds like both a performance and phet-io gain.

[2017-03-01 23:23] samreid commented on #118
Unassigning until all our platforms support Proxy.

[2017-03-12 13:48] zzbo opened #119 "There are some documents about axon ?"
I can not find documents of  axon.

[2017-03-12 14:31] #119 closed

[2017-03-20 16:44] zepumph opened #120 "Remove DerivedProperty convenience functions"
Extending from https://github.com/phetsims/axon/issues/88.

@samreid and I stumbled across this during a phet-io meeting. It seems like few if any of these are actually being used in our code. If they are being used, they should be moved to their parent (Property).

Are they worth removing?

[2017-04-13 20:18] samreid commented on #120
@zepumph can you please look through these and remove any DerivedProperty methods like this that are unused in sims?  (Methods used only in unit tests can be deleted).

[2017-04-13 22:54] zepumph commented on #120
I removed multiple functions from DerivedProperty and the test suite. The other ones that we kept have just a few uses scattered around the project. @samreid could you close if all looks good.

[2017-04-14 02:26] samreid commented on #120
@jonathanolson said:

[2017-04-14 14:36] zepumph commented on #120
Thanks @jonathanolson for helping out with lint, c25a9a221f8d182d0360fedda11b76549f497c88

[2017-04-26 19:43] jbphet opened #121 "in JSDoc for ObservableArray, should array be optional?"
My IDE is in some cases flagging usages of `new ObservableArrary()` with a warning that says "Invalid number of arguments" based on the JSDoc header.  I think `array` should probably be `[array]' in the JSDoc, but I thought I've have @samreid verify and make the change if I'm correct on this.

[2017-04-26 20:52] samreid commented on #121
Fixed, thanks @jbphet!

[2017-04-27 02:50] pixelzoom commented on #121
Having 2 optional parameters makes for some odd code in the constructor... But I verified that this was fixed.   Closing.

[2017-04-27 02:50] #121 closed

[2017-04-27 02:52] pixelzoom commented on #118
For the record... I'm not a fan of add support for observableArray[i], for the same reason that I was not a fan of PropertySet.  It obscured the fact that we're dealing with an ObservableArray.

[2017-04-27 02:53] pixelzoom commented on #114
Imo, no.

[2017-04-27 02:57] pixelzoom commented on #109
In https://github.com/phetsims/axon/issues/109#issuecomment-254694313, I said:

I used `value` throughout unit-rates, and have a slight preference for the resulting syntax.  As @samreid said above, `set/get` are more appropriate for performance-critical code.

[2017-04-27 03:00] pixelzoom commented on #47
@samreid Can we leave this as is, or do you have a strong preference for removing the functions?

[2017-04-27 03:01] pixelzoom commented on #118
This enhancement was first menqioned by @samreid in https://github.com/phetsims/axon/issues/5#issuecomment-224752263.

[2017-04-27 03:05] samreid commented on #118
Agreed, let's use the existing ObservableArray API, closing.

[2017-04-27 03:05] #118 closed

[2017-04-27 03:06] samreid commented on #114
I don't feel strongly one way or the other about this, perhaps a quick chat in developer meeting would be enough to help us decide.

[2017-04-27 03:09] samreid commented on #109
Likewise, I think Property.value has proven to be a good level of abstraction, with the option to use get/set for performance-critical code.  Can we close this issue?

[2017-04-27 03:10] samreid commented on #47
I think it will be OK to leave these functions.

[2017-04-27 03:10] #47 closed

[2017-04-27 03:15] pixelzoom commented on #109
There are 2 issues combined herein:

(1) Whether to add helper functions (`add`, `subtract`, ...) and their ES5 setters/getters to subtypes of Property (e.g. NumberProperty, BooleanProperty,...)

(2) Whether to prefer `value` or `set/get` API for Property.

Looks like the majority (me excluded) is a "yes" to (1).

And I'm fine with a "no" on (2).

So closing.

[2017-04-27 03:19] pixelzoom commented on #114
To clarify... I prefer `link` and `lazyLink` because these names communicate both their similarity and difference. That is, they both register an observer in exactly the same way, and the latter defers calling the observer until the value changes.  Having different names for these functions (`link` and `addListener`) obscures both their similarity and difference.

[2017-04-27 04:08] samreid commented on #114
That argument is good enough for me!  Closing.

[2017-04-27 04:08] #114 closed

[2017-04-27 04:09] samreid commented on #109
To clarify, NumberProperty doesn't have helper functions and using `.value` seems to alleviate the need for them.  It seems the same argument applies to many property subclasses.

[2017-04-27 18:35] pixelzoom commented on #109
Got it. Anything else to do here?

[2017-04-27 18:36] #109 closed

[2017-04-27 18:36] samreid commented on #109
All set, thanks!

[2017-05-18 18:42] pixelzoom opened #122 "inconsistent use of options.tandem in Property.js"
Property.js:

[code]

Line 99 assumes that options.tandem exists.
Line 121 assumes that options.tandem may not exist.
Which is correct?

[2017-05-19 02:11] pixelzoom opened #123 "Tandem missing doc for options"
Tandem.js:

[code]

Documentation missing, no idea what these do.

[2017-05-19 02:58] samreid commented on #122
@zepumph I think we can addInstance even on unsupplied tandems, right?  So I'm not sure that check is necessary.  Can you take a look?

[2017-05-19 14:45] zepumph commented on #122
I think that this is placed here defensively not for addInstance, which can handle `!tandem.required && !tandem.supplied` but the TProperty parametric call expects a truthy when FunctionWrapper surrounds the link function. This comes back to the conversation about phet vs phet-io in how loudly we fail. Maybe it would be best for us to guard against this in TProperty or TFunctionWrapper instead of

[2017-05-19 21:05] jbphet opened #124 "change Property.dispose() to unlink listeners instead of asserting"
As of this writing, the `dispose()` function in `Property.js` asserts if a `Property` instance is disposed that still has listeners attached.  In a recent developer meeting, we decided that because disposing of a property that had listeners attached is not likely to create a memory leak, this is probably not the best approach.  Instead, we should just clear out all references to listeners.

The di

[2017-05-19 21:30] jbphet commented on #124
Implemented, assigning to @samreid for review.

[2017-05-19 21:34] jbphet commented on #124
For reference, I tested several simulations that call Property.dispose(), making sure to do the things with the simulation that caused `Property,dispose()` to be called.  I saw no problems.  The sims were:
+ Charges and Fields
+ CCK Black Box Study
+ Expression Exchange
+ John Travoltage

[2017-05-21 02:36] samreid commented on #124
The change set looks great.  @zepumph can you please track down the axon issue where PHET_IO_FUNCTION was introduced and make sure everything still works properly after this change?

[2017-06-01 21:56] samreid opened #125 "How should axon Property types be annotated?"
Some examples from Function Builder:

[code]

[2017-06-01 21:56] samreid commented on #125
I'm a fan of the top one when the type is not obvious, and the bottom one when the type is obvious.

[2017-06-01 22:26] jonathanolson commented on #125
I've lately typically done the full documentation unless it is a directly copied constructor argument (in which case I provide visibility). I've noticed that I personally find it more helpful to read when fully documented, as it's easy to scan to determine the type.

For my recent sim code, documentation for something like the `fillProperty` above is simpler, since it's always a `Property.<Color>`

[2017-06-05 17:49] pixelzoom commented on #125
Should be fully documented, e.g.:

[code]

The other examples are incompletely documented, which should have been noted during code review.

[2017-06-05 17:57] pixelzoom commented on #125
I corrected function-builder type expressions for Property and DerivedProperty in the above commit.  Back to @samreid.

[2017-06-06 22:21] pixelzoom commented on #102
I reviewed current usage of PropertySet, and checked off sims that appear to have been converted. Some progress, but still many sims (24) using PropertySet.

[2017-06-08 17:36] zepumph commented on #124
https://github.com/phetsims/sun/issues/274#issuecomment-307138289

It looks like @jbphet took care of this. I will look over this soon, and close if all seems good.

[2017-06-08 18:00] Denz1994 commented on #102
Reference https://github.com/phetsims/projectile-motion/issues/18 for discussion on how most of these can be taken care of.

[2017-06-08 18:01] ariel-phet commented on #102
Note to self, delegate

[2017-06-08 22:56] jbphet commented on #124
I did take care of it, and I think it is safe to close this.

[2017-06-08 22:56] #124 closed

[2017-06-08 22:59] jbphet opened #126 "Emitter.dispose() - change to remove all listeners instead of asserting"
In #124, `Property.dispose()` was changed to remove all listeners instead of asserting.  I just used `Emitter` for something, and noticed that its dispose function asserts.  I'm thinking that this should also be changed to remove all listeners.

Assigning to @samreid to make sure that he concurs, then he can either do it or assign it to me for implementation.

[2017-06-08 23:25] zepumph commented on #124
Great thanks!

[2017-06-09 02:30] samreid commented on #126
I can't think of any reason the same decision wouldn't apply to Emitter.  Can you take a look?

[2017-06-10 16:59] samreid opened #127 "branch: ttypeElimination"
to support https://github.com/phetsims/phet-io/issues/1112

[2017-06-10 23:34] zepumph commented on #122
@samreid the above paragraph is exhaustive, basically I am trying to figure how to handle the fact that in TProperty, the inherit call call's TFunctionWrapper(), which will throw an error if there is no phetioValueType passed in. It seems like the best way to handle this right now, is to just check before adding the instance.

`options.tandem.supplied && . . .` seems like a better option that need

[2017-06-11 13:03] samreid commented on #122
Assigned for discussion on the next PhET-iO day.

[2017-06-14 15:50] samreid commented on #125
7e385deaadde056ed3c7832de80a30fa92645ba0 looks excellent, thanks!  Closing.

[2017-06-14 15:50] #125 closed

[2017-06-22 01:35] samreid commented on #102
Bending Light is checked off after the above commits.

[2017-06-22 01:50] samreid commented on #102
CCK basics fixed after the above commit.

[2017-06-22 02:37] samreid commented on #102
Protein synthesis complete.

[2017-06-22 03:08] samreid commented on #102
Finished sugar-and-salt-solutions above.

[2017-06-22 06:17] samreid commented on #102
Energy skate park basics completed, but it was much more complex and hence requires assistance from the QA team when the time is right.  I created an issue https://github.com/phetsims/energy-skate-park-basics/issues/371 for that and I'll check it off the list since it is no longer using PropertySet.

[2017-06-22 06:19] samreid commented on #102
The SR sims mentioned in https://github.com/phetsims/axon/issues/102#issuecomment-258203985 are checked off and no longer using PropertySet, so I'll unassign myself.

[2017-06-22 15:13] veillette commented on #102
Curve-Fitting was converted from PropertySet to Property back in March. I closed the issue today (https://github.com/phetsims/curve-fitting/issues/104) .

[2017-06-25 00:40] ariel-phet commented on #102
@samreid put you back as an assignee since there were a couple of sims in your wheelhouse I had not labelled for you before (apologies)

[2017-06-26 05:32] samreid commented on #102
Thanks, it's good to be back!

[2017-06-28 22:56] jessegreenberg commented on #102
rutherford-scattering was done today, https://github.com/phetsims/rutherford-scattering/issues/119 is closed.

[2017-06-29 00:42] jonathanolson commented on #102
Forgot to mark, handled Pendulum Lab today.

[2017-06-29 14:50] samreid commented on #102
I added assignees based on https://github.com/phetsims/axon/issues/102#issuecomment-258203985 but wasn't sure of the GitHub account name for MB

[2017-06-29 15:21] jessegreenberg commented on #102
Thanks @samreid, adding @mbarlow12.

[2017-06-29 21:17] zepumph commented on #122
We removed tandem.supplied, and are instead using this line to make sure there is always an argument for TProperty.

[code]

[2017-06-30 01:28] zepumph commented on #122
I made the commit above. Things are much more streamlined and consistent now. Thanks all, closing

[2017-06-30 01:28] #122 closed

[2017-07-03 19:16] jonathanolson opened #128 "DynamicProperty review"
As noted by @ariel-phet, this should be reviewed with Area Model's code review. I'll create an issue on that side to track.

[2017-07-03 22:43] veillette commented on #102
optics-lab was converted to PropertySet (see https://github.com/phetsims/optics-lab/issues/7)

[2017-07-05 15:23] Denz1994 commented on #102
Friction and Neuron have been converted to Property from PropertySet.

[2017-07-05 15:42] jbphet commented on #102
Area Builder is done.

[2017-07-05 21:00] veillette commented on #102
Charges and Fields is done.

[2017-07-07 22:36] veillette commented on #102
@jessegreenberg  and I have completed trig-tour